.mgb{
  margin-bottom: 15px;
  padding:20px
}

.butons{
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//   .headerCustomClass {
//     color: #fff;
//     background-color: #008069
// }

.expancionoportunidadhome{

  .k-expander-header{
      background-color: #008069;
      color:white;
  }
}
.k-expander-header:hover{
  .expancionoportunidadhome{

      .k-expander-header{
          background-color: #008069;
          color:white;
      }
  }
}

.fecha{
  margin-right: 15px;
  width: 200px;
  height: 50px;
  background-color: #008069;
  color:white;
  font-size: 15px;
  border-top-left-radius:15px ;
  border-top-right-radius:15px ;
  justify-content: center;
  text-align: center;
  position: relative;
}

.drop{
  background-color: #008069;
  color:white;
  font-size: 15px;
}

.fecha h1{
  margin: auto;
  padding: auto;
  font-size: 12px;
}


.botonWhats{
  background-color: #17b76a;
  color: white;
  font-size: 15px;
  // width: 50px;
  // height: 36px;
  img{
      width: 20px;
      height: 20px;
  }
}


.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.k-toolbar {
  border-color: white;
  color: #424242;
  background-color: white;
}


.expansion-contenido{
max-height: 800px;
overflow-y: scroll;
}

.expancionoportunidadWhats{
margin-bottom: 10px;
max-height: 90%;
border-radius: 10px;
.k-expander-header{
    width: 100%;
    background-color: #008069;
    color:#1EBEA5;
    border-radius: 8px;
  }
  .k-expander-content-wrapper{
    max-height: 100%;
    overflow-y: scroll;
  }
}
.k-expander-header:hover{
.expancionoportunidadhome{

    .k-expander-header{
        background-color: #1EBEA5;
        color:#0093e8;
        border-radius: 8px;
    }
}
}
