<div class="titulo1" >
  <div class="titulosec"> Secciones de la plantilla</div>
  <app-loader *ngIf="loaderModal"></app-loader>
  
  <fieldset class="k-form-fieldset" style="height: 60px;">
    <div class="row">

      <div class="col-sm-12 col-md-12 container" style="align-items: center; margin-left: 20px;">

        <mat-form-field appearance="outline" style="width: 500px;">
          <mat-label>Seleccione una sección</mat-label>
          <mat-select [(ngModel)]="idsec">
            <ng-container *ngFor="let p of listaSeccion">
              <mat-option *ngIf="p.seleccionado!=true" [value]="p.id">
                {{p.nombre}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <button
        class="botoncito"
        kendoButton
        [themeColor]="'primary'"
        icon="plus" (click)="AsignarSeccion()"  [disabled]="idsec==0">Agregar Sección</button>
      </div>
    </div>
  </fieldset>
</div>

<div class="modal-body">
  <fieldset class="k-form-fieldset">

    <div class="titulos">
      <div class="estilos"> <span class="k-icon k-i-gear k-icon-20 est"></span>Configuracion de estilos</div>
      <div class="vista"><span class="k-icon k-i-palette k-icon-20 est"></span>Vista previa de plantilla</div>
    </div>
    <div class="contenedor">

      <div class="formulario">
        <ng-container *ngFor="let item of Secciones;let i = index" >
          <ng-container *ngIf="item.eliminado==false">
            <app-plantilla-seccion
              [id]="item.id"
              [idSeccion]="item.idSeccion"
              [nombreSeccion]="item.name"
              [fuente]="fuente"
              (cambios)="canbios(i,$event)"
              (close)="item.eliminado=true;validarSecciones();reiniciar()"
              (reiniciar)="reiniciar()"
              [listaEstilo]="listaEstilo"
              [estadoTexto]="item.estadoTexto"
              [Estilos]="item.estilos"
            ></app-plantilla-seccion>
          </ng-container>
          
        </ng-container>

      </div>
     
      <div class="plantilla" [ngStyle]="{'background': fondoColor!=undefined?fondoColor:''} ">
        <!-- <div [ngStyle]="styles">{{ titulo1 }}</div> -->
        <div
          class="modelo"
          [ngStyle]="fondoP"
        >
          <div class="texto">
            <div
            [ngStyle]="cabeceraP"
            >
              {{ titulo1 }}
            </div>
            <div
              [ngStyle]="titulop"
            >
              {{ titulo2 }}
            </div>
            <div
            [ngStyle]="subtituloP"
            >
              {{ subtitulo }}
            </div>
          </div>

          <div class="inputs">
            <input disabled
            [ngStyle]="inputP"
            />
          </div>
          <div class="bottom">
            <button
            [ngStyle]="botonP"
            >
              {{ boton }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="boton">
    <button class="botoncito"
    themeColor="error"
    kendoButton
    (click)="cerrarModal.emit()"
  >
    Cancelar
  </button>
    <button  kendoButton
    [themeColor]="'primary'"
    icon="plus"
    class="botoncito"
    (click)="Guardar()">Guardar</button>

  </div>


</div>