<div class="card">
  <div class="pb-0">
    <h5 class="m-2">Total Postulantes Repetidos: {{ nregistrosRepetido }}</h5>
  </div>
  <div class="card-body p-4">
    <div class="col-12">
      <kendo-grid
        [kendoGridBinding]="datosPostulanteImportadoRepetido"
        [pageable]="true"
        [pageSize]="pageSize"
        [resizable]="true"
      >
        <ng-template kendoGridToolbarTemplate>
          <button
            kendoGridExcelCommand
            kendoButton
            themeColor="success"
            class="buton-excel"
          >
            <span class="k-icon k-i-excel"></span> Exportar a Excel
          </button>
        </ng-template>
        <kendo-grid-column
          field="origen"
          title="Origen"
          headerClass="header-grid-integra"
          [width]="125"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="nombre"
          title="Nombres"
          headerClass="header-grid-integra"
          [width]="150"
          [filterable]="true"
          [hidden]="false"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="apellidoPaterno"
          title="Apellido Paterno"
          headerClass="header-grid-integra"
          [width]="150"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="apellidoMaterno"
          title="Apellido Materno"
          headerClass="header-grid-integra"
          [width]="150"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="idTipoDocumento"
          title="Tipo de Documento"
          headerClass="header-grid-integra"
          [width]="150"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ obtenerTipoDocumentoPorID(dataItem.idTipoDocumento) }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="nroDocumento"
          title="N° de Documento"
          headerClass="header-grid-integra"
          [width]="150"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="email"
          title="E-mail"
          headerClass="header-grid-integra"
          [width]="150"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="celular"
          title="Celular"
          headerClass="header-grid-integra"
          [width]="125"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="idPais"
          title="Pais"
          headerClass="header-grid-integra"
          [width]="64"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ obtenerNombrePaisPorId(dataItem.idPais) }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="idCiudad"
          title="Ciudad"
          headerClass="header-grid-integra"
          [width]="110"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ obtenerNombreCiudadPorId(dataItem.idCiudad) }}
          </ng-template> </kendo-grid-column
        ><kendo-grid-column
          field="idEstadoEtapaProcesoSeleccion"
          title="Estado Etapa Proceso Selección"
          headerClass="header-grid-integra"
          [width]="150"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{
              obtenerNombreEstadoEtapaProcesoSeleccionPorId(
                dataItem.idEstadoEtapaProcesoSeleccion
              )
            }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="idPostulanteNivelPotencial"
          title="Potencial Proceso de Seleccion"
          headerClass="header-grid-integra"
          [width]="100"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            {{
              obtenerNombrePotencialProcesoSeleccionPorId(
                dataItem.idPostulanteNivelPotencial
              )
            }}
          </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column
          field="idRespuestas"
          title="Factor Desaprobatorio"
          headerClass="header-grid-integra"
          [width]="200"
        >
          <ng-template kendoGridCellTemplate let-dataItem>             -->
            <!-- <span
              [innerHTML]="
                obtenerNombreFactorDesaprobatorioPorId(
                  dataItem.listaRespuestaDesaprobatoria
                )
              "
            ></span> -->
          <!-- </ng-template>
        </kendo-grid-column> -->
        <kendo-grid-excel fileName="PostulantesRepetidos.xlsx">
          <kendo-excelexport-column field="origen" title="Origen">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="nombre" title="Nombres">
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="apellidoPaterno"
            title="ApellidoPaterno"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="apellidoMaterno"
            title="ApellidoMaterno"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="idTipoDocumento"
            title="idTipoDocumento"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column field="nroDocumento" title="nroDocumento">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="celular" title="celular">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="idPais" title="idPais">
          </kendo-excelexport-column>
          <kendo-excelexport-column field="idCiudad" title="idCiudad">
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="idEstadoEtapaProcesoSeleccion"
            title="idEstadoEtapaProcesoSeleccion"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="idPostulanteNivelPotencial"
            title="idPostulanteNivelPotencial"
          >
          </kendo-excelexport-column>
          <kendo-excelexport-column
            field="idRespuestas"
            title="factorDesaprobatorio"
          >
          </kendo-excelexport-column>
        </kendo-grid-excel>
        <ng-template
          kendoPagerTemplate
          let-totalPages="totalPages"
          let-currentPage="currentPage"
        >
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-numeric-buttons
            [buttonCount]="buttonCount"
          ></kendo-pager-numeric-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <kendo-pager-input></kendo-pager-input>
          <kendo-pager-info></kendo-pager-info>
          <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
        </ng-template>
      </kendo-grid>
    </div>
  </div>
</div>
