<!-- Botones de accion -->
<div class="d-flex justify-content-between my-4">
  <button
    class="btn btn-icon me-2"
    (click)="recargarProgramasConfigurados()"
    aria-label="Recargar"
    title="Recargar programas"
  >
    <i class="material-icons">refresh</i>
  </button>
    <button
    class="btn btn-success m-2"
    style="margin-left: auto"
    (click)="abrirModalAgregarPrograma()"
  >
    <mat-icon style="vertical-align: middle; margin-right: 4px">add</mat-icon>
    Agregar Programa
  </button>
  
</div>

<!-- Filtro de búsqueda por nombre -->
<mat-form-field appearance="outline" class="w-100">
  <mat-label>Buscar programa</mat-label>
  <input
    matInput
    [(ngModel)]="filtroNombre"
    placeholder="Filtrar por nombre..."
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- Tabla de Programas Generales activos (pla.T_PGeneral) -->
<kendo-grid
  [kendoGridBinding]="programasFiltradosGrilla"
  [style.width]="'100%'"
  [style.minWidth.px]="600"
  class="table-striped-rows"
  [loading]="isLoading"
  [pageable]="{ pageSizes: [25, 50, 100], buttonCount: 5 }"
  [pageSize]="25"
>
  <kendo-grid-column
    field="id"
    title="ID"
    [width]="100"
    [headerStyle]="{
      justifyContent: 'center',
      verticalAlign: 'middle',
      fontWeight: '500'
    }"
    [style]="{ textAlign: 'center' }"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.id }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="nombre"
    title="Nombre"
    [headerStyle]="{
      justifyContent: 'center',
      verticalAlign: 'middle',
      fontWeight: '500'
    }"
    [style]="{ textAlign: 'center' }"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.nombre }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    title="Acciones"
    [width]="300"
    [headerStyle]="{
      justifyContent: 'center',
      verticalAlign: 'middle',
      fontWeight: '500'
    }"
    [style]="{ textAlign: 'center' }"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <button
        class="bg-warning text-white mx-2 btn btn-sm"
        title="Configurar argumentos"
        (click)="abrirModalEditarPrograma(dataItem.id)"
      >
        <i class="material-icons">edit</i>
      </button>
      <button
        class="bg-danger text-white mx-2 btn btn-sm"
        title="Eliminar configuración de argumentos"
        (click)="eliminarProgramaConfigurado(dataItem.id)"
      >
        <i class="material-icons">delete</i>
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
