.k-toolbar {
    border-color: #3F51B5 ; 
    color: #424242;
    background-color: #3F51B5;
}
.mi-tabstrip .k-tabstrip-items {
    background:#3F51B5;
    border: 1px solid white;
    color:white;
    font-size: 14px;
  }
  
  .mi-tabstrip .k-tabstrip-items .k-item {
    background: #3F51B5;
    border: 1px solid white;
    color:white;
  }
  
//   .mi-tabstrip .k-tabstrip:focus {
//     -webkit-box-shadow: none;
//     box-shadow: none;
//   }
  .mi-tabstrip .k-tabstrip-items .k-item:hover{
    background: grey;
  }