.RPD-filtro-input{
    padding: 0px;
    display: flex;
    justify-content: end;
    padding-top: 7px;
    max-width: 57px;

}

.k-radio:checked, .k-radio.k-checked {
    border-color: #1274AC;
    color: white;
    background-color: #1274AC !important;
}


/* Loader Panel Styles */
.k-loading-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .k-loading-panel-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255, 0.4);
    opacity: 0.8;
  }
  .k-loading-panel-wrapper {
    position: relative;
    z-index: 2;
  }
  
  .k-loading-panel-text {
    margin-top: 20px;
    text-align: center;
    color: #000000;
  }

  .conteiner-toolbar-retiros-matricula .k-toolbar {
    border-color: rgb(0 0 0 / 8%) !important;
    color: #424242 !important;
    background-color: #3f51b5 !important;
    border-radius: 5px 5px 0px 0px !important; 
}

.btn-export-excel{
  background-color: #007F84;;
  color: whitesmoke;
}

.btn-export-excel:hover{
  background-color: #026e72;;
}
