.botonEnvio{
  border-color: #0079FF;
  background-color: #0079FF;
  color: white;
}
// .botonEnvio:hover{
//   border-color: rgb(0, 122, 51);
//   background-color: rgb(0, 122, 51);
//   color: rgb(255, 255, 255);
// }
.botonCancelar{
  border-color: #0079FF;
  background-color: white;
  color: #0079FF;
}
// .botonCancelar:hover{
//   border-color: rgb(207, 0, 0);
//   background-color: rgb(207, 0, 0);
//   color: white;
// }

.btn-rc-hover-effect:hover{
  text-decoration: underline;
}

.circle {
  width: 69px;
  height: 29px;
  border-radius: 10%;
  background-color: #7d2b24;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .k-editor .k-toolbar {
  order: 2;
}
:host ::ng-deep .k-editor div .k-editor-content {
  order: 1;
  flex-grow: 1;
}
:host ::ng-deep .k-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #F9F8F8;
}
