<ng-container *ngIf="loader==true">
  <div class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
  </ng-container>
  <button class="close" mat-button (click)="Cerrar()">X</button>
<ng-container *ngIf="data[0]!=undefined">

  <div class="titulo">
    <h2 *ngIf="data[0]==1">Filtro Segmento: Alumno - Ex Alumno</h2>
    <h2 *ngIf="data[0]==2">Filtro Segmento: Profesor</h2>
    <h2 *ngIf="data[0]==6">Filtro Segmento: Prospecto</h2>
  </div>
  
  <div class="contenedor">
    <h2>Filtro General</h2>
    <hr/>
  
    <div class="formulario">
      <div class="column">
        <h3>Nombre:</h3>
        <mat-form-field class="example-full-width w-100" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="Nombre" />
        </mat-form-field>
      </div>
      <div class="column">
        <h3>Descripción:</h3>
        <mat-form-field class="example-full-width w-100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput [(ngModel)]="Descripcion" />
        </mat-form-field>
      </div>
      <div class="column"  *ngIf="data[0]==1">
        <h3>Estado de matricula:</h3>

        <div class="example-chip-list w-100">
            <kendo-multiselect class="w-100"
              [data]="listaEstadoFiltrada"
              placeholder="-Todos-"
              #multiselect
              [(ngModel)]="estados"
              [textField]="'estadoMatricula'"
              [valueField]="'id'"
              [filterable]="true"
              (valueChange)="valueChange($event)"
              (filterChange)="filterChange($event)"
              (removeTag)="removeTag($event)"
              [virtual]="virtual"
            ></kendo-multiselect>
        </div>
        
      </div>
      <div class="column" *ngIf="data[0]==1">
        <h3>Sub estado de matricula:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            [data]="listaSubestado"
            placeholder="-Todos-"
            #subestadomatricula
            [(ngModel)]="subestados"
            [textField]="'Nombre'"
            [valueField]="'Id'"
            [filterable]="true"
            (valueChange)="valueChangeSubEstado($event)"
            (filterChange)="filterChangeSubEstado($event)"
            (removeTag)="removeTagSubEstado($event)"
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column" *ngIf="data[0]==1 || data[0]==2">
        <h3 >Modalidad:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            [data]="listaModalidad"
            placeholder="-Todos-"
            [(ngModel)]="modalidades"
            [textField]="'nombre'"
            [valueField]="'id'"
            [filterable]="true"
            (valueChange)="valueChangeModalidad($event)"
            (filterChange)="filterChangeModalidad($event)"
            (removeTag)="removeTagModalidad($event)"
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column">
        <h3>Área:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            [data]="listaAreaFiltrada"
            placeholder="-Todos-"
            #area
            [(ngModel)]="areas"
            [textField]="'nombre'"
            [valueField]="'id'"
            [filterable]="true"
            (valueChange)="valueChangeArea($event)"
            (filterChange)="filterChangeArea($event)"
            (removeTag)="removeTagArea($event)"
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column">
        <h3>Sub Áreas:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            [data]="listaSubAreaFiltrada"
            placeholder="-Todos-"
            #subarea
            [(ngModel)]="subareas"
            [textField]="'nombre'"
            [valueField]="'id'"
            [filterable]="true"
            (valueChange)="valueChangeSubArea($event)"
            (filterChange)="filterChangeSubArea($event)"
            (removeTag)="removeTagSubArea($event)"
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column">
        <h3>Programas Generales:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            [data]="listaProgramaGFiltrada"
            #programag
            placeholder="-Todos-"
            [(ngModel)]="programas "
            [textField]="'nombre'"
            [valueField]="'id'"
            [filterable]="true"
            (valueChange)="valueChangePrograma($event)"
            (filterChange)="filterChangePrograma($event)"
            (removeTag)="removeTagPrograma($event)"
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column">
        <h3>Programas Especificos:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            [data]="listaProgramaEFiltrada"
            placeholder="-Todos-"
            #programae
            [(ngModel)]="programasE"
            [textField]="'nombre'"
            [valueField]="'id'"
            [filterable]="true"
            (valueChange)="valueChangeProgramaE($event)"
            (filterChange)="filterChangeProgramaE($event)"
            (removeTag)="removeTagProgramaE($event)"
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column">
        <h3>Filtro segmento a excluir:</h3>
        <div class="example-chip-list w-100">
          <kendo-multiselect class="w-100"
            #filtro
            placeholder="-Todos-"
            [data]="listaFiltroFiltrada"
            [(ngModel)]="filtros"
            [textField]="'nombre'"
            [filterable]="true"
            [valueField]="'id'"
            (valueChange)="valueChangeFil($event)"
            (filterChange)="filterChangeFil($event)"
            (removeTag)="removeTagFil($event)" 
            [virtual]="virtual"
          ></kendo-multiselect>
      </div>
      </div>
      <div class="column">
        <mat-checkbox class="example-margin" [(ngModel)]="ConsiderarFiltroGeneral"
          >¿Considerar Filtro General?</mat-checkbox
        >
      </div>
      <div class="column">
        <mat-checkbox class="example-margin" [(ngModel)]="ConsiderarFiltroEspecifico"
          >¿Considerar Filtro Especifico?</mat-checkbox
        >
      </div>

      <ng-container *ngIf="data[0]==1">
      <div class="column">
        <mat-checkbox class="example-margin" [(ngModel)]="ConsiderarAlumnosAsignacionAutomaticaOperaciones"
          >¿Considerar Alumnos Asigandos a "Asignacion automatica
          operaciones"?</mat-checkbox
        >
      </div>
    </ng-container>
    <ng-container *ngIf="data[0]==6">
      <div class="column">
        <mat-checkbox class="example-margin" [(ngModel)]="ExcluirMatriculados"
          >¿Excluir alumnos con matricula registrada"?</mat-checkbox
        >
      </div>
    </ng-container>
    </div>
  </div>
  
  <div class="titulo">
    <h2>Filtro Específico</h2>
  </div>
  
  <mat-tab-group>
    <mat-tab *ngIf="data[0]==1 || data[0]==6" label="Pais y Ciudad">
      <app-pais-yciudad [datosActualizar]="actualizarDatos"></app-pais-yciudad>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1 && (presencial == true || asincronico == true)" label="Sesiones">
      <app-sesiones [datosActualizar]="actualizarDatos"></app-sesiones>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1 && sincronico == true" label="Avance Academico">
      <app-estado-avance-academico [datosActualizar]="actualizarDatos"></app-estado-avance-academico>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1" label="Pagos">
      <app-pagos [datosActualizar]="actualizarDatos"></app-pagos>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Documentos">
      <app-documentos [datosActualizar]="actualizarDatos" [listaModalidad]="modalidadesListaId" [listaModalidadLeng]="modalidadesListaId.length"></app-documentos>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Llamadas Telefonicas">
      <app-llamadas-telefonicas [datosActualizar]="actualizarDatos"></app-llamadas-telefonicas>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Gestion de fechas">
      <app-gestion-de-fechas [datosActualizar]="actualizarDatos"></app-gestion-de-fechas>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Metodos de Contacto">
      <app-metodos-contacto [datosActualizar]="actualizarDatos"></app-metodos-contacto>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Cumpleaños">
      <app-cumpleanios [datosActualizar]="actualizarDatos"></app-cumpleanios>
    </mat-tab>
    <mat-tab  *ngIf="data[0]==2 || (data[0]== 1 && presencial == true)" label="Webinar">
      <app-webinar [datosActualizar]="actualizarDatos"></app-webinar>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1 && presencial == true"  label="Trabajo Alumno">
      <app-trabajo-alumno [datosActualizar]="actualizarDatos"></app-trabajo-alumno>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Tarifarios">
      <app-tarifarios [datosActualizar]="actualizarDatos"></app-tarifarios>
    </mat-tab>
    <mat-tab *ngIf="data[0]==1"  label="Avance Academico (%)">
      <app-avance-academico [datosActualizar]="actualizarDatos"></app-avance-academico>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Oportunidades Historicas">
      <app-oportunidades-historicas [datosActualizar]="actualizarDatos"></app-oportunidades-historicas>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Venta Cruzada">
      <app-venta-cruzada [datosActualizar]="actualizarDatos"></app-venta-cruzada>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Categoria Dato">
      <app-categoria-dato [datosActualizar]="actualizarDatos"></app-categoria-dato>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Perfiles">
      <app-perfiles [datosActualizar]="actualizarDatos"></app-perfiles>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Inter. Offline Online">
      <app-inter-offline-online [datosActualizar]="actualizarDatos"></app-inter-offline-online>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Inter. Sitioweb">
      <app-inter-offline-sitioweb [datosActualizar]="actualizarDatos"></app-inter-offline-sitioweb>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Formularios">
      <app-formularios [datosActualizar]="actualizarDatos"></app-formularios>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Inter. Chat Portal Web">
      <app-inter-chat-portal-web [datosActualizar]="actualizarDatos"></app-inter-chat-portal-web>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Inter. Correo">
      <app-inter-correo [datosActualizar]="actualizarDatos"></app-inter-correo>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Historial Fin.">
      <app-historial-fin [datosActualizar]="actualizarDatos"></app-historial-fin>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Metodos de Contacto">
      <app-metodos-contacto [datosActualizar]="actualizarDatos"></app-metodos-contacto>
    </mat-tab>
    <mat-tab *ngIf="data[0]==6"  label="Envio Automatico">
      <app-envio-automatico [datosActualizar]="actualizarDatos"></app-envio-automatico>
    </mat-tab>
  </mat-tab-group>
  
  <ng-container *ngIf="data[1] == 0">
  <div class="agregar">
    <button mat-flat-button class="botonAgregar" (click)="Crear()">
      Crear Nuevo
    </button>

    <button mat-flat-button class="botonCerrar" (click)="Cerrar()">
      Cancelar
    </button>
  </div>
</ng-container>
<ng-containter *ngIf="data[1] == 1">
  <div class="agregar">
    <button mat-flat-button class="botonAgregar" (click)="Actualizar()">
     Actualizar
    </button>
    <button mat-flat-button class="botonCerrar" (click)="Cerrar()">
      Cancelar
    </button>
  </div>
</ng-containter>

</ng-container>


