.img-redonda {
  width: 20px;
}
.rankingOportunidad {
  background: #3379a4;
  padding: 25px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  border-radius: 13px;
  margin-top: 20px;
}

.botonSolicitud:hover {
  background-color: #a70606; /* color de fondo al pasar por encima */
  color: #ffffff; /* color de texto al pasar por encima */
  box-shadow: 0px 0px 6px 3px rgba(76, 175, 80, 0.6); /* sombra al pasar por encima */
}

.btn-ic-hover-effect:hover{
  text-decoration: underline;
}

.botonSolicitud {
  font-size: 10px;
  height: 30px;
  width: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
}
.botonSolicitud > img {
  height: 12px;
  width: 12px;
  display: flex;
  justify-content: center;
}

#estadoPago {
  width: 237px;
  height: 49px;
  /* UI Properties */
  color: white;
  font-size: 25px;
  border-radius: 6px 0px 0px 6px;
  opacity: 1;
}
.btnAula {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAula {
  background: #0079ff;
  color: white;
  font-weight: bolder;
  height: 43px;
  padding: 0 20px; 
  border-radius: 9px;
  border: none; 
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
}

.buttonAula:hover {
  background: #005bb5; 
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-decoration: underline;
}

.buttonAula:hover::after {
  width: 100%; 
}
.cardContacto{
  height: 125px;
  padding: 20px;
}


.email-status {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  margin-left: 10px;
}

.cdk-overlay-container{
  z-index: 2000 !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  border-radius: 12px;
}

.enuciadoHeader {
  font-size: 1.3em;
  font-weight: bold;
}
.tamano-icono {
  width: 25px;
  height: 25px;
}
.custom-select-panel-ic453 {
  min-width: auto; 
}

.matFormField{
  width: auto; 
}

.mattrigger {
  width: auto !important; 
  min-width:250px; 
  white-space: nowrap; 
}
#selectCorreo{
  width: auto !important; 
  min-width:250px; 
  white-space: nowrap; 
}

.custom-select-panel-ic453 .mat-option-text {
  white-space: nowrap;
}

.message-style {
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 5px 10px;
  display: flex;
  width: 100%;
  font-size: 10px;
  height: 20px;
  justify-content: center;
  align-items: center;
  
}
#btnCorreo{
  margin-left: 80px;
}
.btn-hover-effect {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-hover-effect:hover {
  transform: scale(1.2);
  background-color: #FF4500; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
 

}
#btnCelular{
  margin-left: 80px;
}

.btn-custom:disabled{
  background-color: gray !important;
}
