<div class="card">
  <div class="formulario">
    <div class="column">
      <h3>Tarifario:</h3>
      <div class="example-chip-list w-100">
        <kendo-multiselect class="w-100"
          [data]="listaTarifario"
          [(ngModel)]="tarifarios"
          placeholder="-Todos-"
          [textField]="'nombre'"
          [valueField]="'id'"
          (valueChange)="valueChangeTarifario($event)"
          (filterChange)="filterChangeTarifario($event)"
          (removeTag)="removeTagTarifario($event)"
        ></kendo-multiselect>
    </div>
    </div>
  </div>
</div>
