.conteiner-toolbar-retiros-matricula .k-toolbar {
    border-color: rgb(0 0 0 / 8%) !important;
    color: #424242 !important;
    background-color: #3f51b5 !important;
    border-radius: 5px 5px 0px 0px !important; 
    
}

.productividad{
    background-color: lightsalmon  !important;
  }

.contenedor-especial #especial{
    background-color: lightsalmon  !important;
}

.btn-export-excel{
    background-color: #007F84;;
    color: whitesmoke;
  }
  
  .btn-export-excel:hover{
    background-color: #026e72;;
  }