.mgb{
    margin-bottom: 15px;
    padding:20px
}

.butons{
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

//   .headerCustomClass {
//     color: #fff;
//     background-color: #008069
// }

.expancionoportunidadhome{

    .k-expander-header{
        background-color: #0093e8;
        color:white;
    }
}
.k-expander-header:hover{
    .expancionoportunidadhome{

        .k-expander-header{
            background-color: #0093e8;
            color:white;
        }
    }
}

.fecha{
    margin-right: 15px;
    width: 200px;
    height: 50px;
    background-color: #0093e8;
    color:white;
    font-size: 15px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    justify-content: center;
    text-align: center;
    position: relative;
}

.drop{
    background-color: #0093e8;
    color:white;
    font-size: 15px;
}

.fecha h1{
    margin: auto;
    padding: auto;
    font-size: 12px;
}


.botonWhats{
    background-color: #0093e8;
    color: white;
    font-size: 15px;
    // width: 50px;
    // height: 36px;
    img{
        width: 20px;
        height: 20px;
    }
}


.blue {
    color: blue;
  }
  
  .red {
    color: red;
  }
  
  .yellow {
    color: yellow;
  }

  .k-toolbar {
    border-color: white;
    color: #424242;
    background-color: white;
}