<div class="tituloWhats">Campaña Adwords</div>

<ng-template #modalAdwords>
  <div
    class="modal-header custom-modal-header"
    style="height: 60px; color: white; background-color: #374441; width: 1200px"
  >
    Agregar Campaña de Adwords
  </div>

  <div class="custom-container" style="padding: 50px">
    <div class="custom-row justify-content-center">
      <div class="col-md-6">
        <div class="form-group custom-row" style="margin-bottom: 30px">
          <label
            class="col-md-4 col-form-label text-right custom-label"
            style="margin-top: 15px"
          >
            Id de la campaña de Google
          </label>
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                placeholder="Id de la campaña de Google"
                [(ngModel)]="campaniaGoogleId"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group custom-row" style="margin-bottom: 30px">
          <label
            class="col-md-4 col-form-label text-right custom-label"
            style="margin-top: 15px"
          >
            Nombre de la Campaña General
          </label>
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                placeholder="Nombre de campaña general"
                [(ngModel)]="nombreCampania"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group custom-row" style="margin-bottom: 30px">
          <label
            class="col-md-4 col-form-label text-right custom-label"
            style="margin-top: 15px"
          >
            Nombre del Formulario
          </label>
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                placeholder="Nombre del formulario"
                [(ngModel)]="nombreFormulario"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group custom-row" style="margin-bottom: 30px">
          <label
            class="col-md-4 col-form-label text-right custom-label"
            style="margin-top: 15px"
          >
            Clave Webhook
          </label>
          <div class="col-md-8">
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                placeholder="Clave"
                [(ngModel)]="claveFormulario"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-group custom-row" style="margin-bottom: 30px">
          <label
            class="col-md-4 col-form-label text-right custom-label"
            style="margin-top: 15px"
          >
            Centro de Costo
          </label>
          <div class="col-md-8">
            <kendo-dropdownlist
              [data]="listaCentroCosto"
              [kendoDropDownFilter]="filterSettings"
              textField="nombre"
              valueField="idCentroCosto"
              (selectionChange)="selectionChangeCentro($event)"
              [(ngModel)]="idCentroCosto"
              [valuePrimitive]="true"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="form-group custom-row" style="margin-bottom: 30px">
          <label
            class="col-md-4 col-form-label text-right custom-label"
            style="margin-top: 15px"
          >
            Es Remarketing
          </label>
          <div class="col-md-8">
            <mat-checkbox
              class="example-margin"
              (change)="setAll($event.checked)"
              [(ngModel)]="esRemarketing"
            >
              Es remarketing?</mat-checkbox
            >
          </div>
        </div>
        <div class="form-group custom-row justify-content-center">
          <ng-container *ngIf="validador == true">
            <button
              mat-button
              class="btn custom-buttonC"
              (click)="InsertarCampaniaAdwords()"
            >
              Crear
            </button>
          </ng-container>
          <ng-container *ngIf="validador == false">
            <button
              mat-button
              class="btn custom-buttonC"
              (click)="ActualizarCampaniaAdwords()"
            >
              Actualizar
            </button>
          </ng-container>
          <button
            mat-button
            class="btn custom-buttonCa"
            (click)="Cancelar()"
            mat-dialog-close="true"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="agregar">
  <button
    mat-flat-button
    class="botonAgregarW"
    (click)="abrirModalCrearCampania(true, null)"
  >
    Crear Nuevo
  </button>
</div>

<div class="example-full-width w-100">
  <kendo-grid
    [kendoGridBinding]="listaCampaniaGeneralAdwords"
    kendoGridSelectBy="id"
    [sortable]="true"
    [reorderable]="true"
    [resizable]="true"
    [filterable]="true"
    [columnMenu]="{ filter: true }"
    [class]="'cellCustomClass'"
    id="my-grid"
    [headerClass]="'headerPrioridades'"
    [pageable]="true"
    [pageSize]="20"
  >
    <kendo-grid-column
      field="id"
      title="Id"
      [width]="50"
      [headerClass]="'headerPrioridades'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="campaniaGoogleId"
      title="Id Campaña Google"
      [width]="200"
      [headerClass]="'headerPrioridades'"
    >
    </kendo-grid-column>

    <kendo-grid-column
      field="nombreCampania"
      title="Nombre Campania"
      [width]="200"
      [headerClass]="'headerPrioridades'"
    >
    </kendo-grid-column>

    <kendo-grid-column
      field="nombreFormulario"
      title="Nombre Formulario"
      [width]="200"
      [headerClass]="'headerPrioridades'"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="claveFormulario"
      title="Clave Formulario"
      [width]="100"
      [headerClass]="'headerPrioridades'"
    >
    </kendo-grid-column>

    <kendo-grid-command-column
      title="Editar"
      [width]="50"
      [headerClass]="'headerPrioridades'"
    >
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <button
          kendoButton
          fillMode="solid"
          rounded="large"
          size="large"
          class="p-2 me-1 ms-1 editW"
          container="body"
          placement="top"
          ngbTooltip="Faccionar"
          (click)="abrirModalCrearCampania(false, dataItem)"
        >
          <span class="k-icon k-i-edit"></span>
        </button>
        <button
          kendoButton
          fillMode="solid"
          rounded="large"
          size="large"
          class="p-2 me-1 ms-1 deleteW"
          container="body"
          placement="top"
          ngbTooltip="Eliminar"
          (click)="deleteAdowrds(dataItem.id)"
          [disabled]="dataItem.cantidad > 0"
          [ngClass]="{ 'disabled-button': dataItem.cantidad > 0 }"
        >
          <span class="k-icon k-i-delete k-icon-20"></span>
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
