.rc-fecha-programada {
    color: #ff8450;
    font-weight: 500;
}

.rc-fecha-real {
    color: #53bd75;
    font-weight: 500;
}

.rc-tt {
    color: #9166b3;
    font-weight: 500;
}

.rc-tc {
    color: #0dcaf0;
    font-weight: 500;
}

.legend-3cx {
    font-size: 18px;
    line-height: inherit;
    color: #212121;
    margin-bottom: 23px;
    border-bottom: 1px solid #e5e5e5;
}

.esLlamada3cx {
    text-decoration: underline;
    color: blue !important;
}

.esLlamadaRingover {
    text-decoration: underline;
    color: #07ad9c !important;
    font-weight: bold;
}

.esLlamadaIntegra {
    text-decoration: underline;
    color: #212121 !important;
}

.esLlamadaWolkbox {
    text-decoration: underline;
    color: #9a0f3d !important;
}

.esLlamadaWavix{
    text-decoration: underline;
    color: brown !important ;
}



#cuadrado1Llamada {
    width: 20px;
    height: 15px;
    background: black;
}

#cuadrado2Llamada {
    width: 20px;
    height: 15px;
    background: blue;
}

#cuadrado3Llamada {
    width: 20px;
    height: 15px;
    background: #07ad9c;
}

#cuadrado4Llamada {
    width: 20px;
    height: 15px;
    background: #9a0f3d;
}