<div class="row p-1">
  <div class="col-md-12">
    <kendo-grid
      #kgridHistorialPostulante
      [kendoGridBinding]="gridHistorialPostulante.data"
      [loading]="gridHistorialPostulante.loading"
    >
      <kendo-grid-column
        field="valor"
        title="Valor"
        [width]="100"
        headerClass="header-grid-historial"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ llenarDatosCorrectos(dataItem.valor,dataItem.clave) }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="fechaModificacion"
        title="Fecha Modificacion"
        [width]="100"
        headerClass="header-grid-historial"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="usuarioModificacion"
        title="Usuario Modificacion"
        [width]="100"
        headerClass="header-grid-historial"
      >
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>
