.k-multiselect {
    border: none;
    box-shadow: none;
}
.k-multiselect .k-multiselect-wrap,
.k-multiselect .k-chip {
  font-size: 12px;
  line-height: 1;
}
.k-multiselect .k-chip {
    background-color: #e0e0e0;
    color: #333;
}
.k-multiselect .k-list .k-item {
    background-color: #fff;
    color: #333;
}
.k-grid-toolbar {
    border-color: inherit;
    box-shadow: none;
    background-color: #4584a7;
}