#tabCrucigrama .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
    background-color: #3f51b5;
    border-bottom-color: #00b0ff;
    border-bottom-width: 5px;
    color: white;
}

#tabCrucigrama .k-tabstrip-items .k-state-active {
    background-color: #2b89b3;
}

#tabCrucigrama .k-tabstrip-items-wrapper {
    background-color: #2d4390;
}

#tabCrucigrama .k-item:not(.k-active) :hover {
    background-color: #00b0ff !important;
}

#tabCrucigrama .k-item {
    background: #2d4390;
    color: white;
}