.NombreMessage {
  font-weight: 575;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.NombreMessage > div:first-child {
  margin-right: auto;
}

.contenedorOp {
  width: 1150px;
  height: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.expansion-contenido {
  max-height: 800px;
  overflow-y: scroll;
}

.expancionoportunidadWhats {
  margin-bottom: 5px;
  .k-expander-header {
    width: 100%;
    background-color: #128c7e;
    color: #1ebea5;
    border-radius: 8px;
  }
  .k-expander-content-wrapper {
    max-height: 100%;
    overflow-y: scroll;
  }
  .k-expander-content {
    background: #ece5dd;
  }
}
.k-expander-header:hover {
  .expancionoportunidadhome {
    .k-expander-header {
      background-color: #1ebea5;
      color: #128c7e;
      border-radius: 8px;
    }
  }
}

.expancionoportunidadWhats .k-expander-content-wrapper::-webkit-scrollbar {
  width: 0px; /* Ancho del scrollbar */
}

.chat-messages::-webkit-scrollbar {
  width: 0px;
}

.extension::-webkit-scrollbar {
  width: 0px;
}

.form-container {
  display: grid;
}

.btn-guardar {
  background-color: #128c7e;
  color: #fff;
}

.btn-archivar {
  background-color: #ffbf00;
  color: #000;
}

.btn-desarchivar {
  background-color: #ffcf40;
  color: #000;
}

.btn-cancelar {
  background-color: #f8f8fa;
  color: #000;
}

.btn-suscribir {
  background-color: #ff7400;
  color: #fff;
}
.btn-dessuscribir {
  background-color: #ff4d00;
  color: #fff;
}

.btn-editar {
  background-color: #107dac;
  color: #fff;
}

.purple-button {
  background-color: #771395;
  color: #fff;
}

.btn-consultar-semaforo {
  background-color: #ff7400;
  color: #fff;
}

.btn-crear-oportunidad {
  background-color: #25d366;
  color: #000;
}

.btn-capturar-registros {
  background: linear-gradient(to right, #0066ff, #6e37d3);
  color: white;
}

.btn-desactivar-interaccion {
  background: linear-gradient(to right, #883434, #a42f3d);
  color: white;
}

.c {
  background-color: rgb(169, 169, 169);
  color: black;
}

.chat-container {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
}

.header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.chat-list {
  list-style: none;
  padding: 0;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.chat-item:hover {
  background-color: #e0e0e0;
}

.chat-item.active {
  background-color: #d0d0d0;
}

.chat-info {
  flex: 1;
}

.chat-name {
  font-weight: 500;
}

.chat-email {
  font-size: 12px;
  font-weight: lighter;
}

.cellHistorial {
  font-size: 20px;
}

.chat-last-message {
  color: #666;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url("/src/assets/img/fonWhats3.png");
  background-size: cover;
  border-radius: 15px;
  max-width: 100%;
}

.chat-header {
  display: flex;
  padding: 10px;
  background-color: #128c7e;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  justify-content: space-between;
}

.chat-avatar {
  width: 40px;
  height: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.message-content {
  padding: 2px 10px;
  word-break: break-all;
}

.message.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
}

.message.received {
  align-self: flex-start;
  background-color: #fff;
}

.message.sentA {
  align-self: flex-end;
  background-color: #ffc6c6;
}

.message.receivedA {
  align-self: flex-start;
  background-color: #fff7ad;
}

.message-time {
  font-size: 12px;
  color: #999;
  margin-right: 10px;
  display: flex;
  justify-content: end;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}

.textarea {
  flex: 1;
  resize: vertical;
  height: 130px;
  max-height: 130px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.word-count {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
  background-color: white;
  height: 25px;
  width: 30px;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
}

.ev {
  background-color: #128c7e !important;
  color: white !important;
  border-radius: 5px;
}

.chat-input button:hover {
  background-color: #0056b3;
}

.botones {
  display: block;
}

.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.column2 {
  padding: 60px 0 0 0;
  margin: 0 2px;
  align-items: center;
}

.column3 {
  padding: 55px 0 0 0;
}

.column:not(:last-child) {
  border-right: 1px solid #ccc;
}

.contenedorInputC1 {
  width: 220px;
}

.mat-form-field {
  height: 45px;
}

.mat-form-field .mat-form-field-infix {
  padding: 0;
}

.mat-form-field .mat-input-element {
  height: 30px;
}

.button-group {
  display: grid;
}

.button-group-Col3 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 220px;
}

.button-group button {
  margin-right: 5px;
  margin-top: 5px;
  border: none;
}

.file {
  background-color: #db7e04 !important;
  color: white !important;
  border-radius: 5px;
}

.ev2 {
  background-color: #0056b3 !important;
  color: white !important;
  border-radius: 5px;
}

.sendb {
  width: 40px;
  height: 90px;
  border-radius: 5px;
  background-color: #128c7e;
  color: #fff;
  margin-left: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-label {
  margin-right: 5px;
  font-weight: bold;
  margin-top: 5px;
  width: 120px;
  text-align: left;
}

.label-dni {
  flex: 0 0 42%;
  max-width: 100%;
}

.input-group {
  max-width: 20%;
}

.input-dni {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}

.bgInputIA {
  width: 100%;
}

.example-wrapper {
  flex: 1;
  max-width: 150px;
  min-width: 150px;
}

.extension {
  width: 95%;
  display: block;
  padding: 0px;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.align-right {
  text-align: right;
}

.message-icon {
  float: right;
  font-size: 14px;
  margin-top: 3px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.fech {
  margin-left: 10px;
  color: black;
}

.chatWhatsapp img {
  width: 100% !important;
}

.message-content {
  img {
    max-width: 100%;
  }
  video {
    max-width: 100%;
  }
}

.checks {
  position: relative;
}

.message-icon.blue {
  color: #00b2ff; /* Cambia el color a través del código hexadecimal #FF0000 (rojo) */
}
.div-cabecera {
  width: 100%;
  height: 48px;
  position: sticky;
  background-color: #128c7e; /* solo para mostrar el div-anidado en el ejemplo */
}

.modal-chat-whatsapp {
  height: 1800;
  background: white;
  overflow: hidden;
  position: relative;
}

.text-titulo-modal {
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 585;
  height: 16; /* Ajusta la altura según tus necesidades */
}

.contenedor-superior {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #128c7e;
}

.contenedor-inferior {
  height: 86vh;
  width: 100%;
  // overflow-y: hidden;
}

.contenedor-horizontal {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0px;
  margin: 0px;
  // overflow: hidden;
  justify-content: center;
}

.centrado-izquierda {
  width: 70%;
  height: 100%;
  padding-bottom: 10px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centrado-derecha {
  width: 30%;
  height: 100%;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centrado-medio,
.extension chatWhatsapp {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  // overflow-y: auto;
}

.contenedorTotal {
  display: flex;
  flex-direction: column;
  background-color: #128c7e;
  width: 100%;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.verdeb {
  background-color: #128c7e;
  border: #128c7e;
}

.rojob:hover {
  background-color: rgb(255, 47, 47);
  border: rgb(255, 47, 47);
}

.verdeb:hover {
  background-color: #11e3bc;
  border: #11e3bc;
}

.columnClass {
  display: flex;
}

.bg-verdeModal {
  background-color: #128c7e;
  color: #fff;
  font-weight: bold;
}

.bgInputIA {
  background: #fff !important;
}

.custom-input {
  width: 200%;
  height: 30px;
  padding: 0 12px;
  line-height: normal;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgba(211, 211, 211, 0.5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.semaforo-financiero-header {
  background-color: #5c73bc;
  color: white;
}

.nivel-probabilidad {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #fafafa;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.nivel-probabilidad h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.nivel-probabilidad .caso p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.nivel-probabilidad button {
  background-color: #c1c2bdf0;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}
.programa-lista {
  display: flex;
  flex-direction: column;
}

.programa-item {
  margin-bottom: 10px;
}
.caso mat-radio-button {
  display: block;
  margin-bottom: 10px;
}

.botones-acciones {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.botones-acciones button {
  margin-right: 10px;
}

.botones-acciones button:last-child {
  margin-right: 0;
}
button.mat-raised-button {
  padding-top: 6px;
  padding-bottom: 6px;
}

.informacion-prospecto {
  margin-bottom: 20px;
}

.fecha-hora {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.botones-accionesCaso3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fecha-hora-field,
.comentario-field,
.asesor-field {
  width: 100%;
}

.comentario-field {
  width: 100%;
  margin-top: 10px;
}

.asesor-field {
  margin-top: 10px;
  width: 50%;
}

.fecha-hora-comentario {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.fecha-hora {
  flex: 1;
}

.comentario {
  flex: 2;
}
.boton-asignar {
  align-self: flex-end;
}

.boton-actualizar-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.boton-asignar-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 40px;
}

.boton-verde {
  background-color: #08ca0ee6 !important;
  color: white;
}
.boton-naranja {
  background-color: #ff9800 !important;
  color: white;
}
.campo {
  width: 300px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(244, 134, 134, 0.889);
  border: none;
  font-size: 10px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #8f2828;
}
.modal-content-cerrar {
  position: relative;
  padding: 16px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button mat-icon {
  font-size: 14px;
}

//Contenedor de Id = 0 o email No Encontrado
.centrado-medio,
.centrado-medio-datos {
  width: 100%;
  height: auto;
  padding: 16px;
}
.datos {
  width: 100%;
  padding: 5px;
  background-color: white;
  border-radius: 8px;
}

.datos h1 {
  text-align: center;
  font-size: 15px;
}

datos p {
  text-align: center;
  font-size: 15px;
}

.k-button.k-rounded-full.k-button-solid {
  padding: 3px; /* Reduce el padding interno para hacer el botón + y - */
}

.k-grid td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
