<div class="row">
    <div class="col-1fa-rotate-270">
      <div class="card">
        <div class="card-header bg-color-material">
          <h1 class="text-white">Reporte pagos por periodo</h1>
        </div>
        <div class="card-body p-4">
          <div class="k-loading-panel" *ngIf="loader">
            <div class="k-loading-panel-mask"></div>
            <div class="k-loading-panel-wrapper">
              <kendo-loader
                type="converging-spinner"
                themeColor="primary"
                size="large"
              >
              </kendo-loader>
              <div class="k-loading-panel-text fs-5 text-primary">
                Cargando...
              </div>
            </div>
          </div>
          <div class="row conteiner-toolbar-retiros-matricula" style="display:flex;justify-content:center;">
            <div style="padding: 0px">
                <kendo-tabstrip
                style="background-color: #d3d4dc"
                [keepTabContent]="true"
              >
                <kendo-tabstrip-tab title="FILTRO REPORTE PAGOS POR PERIODO" [selected]="true">
                  <ng-template kendoTabContent>
                    <div class="row">
                        <form class="k-form" [formGroup]="formGroupFiltro">
                            <fieldset class="k-form-fieldset">
                              <div
                                class="row"
                                style="display: flex; justify-content: center"
                              >
                                <div class="col-md-5">
                                  <kendo-daterange [incompleteDateValidation]="true">
                                    <div class="col-md-5">
                                      <label style="width: 250px">
                                        <span>Fechas de Proceso de Pago:</span>
                                      </label>
                                      <kendo-dateinput
                                        kendoDateRangeStartInput
                                        [size]="'medium'"
                                        formControlName="fechaInicio"
                                        [placeholder]="'Inicio'"
                                        [format]="{
                                          displayFormat: 'dd-MM-yyyy',
                                          inputFormat: 'dd-MM-yyyy'
                                        }"
                                        [incompleteDateValidation]="true"
                                        fillMode="outline"
                                        style="min-width: 95px;"
                                      >
                                      </kendo-dateinput>
                                    </div>
                                    <div
                                      class="col-md-2"
                                      style="padding: 0%; width: 5%; text-align: center"
                                    >
                                      <p style="margin-bottom: 5px">
                                        <strong>—</strong>
                                      </p>
                                    </div>
                                    <div class="col-md-5">
                                      <kendo-dateinput
                                        kendoDateRangeEndInput
                                        [size]="'medium'"
                                        [placeholder]="'fin'"
                                        formControlName="fechaFin"
                                        [format]="{
                                          displayFormat: 'dd-MM-yyyy',
                                          inputFormat: 'dd-MM-yyyy'
                                        }"
                                        [incompleteDateValidation]="true"
                                        fillMode="outline"
                                        style="min-width: 95px;"
                                      ></kendo-dateinput>
                                    </div>
                                  </kendo-daterange>
                                </div>
                                <div class="col-md-5">
                                    <label
                                    [for]="idCentroCosto"
                                    class="k-label"
                                    style="padding-bottom: 2px;"
                                    >
                                    Programa(CentroCostos) :
                                    </label>
                                    <kendo-combobox
                                    #idCentroCosto
                                    class="d-flex"
                                    [data]="listaPrograma"
                                    size="medium"
                                    formControlName="idCentroCosto"
                                    [filterable]="true"
                                    placeholder="< Ingrese el Centro de Costo >"
                                    textField="nombre"
                                    valueField="id"
                                    [valuePrimitive]="true"
                                    [style.width.%]="92"
                                    (filterChange)="filterPrograma($event)"
                                    >
                                    </kendo-combobox>
                                </div>
                              </div>
                              <br>
                              <div
                                class="row"
                                style="display: flex; justify-content: center"
                              >
                                <div class="col-md-5">
                                    <label
                                    [for]="idAlumno"
                                    class="k-label"
                                    style="padding-bottom: 2px;"
                                  >
                                  Alumno :
                                  </label>
                                  <kendo-combobox
                                  #idAlumno
                                  class="d-flex"
                                  [data]="listaAlumno"
                                  size="medium"
                                  formControlName="idAlumno"
                                  [filterable]="true"
                                  placeholder="< Ingrese el Nombre del Alumno >"
                                  textField="nombreCompleto"
                                  valueField="id"
                                  [valuePrimitive]="true"
                                  [style.width.%]="92"
                                  (filterChange)="filterAlumno($event)"
                                  >
                                </kendo-combobox>
                                </div>
                                <div class="col-md-5">
                                    <label
                                    [for]="idMatricula"
                                    class="k-label"
                                    style="padding-bottom: 2px;"
            
                                  >
                                  Código Matrícula :
                                  </label>
                                  <kendo-combobox
                                  #idMatricula
                                  class="d-flex"
                                  [data]="listaMatricula"
                                  size="medium"
                                  formControlName="idMatricula"
                                  [filterable]="true"
                                  placeholder="< Ingrese el Código de Matrícula >"
                                  textField="codigoMatricula"
                                  valueField="id"
                                  [valuePrimitive]="true"
                                  [style.width.%]="92"
                                  (filterChange)="filterCodigoMat($event)"
            
                                >
                                </kendo-combobox>
                                </div>
                              </div>
                              <br>
                              <div
                                class="row"
                                style="display: flex; justify-content: center"
                              >
                                <div class="col-md-5">
                                    <label
                                    [for]="idFormaPago"
                                    class="k-label"
                                    style="padding-bottom: 2px;"
                                  >
                                  Medio de Pago :
                                  </label>
                                  <kendo-combobox
                                  #idFormaPago
                                  class="d-flex"
                                  [data]="itemsMedioPago"
                                  size="medium"
                                  formControlName="idFormaPago"
                                  [filterable]="true"
                                  placeholder="< Ingrese el medio de Pago >"
                                  textField="nombre"
                                  valueField="id"
                                  [valuePrimitive]="true"
                                  [style.width.%]="92"
                                  (filterChange)="filterMedioPago($event)"
                                  >
                                </kendo-combobox>
                                </div>
                                <div class="col-md-5">
                                    <label
                                    [for]="idCiudad"
                                    class="k-label"
                                    style="padding-bottom: 2px;"
            
                                  >
                                  Ciudad :
                                  </label>
                                  <kendo-combobox
                                  #idCiudad
                                  class="d-flex"
                                  [data]="itemsSede"
                                  size="medium"
                                  formControlName="idCiudad"
                                  [filterable]="true"
                                  placeholder="< Ingrese la ciudad >"
                                  textField="nombre"
                                  valueField="id"
                                  [valuePrimitive]="true"
                                  [style.width.%]="92"
                                  (filterChange)="filterSede($event)"
            
                                >
                                </kendo-combobox>
                                </div>
                              </div>
                              <br>
                              <div
                                class="row"
                                style="display: flex; justify-content: center"
                              >
                                <div class="col-md-5">
                                    <label
                                    [for]="idModalidad"
                                    class="k-label"
                                    style="padding-bottom: 2px;"
                                  >
                                  Modalidad :
                                  </label>
                                  <kendo-combobox
                                  #idModalidad
                                  class="d-flex"
                                  [data]="itemsModalidad"
                                  size="medium"
                                  formControlName="idModalidad"
                                  [filterable]="true"
                                  placeholder="< Ingrese la modalidad >"
                                  textField="nombre"
                                  valueField="id"
                                  [valuePrimitive]="true"
                                  [style.width.%]="92"
                                  (filterChange)="filterModalidad($event)"
                                  >
                                </kendo-combobox>
                                </div>
                                <div class="col-md-5" style="display:flex;justify-content: center;align-items:end;">
                                    <div style="width: fit-content;height: fit-content;"></div>
                                    <button
                                    mat-raised-button
                                    color="primary"
                                    style="width: fit-content;height: fit-content;"
                                    (click)="generarReportePagoPorPeriodo()"
                                  >
                                    <mat-icon>search</mat-icon>
                                     Buscar
                                  </button>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                         
                    </div>
                    
                  </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="CONGELAMIENTO DE DATOS">
                  <ng-template kendoTabContent>
                    <div class="row" style="display: flex; justify-content: center">
                      <div
                        class="col-md-5 k-form-horizontal"
                        style="padding-left: 5px; padding-top: 5px"
                      >
                        <kendo-formfield orientation="horizontal" style="margin: 0px !important">
                          <label
                            [for]="fechaConD"
                            class="k-label"
                            style="margin-bottom: 5px; width: 200px"
                          >
                            <span>Fecha de Congelamiento : </span>
                          </label>
                          <kendo-datepicker
                            #fechaConD
                            [formControl]="fechaCon"
                            [incompleteDateValidation]="true"
                            calendarType="classic"
                            [format]="{ displayFormat: 'dd-MM-yyyy', inputFormat: 'dd-MM-yyyy' }"
                            placeholder="dia-mes-año"
                          ></kendo-datepicker>
                        </kendo-formfield>
                      </div>
                      <div class="col-md-2">
                        <button mat-raised-button color="primary" (click)="congelarFlujoFecha()">
                          <mat-icon>save</mat-icon>
                          Congelar
                        </button>
                      </div>
                    </div>
                    <br>
                    <div class="row" style="display: flex; justify-content: center">
                      <div
                        class="col-md-5 k-form-horizontal"
                        style="padding-left: 5px; padding-top: 5px"
                      >
                        <kendo-formfield orientation="horizontal" style="margin: 0px !important">
                          <label
                            [for]="PeriodoConD"
                            class="k-label"
                            style="margin-bottom: 5px; width: 200px"
                          >
                            <span>Periodo de Congelamiento : </span>
                          </label>
                          <kendo-dropdownlist
                          [formControl]="PeriodoCon"
                          class="d-flex center"
                          size="medium"
                          #PeriodoConD
                          [data]="listaPeriodo"
                          textField="nombre"
                          valueField="id"
                          [defaultItem]="{id:null,nombre:'< Seleccionar >'}"
                          
                      >
                      </kendo-dropdownlist>
                        </kendo-formfield>
                      </div>
                      <div class="col-md-2">
                        <button mat-raised-button color="primary" (click)="congelarFlujoPeriodo()">
                          <mat-icon>save</mat-icon>
                          Congelar
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </kendo-tabstrip-tab>
              </kendo-tabstrip>

            </div>
            <div style="height: 30px"></div>
            <div class="row">
                <div class="card" style="padding: 0px">
                  <div class="card-header bg-color-material pb-0">
                    <h3 class="text-white mb-2">Lista reporte pagos por periodo</h3>
                  </div>
                  <div class="card-body p-4 contendor-grid-flujo">
                    <kendo-grid
                      #grid
                      [kendoGridBinding]="listaReporte"
                      [pageSize]="5"
                      [sortable]="true"
                      [reorderable]="false"
                      [resizable]="true"
                      filterable="menu"
                      [pageable]="true"
                      style="max-height: 700px; border-top-width: 0px"
                    >
                      <ng-template kendoGridToolbarTemplate>
                        <div
                          class="col-md-7"
                          style="display: flex; justify-content: start"
                        >
                        <button
                        mat-raised-button
                        class="btn-export-excel"
                        (click)="excelexport.save()"
                      >
                      <span class="k-icon k-i-file-excel k-icon-20"></span>
                        Exportar a Excel
                      </button>
                          <kendo-excelexport
                            [data]="listaReporte"
                            fileName="ReportePagosPorPeriodo.xlsx"
                            #excelexport
                          >
                            <kendo-excelexport-column
                              field="correlativo"
                              title="Correlativo"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="ciudad"
                              title="Ciudad"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="modalidad"
                              title="Modalidad"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="nombrePrograma"
                              title="Nombre Programa"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="codigoAlumno"
                              title="Código Alumno"
                              [width]="250"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="alumno"
                              title="Alumno"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="formaIngreso"
                              title="Medio Pago"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="numero"
                              title="Número"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="monedaPago"
                              title="Moneda Pago"
                              [width]="150"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="tipoCambio"
                              title="Tipo Cambio"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column
                              field="cuota"
                              title="Cuota"
                            >
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="mora" title="Mora">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="totalPagado" title="Total Pagado">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="totalPagadoDisponible" title="Total Pagado Disponible">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="fechaProcesoPago" title="Fecha Proceso Pago" [width]="150">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="fechaPago" title="Fecha Pago" [width]="150">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="fechaPagoOriginal" title="Fecha Pago Con Corte" [width]="150">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="fechaDepositaron" title="Fecha Deposito" [width]="150">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="fechaDisponible" title="Fecha Disponible" [width]="150">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="estadoEfectivo" title="Estado Efectivo">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="cuota_SubCuota" title="Cuota Sub Cuota">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="fechaCuota" title="Fecha Cuota" [width]="150">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="observaciones" title="Observaciones">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="dni" title="DNI">
                            </kendo-excelexport-column>
                            
                            <kendo-excelexport-column field="email" title="Email" [width]="360">
                            </kendo-excelexport-column>
                            <kendo-excelexport-column field="estadoCuota" title="Estado Cuota">
                            </kendo-excelexport-column>
                          </kendo-excelexport>
                        </div>
                      </ng-template>
                      <kendo-grid-column
                        title="Correlativo"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                        [width]="150"
                        field="correlativo"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Ciudad"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [width]="150"
                        field="ciudad"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Modalidad"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [width]="120"
                        field="modalidad"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Nombre Programa"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [width]="150"
                        field="nombrePrograma"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Código Alumno"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [width]="150"
                        field="codigoAlumno"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Alumno"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [width]="150"
                        field="alumno"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Medio Pago"
                        headerClass="justify-content-center k-grid-header cabeceras"
                        [width]="150"
                        field="formaIngreso"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': 'rgb(255, 193, 7)',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Número"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="numero"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Moneda Pago"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="monedaPago"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Tipo Cambio"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="tipoCambio"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Cuota"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="cuota"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Mora"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="mora"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Total Pagado"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="totalPagado"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Total Pagado Disponible"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="totalPagadoDisponible"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Fecha Proceso Pago"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="fechaProcesoPago"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                        <kendo-grid-date-filter-menu
                            [column]="column"
                            [format]="'dd-MM-yyyy'"
                            [filter]="filter"
                            [placeholder]="'dia-mes-año'"
                            [filterService]="filterService"
                            >
                        </kendo-grid-date-filter-menu>
                      </ng-template>
                      <ng-template  kendoGridCellTemplate let-dataItem>
                        {{finanzasService.fechaTemplate(dataItem.fechaProcesoPago,false)}}
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Fecha Pago"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="fechaPago"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                        <kendo-grid-date-filter-menu
                            [column]="column"
                            [format]="'dd-MM-yyyy'"
                            [filter]="filter"
                            [placeholder]="'dia-mes-año'"
                            [filterService]="filterService"
                            >
                        </kendo-grid-date-filter-menu>
                      </ng-template>
                      <ng-template  kendoGridCellTemplate let-dataItem>
                        {{finanzasService.fechaTemplate(dataItem.fechaPago,false)}}
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Fecha Pago Con Corte"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="fechaPagoOriginal"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                        <kendo-grid-date-filter-menu
                            [column]="column"
                            [format]="'dd-MM-yyyy'"
                            [filter]="filter"
                            [placeholder]="'dia-mes-año'"
                            [filterService]="filterService"
                            >
                        </kendo-grid-date-filter-menu>
                      </ng-template>
                      <ng-template  kendoGridCellTemplate let-dataItem>
                        {{finanzasService.fechaTemplate(dataItem.fechaPagoOriginal,false)}}
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Fecha Deposito"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="fechaDepositaron"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                        <kendo-grid-date-filter-menu
                            [column]="column"
                            [format]="'dd-MM-yyyy'"
                            [filter]="filter"
                            [placeholder]="'dia-mes-año'"
                            [filterService]="filterService"
                            >
                        </kendo-grid-date-filter-menu>
                      </ng-template>
                      <ng-template  kendoGridCellTemplate let-dataItem>
                        {{finanzasService.fechaTemplate(dataItem.fechaDepositaron,false)}}
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Fecha Disponible"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="fechaDisponible"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                        <kendo-grid-date-filter-menu
                            [column]="column"
                            [format]="'dd-MM-yyyy'"
                            [filter]="filter"
                            [placeholder]="'dia-mes-año'"
                            [filterService]="filterService"
                            >
                        </kendo-grid-date-filter-menu>
                      </ng-template>
                      <ng-template  kendoGridCellTemplate let-dataItem>
                        {{finanzasService.fechaTemplate(dataItem.fechaDisponible,false)}}
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Estado Efectivo"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="estadoEfectivo"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Cuota Sub Cuota"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="cuota_SubCuota"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Fecha Cuota"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="fechaCuota"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column" let-filterService="filterService">
                        <kendo-grid-date-filter-menu
                            [column]="column"
                            [format]="'dd-MM-yyyy'"
                            [filter]="filter"
                            [placeholder]="'dia-mes-año'"
                            [filterService]="filterService"
                            >
                        </kendo-grid-date-filter-menu>
                      </ng-template>
                      <ng-template  kendoGridCellTemplate let-dataItem>
                        {{finanzasService.fechaTemplate(dataItem.fechaCuota,false)}}
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Observaciones"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="observaciones"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="DNI"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="dni"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Email"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="email"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        title="Estado Cuota"
                        headerClass="justify-content-center k-grid-header "
                        [width]="150"
                        field="estadoCuota"
                        [locked]="false"
                        [sticky]="false"
                        [filterable]="true"
                        [hidden]="false"
                        [headerStyle]="{
                          'background-color': '#27ae60',
                          color: 'white'
                        }"
                      >
                      </kendo-grid-column>
                      <ng-template kendoGridNoRecordsTemplate>
                        <div>
                          <kendo-badge-container>
                            <kendo-icon name="cloud" size="large"></kendo-icon>
                            <kendo-badge position="inside">
                              <kendo-icon name="close" style="color: red;" ></kendo-icon>
                            </kendo-badge>
                          </kendo-badge-container>
                        </div>
                        <p>No hay registros cargados!</p>
                    </ng-template>
                      <ng-template
                        kendoPagerTemplate
                        let-totalPages="totalPages"
                        let-currentPage="currentPage"
                      >
                        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                        <kendo-pager-numeric-buttons
                          [buttonCount]="5"
                        ></kendo-pager-numeric-buttons>
                        <kendo-pager-next-buttons></kendo-pager-next-buttons>
                        <!-- <kendo-pager-input></kendo-pager-input> -->
                        <kendo-pager-info></kendo-pager-info>
                        <kendo-pager-page-sizes
                          [pageSizes]="pageSizes"
                        ></kendo-pager-page-sizes>
                      </ng-template>
                    </kendo-grid>
                  </div>
                </div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
