.bg-color-material {
  background-color: #3f51b5 !important;
}
.card-reporte > .card-header {
  background-color: #3f51b5;
  color: white;
  text-align: center;
}
.text-integra {
  color: #3f51b5 !important;
}
.card-reporte > .card-header {
  background-color: #3f51b5;
  color: white;
  text-align: center;
}
.card-reporte .card-header h2 {
  margin-bottom: 0.25rem !important;
}
.card-reporte .card-header h3 {
  margin-bottom: 0.25rem !important;
}
.card-reporte .card-header h4 {
  margin-bottom: 0.25rem !important;
}
.card-reporte .card-header h1 {
  margin-bottom: 0.25rem !important;
}
.k-notification-group {
  z-index: 9998 !important;
}
.swal2-container-integra {
  z-index: 8888 !important;
}
.bg-primary-header-modal {
  background-color: #376985 !important;
  color: #ffffff !important;
}
.header-grid-integra {
  color: #fff !important;
  background-color: #4584a7 !important;
  text-align: center !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.toolbar-grid-integra {
  color: #fff;
  background-color: #4584a7 !important;
}

.header-grid-historial {
  color: #fff;
  background-color: #A7A7A7 !important;
  text-align: center !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.header-grid-integra .k-grid-filter {
  color: #fff !important;
}
.header-grid-integra .k-grid-filter:hover {
  background-color: #ebebeb !important;
  color: #4584a7 !important;
}

.header-grid-integra .k-grid-filter-menu {
  color: #fff !important;
}
.header-grid-integra .k-grid-filter-menu:hover {
  background-color: #ebebeb !important;
  color: #4584a7 !important;
}
.header-grid-integra .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
  color: white !important;
}
.header-grid-single {
  font-size: 1.3em !important;
  font-weight: normal !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}
.k-notification-group {
  margin-bottom: 10px !important;
}
// Icon input validation
.text-valid-success {
  color: #33ad00 !important;
}
// modal close icon
.btn-close:focus {
  // box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  box-shadow: none !important;
}
// check style kendo
.check-integra .k-checkbox {
  border-color: rgba(0, 0, 0, 0.54) !important;
  border-width: 2px !important;
  // background-color: #ffffff;
}
.check-integra .k-checkbox:checked,
.k-checkbox.k-checked {
  border-color: #3f51b5 !important;
  color: white !important;
  background-color: #3f51b5 !important;
}
kendo-formerror {
  font-size: 1em !important;
}

.mra-bg-3cx {
  color: white;
  background-color: #0c457d;
}
.mra-bg-integra {
  color: white;
  background-color: #339900;
}

.mra-bg-wolkbox {
  color: white;
  background-color: #9a0f3d;
}
.mra-bg-ringover {
  color: white;
  background-color: #07ad9c;
}

.mra-bg-wavix {
  color: white;
  background-color: brown;
}

.mra-bg-corporativo {
  color: white;
  background-color: #ff6113;
}

.mra-bg-whatsapp {
  color: white;
  background-color: #15a522;
}

.modal-header-integra{
  background: #2d4390;
  height: 60px;
  font-size: 18px;
}
.mra-bg-3cx {
  color: white;
  background-color: #0c457d;
}
