#pGeneralPuntoCorte .k-tabstrip-items-wrapper {
  background-color: #3f51b5;
  color: #fff;
}

#pGeneralPuntoCorte .k-item {
  background: #3f51b5;
  height: 40px;
  // border-color: red !important;
}

#pGeneralPuntoCorte .k-tabstrip-items .k-state-active {
  background-color: #324090;
  // border-color: red !important;
  // border: none !important;
}

#pGeneralPuntoCorte .k-item .k-state-hover {
  background: #324090 !important;
}

#pGeneralPuntoCorte .k-tabstrip-items .k-item .k-link {
  color: #fff;
}

.k-tabstrip-top>.k-content,
.k-tabstrip-top>.k-tabstrip-content {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.k-tabstrip-top>.k-tabstrip-items-wrapper .k-item {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: -1px;
}

.toolbar-grid-integra kendo-grid-toolbar {
  background-color: #3f51b5 !important;
}

.k-content:focus {
  outline-style: none !important;
}

.pgpc-headerGrid {
  text-align: center !important;
  background-color: #4194bb !important;
  color: #ffffff !important;
}

.textPuntCorteAlerta {
  color: #CC0000 !important;
}

.textPuntCorteNormal {
  color: black !important;
}

.rowPuntCorteAlerta {
  background: rgb(249, 220, 220) !important;
  color: black;

  .textPuntCorteAlerta {
    color: black !important;
  }
}

.ktt-puntoCorte {
  .k-tabstrip-items-wrapper {
    background-color: #7b7979;
    color: #fff;
  }

  .k-tabstrip-top>.k-tabstrip-items-wrapper .k-item.k-active {
    background-color: #606060;
    border-bottom-color: #fff;
    font-weight: 500 !important;
    border-bottom-width: 5px;
    color: #fff;
  }

  .k-tabstrip-scrollable>.k-tabstrip-items-wrapper>.k-button .k-button-icon {
    color: #fff !important;
  }

  .k-tabstrip-items .k-state-active {
    background-color: #606060;
    color: #fff;
  }

  .k-item {
    background: #7b7979;
    height: 60px;
    color: #fff
  }

  .k-item .k-state-hover {
    background: #766d6d !important;
  }

  .k-item:hover,
  .k-tabstrip-items-wrapper .k-item.k-hover {
    color: #fff;
    background-color: #766d6d;
  }
}
.puntoCorte {
  // mat-expansion-panel-header{
  //   background: #bdbdbd
  // }
  .k-content {
    background: #ededed
  }
}

.header-grid-integra {
  color: #fff;
  background-color: #4584a7 !important;
  text-align: center !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}