.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.w-100 {
  width: 100% !important;
}

.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.contenedorCampania {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 60px;
  max-width: 100%;
  box-sizing: border-box;
}

.butEnviar {
  background-color: #008069;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 40px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.max-width-390 {
  max-width: 390px;
  width: 100%;
  box-sizing: border-box;
}

.mb-20 {
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-label {
  flex: 0 0 40%;
  margin-right: 4px;
  text-align: right;
}

.flex-input {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
}