.titulo {
  background-color: #3f51b5;
  color: white;
  font-size: 20px;
  height: 40px;
  padding: 10px;
  text-align: left;
  justify-content: center;
  margin-bottom: 20px;
}

.edit {
  background-color: #094d82;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}

.delete {
  background-color: #c71585;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}

.botonWhats {
  background-color: #17b76a;
  color: white;
  font-size: 15px;
  // width: 50px;
  // height: 36px;
  img {
    width: 20px;
    height: 20px;
  }
}

.botonAgregar {
  width: 150px;
  background-color: #3f51b5;
  color: white;
  margin-right: 20px;
}

.agregar {
  margin: 20px;
  justify-content: end;
  display: flex;
}
