.opening .k-overlay {
  opacity: 0.5 !important;
}
.example-wrapper {
  min-height: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.custom-size {
  line-height: 2;
}

.k-list-horizontal .k-radio-item,
.k-radio-list .k-radio-item:first-child {
  margin: 0 12px 0 0;
}

.k-radio + .k-radio-label,
.k-radio-label + .k-radio {
  margin-left: 6px;
}

// .form-group .required .control-label:after {
//   content:"*";color:red;
// }

// .required:after {
//   content:"*";color:red;
// }
.wrap {
  display: flex;
  justify-content: space-between;
}

.k-icon-20 {
  font-size: 20px; /* Sets icon size to 24px */
}

.k-grid-header {
  text-align: center;
}

.bg-color-material {
  background-color: #3f51b5;
}

.append-container {
  position: relative;
  width: 400px;
  border: 1px solid #ccc;
  height: 250px;
  margin-bottom: 15px;
}
.notification-container {
  width: 100%;
  height: 180px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
}
.text-valid-success{
  color: #33AD00 !important;
}
.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #3f51b5;
}



.k-icon-20 {
  font-size: 20px !important;
}


