.rowd {
  margin: 0 auto;
  clear: both;
  text-align: center;
  font-family: "Exo";
  display: table;
}

.digit,
.dig {
  margin: 0 5px 0 5px;
  width: 70px;
  font-size: 1.8rem;
  cursor: pointer;
  display: table-cell;
}

.sub {
  font-size: 1rem;
  color: grey;
  margin-top: -10px;
  margin-bottom: 10px;
}

.containerd {
  background-color: white;
  min-width: 300px;
  margin: auto;
  height: 92%;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
  margin: 0;
}

.containerform {
  background-color: white;
  min-width: 300px;
  padding: 20px;
  margin: 30px auto;
  height: 300px;
  text-align: left;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.output {
  font-family: "Exo" !important;
  height: 3rem !important;
  font-weight: bold !important;
  color: #1976d2 !important;
  overflow: hidden !important;
  background-color: #f1f1f1 !important;
  // _float: left;
}

.k-window-content,
.k-prompt-container {
  padding-bottom: 0px !important;
  padding-top: 0px;
}

.outputbot {
  font-family: "Exo";
  font-size: 1.2em;
  font-weight: bold;
  color: #1976d2;
  overflow: hidden;
  height: 4.5em;
  background-color: #f1f1f1;
  padding: 10px;
  line-height: 0.5em;
}

#hang {
  background-color: #e31d1d;
}

#call {
  background-color: #05b518;
  display: none;
}

.botrowauto {
  margin: 0;
  clear: both;
  text-align: center;
  font-family: "Exo";
}

.botrow {
  margin: 0 auto;
  display: table;
  clear: both;
  text-align: center;
  font-family: "Exo";
}

.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

#call:hover {
  background-color: #05b518;
}

#hang:hover {
  background-color: #e31d1d;
}
.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 30px;
  width: 295px;
  text-align: right;
  font-size: 1em;
}

.bck {
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 8px;
  font-size: 1.8em;
  color: #555;
}

#backspace {
  display: none;
}

.contact {
  height: 250px;
  margin-top: 10px;
}

#callcontrols {
  display: table;
}

#contactimage {
  display: none;
  height: 255px;
  margin-bottom: 13px;
}

.toggle {
  margin: 10px 8px 0px 8px;
}

#autoanswertext {
  font-size: 0.8em;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#wrap {
  position: relative;
  min-height: 300px;
}

#autoansbtn {
  display: none;
  float: left;
  width: 85px;
  word-wrap: break-word;
  font-size: 0.5em;
  text-align: center;
}

#phonedialpad {
  min-height: 250px;
}

.dialPadIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: #82c3d8;
  padding: 5px;
  display: none;
  border-radius: 50%;
  padding: 10px;
  opacity: 0.6;
  cursor: pointer;
}

#callinfo {
  position: absolute;
  top: 40px;
  margin: auto;
  width: 100%;
}
