.my-custom-modal .modal-dialog {
  max-width: 1200px;
  width: 100%;
}
.header-grid-ec {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  justify-content: center;
  border: 1px solid white;
}
