
<div class="card border-primary mb-3">
    <div class="card-header pb-0" style="background-color: #2b89b3">
      <h2 class="mb-2 text-white">(R) Reporte de Notas</h2>
    </div>
    <div class="card-body p-4">
      <form [formGroup]="formFiltro" orientation="horizontal">
        <div class="row">
          <div class="col-sm col-md m-3">
            <div class="row mb-4">
              <div class="col-md-4">
                <label [for]="asesores" class="k-labeal">
                  <span>Coordinador Academico </span>
                </label>
              </div>
              <div class="col-md-8">
                <kendo-multiselect
                  #asesores
                  formControlName="asesores"
                  [data]="asesoresCombo"
                  placeholder="<Todos>"
                  [filterable]="true"
                  textField="nombres"
                  [virtual]="virtual"
                  [valuePrimitive]="true"
                  [kendoDropDownFilter]="filterSettings"
                  valueField="id"
                >
                </kendo-multiselect>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-4">
                <label [for]="codigoMatricula" class="k-label">
                  <span>Codigo Matricula </span>
                </label>
              </div>
              <div class="col-md-8">
                <input
                  kendoTextBox
                  #codigoMatricula
                  formControlName="codigoMatricula"
                  size="medium"
                  name="codigoMatricula"
                  placeholder="<Todos>"
                  class="bgInputIA"
                />
              </div>
            </div>
          </div>
  
          <div class="col-sm col-md m-3">
            <div class="row mb-4">
              <div class="col-md-4">
                <label [for]="centroCostos" class="k-label">
                  <span>Centros de Costos </span>
                </label>
              </div>
              <div class="col-md-8">
                <kendo-multiselect
                  #centroCostos
                  formControlName="centroCostos"
                  [data]="centroCostosCombo"
                  placeholder="<Todos>"
                  [filterable]="true"
                  textField="nombre"
                  [virtual]="virtual"
                  [valuePrimitive]="true"
                  [kendoDropDownFilter]="filterSettings2"
                  valueField="id"
                >
                </kendo-multiselect>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-4">
                <label [for]="documetnoIdentidad" class="k-label">
                  <span>Documento de Identidad </span>
                </label>
              </div>
              <div class="col-md-8">
                <input
                  kendoTextBox
                  #documetnoIdentidad
                  formControlName="documetnoIdentidad"
                  size="medium"
                  name="documetnoIdentidad"
                  placeholder="<Todos>"
                  class="bgInputIA"
                />
              </div>
            </div>
          </div>
  
          <div class="col-sm col-md m-3">
            <div class="row mb-4">
              <div class="col-md-4">
                <label [for]="faseOportunidad" class="k-label">
                  <span>Fases de Oportunidad </span>
                </label>
              </div>
              <div class="col-md-8">
                <kendo-multiselect
                  #faseOportunidad
                  formControlName="faseOportunidad"
                  [data]="faseOportunidadCombo"
                  placeholder="<Todos>"
                  [filterable]="true"
                  textField="codigo"
                  [virtual]="virtual"
                  [valuePrimitive]="true"
                  [disabled]="true"
                  valueField="id"
                >
                </kendo-multiselect>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-4">
                <label [for]="estadoMatricula" class="k-label">
                  <span>Estado Matricula </span>
                </label>
              </div>
              <div class="col-md-8">
                <kendo-multiselect
                  #estadoMatricula
                  formControlName="estadoMatricula"
                  [data]="estadoMatriculaCombo"
                  [kendoDropDownFilter]="filterSettings3"
                  placeholder="<Todos>"
                  [filterable]="true"
                  textField="nombre"
                  [virtual]="virtual"
                  [valuePrimitive]="true"
                  valueField="id"
                >
                </kendo-multiselect>
              </div>
            </div>
          </div>
  
          <!-- <div class="col-sm col-md m-3">
                      <div class="row mb-4">
                        <div class="col-md-4">
                          <mat-radio-group formControlName="ControlFiltroFecha">
                              <mat-radio-button color="primary" class="example-margin" value="1">Todos</mat-radio-button>
                              <mat-radio-button color="primary" class="example-margin" value="2">Por Fecha</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-8">
                            
                        </div>
                      </div>
                      <div *ngIf="formFiltro.get('ControlFiltroFecha').value != 1">
                          <div class="row mb-4">
                              <div class="col-md-4">
                                  <label [for]="fechaInicio" class="k-label">
                                      <span>Fecha Inicio Matricula
                                      </span>
                                   </label>
                              </div>
                            <div class="col-md-8">
                              <kendo-datepicker
                              #fechaInicio
                              formControlName="fechaInicio"
                              >
                              </kendo-datepicker>
                            </div>
                          </div>
                          <div class="row mb-4">
                              <div class="col-md-4">
                                  <label [for]="fechaFin" class="k-label">
                                      <span>Fecha Fin Matricula
                                      </span>
                                   </label>
                              </div>
                            <div class="col-md-8">
                              <kendo-datepicker
                              #fechaFin
                              formControlName="fechaFin"
                              >
                              </kendo-datepicker>
                            </div>
                          </div>
                      </div>             
                  </div> -->
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-1 float-right">
          <button
            type="button"
            class="btn btn-success sm"
            [disabled]="gridData.loading"
            (click)="buscar()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col" style="background-color:orange;color:white;">
      <div class="col-10" style="margin: 13px;">
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  A.A.M
              </div>
              <div class="col-sm-3">
                  Autoevaluacion Actual Moodle
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  D.S.E.30
              </div>
              <div class="col-sm-3">
                  Dias Seguimiento 30 Dias(Ejecutadas)
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  M.C.A
              </div>
              <div class="col-sm-3">
                  Moneda Cuotas Atrasadas
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  A.P.M
              </div>
              <div class="col-sm-3">
                  Autoevaluacion Programada Moodle
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  D.S.E.7
              </div>
              <div class="col-sm-3">
                  Dias Seguimiento 7 Dias(Ejecutadas)
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  M.T.C.A
              </div>
              <div class="col-sm-3">
                  Monto Total Cuotas Atrasadas
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  C.A.N.A.V
              </div>
              <div class="col-sm-3">
                  Capitulo Actual Nuevo Aula Virtual
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  D.T.D.U.A
              </div>
              <div class="col-sm-3">
                  Dias Transcurridos Desde Ultimo Avance
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  N.C.A
              </div>
              <div class="col-sm-3">
                  Numero Cuotas Atrasadas
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  C.P.N.A.V
              </div>
              <div class="col-sm-3">
                  Capitulo Programado Nuevo Aula Virtual
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  E.A
              </div>
              <div class="col-sm-3">
                  Estado Academico
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  S.A.N.A.V
              </div>
              <div class="col-sm-3">
                  Sesion Actual Nuevo Aula Virtual
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  C.D.A
              </div>
              <div class="col-sm-3">
                  Cumplimiento de Avance
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  E.U.A
              </div>
              <div class="col-sm-3">
                  Estado Ultima Actividad
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  S.P.N.A.V
              </div>
              <div class="col-sm-3">
                  Sesion Programada Nuevo Aula Virtual
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  D.A.P
              </div>
              <div class="col-sm-3">
                  Dias Atrasados Pago
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  F.C.M
              </div>
              <div class="col-sm-3">
                  Fecha Creacion Matricula
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  T.V.V
              </div>
              <div class="col-sm-3">
                  Tiempo Visualizacion Video. Actual(Esperado)
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  D.S.E.14
              </div>
              <div class="col-sm-3">
                  Dias Seguimiento 14 Dias(Ejecutadas)
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  F.U.A
              </div>
              <div class="col-sm-3">
                  Fecha Ultima Actividad
              </div>
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  U.C.T.E
              </div>
              <div class="col-sm-3">
                  Ultimo Contacto Telefonico Efectivo
              </div>
          </div>
          <div class="row">
              <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                  F.F.P
              </div>
              <div class="col-sm-3">
                  Fecha Finalizaci&oacute;n del Programa
              </div>
          </div>
      </div>
  </div> -->
  <div class="card">
    <div class="card-body">
      <kendo-grid
        [kendoGridBinding]="gridData.data"
        [pageable]="true"
        [loading]="gridData.loading"
        [pageSize]="20"
        [resizable]="true"
        filterable="menu"
      >
        <ng-template kendoGridToolbarTemplate>
          <button
            type="button"
            kendoGridExcelCommand
            icon="file-excel"
            style="color: white; background-color: green; height: 40px"
            [disabled]="gridData.data.length === 0"
          >
            Exportar Excel
          </button>
        </ng-template>
        <!-- <kendo-grid-column field="codigoMatricula" title="Codigo" [width]="110"></kendo-grid-column>
        <kendo-grid-column field="nombreCompletoAlumno" title="Alumno" [width]="127">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="w-100 text-center">
              <a (click)="cargarFichaAlumnoOperaciones(dataItem)" class="txtAlumno">{{
                dataItem.nombreCompletoAlumno
              }}</a>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="asesor" title="Asistente" [width]="123">
        </kendo-grid-column>
        <kendo-grid-column field="nombreCentroCosto" title="Centro de Costo" [width]="222"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Carrera" [width]="214"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Ciclo" [width]="75"></kendo-grid-column>
  
        <kendo-grid-column field="carrera" title="Curso" [width]="138"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Fecha Inicio Curso" [width]="149"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Fecha de Fin Curso" [width]="175"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Tipo Matricula" [width]="136"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Modalidad" [width]="80"></kendo-grid-column>
        <kendo-grid-column field="carrera" title="Promedio" [width]="76"></kendo-grid-column>
        <kendo-grid-column field="estadoMatricula" title="Estado" [width]="76" [hidden]="true"></kendo-grid-column> -->
        <kendo-grid-column
          field="codigo"
          title="Codigo"
          [width]="110"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="alumno"
          title="Alumno"
          [width]="127"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        >
          <!-- <ng-template kendoGridCellTemplate let-dataItem>
            <div class="w-100 text-center">
              <a
                (click)="cargarFichaAlumnoOperaciones(dataItem)"
                class="txtAlumno"
                >{{ dataItem.nombreCompletoAlumno }}</a
              >
            </div>
          </ng-template> -->
        </kendo-grid-column>
        <kendo-grid-column
          field="asistente"
          title="Asistente"
          [width]="123"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        >
        </kendo-grid-column>
        <kendo-grid-column
          field="centroCosto"
          title="Centro de Costo"
          [width]="222"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="carrera"
          title="Carrera"
          [width]="214"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="ciclo"
          title="Ciclo"
          [width]="75"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
  
        <kendo-grid-column
          field="curso"
          title="Curso"
          [width]="138"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="fechaInicio"
          title="Fecha Inicio Curso"
          [width]="149"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
          ><ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.fechaInicio | date : "dd/MM/yyyy" }}
          </ng-template></kendo-grid-column
        >
        <kendo-grid-column
          field="fechaTermino"
          title="Fecha de Fin Curso"
          [width]="175"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
          ><ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.fechaTermino | date : "dd/MM/yyyy" }}
          </ng-template></kendo-grid-column
        >
        <kendo-grid-column
          field="tipoMatricula"
          title="Tipo Matricula"
          [width]="136"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="modalidad"
          title="Modalidad"
          [width]="80"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="promedio"
          title="Promedio"
          [width]="76"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        ></kendo-grid-column>
        <kendo-grid-column
          field="tipoMatricula"
          title="Opciones de Recuperación"
          [width]="228"
          [headerStyle]="{
            'background-color': '#2b89b3',
            color: 'white',
            'justify-content': 'center',
            border: '1px solid white'
          }"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="text-center">
              <br />
              <button
                class="btn btn-sm btn-warning mb-3"
                (click)="recuperacionCurso(modalRecuperacion, dataItem)"
              >
                <span style="color: rgb(255, 255, 255)"> RECUPERACIÓN </span>
              </button>
  
              <button
                class="btn btn-sm btn-info mb-3"
                (click)="recuperacionSesion(modalRecuperacionSesion, dataItem)"
              >
                <span style="color: rgb(255, 255, 255)">
                  RECUPERACIÓN <br />
                  SESIÓN
                </span>
              </button>
              <!-- <button
                class="btn btn-sm btn-primary mb-3"
                (click)="cambiarCursoIrca(modalCambiarCurso, dataItem)"
              >
                <span style="color: rgb(255, 255, 255)">
                  CAMBIAR <br />
                  CURSO
                </span>
              </button> -->
            </div>
          </ng-template>
        </kendo-grid-column>
  
        <kendo-grid-excel
          fileName="ReporteNotas.xlsx"
          [fetchData]="allData"
        ></kendo-grid-excel>
        <ng-template
          kendoPagerTemplate
          let-totalPages="totalPages"
          let-currentPage="currentPage"
        >
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <!-- <kendo-pager-input></kendo-pager-input> -->
          <kendo-pager-info></kendo-pager-info>
          <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
        </ng-template>
      </kendo-grid>
    </div>
  </div>
  <ng-template #modalReproducirAudio let-modal>
    <div class="modal-header text-white" style="background-color: #339900">
      <h2 class="modal-title mb-0">Grabacion Integra</h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <audio controls [src]="urlGrabacion" type="audio/mp3" controls autoplay>
          Tu navegador no soporta el elemento de <code>audio</code>
        </audio>
      </div>
    </div>
    <div class="modal-footer">
      <div class="k-form-buttons m-0">
        <button
          themeColor="error"
          kendoButton
          (click)="modal.dismiss('Cross click')"
        >
          Cerrar
        </button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #modalRecuperacionSesion let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mb-0" style="color: #2e6ea6">
          RECUPERACIÓN SESIÓN PARA: {{ objRecuperacion.curso }}
        </h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4">
          <h4><strong>Cursos Disponibles</strong></h4>
        </div>
        <div class="col-8">
          <kendo-dropdownlist
            [data]="inputPEspecificoRelacionadoDisponible"
            (valueChange)="mostrarsesiones($event)"
            [valuePrimitive]="true"
            [filterable]="true"
            (filterChange)="filterRecuperacionSesion($event)"
            [valueField]="'idPEspecifico'"
            [textField]="'nombre'"
          >
          </kendo-dropdownlist>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h4><strong>Listado Sesiones:</strong></h4>
        </div>
        <div class="col-8">
          <ol>
            <ng-container *ngFor="let item of sesiones; let i = index">
              <div class="row">
                <li>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    [(ngModel)]="item.check"
                  />
                  {{ item.fechaInicio | date : "dd/MM/yyyy h:mm a" }}
                </li>
              </div>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="guardarRecuperarSesion()"
      >
        Recuperar
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.close()">
        Cerrar
      </button>
    </div>
  </ng-template>
  <ng-template #modalCambiarCurso let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mb-0" style="color: #2e6ea6">
          CAMBIAR CURSO PARA: {{ objCambiarCurso.curso }}
        </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <h4 id="Evaluacion"><strong>Cursos Relacionados</strong></h4>
          </div>
          <div class="col-8">
            <kendo-dropdownlist
              [data]="inputPEspecificoRelacionadoIrca"
              [(ngModel)]="objCambiarCurso.idPEspecificoRelacionado"
              [valuePrimitive]="true"
              [filterable]="true"
              (filterChange)="filterRecuperacionCursoIrca($event)"
              [valueField]="'idPEspecifico'"
              [textField]="'nombre'"
            >
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="guardarCambiarCursoIrca()"
        >
          Guardar
        </button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">
          Cerrar
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalRecuperacion let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mb-0" style="color: #2e6ea6">
          RECUPERACIÓN PARA: {{ objRecuperacion.curso }}
        </h3>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4">
          <h4 id="Evaluacion"><strong>Cursos Relacionados</strong></h4>
        </div>
        <div class="col-8">
          <kendo-dropdownlist
            [data]="inputPEspecificoRelacionado"
            [(ngModel)]="objRecuperacion.idPEspecifico"
            [valuePrimitive]="true"
            [filterable]="true"
            (filterChange)="filterRecuperacionCurso($event)"
            [valueField]="'idPEspecifico'"
            [textField]="'nombre'"
          >
          </kendo-dropdownlist>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="guardarRecuperarCurso()"
      >
        Recuperar
      </button>
      <button type="button" class="btn btn-danger" (click)="modal.close()">
        Cerrar
      </button>
    </div>
  </ng-template>
  