body {
    font-size: 13px;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', Arial, Helvetica, Verdana, sans-serif;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.panel {
    margin-bottom: 23px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #3343a4;
    border-color: #3343a4;
}

.panel-footer {
    border-top: none;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-body {
    padding: 15px;
}

    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
    }

div.panel-button button {
    position: absolute;
    right: 42px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.2em;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.btn {
    text-transform: uppercase;
}

.btn-default {
    background: #dbdbdb;
    border-color: black;
   
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

a {
    color: black;
   
}

.btn-link {
    color:white;
}

.modal-title {
    color: #2e6ea6;
 }

.modal-header .close {
    margin: -2px;
}

.modal-title {
    margin: 0;
    line-height: 2;
   
}

.close {
    font-size: 34px;
    font-weight: 300;   
    line-height: 25px;
    
   
}

.k-grid-content tr td {
    border-left-width: 1px;
    
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td {
    border-color: inherit;
}

.hidden {
    visibility: hidden;
}
