.headerGridChat {
  text-align: center;
  font-size: 12px;
  background-color: #f1c40f;
  color: #ffffff;
}
.columnas{
	width: 600px;
}

.carga{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tam{
  height: 200px;
  width: 500px;
}
