table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.mat-header-cell {
  background-color: #007bff; 
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 24px;
}

td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
}
.botonesSolicitudCambio {
  margin: 5px;
  border-radius: 25px;
}
.enuciadoHeader {
  font-size: 1.3em;
  font-weight: bold;
}
/* app.component.css */
table {
  width: 95%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td {
  border-right: 1px solid #ddd; /* Vertical line between table cells */
}
th {
  background-color: #007bff; /* Blue background color for headers */
  color: white; /* Text color for headers */
}

thead th:first-child {
  border-top-left-radius: 10px; /* Rounded corner for the top left header */
}

thead th:last-child {
  border-top-right-radius: 10px; /* Rounded corner for the top right header */
}

tbody th:first-child {
  border-top-left-radius: 0; /* Remove rounded corner for the top left header in tbody */
}

tbody th:last-child {
  border-top-right-radius: 0; /* Remove rounded corner for the top right header in tbody */
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #008fc7 !important;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #4e9cdb;
  border-bottom-color: #003e7c;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: initial; /* Posiciona el loader dentro del row */
  top: 50%; /* Centra el loader verticalmente */
  left: 50%; /* Centra el loader horizontalmente */
  transform: translate(-50%, -50%); /* Desplaza el loader a su punto central */
}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }
// :host ::ng-deep .mat-tab-label-active {
//   color: #003e7c;
//   text-decoration: underline;
//   text-decoration-color: blue;
//   text-decoration-thickness: 2px;
// }
// :host ::ng-deep .mat-ink-bar {
//   background-color: #003e7c;
// }

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  border-radius: 12px;
}

.esttitulo{
  color:#4a4a49;
  font-style: Roboto;
}
