<!-- Grilla -->
<div class="">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">(C) Datos de remarketing</h3>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="col">
              <kendo-grid
                [kendoGridBinding]="gridDatoRemarketing.data"
                (remove)="gridDatoRemarketing.removeHandler($event)"
                [loading]="loaderGrid"
                filterable="menu"
                [sortable]="true"
                [resizable]="true"
                [pageable]="{
                  buttonCount: 5,
                  info: true,
                  type: 'numeric',
                  pageSizes: true,
                  previousNext: true,
                  position: 'bottom'
                }"
                [skip]="gridDatoRemarketing.gridState.skip"
                [pageSize]="gridDatoRemarketing.gridState.take"
                [sort]="gridDatoRemarketing.gridState.sort"
              >

                <ng-template kendoGridToolbarTemplate>
                  <button
                    kendoButton
                    icon="reload"
                    fillMode="flat"
                    themeColor="secondary"
                    (click)="obtenertDatoRemarketing()"

                  ></button>
                  <kendo-grid-spacer></kendo-grid-spacer>
                  <button
                    kendoButton
                    themeColor="primary"
                    icon="plus"
                    (click)="abrirModal(true)"
                  >
                    Agregar
                  </button>
                </ng-template>


                <kendo-grid-column
                title="Tab"
               field="nombreAgendaTab"
                [filterable]="true"
                [headerClass]="'header-grid-integra'"

              >
              </kendo-grid-column>
              <kendo-grid-column
              title="Tipo"
                field="listaTipoDato"

                [filterable]="true"
                [headerClass]="'header-grid-integra'"
              >
              <ng-template
              kendoGridCellTemplate
              let-dataItem
            >
              <div class="px-3 w-100">
                <ng-container
                  *ngIf="
                    dataItem.listaTipoDato != null &&
                      dataItem.listaTipoDato .length > 0;
                    else templateElse
                  "
                >
                  <ul class="my-0 px-0">
                    <li *ngFor="let element of dataItem.listaTipoDato">
                      {{element.nombreTipoDato }}
                    </li>
                  </ul>
                </ng-container>

                <ng-template #templateElse> Todos </ng-template>
              </div>
            </ng-template>

              </kendo-grid-column>

              <kendo-grid-column
                title="Grupo"
                field="listaTipoCategoriaOrigen"
                [filterable]="true"
                [headerClass]="'header-grid-integra'"
              >
              <ng-template
              kendoGridCellTemplate
              let-dataItem
            >
              <div class="px-3 w-100">
                <ng-container
                  *ngIf="
                    dataItem.listaTipoCategoriaOrigen != null &&
                      dataItem.listaTipoCategoriaOrigen .length > 0;
                    else templateElse
                  "
                >
                  <ul class="my-0 px-0">
                    <li *ngFor="let element of dataItem.listaTipoCategoriaOrigen">
                      {{element.nombreTipoCategoriaOrigen }}
                    </li>
                  </ul>
                </ng-container>

                <ng-template #templateElse> Todos </ng-template>
              </div>
            </ng-template>


              </kendo-grid-column>
              <kendo-grid-column
              title="Categoria"
              field="listaCategoriaOrigen"
              [filterable]="true"
              [headerClass]="'header-grid-integra'"
              [width]="300"

            >
            <ng-template
            kendoGridCellTemplate
            let-dataItem
          >
            <div class="px-3 w-100">
              <ng-container
                *ngIf="
                  dataItem.listaCategoriaOrigen != null &&
                    dataItem.listaCategoriaOrigen .length > 0;
                  else templateElse
                "
              >
                <ul class="my-0 px-0">
                  <li *ngFor="let element of dataItem.listaCategoriaOrigen">
                    {{element.nombreCategoriaOrigen }}
                  </li>
                </ul>
              </ng-container>

              <ng-template #templateElse> Todos </ng-template>
            </div>
          </ng-template>


            </kendo-grid-column>

            <kendo-grid-column
            title="Probabilidad"
            field="listaProbabilidadRegistroPw"
            [filterable]="true"
            [headerClass]="'header-grid-integra'"
          >

            <ng-template
              kendoGridCellTemplate
              let-dataItem
            >
              <div class="px-3 w-100">
                <ng-container
                  *ngIf="
                    dataItem.listaProbabilidadRegistroPw != null &&
                      dataItem.listaProbabilidadRegistroPw .length > 0;
                    else templateElse
                  "
                >
                  <ul class="my-0 px-0">
                    <li *ngFor="let element of dataItem.listaProbabilidadRegistroPw">
                      {{element.nombreProbabilidadRegistroPw }}
                    </li>
                  </ul>
                </ng-container>

                <ng-template #templateElse> Todos </ng-template>
              </div>
            </ng-template>
          </kendo-grid-column>

              <kendo-grid-column
                title="Vigente"
                field="vigente"
                [filterable]="true"
                [headerClass]="'header-grid-integra'"
              >


                 <ng-template
              kendoGridCellTemplate
              let-dataItem
            >
              <div class="px-3 w-100">
                {{ dataItem.vigente == true ? "SI" : "NO" }}
              </div>
            </ng-template>



         </kendo-grid-column>



                <kendo-grid-command-column
                  title="Editar"
                  [width]="150"
                  [headerClass]="'header-grid-integra'"
                >
                  <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                    <div class="w-100 d-flex justify-content-center">
                      <button
                        kendoButton
                        themeColor="warning"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        (click)="abrirModal(false, dataItem)"
                        placement="top"
                        ngbTooltip="Editar"
                      >
                        <span class="k-icon k-i-edit k-icon-20"></span>
                      </button>
                      <button
                        kendoGridRemoveCommand
                        themeColor="error"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Eliminar"
                        (click)="eliminarDatoRemarketing(dataItem,rowIndex)"
                      >
                        <span class="k-icon k-i-delete k-icon-20"></span>
                      </button>
                    </div>
                  </ng-template>
                </kendo-grid-command-column> -->
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<ng-template #modalDataRemarketing let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      {{ isNew ? "Nuevo  dato Remarketing" : "Modificar Dato Remarketing" }}
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form k-form-horizontal" [formGroup]="formDatoRemarketing">
      <fieldset class="k-form-fieldset">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="tab" class="k-label">
              <span>Tab <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-dropdownlist
              #tab
              formControlName="tab"
              class="d-flex"
              size="medium"
              [data]="dataAgendaTab"
              [defaultItem]="{
                nombreAgendaTab: '<Seleccione un tab>',
                idAgendaTab: null
              }"
              textField="nombreAgendaTab"
              valueField="idAgendaTab"
              [valuePrimitive]="true"
            >
            </kendo-dropdownlist>
            <kendo-formerror> </kendo-formerror>
          </kendo-formfield>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="tipo" class="k-label">
                <span>Tipo <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-multiselect
                #tipo
                formControlName="tipo"
                [data]="dataTipoDato"
                textField="nombreTipoDato"
                valueField="idTipoDato"
                [valuePrimitive]="true"
                placeholder="<Todos>"
              ></kendo-multiselect>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>
                {{ "" }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="grupo" class="k-label">
                <span>Grupo <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-multiselect
                #grupo
                formControlName="grupo"
                [data]="dataTipoCategoriaOrigen"
                [valuePrimitive]="true"
                textField="nombreTipoCategoriaOrigen"
                valueField="idTipoCategoriaOrigen"
                placeholder="<Todos>"
              ></kendo-multiselect>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>
                {{ "" }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="categoria" class="k-label">
                <span
                  >Categoria <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-multiselect
                #categoria
                formControlName="categoria"
                [data]="dataCategoriaOrigen"
                [valuePrimitive]="true"
                textField="nombreCategoriaOrigen"
                valueField="idCategoriaOrigen"
              ></kendo-multiselect>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>
                {{ "" }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="probabilidad" class="k-label">
                <span
                  >Probabilidad <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-multiselect
                #probabilidad
                formControlName="probabilidad"
                [data]="dataProbabilidadRegistro"
                [valuePrimitive]="true"
                textField="nombreProbabilidadRegistroPw"
                valueField="idProbabilidadRegistroPw"
              ></kendo-multiselect>
              <kendo-formhint></kendo-formhint>
              <kendo-formerror>
                {{ "" }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="fechaInicio" class="k-label"> Fecha Inicio: </label>

              <kendo-datepicker
                #fechaInicio
                formControlName="fechaInicio"
                format="yyyy-MM-dd"
              >
              </kendo-datepicker>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="fechaFin" class="k-label"> Fecha Fin: </label>

              <kendo-datepicker
                #fechaFin
                formControlName="fechaFin"
                format="yyyy-MM-dd"
              >
              </kendo-datepicker>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button kendoButton *ngIf="isNew" themeColor="primary" (click)="actualizarDatoRemarketing()">Guardar</button>

      <button kendoButton *ngIf="!isNew" themeColor="tertiary" (click)="actualizarDatoRemarketing()">
        Actualizar
      </button>

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
