.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 7px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -26;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.mostrar {
  width: min-content !important;
  z-index: 1500 !important;
  left: 280px !important;
  top: 8px !important;
}

.reiniciarTelefono {
  width: min-content !important;
  z-index: 1500 !important;
  left: 362px !important;
  top: 8px !important;
}
.colgarLlamada {
  width: min-content !important;
  z-index: 1500 !important;
  left: 280px !important;
  top: 8px !important;
}
.marcadorAutomatico {
  width: min-content !important;
  z-index: 1500 !important;
  left: 510px !important;
  top: 8px !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.IntegraSoftphoneKW {
  border: 4px solid;
  border-radius: 10px;
  border-color: #c9cdd6;
}

.k-window-titlebar .k-header {
  display: none;
}

.centralLegend {
  background: var(--mdc-theme-primary, #00a9f4);
  // padding-bottom: 4px;
  color: #fff;
}

.coneccionOk {
  font-size: 18px;
  color: #109010;
}

.coneccionDefault {
  font-size: 18px;
  color: #bd0e0e;
}

.switch-marcador .k-switch-on .k-switch-track {
  border-color: orange !important;
  color: white;
  background-color: orange !important;
}

.switch-marcador .k-switch-off .k-switch-track {
  border-color: grey;
  color: white;
  background-color: grey !important;
}

.iconoLlamada {
  font-size: 30px;
  background: #fff;
  padding: 0px 3px;
  border-radius: 5px;
  margin: 3px 1px;
}

/* Animación con keyframe llamada "latidos" */
@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: none;
  }
}
/* En la clase corazon vamos a llamar latidos en la animación  */
.reloj {
  display: inline-block;
  // font-size: 150px;
  // text-shadow: 0 0 10px #222, 1px 1px 0 #450505;
  // color: red;
  animation: latidos 0.5s infinite;
  transform-origin: center;
}

$primary: #1274ac;
// $secondary: #e51a5f;
$secondary: #757575;
$tertiary: #007f84;
$info: #0058e9;
$success: #278200;
$warning: #f5a600;
$error: #d51923;
// $light: #757575;
$light: #f8f9fa;
$body-text: #424242;
$body-bg: #ffffff;
$heading-text: #272727;
$subtle-text: #666666;
$disabled-text: #8f8f8f;
$component-text: #424242;
$component-bg: #ffffff;
$base-text: #424242;
$base-bg: #fafafa;
$hovered-text: #424242;
$hovered-bg: #ececec;
$selected-text: #ffffff;
$selected-bg: #1274ac;
$kendo-button-text: #424242;
$kendo-button-bg: #f5f5f5;
$kendo-flat-button-hover-opacity: 4%;
$kendo-flat-button-active-opacity: 6%;
$kendo-flat-button-selected-opacity: 8%;
$link-text: #1274ac;
$link-hover-text: #0f6190;
$kendo-input-clear-value-opacity: 80%;
$series-a: #1274ac;
$series-b: #ffe162;
$series-c: #4cd180;
$series-d: #0074e6;
$series-e: #9b4fe6;
$series-f: #ff80ac;
$scheduler-event-bg: #1274ac;
$scheduler-event-selected-bg: #0f6190;
$pager-number-text: #424242;
$pager-number-hover-bg: #ececec;
$pager-number-hover-text: #424242;
$pager-number-selected-bg: #1274ac;
$pager-number-selected-text: #ffffff;

// @import "~@progress/kendo-theme-material/dist/all.scss";
@import "~@progress/kendo-theme-default/dist/all.scss";
