<kendo-grid
  [kendoGridBinding]="gridCriterioEvaluacionDetalle.data"
  (remove)="gridCriterioEvaluacionDetalle.removeHandler($event)"
  (cancel)="gridCriterioEvaluacionDetalle.cancelHandler($event)"
  (save)="gridCriterioEvaluacionDetalle.saveHandler($event)"
  (edit)="gridCriterioEvaluacionDetalle.editHandler($event)"
  scrollable="none"
>
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100">
      <div class="col">
        <span style="font-size: 16px; font-weight: bold; color: #40406b"
          >Criterio: {{ detalleEsquemaAsignado.nombreCriterioEvaluacion }}</span
        >
      </div>
      <div class="col-auto mx-1 text-end pt-1 fw-bold" *ngIf="showDocentes">
        Docente:
      </div>
      <div class="col-auto mx-1" *ngIf="showDocentes">
        <kendo-dropdownlist
          class="d-flex"
          [formControl]="fcDocente"
          size="medium"
          [data]="comboDocentes"
          textField="nombre"
          valueField="id"
          [valuePrimitive]="true"
          [defaultItem]="{
            id: null,
            nombre: '<Seleccione>'
          }"
          [kendoDropDownFilter]="filterSettings"
          [style.width.px]="250"
          [popupSettings]="{ popupClass: 'pg-popup' }"
          class="pg-dropDown"
        >
        </kendo-dropdownlist>
      </div>
      <div class="col-auto">
        <div kendoTooltip class="col-auto p-0 mx-1">
          <button
            kendoButton
            (click)="generarItemDetalle()"
            icon="plus"
            themeColor="success"
            title="Agregar"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
  <kendo-grid-column
    field="nombre"
    title="Nombre"
    [width]="170"
    headerClass="justify-content-center pg-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="urlArchivoInstrucciones"
    title="Instrucciones"
    [width]="150"
    headerClass="justify-content-center pg-header-grid"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.urlArchivoInstrucciones }}
    </ng-template>
    <ng-template kendoGridEditTemplate let-formGroup="formGroup">
      <div class="w-100">
        <div class="col-12">
          <input
            class="form-control form-control-sm"
            type="file"
            (change)="onFileSelected($event, formGroup)"
          />
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-command-column
    title="Acciones"
    [width]="40"
    headerClass="justify-content-center pg-header-grid"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="row justify-content-center">
        <div kendoTooltip class="col-auto mx-1 p-0">
          <button
            kendoGridEditCommand
            themeColor="warning"
            [disabled]="gridCriterioEvaluacionDetalle.formGroup?.invalid"
            title="Editar"
            icon="pencil"
          ></button>
        </div>
        <div kendoTooltip class="col-auto mx-1 p-0">
          <button
            kendoGridRemoveCommand
            themeColor="error"
            icon="trash"
            title="Eliminar"
          ></button>
        </div>
        <div kendoTooltip class="col-auto mx-1 p-0">
          <button
            kendoGridSaveCommand
            themeColor="primary"
            [disabled]="gridCriterioEvaluacionDetalle.formGroup?.invalid"
            title="Guardar"
            icon="save"
          ></button>
        </div>
        <div kendoTooltip class="col-auto mx-1 p-0">
          <button
            kendoGridCancelCommand
            themeColor="secondary"
            icon="cancel"
            title="Cancelar"
          ></button>
        </div>
      </div>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
