.grid-reporte-llamada tr {
  padding: 0px;
}
.grid-reporte-llamada td {
  padding: 0px;
}
.k-pivotgrid-row-headers table.k-pivotgrid-table {
  table-layout: fixed;
}
.content-popup {
  color: black;
  width: 450px;
  // background-color: #999;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

#my-grid tr.gold {
  background-color: #ffffff;
}
#my-grid tr.green {
  background-color: #cccccc;
  font-weight:bold ;
}
#my-grid tr.blue {
  background-color: #ffffff;
}
#my-grid tr.red {
  background-color: #cccccc;
  font-weight:bold ;
}
#my-grid tr.orange {
  background-color: #ffffff;
}
#my-grid tr.brown {
  background-color: #cccccc;
  font-weight:bold ;
}


#my-grid2 tr.white {
  font-weight: bold;
}