.border-custom {
    border-color: #5287c0;
    border-width: 9px;
  }
  #tabsAgendaOperaciones .k-tabstrip-items-wrapper {
    background-color: #4fa4c0;
  }

  #tabsAgendaOperaciones .k-item {
    background: #4fa4c0;
    height: 40px;
    // border-color: red !important;
  }
  #tabsAgendaOperaciones .k-tabstrip-items .k-active {
    background-color: #2b89b3;
    // border-color: red !important;
    // border: none !important;
  }
  #tabsAgendaOperaciones .k-item .k-hover {
    background: #2b89b3 !important;
    // border-color: #4584a7;
  }
  // #tabsActividades .k-header {
  //   background-color: #4fa4c0;
  //   border: none !important;
  // }

  // #tabsActividades .k-tabstrip {
  //   background-color: #2b89b3;
  // }
  #tabsActividades .k-tabstrip-items-wrapper {
    background-color: #2b89b3 ;
    color: #fff;
  }
  #tabsActividades .k-content {
    // background-color: red  !important;
    padding: 15px !important;
  }

  #tabsActividades .k-item {
    background: #2b89b3;
    height: 40px;
    // border-color: red !important;
  }
  #tabsActividades .k-item:not(.k-active) :hover {
    background-color: #13a9da !important;
    // border-color: red !important;
  }
  #tabsActividades .k-tabstrip-items .k-active {
    background-color: #0f6190;
    border-bottom-color: #e8a817;
    border-bottom-width: 4px;
    // border-color: red !important;
    // border: none !important;
  }
  #tabsActividades .k-item .k-hover {
    background: #2b89b3 !important;
    // border-color: #4584a7;
  }

  .k-tabstrip-top > .k-content,
  .k-tabstrip-top > .k-tabstrip-content {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .k-tabstrip > .k-content {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0px;
    // padding-bottom: 0.92em;
  }
  // .k-tabstrip-items-wrapper .k-item:hover :not(.k-state-active){
  //   // color: #0f6190;
  //   background-color: #13a9da !important;
  // }

  .k-tabstrip-items .k-item .k-link {
    color: #fff;
  }

  .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: -1px;
  }

  .k-content:focus {
    outline-style: none !important;
  }
  tr.gold,
  tr.k-alt.gold {
    background-color: rgb(176, 230, 173);
  }
  tr.green,
  tr.k-alt.greem {
    background-color: white;
  }