.informacionProgramaContainer{
  background-color: #F7F8FA;
}
table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.mat-header-cell {
  background-color: #6EC5FF;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 24px;
}

td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
}

.mat-column-version{
  width: 15%;
}
.mat-column-beneficios{
  width: 40%;
}
.mat-column-precioContado{
  width: 20%;
}
.mat-column-precioCredito{
  width: 25%;
}

// mat-form-field.mat-form-field {
//   width: 70% !important;
// }
.mat-row:hover {
  background-color: #F3F3F3;
}
.mat-expansion-panel-header{
  background-color: #F3F3F3 !important;
}
.mat-expansion-panel-header-title{
  color: #4A4A49 !important;
  font-weight: bold !important;
}
.mat-expansion-panel{
  box-shadow: none !important;
  background-color: #F3F3F3 !important;
}

.mat-select-custom-style{
  width: fit-content;
}
:host ::ng-deep .mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body{
    padding: 24px !important;
    background-color: #F7F8FA !important;
}