<div class="contenedor">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-color-material pb-0">
                    <h2 class="text-white mb-2">Costo de créditos Tutor Virtual</h2>
                </div>
                <div class="card-body p-4">
                    <div class="col-12">
                        <kendo-grid kendoGrid [kendoGridBinding]="gridCostoCreditos.data$ | async"
                            [loading]="gridCostoCreditos.loading" (remove)="gridCostoCreditos.removeHandler($event)"
                            [resizable]="true" [pageable]="{
                buttonCount: 5,
                info: true,
                type: 'numeric',
                pageSizes:  true,
                previousNext: true,
                position: 'bottom'
              }" [skip]="0" [pageSize]="20" filterable="menu">
                            <ng-template kendoGridToolbarTemplate>
                                <button kendoButton icon="reload" fillMode="flat" themeColor="secondary"
                                    (click)="obtener()"></button>
                                <kendo-grid-spacer></kendo-grid-spacer>
                                <button kendoButton themeColor="primary" icon="plus"
                                    (click)="abrirModal(modalCostoCreditos)">
                                    Agregar
                                </button>
                            </ng-template>

                            <kendo-grid-column field="nombrePaquete" title="Nombre del Paquete" [width]="150"
                                headerClass="header-grid-integra">
                            </kendo-grid-column>

                            <kendo-grid-column field="cantidadCreditos" title="Cantidad de Créditos" [width]="120"
                                headerClass="header-grid-integra">
                            </kendo-grid-column>

                            <kendo-grid-column-group title="Costo Internacional" headerClass="header-grid-integra">
                                <kendo-grid-column field="costoInternacionalPaquete" title="Paquete" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoInternacionalPaquete }} USD
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="costoInternacionalIndividual" title="Individual" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoInternacionalIndividual }} USD
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid-column-group>

                            <kendo-grid-column-group title="Costo Perú" headerClass="header-grid-integra">
                                <kendo-grid-column field="costoPeruPaquete" title="Paquete" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoPeruPaquete }} PEN
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="costoPeruIndividual" title="Individual" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoPeruIndividual }} PEN
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid-column-group>

                            <kendo-grid-column-group title="Costo México" headerClass="header-grid-integra">
                                <kendo-grid-column field="costoMexicoPaquete" title="Paquete" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoMexicoPaquete }} MXN
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="costoMexicoIndividual" title="Individual" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoMexicoIndividual }} MXN
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid-column-group>

                            <kendo-grid-column-group title="Costo Chile" headerClass="header-grid-integra">
                                <kendo-grid-column field="costoChilePaquete" title="Paquete" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoChilePaquete }} CLP
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="costoChileIndividual" title="Individual" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoChileIndividual }} CLP
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid-column-group>

                            <kendo-grid-column-group title="Costo Colombia" headerClass="header-grid-integra">
                                <kendo-grid-column field="costoColombiaPaquete" title="Paquete" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoColombiaPaquete }} COP
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="costoColombiaIndividual" title="Individual" [width]="100"
                                    headerClass="header-grid-integra">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.costoColombiaIndividual }} COP
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid-column-group>

                            <kendo-grid-command-column title="Editar" [width]="100"
                                [headerClass]="'header-grid-integra'">
                                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                    <div class="w-100 d-flex justify-content-center">
                                        <button kendoButton themeColor="warning" fillMode="solid" rounded="large"
                                            size="large" class="p-2 me-1 ms-1" container="body"
                                            (click)="abrirModal(modalCostoCreditos, dataItem)" placement="top"
                                            ngbTooltip="Editar">
                                            <span class="k-icon k-i-edit k-icon-20"></span>
                                        </button>
                                        <button kendoGridRemoveCommand themeColor="error" fillMode="solid"
                                            rounded="large" size="large" class="p-2 me-1 ms-1" container="body"
                                            placement="top" ngbTooltip="Eliminar">
                                            <span class="k-icon k-i-delete k-icon-20"></span>
                                        </button>
                                    </div>
                                </ng-template>
                            </kendo-grid-command-column>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalCostoCreditos let-modal>
    <div class="modal-header">
        <h2 class="modal-title m-0 p-0" id="modal-basic-title">
            Costo de créditos Tutor Virtual: Configuración
        </h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body px-4">
        <form class="k-form" [formGroup]="formCostoCreditos">

            <!-- CONFIGURACIÓN BASE -->
            <h4 class="mt-2 mb-3 text-uppercase" style="color: #666;">Configuración Base</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Nombre del paquete:"></kendo-label>
                        <kendo-textbox formControlName="nombrePaquete"></kendo-textbox>
                        <kendo-formerror>El nombre del paquete es requerido.</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Cantidad de créditos:"></kendo-label>
                        <kendo-numerictextbox formControlName="cantidadCreditos" [min]="1" [format]="'n0'">
                        </kendo-numerictextbox>
                        <kendo-formerror>La cantidad de créditos es requerida.</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>

            <!-- Beneficios -->
            <div class="row mb-2">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 1 Internacional:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio1Internacional" [min]="0" [format]="'n2'"
                            suffix=" USD por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 2 Internacional:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio2Internacional" [min]="0" [format]="'n2'"
                            suffix=" USD por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 1 Perú:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio1Peru" [min]="0" [format]="'n2'"
                            suffix=" PEN por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 2 Perú:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio2Peru" [min]="0" [format]="'n2'"
                            suffix=" PEN por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 1 México:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio1Mexico" [min]="0" [format]="'n2'"
                            suffix=" MXN por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 2 México:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio2Mexico" [min]="0" [format]="'n2'"
                            suffix=" MXN por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 1 Chile:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio1Chile" [min]="0" [format]="'n2'"
                            suffix=" CLP por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 2 Chile:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio2Chile" [min]="0" [format]="'n2'"
                            suffix=" CLP por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 1 Colombia:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio1Colombia" [min]="0" [format]="'n2'"
                            suffix=" COP por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield>
                        <kendo-label text="Beneficio 2 Colombia:"></kendo-label>
                        <kendo-numerictextbox formControlName="beneficio2Colombia" [min]="0" [format]="'n2'"
                            suffix=" COP por crédito"></kendo-numerictextbox>
                    </kendo-formfield>
                </div>
            </div>

            <!-- CONFIGURACIÓN DE PRECIOS -->
            <h4 class="mt-4 mb-3 text-uppercase" style="color: #666;">Configuración de Precios</h4>

            <div class="row">
                <!-- Columna 1: Internacional, Perú, México -->
                <div class="col-md-6">
                    <!-- Internacional -->
                    <div class="mb-3 p-3">
                        <h5 class="mb-3" style="color: #495057;">Internacional (USD)</h5>
                        <kendo-formfield>
                            <kendo-label text="Costo individual:"></kendo-label>
                            <kendo-numerictextbox formControlName="costoInternacionalIndividual" [min]="0"
                                [format]="'n2'" suffix=" USD"></kendo-numerictextbox>
                            <kendo-formerror>El costo es requerido.</kendo-formerror>
                        </kendo-formfield>
                        <kendo-formfield class="mt-2">
                            <kendo-label text="Costo paquete (calculado):"></kendo-label>
                            <kendo-numerictextbox formControlName="costoInternacionalPaquete" [min]="0" [format]="'n2'"
                                suffix=" USD" [disabled]="true" [style.opacity]="0.6"></kendo-numerictextbox>
                        </kendo-formfield>
                    </div>

                    <!-- Perú -->
                    <div class="mb-3 p-3 border rounded" style="background-color: #f8f9fa;">
                        <h5 class="mb-3" style="color: #495057;">Perú (PEN)</h5>
                        <kendo-formfield>
                            <kendo-label text="Costo individual:"></kendo-label>
                            <kendo-numerictextbox formControlName="costoPeruIndividual" [min]="0" [format]="'n2'"
                                suffix=" PEN"></kendo-numerictextbox>
                            <kendo-formerror>El costo es requerido.</kendo-formerror>
                        </kendo-formfield>
                        <kendo-formfield class="mt-2">
                            <kendo-label text="Costo paquete (calculado):"></kendo-label>
                            <kendo-numerictextbox formControlName="costoPeruPaquete" [min]="0" [format]="'n2'"
                                suffix=" PEN" [disabled]="true" [style.opacity]="0.6"></kendo-numerictextbox>
                        </kendo-formfield>
                    </div>

                    <!-- México -->
                    <div class="mb-3 p-3 border rounded" style="background-color: #f8f9fa;">
                        <h5 class="mb-3" style="color: #495057;">México (MXN)</h5>
                        <kendo-formfield>
                            <kendo-label text="Costo individual:"></kendo-label>
                            <kendo-numerictextbox formControlName="costoMexicoIndividual" [min]="0" [format]="'n2'"
                                suffix=" MXN"></kendo-numerictextbox>
                            <kendo-formerror>El costo es requerido.</kendo-formerror>
                        </kendo-formfield>
                        <kendo-formfield class="mt-2">
                            <kendo-label text="Costo paquete (calculado):"></kendo-label>
                            <kendo-numerictextbox formControlName="costoMexicoPaquete" [min]="0" [format]="'n2'"
                                suffix=" MXN" [disabled]="true" [style.opacity]="0.6"></kendo-numerictextbox>
                        </kendo-formfield>
                    </div>
                </div>

                <!-- Columna 2: Chile, Colombia -->
                <div class="col-md-6">
                    <!-- Chile -->
                    <div class="mb-3 p-3 border rounded" style="background-color: #f8f9fa;">
                        <h5 class="mb-3" style="color: #495057;">Chile (CLP)</h5>
                        <kendo-formfield>
                            <kendo-label text="Costo individual:"></kendo-label>
                            <kendo-numerictextbox formControlName="costoChileIndividual" [min]="0" [format]="'n2'"
                                suffix=" CLP"></kendo-numerictextbox>
                            <kendo-formerror>El costo es requerido.</kendo-formerror>
                        </kendo-formfield>
                        <kendo-formfield class="mt-2">
                            <kendo-label text="Costo paquete (calculado):"></kendo-label>
                            <kendo-numerictextbox formControlName="costoChilePaquete" [min]="0" [format]="'n2'"
                                suffix=" CLP" [disabled]="true" [style.opacity]="0.6"></kendo-numerictextbox>
                        </kendo-formfield>
                    </div>

                    <!-- Colombia -->
                    <div class="mb-3 p-3 border rounded" style="background-color: #f8f9fa;">
                        <h5 class="mb-3" style="color: #495057;">Colombia (COP)</h5>
                        <kendo-formfield>
                            <kendo-label text="Costo individual:"></kendo-label>
                            <kendo-numerictextbox formControlName="costoColombiaIndividual" [min]="0" [format]="'n2'"
                                suffix=" COP"></kendo-numerictextbox>
                            <kendo-formerror>El costo es requerido.</kendo-formerror>
                        </kendo-formfield>
                        <kendo-formfield class="mt-2">
                            <kendo-label text="Costo paquete (calculado):"></kendo-label>
                            <kendo-numerictextbox formControlName="costoColombiaPaquete" [min]="0" [format]="'n2'"
                                suffix=" COP" [disabled]="true" [style.opacity]="0.6"></kendo-numerictextbox>
                        </kendo-formfield>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <div class="k-form-buttons m-0 justify-content-end">
            <button themeColor="primary" size="medium" icon="save" kendoButton
                (click)="isNew ? insertar() : actualizar()">
                {{ isNew ? 'Insertar' : 'Actualizar' }}
            </button>

            <button themeColor="error" size="medium" icon="close" kendoButton (click)="modal.dismiss('Cross click')">
                Cancelar
            </button>
        </div>
    </div>
    <loading [loading]="loaderModal"></loading>
</ng-template>