table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
}

.mat-header-cell {
    background-color: #6EC5FF;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-left: 24px;
}

td.mat-cell {
    padding: 0 15px !important;
    border-right: 1px solid lightgray !important;
    border-bottom: none !important;
}

.mat-row:hover {
    background-color: #F3F3F3;
}

.mat-column-nombre-documento{
    width: 25%;
}
.mat-column-descripcion{
    width: 30%;
}
.mat-column-pais{
    width: 20%;
}
.mat-column-acciones{
    width: 15%;
    text-align: center;
    padding: 0 !important;
}

.custom-icon-box{
    border-radius: 6px;
    width: 32px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: center;
}
