.titulo{
  width: 100%;
  background-color: #F0F0F0;
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
}
.titulo h3 {
  display: inline-block;
}

.plantillaC{
    width: 35%;
    padding-top: 20px;
}
.plantillaB{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorTotal{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.contenedor{
    position: relative;
    border: 2px solid #f0f0f0e9;
  }

  .titulo{
    width: 100%;
    background-color: #F0F0F0;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .titulo h3{
    font-size: 20px;
    margin-top: 10px;
  }

  .full-height-editor {
    height: 800px;
    min-height: 300px; /* Puedes ajustar esta altura mínima según tus necesidades */
  }

  .plantilla{
    border: 1px solid #f0f0f0e9;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
  }
  
  
  .registrar{
    border-radius: 20px;
    background-color: #094D82;
    width: 200px;
    height: 48px;
    color: white;
    margin-right: 20px;
  }

  .image-container {
    width: 200px; /* Tamaño predeterminado */
    height: 200px; /* Tamaño predeterminado */
    overflow: hidden;
  }
  
  .selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  