<div class="pg-contenedor-tab">
  <div class="row mt-3">
    <div class="col-12 pg-kgrid">
      <kendo-grid
        [kendoGridBinding]="gridProyectoAplicacion.data"
        (remove)="gridProyectoAplicacion.removeHandler($event)"
        (cancel)="gridProyectoAplicacion.cancelHandler($event)"
        (save)="gridProyectoAplicacion.saveHandler($event)"
        (add)="gridProyectoAplicacion.addHandler($event)"
        (cellClick)="gridProyectoAplicacion.cellClickHandler($event)"
        (cellClose)="gridProyectoAplicacion.cellCloseHandler($event)"
        scrollable="none"
      >
        <ng-template kendoGridToolbarTemplate>
          <h3 class="mb-0 w-auto text-center">
            Configuración Proyecto de Aplicación
          </h3>
          <kendo-grid-spacer></kendo-grid-spacer>
          <button kendoGridAddCommand icon="plus" themeColor="success">
            Agregar Configuración
          </button>
        </ng-template>
        <kendo-grid-column
          field="modalidades"
          title="Modalidad"
          [width]="150"
          headerClass="justify-content-center pg-header-grid"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <ng-container
              *ngIf="
                dataItem.modalidades != null && dataItem.modalidades.length > 0;
                else elseTemplateModalidad
              "
            >
              <ul *ngFor="let item of dataItem.modalidades">
                <li>
                  {{ obtenerNombreModalidad(item) ?? "" }}
                </li>
              </ul>
            </ng-container>
            <ng-template #elseTemplateModalidad>
              <div class="row">
                <div class="col-12 text-center">Seleccione las Modalidades</div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template kendoGridEditTemplate let-formGroup="formGroup">
            <kendo-multiselect
              [formControl]="formGroup.get('modalidades')"
              class="d-flex"
              size="medium"
              [data]="comboModalidades"
              textField="nombre"
              valueField="id"
              [valuePrimitive]="true"
              [kendoDropDownFilter]="filterSettings"
              [popupSettings]="{ popupClass: 'pg-popup' }"
              class="pg-dropDown"
            >
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="proveedores"
          title="Docentes"
          [width]="250"
          headerClass="justify-content-center pg-header-grid"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <ng-container
              *ngIf="
                dataItem.proveedores != null && dataItem.proveedores.length > 0;
                else elseTemplateProveedor
              "
            >
              <ul *ngFor="let item of dataItem.proveedores">
                <li>
                  {{ obtenerNombreProveedor(item) ?? "" }}
                </li>
              </ul>
            </ng-container>
            <ng-template #elseTemplateProveedor>
              <div class="row">
                <div class="col-12 text-center">Seleccione los Proveedores</div>
              </div>
            </ng-template>
          </ng-template>
          <ng-template kendoGridEditTemplate let-formGroup="formGroup">
            <kendo-multiselect
              [formControl]="formGroup.get('proveedores')"
              class="d-flex"
              size="medium"
              [data]="comboProveedor"
              textField="nombre"
              valueField="id"
              [valuePrimitive]="true"
              [kendoDropDownFilter]="filterSettings"
              [popupSettings]="{ popupClass: 'pg-popup' }"
              class="pg-dropDown"
            >
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Acciones"
          [width]="80"
          headerClass="justify-content-center pg-header-grid"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="row justify-content-center">
              <div kendoTooltip class="col-auto p-0 mx-1">
                <button
                  kendoGridRemoveCommand
                  themeColor="error"
                  icon="trash"
                  title="Eliminar"
                ></button>
              </div>
              <div kendoTooltip class="col-auto p-0 mx-1">
                <button
                  kendoGridSaveCommand
                  themeColor="primary"
                  icon="save"
                  title="Guardar"
                  [disabled]="gridProyectoAplicacion.formGroup?.invalid"
                ></button>
              </div>
              <div kendoTooltip class="col-auto p-0 mx-1">
                <button
                  kendoGridCancelCommand
                  themeColor="secondary"
                  icon="cancel"
                  title="Cancelar"
                ></button>
              </div>
            </div>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </div>
</div>
