.custom-progressbar .k-progressbar {
  color: #fff !important;
  background-color: #8E8D91 !important;
  height: 1.8rem !important;
  font-size: 1em !important;
}
.label-perfil{
  display: inline-block;
  font-size: inherit;
  // border: 2px solid #8E8D91;
  border-bottom: 2px solid #000000;
  // border-radius: 5px; 
  padding: 3px;
  margin-top: -42px !important;
  font-weight: bold; 
  background-color: rgb(255, 255, 255);
}
.label-modal{
  border-radius: 4px;
  width: 278px;
  height: 32px;
  background-color: #426878;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.div-semaforo {
  border: 1px solid #dfdfdf;
  padding: 10px;
  border-radius: 0.4rem;
  background-color: #fbfbfb;
  font-size: 14px;
  color: #5a79e1;
  width: 95%;
  display: block;
  float: left;
}
.txtEdad{
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: gray;
  border-radius: 0%,10%,0%,10%;
  background-color: white;
  margin-left: 38px;
  border-radius: 10px 10px 10px 10px;
  border: 1px ridge;
}

.custom-mx-21 {
  margin-right: 21rem !important;
  margin-left: 21rem !important;
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.semaforoDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 17px;
  color: white;
}