
<mat-expansion-panel
*ngIf="semaforoActivo"
  class="mt-2"
  [expanded]="true"
  (opened)="panelOpenState = true"
  (closed)="!panelOpenState = false"
>
  <mat-expansion-panel-header class="enuciadoHeader">
    <mat-panel-title> Semáforo financiero </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="row mx-3">
    <div class="col-8">
      <div class="row mt-4 semaforoDiv"
      [style.background-color]="cabeceraSemaforoFinanciero.color"
      >
        {{ cabeceraSemaforoFinanciero.mensaje }}
      </div>
    </div>
    <!-- <div class="txtEdad col-3 mt-4">
      {{
        edadClienteSentinel
      }}
    </div> -->
  </div>
  <div class="row">
    <div class="col-4">
      <ng-container
      *ngIf="gridCreditos?.data.length > 0; else elseTemplateCredito"
    >
      <table class="m-3" style="width:405px;border-spacing: 10px 5px;">
        <thead>
          <tr>
            <th class="text-center" style="height: 53px;border-radius: 12px 12px 0 0px; border-right: none;background-color: #0079FF; color:white" colspan="4">Tarjeta de crédito disponible</th>
          </tr>
        </thead>
        <tbody style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <tr>
            <td style="border-right: solid 1px #DEE2E6;"> <p style="margin-left:30px;margin-right:8px">Institución</p></td>
            <td style="border-right: solid 1px #DEE2E6;"><p style="margin-left:15px;margin-right:15px">L.O</p></td>
            <td style="border-right: solid 1px #DEE2E6;"><p style="margin-left:15px;margin-right:15px">L.U</p></td>
            <td ><p style="margin-left:15px;margin-right:15px">L.D</p></td>
          </tr>
          <tr *ngFor="let item of gridCreditos?.data">
            <td style="margin-left: 10px !important;border-right: solid 1px #DEE2E6;"><p style="margin-left:30px;margin-right:8px">{{ item.cnsEntNomRazLn }}</p></td>
            <td  style="border-right: solid 1px #DEE2E6;"><p style="margin-left:15px;margin-right:15px">{{ item.lineaCredito }}</p></td>
            <td  style="border-right: solid 1px #DEE2E6;"><p style="margin-left:15px;margin-right:15px">{{ item.lineaUtil }}</p></td>
            <td ><p style="margin-left:15px">{{ item.lineaCreditoNoUtil }}</p></td>
          </tr>
        </tbody>
      </table>
      </ng-container>
      <ng-template #elseTemplateCredito>
        <div class="col-12 mt-3">
          <span class="my-2 div-semaforo d-flex justify-content-between">
            <span>Sin tarjetas de credito</span>
            <fa-icon
              [icon]="['fas', 'times-circle']"
              style="color: #bd425f"
              class="fa-lg"
            ></fa-icon>
          </span>
        </div>
      </ng-template>
    </div>
    <div class="col-4">
      <ng-container
            *ngIf="gridDeudas?.data.length > 0; else elseTemplateDeudas"
          >
      <table class="m-3" style="width:370px">
        <thead>
          <tr>
            <th class="text-center" style="height: 53px;border-radius: 12px 12px 0 0px; border-right: none;background-color: #11C744; color:white" colspan="4">Crédito vigente</th>
          </tr>
        </thead>
        <tbody style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <tr>
            <td style="border-right: solid 1px #DEE2E6;"><p style="margin-left:30px">Institución</p></td>
            <td ><p style="margin-left:15px;margin-right:15px">Monto</p></td>
          </tr>
          <tr *ngFor="let item of gridDeudas?.data">
            <td style="border-right: solid 1px #DEE2E6;"><p style="margin-left:30px;margin-right:8px">{{ item.nombreRazonSocial }}</p></td>
            <td><p style="margin-left:15px;margin-right:15px">{{ item.montoDeuda }}</p></td>
          </tr>
        </tbody>
      </table>
      </ng-container>
      <ng-template #elseTemplateDeudas>
        <div class="col-12 mt-3">
          <span class="my-2 div-semaforo d-flex justify-content-between">
            <span>Sin deudas vigentes</span>
            <fa-icon
              [icon]="['fas', 'check-circle']"
              style="color: #04ff00"
              class="fa-lg"
            ></fa-icon>
          </span>
        </div>
      </ng-template>
    </div>
    <div class="col-4">
      <ng-container
            *ngIf="
              gridDeudasVencidas?.data.length > 0;
              else elseTemplateDeudasVencidas
            "
          >
    <table class="m-3" style="width:405px">
      <thead>
        <tr>
          <th class="text-center" style="height: 53px;border-radius: 12px 12px 0 0px; border-right: none;background-color: #FF6113; color:white" colspan="4">Deudas Vencidas</th>
        </tr>
      </thead>
      <tbody style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <tr>
          <td style="border-right: solid 1px #DEE2E6;"><p style="margin-left:30px">Institución</p></td>
          <td  class="text-center" style="border-right: solid 1px #DEE2E6;">Monto</td>
          <td class="text-center">D. V.</td>
        </tr>
        <tr *ngFor="let item of gridDeudas?.data">
          <td style="border-right: solid 1px #DEE2E6;"><p style="margin-left:30px">{{ item.nombreRazonSocial }}</p></td>
          <td class="text-center" style="border-right: solid 1px #DEE2E6;">{{ item.montoDeuda }}</td>
          <td class="text-center" >{{ item.diasVencidos }}</td>
        </tr>
      </tbody>
    </table>
</ng-container>
<ng-template #elseTemplateDeudasVencidas>
  <div class="col-12 mt-3">
    <span class="my-2 div-semaforo d-flex justify-content-between">
      <span>Sin deudas vencidas</span>
      <fa-icon
        [icon]="['fas', 'check-circle']"
        style="color: #04ff00"
        class="fa-lg"
      ></fa-icon>
    </span>
  </div>
</ng-template>
    </div>
  </div>
  <div class="row mt-4 custom-mx-21" style="background-color: #6EC5FF36;">
     <div class="col"><strong>L.O.</strong>: Línea Otorgada</div>
     <div class="col"><strong>L.U.</strong>: Línea Utilizada</div>
     <div class="col"><strong>L.D.</strong>: Línea Disponible</div>
  </div>

</mat-expansion-panel> 