<div class="row p-2 bg-color-material text-white">
  Registro de Respuestas
</div>
<div class="row">
  <kendo-grid
    [kendoGridBinding]="gridContentChild.data"
    [loading]="isLoading"
    [selectable]="true"
  >
    <kendo-grid-column
      field="respuestaCorrecta"
      title="Respuesta Correcta"
      [width]="140"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="text-center py-2">
          <ng-container
            *ngIf="dataItem.respuestaCorrecta; else respuestaIncorrecta"
          >
            SI
          </ng-container>
          <ng-template #respuestaIncorrecta> NO </ng-template>
        </p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="nroOrdenRespuesta"
      title="N.O.R"
      [headerClass]="'justify-content-center'"
      [width]="60"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="text-center py-2">
          {{ dataItem.nroOrdenRespuesta }}
        </p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="nroOrden"
      title="N.O.V"
      [headerClass]="'justify-content-center'"
      [width]="60"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="text-center py-2">
          {{ dataItem.nroOrden }}
        </p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="enunciadoRespuesta"
      title="Enunciado Respuesta"
      [headerClass]="'justify-content-center'"
      [width]="155"
    >
    <ng-template kendoGridCellTemplate let-dataItem>
      <p class="text-justify py-2">
        <ng-container
          *ngIf="dataItem.enunciadoRespuesta != null; else sinEnunciadoRespuesta"
        >
          {{ dataItem.enunciadoRespuesta }}
        </ng-container>
        <ng-template #sinEnunciadoRespuesta></ng-template>
      </p>
    </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="puntaje"
      title="Puntaje Respuesta"
      [headerClass]="'justify-content-center'"
      [width]="130"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="text-center py-2">
          {{ dataItem.puntaje }}
        </p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="feedbackPositivo"
      title="M.P.F.R"
      [headerClass]="'justify-content-center'"
      [width]="155"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="text-justify py-2">
          {{ dataItem.feedbackPositivo }}
        </p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="feedbackNegativo"
      title="M.N.F.R"
      [headerClass]="'justify-content-center'"
      [width]="155"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <p class="text-justify py-2">
          {{ dataItem.feedbackNegativo }}
        </p>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
