
$pg_oscuro: #3D1A64;
// $pg_oscuro: #180a27;
// $pg_principal: #7c4499;
// $pg_principal: #106AAC;
$pg_principal: #146dae;
// $pg_principal: #704895;
// $pg_principal: #4d1b7b;
$pg_secundario: #2580c3;
// $pg_secundario: #9a65c0;
// $pg_secundario: #8F54B9;
// $pg_media: #9473ab;
// $pg_media: #673888;
$pg_media: #428abe;

$pg_claro: #94C1FD;
// $pg_claro: #d7bae3;
// $pg_claro: #c79dd7;
// $pg_kgheader: #6f6f6f;
// $pg_kgheader: #428abe;
$pg_kgheader: #505050;
// $pg_kgheader: #5268b2;
// $pg_kgtoolbar: #8E8E8D;
$pg_kgtoolbar:#cbcbcb;
$pg_kgtoolbar2: #5f5f5f;

// $pg_mheader: #713faa;
$pg_mheader: #3462ad;
$pg_cardheader: #3462ad;
// $pg_mheader: #0C4168;

// $s: #007777;
// $c: #4d1b7b;
// $c: #f0f158;
// $c: #180a27;
// $c: #7c4499;
// $c: #a366b9;
// $c: #c58ad1;
// $c: #3b154e;
// $c: #290f3b;
// $c: #180a27;
