@import "./pg-variables.scss";

.modal-xxl {
  max-width: 1250px !important;
}

.modal-xxl .modal-dialog {
  max-width: 1200px !important;
  max-width: 90%;
}

.pg-kgrid {
  kendo-grid-toolbar {
    // color: #fff;
    font-weight: 500;
    // font-size: 1em;
    background: $pg_kgtoolbar;
  }
}
.pg-kgrid2 {
  kendo-grid-toolbar {
    // color: #000;
    font-weight: 500;
    // font-size: 15px;
    background: $pg_kgtoolbar;
  }
}

.pg-header-grid {
  color: #fff;
  background-color: $pg_kgheader !important;
  text-align: center !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;

  .pg-header-grid .k-grid-filter {
    color: #fff !important;
  }

  .pg-header-grid .k-grid-filter:hover {
    background-color: #ebebeb !important;
    color: $pg_kgheader !important;
  }

  .k-grid-filter-menu {
    color: #fff !important;
  }

  .k-grid-filter-menu:hover {
    background-color: #ebebeb !important;
    color: $pg_kgheader !important;
  }

  .k-i-sort-asc-sm,
  .k-grid-header .k-i-sort-desc-sm,
  .k-grid-header .k-sort-order {
    color: white !important;
  }

  // .k-selected {

  // }
  .k-grid td.k-selected,
  .k-grid tr.k-selected>td {
    background-color: rgb(27 41 150 / 25%);
  }
}


.ktt-datosPgeneral {
  .k-tabstrip-items-wrapper {
    background-color: $pg_secundario;
    color: #fff;
  }

  .k-tabstrip-top>.k-tabstrip-items-wrapper .k-item.k-active {
    background-color: $pg_principal;
    border-bottom-color: #fff;
    font-weight: 500 !important;
    border-bottom-width: 5px;
    color: #fff;
  }

  .k-tabstrip-scrollable>.k-tabstrip-items-wrapper>.k-button .k-button-icon {
    color: #fff !important;
  }

  .k-tabstrip-items .k-state-active {
    background-color: $pg_principal;
    color: #fff;
  }

  .k-item {
    background: $pg_secundario;
    height: 60px;
    color: #fff
  }

  .k-item .k-state-hover {
    background: $pg_media !important;
  }

  .k-item:hover,
  .k-tabstrip-items-wrapper .k-item.k-hover {
    color: #fff;
    background-color: $pg_media;
  }
}

.pg-popup {
  .k-list-item.k-selected {
    background-color: $pg_principal !important
  }

  .k-list-item.k-selected:hover {
    background-color: $pg_media !important
  }

  .k-list-optionlabel.k-selected {
    background-color: $pg_principal !important
  }

  .k-list-optionlabel.k-selected:hover {
    background-color: $pg_media !important
  }
}
.pg-popup-success {
  .k-list-item.k-selected {
    background-color: #198754 !important
  }

  .k-list-item.k-selected:hover {
    background-color: (25,135,84, 0.5) !important
  }

  .k-list-optionlabel.k-selected {
    background-color: #198754 !important
  }

  .k-list-optionlabel.k-selected:hover {
    background-color: (25,135,84, 0.5) !important
  }
}

.pg-dropDown {
  border-color: #c1c1c1;
  // background: #fff !important;
  // button {
  //   color: #fff !important;
  //   background: $pg_principal !important;
  // }
  .k-chip-action {
    color: $pg_media;
  }
}
.pg-dropDown-success {
  border-color: #198754;
  background: #fff !important;
  button {
    color: #fff !important;
    background: #198754 !important;
  }
  .k-chip-action {
    color: (25,135,84, 0.5);
  } 
}

.pg-kinpunt {
  border: 1.5px solid #c1c1c1;
  // border: 1.5px solid $pg_principal;
}

// .k-datepicker .k-state-selected {
//   background-color: #ff0000 !important;
//   /* Cambia el color de fondo del día seleccionado */
//   color: #ffffff !important;
//   /* Cambia el color del texto del día seleccionado */
// }

.pg-checkbox {
  .mat-checkbox-checked {
    .mat-checkbox-background {
      background: $pg_principal !important;
    }
  }
}

.pg-modal-header {
  background: #fff;
  // color: $pg_mheader;
}

.pg-card-header {
  color: #fff;
  background: $pg_cardheader;
}
.pg-popupCalendar {
  // .k-selected{
  //   background: $pg_principal !important;
  // }
  .k-today {
    color: $pg_principal !important;
  }

  .k-calendar-td.k-selected .k-calendar-cell-inner {
    background: $pg_principal !important;
  }

  k-range-end {
    .k-calendar-cell-inner {
      background: $pg_principal !important;
      // background-color: $calendar-cell-selected-bg;
    }
  }
}


.pg-sweetAlert-popup-30{
  width: 30 !important;
}
.pg-sweetAlert-popup-32{
  width: 32 !important;
}
.pg-sweetAlert-popup-25{
  width: 25em !important;
}
.pg-sweetAlert-popup-20{
  width: 25em !important;
}
.pg-sweetAlert-title{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.pg-sweetAlert-htmlContainer{
  padding: 0px !important;
  margin-top: 0px !important;
}
.pg-sweetAlert-icon{
  height: 3em;
  width: 3em;
  margin-top: 1em !important;
}
.pg-sweetAlert-actions{
  margin: 0px !important;
}

.pg-contenedor-tab {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
}

.pg-bg-disabled {
  background-color: #f0f0f0;
}