$whithFormFieldLabel: 40%;
$whithFormField: 50%;

.k-form-horizontal .k-form-field > kendo-label {
  width: $whithFormFieldLabel !important;
  // content: '*' !important;
	// color: red;
}

.text-valid-success{
  color: #33AD00 !important;
}

.btn-close:focus {
  // box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  box-shadow: none !important;
}

.k-form-horizontal .k-form-field > .k-label {
  width: $whithFormFieldLabel !important;
}

.k-form-horizontal .k-form-field-wrap {
  max-width: calc( ( 100% - $whithFormField ) - 10px ) !important;
}

// .k-form-horizontal .k-form-field-wrap {
//   max-width: calc( ( 100% - 50% ) - 10px );
//   flex: 1 1 auto;
// }

// .k-form .k-form-field{
//   width: 100%;
// }

// .k-form-horizontal .k-form-field-wrap {
//   max-width: calc( ( 100% - 50% ) - 10px );
//   flex: 1 1 auto;
// }



// kendo-label :after {
// 	content: '*' !important;
// 	color: red;
// }

// .k-form-horizontal .k-form-field > kendo-label ::after {
//   font-weight: bold;
//   color: navy;
//   content: "*";
// }

// .k-form-horizontal .k-form-field{
//  color: red !important;
// }

// .k-form-horizontal .k-form-field ::after{
//   content: "*";
//  }
// .k-form-horizontal .k-form-field > kendo-label ::after {
//   content: "*";
// }

// .k-form .k-label ::after {
//   content: "*";
// }

// .label-required ::first-letter{
//    color: red;
// }



// .k-form .k-label, .k-form kendo-label, .k-form .k-form-label {
//   color: red !important;
// }


.k-i-loading-c {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #3f51b5;
}


