<!-- <div class="k-i-loakding-c"></div> -->


<ng-template #modalRecordAreaComerical let-modal>

  <app-loader *ngIf="loaderModal"></app-loader>

  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title ">
      {{ isNew ? 'Registrar Record de Area Comercial'  : 'Modificar Record de Area Comercial'}}
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">

    <form
      class="k-form k-form-horizontal"
      [formGroup]="formRecordAreaComercial"
    >
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <!-- <kendo-label
              [for]="nombre"
              text="Nombre de Record*"
              class=""
            >
              <kendo-label-messages optional="*"></kendo-label-messages>
            </kendo-label> -->
            <label [for]="nombre" class="k-label">
              <span>Nombre de Record <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-textbox
              #nombre
              size="medium"
              placeholder="Nombre de Record"
              formControlName="nombre"
              [showSuccessIcon]="getShowSuccessIcon('nombre')"
              [successIcon]="successIcon"
              showErrorIcon="initial"
              inputValidSpaceDir
            >
            </kendo-textbox>
            <kendo-formerror> {{ getErrorMessage("nombre") }} </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="monto" class="k-label">
              <span>Monto de Record <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-numerictextbox
              #monto
              size="medium"
              format="n"
              placeholder="Monto de Record"
              formControlName="monto"

              showErrorIcon="initial"
            >
            </kendo-numerictextbox>
            <kendo-formerror> {{ getErrorMessage("monto") }} </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="monedaRecord" class="k-label">
              <span>Moneda de record <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-dropdownlist
              #monedaRecord
              formControlName="idMonedaRecord"
              class="d-flex"
              size="medium"
              [data]="comboInicial.monedas"
              [defaultItem]="{ codigo: 'Seleccione una Moneda...', id: null}"
              textField="codigo"
              valueField="id"
              [valuePrimitive]="true"

            >
            </kendo-dropdownlist>
            <kendo-formerror> {{ getErrorMessage("idMonedaRecord") }} </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="unidadMontoRecord" class="k-label">
              <span>Visualización de Monto Record <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-dropdownlist
              #unidadMontoRecord
              formControlName="idTableroComercialUnidad"
              class="d-flex"
              size="medium"
              [data]="comboInicial.unidades"
              [defaultItem]="{ nombre: 'Seleccione una Unidad...', id: null}"
              textField="nombre"
              valueField="id"
              [valuePrimitive]="true"
            >
            </kendo-dropdownlist>
            <kendo-formerror> {{ getErrorMessage("idTableroComercialUnidad") }} </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="bono" class="k-label">
              <span>Bono <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-numerictextbox
              #bono
              formControlName="bono"
              size="medium"
              format="n"
              placeholder="Monto de Bono"
            >
            </kendo-numerictextbox>
            <kendo-formerror> {{ getErrorMessage("bono") }} </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="monedaBono" class="k-label">
              <span>Moneda de Bono <span class="text-danger fw-bold">*</span></span>
            </label>
            <kendo-dropdownlist
              #monedaBono
              formControlName="idMonedaBono"
              class="d-flex"
              size="medium"
              [data]="comboInicial.monedas"
              [defaultItem]="{ codigo: 'Seleccione una Moneda...', id: null}"
              textField="codigo"
              valueField="id"
              [valuePrimitive]="true"
            >
            </kendo-dropdownlist>
            <kendo-formerror> {{ getErrorMessage("idMonedaBono") }} </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 checkbox-align-center">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              [for]="visualizarMonedaLocal"
              text="Visualizar Monto de Bono según Moneda local"
            ></kendo-label>
            <div class="h-100 d-flex align-items-center">
              <input
                #visualizarMonedaLocal
                formControlName="visualizarMonedaLocal"
                type="checkbox"
                size="medium"
                rounded="medium"
                kendoCheckBox
              />
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal" class="pruebaj">
            <kendo-label [for]="esVigente" text="Record Vigente"></kendo-label>
            <div class="h-100 d-flex align-items-center">
              <input
                #esVigente
                formControlName="esVigente"
                type="checkbox"
                size="medium"
                rounded="medium"
                kendoCheckBox
              />
            </div>
          </kendo-formfield>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        *ngIf="isNew"
        themeColor="primary"
        (click)="guardarRecordAreaComercial()"
      >
        Guardar
      </button>
      <button
        kendoButton
        *ngIf="!isNew"
        themeColor="tertiary"
        (click)="actualizarRecordAreaComercial()"
      >
        Actualizar
      </button>

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>

<div class="">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">(M) Records del área comercial</h3>
        </div>
        <div class="card-body p-4">
          <div class="col" style="text-align: center">
            <ng-template
              #cellTemplateRecordAreaComercial
              let-dataItem="dataItem"
              let-field="field"
              let-itemValue="itemValue"
            >
              <ng-container [ngSwitch]="field">
                <ng-container *ngSwitchCase="'visualizarMonedaLocal'">
                  <fa-icon *ngIf="!itemValue" [icon]="['far', 'times-circle']" class="fa-lg fs-5 fw-bold text-muted"></fa-icon>
                  <fa-icon *ngIf="itemValue" [icon]="['fas', 'check-circle']" class="fa-lg fs-5 fw-bold text-primary"></fa-icon>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{ itemValue }}
                </ng-container>
              </ng-container>
              <!-- <ng-template #cetGridATabDefault>
                              <kendo-textbox
                              [clearButton]="true"
                              [formControl]="formGroup.get(column.field)"
                              ></kendo-textbox>
                          </ng-template> -->
            </ng-template>

            <k-grid-edit
              [gridData]="listaRecordAreaComercial"
              [formGroup]="formRecordAreaComercial"
              [loader]="loaderGrid"
              [columns]="gridRecordAreaComercial.columns"
              [commands]="gridRecordAreaComercial.commands"
              [readOnlyColumns]="gridRecordAreaComercial.readOnlyColumns"
              [gridConfig]="gridRecordAreaComercial.gridConfig"
              [gridState]="gridRecordAreaComercial.gridState"
              [commandAdd]="'external'"
              [commandEdit]="'external'"
              [cellTemplateRef]="cellTemplateRecordAreaComercial"
              (OnGridEvents)="gridEventsRecordAreaComercial($event)"
            >
            </k-grid-edit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
