.k-grid-header {
  text-align: center;
}

.append-container {
  position: relative;
  width: 400px;
  border: 1px solid #ccc;
  height: 250px;
  margin-bottom: 15px;
}

.notification-container {
  width: 100%;
  height: 180px;
  border: 1px solid #ddd;
  margin-bottom: 25px;
}

.k-grid .k-toolbar {
  background-color: #3343a4 !important;
}
