label{
    margin-right: 20px;
}

.cont{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.input{
    align-items: right;
}

.cont label{
    width: 50%;
}

.rgt{
    display: right;
    width: 50%;
    align-items: right;
}

.ctn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}