<ng-container>
  <fieldset class="k-form-fieldset">
    <div class="row">
      <div class="col-sm-12 col-md-12 cont">
        
        <label class="k-label">{{ nombreEstilo }}</label>
        <div class="ctn">
          <div  *ngIf="tipo == 'magnitud'" >
        <ng-container  class="rgt" >
          <input  
          min="1"
          max="48"
          placeholder="15"
          type="number"
          (input)="onChange.emit(valor+'px')"
          [(ngModel)]="valor"        
        /> px

        <!-- <kendo-numerictextbox
        [style.width.px]="170"
        [autoCorrect]="autoCorrect"
        [(ngModel)]="valor"
        [decimals]="0"
        [min]="min"
        [max]="max"
        [value]="valor" 
        (valueChange)="onChange.emit(valor+'px')"
      ></kendo-numerictextbox> px -->
        </ng-container>
        </div>
        <div class="ctn" *ngIf="tipo == 'color'">
        <input
          
          type="color"
          (input)="onChange.emit(valor)"
          [(ngModel)]="valor"
        />
      </div>
      <div class="ctn" *ngIf="tipo == 'normal'">
        <input
         
          type="text"
          (input)="onChange.emit(valor)"
          [(ngModel)]="valor"
        />
        </div>
          <div class="ctn" *ngIf="tipo == 'fuente'">
        <select
          
          (change)="onChange.emit(valor)"
          placeholder="Seleccione una Fuente"
          [(ngModel)]="valor"
        >
          <option value="">Seleccione una fuente</option>
          <option *ngFor="let item of fuente" [value]="item.nombreArchivo">
            {{ item.nombreArchivo }}
          </option>
        </select>
        </div>

        <div class="ctn" *ngIf="tipo == 'weight'">
          <select
            
            (change)="onChange.emit(valor)"
            placeholder="Seleccione un grosor de fuente"
            [(ngModel)]="valor"
          >
            <option value="">Seleccione un grosor</option>
            <option *ngFor="let item of tipoWeight" [value]="item.nombre">
              {{ item.nombre }}
            </option>
          </select>
          </div>
        <button mat-icon-button  (click)="close.emit()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      </div>

    </div>
  </fieldset>
</ng-container>
