.segundaConsulta{
    color: white !important;
    background-color: #ff8800 !important;
    border-color: #ff8800 !important;
    border-radius: 0.7rem;
    width: 40%;
    font-weight: bold;
    height: 55%;
    margin-left: 15px;
    height: calc(2.25rem + 2px);
}
.success{
    height: 55%;
    margin-left: 15px;
    width: 40%;
    height: calc(2.25rem + 2px);
}
#sentinelHelp{
    font-size: 13px;
    margin-top: 0px;
    text-align: justify;
    display: block;
}
#verDetalleSentinel{
    font-size: 13px;
}
#SpeechInputCel1{
    height: calc(2.25rem + 2px);
}
.bgInputIA{
    background: #e5e5e5 !important;
}

.bgPerfil{
    color: black;
    font-weight: 450;
}