body {
    font-size: 13px;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Segoe UI', Arial, Helvetica, Verdana, sans-serif;
}

.color0, .k-alt.color0 {
    background-color: #ced;
}

.color1, .k-alt.color1 {
    background-color: #fdd;
}

.color2, .k-alt.color2 {
    background-color: #fda;
}

.color3, .k-alt.color3 {
    background-color: #E7A9FE;
}

.color4, .k-alt.color4 {
    background-color: #2FAACE;
}

.color5, .k-alt.color5 {
    background-color: #72FE95;
}

.color6, .k-alt.color6 {
    background-color: #FAFBDF;
}

.color7, .k-alt.color7 {
    background-color: #FF8A8A;
}

.color8, .k-alt.color8 {
    background-color: #F4D2F4;
}

.color9, .k-alt.color9 {
    background-color: #9999FF;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.panel {
    margin-bottom: 23px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #3c96b5;
    border-color: #3c96b5;
}

.panel-footer {
    border-top: none;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-body {
    padding: 15px;
}

/*.panel-body:before, .panel-body:after {
    display: table;
    content: " ";
}*/

div.panel-button button {
    position: absolute;
    right: 42px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.2em;
}

.nav > li > a {
    position: relative;
    /*display: block;*/
    padding: 10px 15px;
}

.nav-tabs > li > a.active {
    color: #007bff;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs .nav-link.active {
    color: #007bff;
}

.btn {
    text-transform: uppercase;
}

.btn-default {
    background: #dbdbdb;
    border-color: black;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

a {
    color: white;
}

.btn-link {
    color: white;
}

.modal-title {
    color: #ffffff;
}


.modal-title {
    margin: 0;
    line-height: 2;
}

.modal-content {
    width: inherit;
}

.close {
    font-size: 34px;
    font-weight: 300;
    line-height: 25px;
}

.k-grid-content tr td {
    border-left-width: 1px;
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td {
    border-color: inherit;
}

.control-label {
    text-align: right;
}

.tabpanel {
    margin-left: 13px;
}

.col-sm-6 {
    float: left;
}

.modal-footer {
    padding: 15px;
    /* text-align: right; */
    /* border-top: 1px solid transparent; */
    background-color: white;
    border-color: #dddddd;
    width: inherit;
}

/*.modal-new*/
.modal-header {
    /*background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);*/
    /*background-color: #2b89b3;*/
    line-height: 0;
    text-align: center;
    font-size: large;
}

.close {
    color: white;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    font-size: 19.5px;
    line-height: inherit;
    color: #212121;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.col-xs-12 {
    width: 100%
}

.form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
}

.panel-default > .panel-heading {
    color: #212121;
    background-color: #dddddd;
    border-color: #dddddd;
}

.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-6 {
    width: 50%;
}



.col-sm-5 {
    flex: 0 0 45.666667%;
    max-width: 47.666667%;
}

.col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 56.333333%;
    max-width: 56.333333%;
}

.hidden {
    visibility: hidden;
    display: none !important;
}
/*new*/
.label-text {
    font-weight: bold;
    font-size: 15px;
}

/*////////////////*/
.k-animation-container, .k-animation-container *, .k-animation-container :after, .k-block .k-header,
.k-dialog .k-window-content, .k-list-container, .k-widget, .k-widget *, .k-widget :before {
    /*box-sizing: content-box;*/
    box-sizing: border-box;
}



.text-label {
    list-style: none;
    padding-bottom: 1em;
    margin: 0 0 -1em;
    padding: 0;
}


.k-widget.k-tabstrip {
    background-color: #2b89b3;
}


/*grid*/

#grid .k-grid-filter.k-state-active {
    /*background-color: transparent;*/
    background-color: black;
}

#grid .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#grid .k-item {
    background: #2b89b3;
}

#grid .k-tabstrip > .k-content {
    padding: .92em;
}

#grid .k-grid-content > table > tbody > tr {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

#grid .k-grid-header .k-header {
    color: #fff;
    background-color: #4584a7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#grid .k-item.k-state-hover {
    border-color: #e8a817;
}

#grid .k-header {
    background-color: #2b89b3;
}

#grid .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#grid .k-item {
    background: #2b89b3;
}

#grid .k-tabstrip > .k-content {
    padding: .92em;
}


#grid .k-item.k-state-hover {
    border-color: #e8a817;
}

.k-tabstrip-items k-reset {
    background-color: #2b89b3;
}

/*tab */

.k-grid-header .k-header .k-link, .k-grid-header .k-link, .k-grid-header .k-link:link {
    color: #fff;
}

/*.k-tabstrip-items .k-item*/


#tabStripFiltroSegmento .k-item {
    background: #2b89b3;
}

#tabStripFiltroSegmento .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#grid .k-grid-filter.k-state-active {
    /*background-color: transparent;*/
    background-color: #4584a7;
}

.alert-message {
    color: #f30f0f;
    font-weight: bold;
    font-size: 12px
}



/*resultado filtro*/
#tabstripFiltroSegmentoEjecutado .k-item {
    background: #2b89b3;
}

#tabstripFiltroSegmentoEjecutado .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}


/*grid resultaod filtro*/
#gridListaSegmentoWhatsApp .k-grid-filter.k-state-active,
#gridListaSegmentoWhatsApp .k-grid-filter.k-state-active,
#gridListaSegmentoMailing .k-grid-filter.k-state-active {
    /*background-color: transparent;*/
    background-color: #4584a7;
}

#gridListaSegmentoWhatsApp .k-tabstrip-items .k-state-active,
#gridListaSegmentoWhatsApp .k-tabstrip-items .k-state-active,
#gridListaSegmentoMailing .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

/*#gridListaSegmentoWhatsApp .k-item,
#gridListaSegmentoWhatsApp .k-item,
#gridListaSegmentoMailing .k-item {
    background: #2b89b3;
}*/

#gridListaSegmentoWhatsApp .k-tabstrip > .k-content,
#gridListaSegmentoWhatsApp .k-tabstrip > .k-content,
#gridListaSegmentoMailing .k-tabstrip > .k-content {
    padding: .92em;
}

#gridListaSegmentoWhatsApp .k-grid-content > table > tbody > tr,
#gridListaSegmentoWhatsApp .k-grid-content > table > tbody > tr,
#gridListaSegmentoMailing .k-grid-content > table > tbody > tr {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

#gridListaSegmentoWhatsApp .k-grid-header .k-header,
#gridListaSegmentoWhatsApp .k-grid-header .k-header,
#gridListaSegmentoMailing .k-grid-header .k-header {
    color: #fff;
    background-color: #4584a7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gridListaSegmentoWhatsApp .k-item.k-state-hover,
#gridListaSegmentoWhatsApp .k-item.k-state-hover,
#gridListaSegmentoMailing .k-item.k-state-hover {
    border-color: #e8a817;
}

#gridListaSegmentoWhatsApp .k-header,
#gridListaSegmentoMailing .k-header {
    background-color: #2b89b3;
}

#gridListaSegmentoWhatsApp .k-tabstrip-items .k-state-active,
#gridListaSegmentoMailing .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

/*#gridListaSegmentoWhatsApp .k-item,
#gridListaSegmentoMailing .k-item {
    background: #2b89b3;
}*/

#gridListaSegmentoWhatsApp .k-tabstrip > .k-content,
#gridListaSegmentoMailing .k-tabstrip > .k-content {
    padding: .92em;
}


#gridListaSegmentoWhatsApp .k-item.k-state-hover,
#gridListaSegmentoMailing .k-item.k-state-hover {
    border-color: #e8a817;
}

/*filtro ejecutados*/
#gridHistorialFiltroSegmentoEjecutado .k-grid-filter.k-state-active {
    /*background-color: transparent;*/
    background-color: #4584a7;
}

#gridHistorialFiltroSegmentoEjecutado .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#gridHistorialFiltroSegmentoEjecutado .k-item {
    background: #2b89b3;
}

#gridHistorialFiltroSegmentoEjecutado .k-tabstrip > .k-content {
    padding: .92em;
}

#gridHistorialFiltroSegmentoEjecutado .k-grid-content > table > tbody > tr {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

#gridHistorialFiltroSegmentoEjecutado .k-grid-header .k-header {
    color: #fff;
    background-color: #4584a7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gridHistorialFiltroSegmentoEjecutado .k-item.k-state-hover {
    border-color: #e8a817;
}

#gridHistorialFiltroSegmentoEjecutado .k-header {
    background-color: #2b89b3;
}

#gridHistorialFiltroSegmentoEjecutado .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#gridHistorialFiltroSegmentoEjecutado .k-item {
    background: #2b89b3;
}

#gridHistorialFiltroSegmentoEjecutado .k-tabstrip > .k-content {
    padding: .92em;
}

#gridHistorialFiltroSegmentoEjecutado .k-item.k-state-hover {
    border-color: #e8a817;
}


/*tabla Facebook Remarketing*/
#gridListaSegmentoMailing3 .k-grid-filter.k-state-active {
    /*background-color: transparent;*/
    background-color: #4584a7;
}

#gridListaSegmentoMailing3 .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#gridListaSegmentoMailing3 .k-item {
    background: #2b89b3;
}

#gridListaSegmentoMailing3 .k-tabstrip > .k-content {
    padding: .92em;
}

#gridListaSegmentoMailing3 .k-grid-content > table > tbody > tr {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}

#gridListaSegmentoMailing3 .k-grid-header .k-header {
    color: #fff;
    background-color: #4584a7;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gridListaSegmentoMailing3 .k-item.k-state-hover {
    border-color: #e8a817;
}

#gridListaSegmentoMailing3 .k-header {
    background-color: #2b89b3;
}

#gridListaSegmentoMailing3 .k-tabstrip-items .k-state-active {
    background-color: #1e5382;
    border-bottom-color: #e8a817;
}

#gridListaSegmentoMailing3 .k-item {
    background: #2b89b3;
}

#gridListaSegmentoMailing3 .k-tabstrip > .k-content {
    padding: .92em;
}

#gridListaSegmentoMailing3 .k-item.k-state-hover {
    border-color: #e8a817;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #3343a4;
    border-color: #3343a4;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.panel {
    margin-bottom: 23px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}
.panel-body {
    padding: 15px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
div.panel-button button {
    position: relative;
    border-radius: 50%;
    z-index: 99;
}








#gridCobertura .k-grid-header .k-header {
    /*height: 200px !important;*/
    background-color: #337ab7;
    color: #ffffff;
}

#navItem {
    width: 25%;
}

.tab-content {
    width: 100%;
}

.k-grid tr td {
    padding: 0px;
}

#subCabecera{
    justify-content: center;
}

#Indicadores .row {
    padding: 0px;
    border: 1px solid #e1d8d8;
    justify-content: center;
}

#Indicadores .col-sm {
    padding: 0px;
    text-align: center;
}
