<div class="card border-primary" #reporte>
    <div class="card-header pb-0 bg-color-material">
      <div class="col text-aling-center">
        <h2 class="mb-3 text-white">(M) Tipos de materiales</h2>
      </div>
    </div>
  
    <div class="card-body p-0">
      <form class="k-form k-form-horizontal">
        <div class="row">
          <div class="col-sm-12 my-2">
            <kendo-grid
              [kendoGridBinding]="gridTipoMateriales.data"
              [loading]="gridTipoMateriales.loading"
              [pageSize]="10"
              [selectable]="true"
              [sortable]="true"
              [resizable]="true"
              [pageable]="{
                buttonCount: 5,
                info: true,
                type: 'numeric',
                pageSizes: true,
                previousNext: true,
                position: 'bottom'
              }"
              filterable="menu"
            >
              <ng-template kendoGridToolbarTemplate>
                <div class="row col-md-12">
                  <div class="col-md-12 text-end">
                    <button
                      type="button"
                      class="btn btn-success text-white"
                      (click)="abrirModalDetalleInsertar()"
                    >
                      Nuevo
                    </button>
                  </div>
                </div>
              </ng-template>
  
              <ng-template
                kendoPagerTemplate
                let-totalPages="totalPages"
                let-currentPage="currentPage"
              >
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons
                  [buttonCount]="5"
                ></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-input></kendo-pager-input>
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-page-sizes
                  [pageSizes]="cantidadItems"
                ></kendo-pager-page-sizes>
              </ng-template>
  
              <kendo-grid-column
                field="nombre"
                title="Nombre"
                [width]="200"
                [headerClass]="'justify-content-center'"
                [filterable]="true"
              >
                <ng-template
                  kendoGridFilterMenuTemplate
                  let-filter
                  let-column="column"
                  let-filterService="filterService"
                >
                  <kendo-grid-string-filter-menu
                    [column]="column"
                    [filter]="filter"
                    [filterService]="filterService"
                    [extra]="false"
                    operator="contains"
                  >
                    <kendo-filter-contains-operator
                      text="Contiene"
                    ></kendo-filter-contains-operator>
                  </kendo-grid-string-filter-menu>
                </ng-template>
              </kendo-grid-column>
  
              <kendo-grid-column
                field="listaMaterialVersion"
                title="Versiones asociada"
                [width]="200"
                [headerClass]="'justify-content-center'"
                [filterable]="false"
              >
                <ng-template 
                  kendoGridCellTemplate
                  let-dataItem>
                  <ng-container *ngIf="dataItem.listaMaterialVersion != null && dataItem.listaMaterialVersion.length > 0 && dataItem.listaMaterialVersion[0].idVersion != null">
                    <ul>
                      <li *ngFor="let item of dataItem.listaMaterialVersion">
                        {{item.nombreMaterialVersion}}
                      </li>
                    </ul>
                  </ng-container>
                </ng-template>
              </kendo-grid-column>
  
              <kendo-grid-column
                field="listaMaterialAccion"
                title="Accion asociada"
                [width]="300"
                [headerClass]="'justify-content-center'"
                [filterable]="false"
              >
                <ng-template 
                  kendoGridCellTemplate
                  let-dataItem>
                  <ng-container *ngIf="dataItem.listaMaterialAccion != null && dataItem.listaMaterialAccion.length > 0 && dataItem.listaMaterialAccion[0].idAccion != null">
                    <ul>
                      <li *ngFor="let item of dataItem.listaMaterialAccion">
                        {{item.nombreMaterialAccion}}
                      </li>
                    </ul>
                  </ng-container>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                field="listaMaterialCriterioVerificacion"
                title="Criterio de Verificacion Asociada"
                [width]="200"
                [headerClass]="'justify-content-center'"
                [filterable]="false"
              >
                <ng-template 
                  kendoGridCellTemplate
                  let-dataItem>
                  <ng-container *ngIf="dataItem.listaMaterialCriterioVerificacion != null && dataItem.listaMaterialCriterioVerificacion.length > 0 && dataItem.listaMaterialCriterioVerificacion[0].idCriterio != null">
                    <ul>
                      <li *ngFor="let item of dataItem.listaMaterialCriterioVerificacion">
                        {{item.nombreMaterialCriterioVerificacion}}
                      </li>
                    </ul>
                  </ng-container>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-command-column
                title="Acciones"
                [headerStyle]="{ color: '#5f75bd' }"
                [width]="200"
                [headerClass]="'justify-content-center'"
              >
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                  <button
                    kendoGridEditCommand
                    themeColor="warning"
                    fillMode="solid"
                    rounded="large"
                    size="large"
                    class="p-2 me-1 ms-1"
                    container="body"
                    placement="top"
                    ngbTooltip="Editar"
                    (click)="abrirModalDetalleActualizar(dataItem)"
                  >
                    <span class="k-icon k-i-edit k-icon-20"></span>
                  </button>
                  <button
                    kendoGridEditCommand
                    themeColor="error"
                    fillMode="solid"
                    rounded="large"
                    size="large"
                    class="p-2 me-1 ms-1"
                    container="body"
                    placement="top"
                    ngbTooltip="Eliminar"
                    (click)="eliminar(dataItem)"
                  >
                  <span class="k-icon k-i-x k-icon-20"></span>
                </button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Modal Edicion -->
  <ng-template #modalTipoMaterialEditar let-modal>
    <div class="modal-header bg-primary-header-modal">
      <h3 class="modal-title m-0 p-0" id="modal-basic-title">
        Detalle tipo de material
      </h3>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="limpiarCamposForm()"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formTipoMaterialEditar">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <kendo-label
                class="d-flex align-items-end"
                [style.width.px]="100"
                [for]="nombre"
                text="Nombre:"
              >
              </kendo-label>
              <kendo-textbox
                #nombre
                formControlName="nombre"
                [style.width.px]="310"
                required
              >
              </kendo-textbox>
              <kendo-formerror>{{
                getErrorMessageEditar("nombre")
              }}</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <kendo-label
                class="d-flex align-items-end"
                [style.width.px]="100"
                [for]="versiones"
                text="Versiones asociadas:"
              >
              </kendo-label>
              <kendo-multiselect
                #versiones
                formControlName="idsMaterialAsociacionVersion"
                [data]="listaCombos.materialVersion"
                textField="nombre"
                valueField="id"
                placeholder="<Versiones>"
                [valuePrimitive]="true"
              >
              </kendo-multiselect>
              <kendo-formerror>{{
                getErrorMessageEditar("idsMaterialAsociacionVersion")
              }}</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <kendo-label
                class="d-flex align-items-end"
                [style.width.px]="100"
                [for]="versiones"
                text="Acciones asociadas:"
              >
              </kendo-label>
              <kendo-multiselect
                #versiones
                formControlName="idsMaterialAsociacionAccion"
                [data]="listaCombos.materialAccion"
                textField="nombre"
                valueField="id"
                placeholder="<Acciones>"
                [valuePrimitive]="true"
              >
              </kendo-multiselect>
              <kendo-formerror>{{
                getErrorMessageEditar("idsMaterialAsociacionAccion")
              }}</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <kendo-label
                class="d-flex align-items-end"
                [style.width.px]="100"
                [for]="versiones"
                text="Criterios de Verificacion asociadas:"
              >
              </kendo-label>
              <kendo-multiselect
                #versiones
                formControlName="idsMaterialAsociacionCriterioVerificacion"
                [data]="listaCombos.materialCriterio"
                textField="nombre"
                valueField="id"
                placeholder="<Criterios>"
                [valuePrimitive]="true"
              >
              </kendo-multiselect>
              <kendo-formerror>{{
                getErrorMessageEditar("idsMaterialAsociacionCriterioVerificacion")
              }}</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
      </form>
  
      <div class="row my-2">
        <div class="text-end">
          <ng-container *ngIf="nuevoRegistro">
            <button
              class="btn btn-primary mx-1"
              [disabled]="formTipoMaterialEditar.invalid"
              (click)="insertar()"
            >
              <span class="px-1">Nuevo</span>
            </button>
          </ng-container>
          <ng-container *ngIf="!nuevoRegistro">
            <button
              class="btn btn-primary mx-1"
              [disabled]="formTipoMaterialEditar.invalid"
              (click)="actualizar()"
            >
              <span class="px-1">Actualizar</span>
            </button>
          </ng-container>
  
          <button class="btn btn-danger" (click)="limpiarCamposForm()">
            <span class="px-1">Cancelar</span>
          </button>
        </div>
      </div>
    </div>
    <loading [loading]="loaderModal"></loading>
  </ng-template>
  <!-- Modal Edicion -->
  <loading [loading]="loaderModal"></loading>