.mes{
    width: 120px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.conf{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 120px;

}

.mes:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 8px;
}

.conf:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 8px;
}

.deleteW {
    background-color: red;
    color: white;
    margin-right: 10px;
    font-size: 15px;
  }
  