.wrap {
  display: flex;
  align-items: center;
  margin: 0 -10px;
}
.example-item {
  flex: 0 0 33%;
  padding: 10px;
}
.example-item-title {
  margin-bottom: 10px;
  text-align: center;
}
.k-block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}
#infoBeneficio h4 {
  font-size: 24px;
  color: #65c7d2;
  font-weight: 500;
}

#infoBeneficio p {
  font-size: 13px;
}

#infoBeneficio h6 {
font-size: 14px;
}
#inversionh2{
margin-left: 340px;
}

h6 {
font-size: 1rem !important;
}
.beneficioDetallePrograma {
text-decoration: none;
}

.beneficioDetallePrograma:hover {
    text-decoration: underline;
    cursor: pointer;
}

#cardAccesoTemporal {
display: none;
}

div#modalAprobacionAccesoTemporal {
background: rgba(0,0,0,.5);
}

.observacionAccesoTemporal {
background: #4584a7;
color: #fff;
}

#gridCronograma .k-grid-header th.k-header {
text-align: center;
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td {
border-color: #008dcc;
background-color: #008dcc;
}

.redactarNuevo {
border-radius: 20px;
background: white;
color: #717171;
font-size: 15px;
font-weight: 500;
padding: 1px 9px 3px 10px !important;
}

.botonSolicitud {
border-radius: 13px;
background: #ffa114;
color: #ffffff;
font-size: 12px;
font-weight: 500;
padding: 6px !important;
}

.modificado {
background-color: #ced;
font-weight: bold;
color: #f00;
}

#modalOportunidad {
overflow-y: scroll;
}

.k-grid-Recuperación,
.k-grid-Recuperación:hover {
background-color: orange;
border-color: orange;
color: white;
}

.k-grid-Recuperación Sesión,
.k-grid-Recuperación Sesión:hover {
    background-color: green;
    border-color: green;
    color: white;
}

#gridDocumentosLegales a {
color: white !important;
}

.grid-btn-descargar .k-icon {
color: white !important;
opacity: 1 !important;
}

#checkEstado {
min-width: 15px;
height: 20px;
background: #29bca0;
border: none;
border-radius: 100%;
margin-left: 5px;
padding-top: 4px;
width: 23px;
margin-top: 10px;
cursor: default !important;
}

#checkEstadoIcono {
font-size: 17px;
color: white;
padding-top: 0px;
padding-left: 3px;
}

#checkEstadoFalse {
min-width: 15px;
height: 20px;
background: #fff;
margin-left: 5px;
padding-top: 4px;
width: 20px;
margin-top: 10px;
cursor: default !important;
}

#checkEstadoIconoFalse {
font-size: 19px;
color: gray;
padding-top: 1px;
}

#checkEstadoSecundario {
min-width: 15px;
height: 20px;
background: #29bca0;
border: none;
border-radius: 100%;
margin-left: 5px;
padding-top: 4px;
width: 23px;
margin-top: 10px;
cursor: default !important;
}

#checkEstadoIconoSecundario {
font-size: 17px;
color: white;
padding-top: 0px;
padding-left: 3px;
}

#checkEstadoFalseSecundario {
min-width: 15px;
height: 20px;
background: #fff;
margin-left: 5px;
padding-top: 4px;
width: 20px;
margin-top: 10px;
cursor: default !important;
}

#checkEstadoIconoFalseSecundario {
font-size: 19px;
color: gray;
padding-top: 1px;
}
.highlight{
background-color:lightblue;
}

tr.gold,
tr.k-alt.gold {
background-color: rgb(176, 230, 173);
}
tr.green,
tr.k-alt.greem {
background-color: white;
}
