<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h2 class="text-white mb-2">Ficha de Datos del Personal</h2>
        </div>
        <div class="card-body p-4" id="grillaAgendaTab">
          <div class="col-12">
            <kendo-grid
              #kgridCronograma
              [kendoGridBinding]="gridFichaDatosPersonal.data"
              [loading]="gridFichaDatosPersonal.loading"
              (remove)="gridFichaDatosPersonal.removeHandler($event)"
              [resizable]="true"
              filterable="menu"
              [sortable]="true"
              [pageSize]="10"
              [pageable]="{ pageSizes: [5, 10, 20] }"
            >
              <ng-template kendoGridToolbarTemplate let-dataItem="dataItem">
                <button
                  kendoButton
                  icon="reload"
                  fillMode="flat"
                  themeColor="primary"
                  (click)="obtenerTodo()"
                ></button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button
                  kendoButton
                  icon="plus"
                  themeColor="primary"
                  (click)="
                    abrirModalEditar(modalFichaDatosPersonal, true, dataItem)
                  "
                >
                  Nuevo
                </button>
              </ng-template>
              <kendo-grid-column
                field="nombres"
                title="Nombres"
                [width]="150"
                [headerClass]="'header-grid-integra'"
              >
                <ng-template
                  kendoGridFilterMenuTemplate
                  let-filter
                  let-column="column"
                  let-filterService="filterService"
                >
                  <kendo-grid-string-filter-menu
                    [column]="column"
                    [filter]="filter"
                    [filterService]="filterService"
                    [extra]="false"
                    operator="contains"
                  >
                    <kendo-filter-contains-operator
                      text="Contiene"
                    ></kendo-filter-contains-operator>
                  </kendo-grid-string-filter-menu>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column
                field="apellidos"
                title="Apellidos"
                [width]="150"
                [headerClass]="'header-grid-integra'"
              >
              </kendo-grid-column>

              <kendo-grid-column
                field="rol"
                title="Rol"
                [width]="150"
                [headerClass]="'header-grid-integra'"
              >
              </kendo-grid-column>

              <kendo-grid-column
                field="email"
                title="Email"
                [width]="150"
                [headerClass]="'header-grid-integra'"
              >
              </kendo-grid-column>
              <kendo-grid-column
                field="activo"
                title="Activo"
                [width]="100"
                [headerClass]="'header-grid-integra'"
              >
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{
                    dataItem.activo == 1
                      ? "activo"
                      : dataItem.activo == 0
                        ? "inactivo"
                        : ""
                  }}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column
                title="Acciones"
                [width]="150"
                [headerClass]="'header-grid-integra'"
              >
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                  <button
                    kendoButton
                    fillMode="solid"
                    rounded="large"
                    themeColor="warning"
                    size="large"
                    class="p-2 me-1 ms-1"
                    container="body"
                    placement="top"
                    ngbTooltip="Editar"
                    (click)="
                      abrirModalEditar(modalFichaDatosPersonal, false, dataItem)
                    "
                  >
                    <span class="k-icon k-i-pencil k-icon-20"></span>
                  </button>
                  <button
                    kendoButton
                    fillMode="solid"
                    rounded="large"
                    size="large"
                    class="p-2 me-1 ms-1"
                    container="body"
                    placement="top"
                    themeColor="success"
                    ngbTooltip="Horario"
                    (click)="abrirModalHorario(modalHorario, false, dataItem)"
                  >
                    <span class="k-icon k-i-calendar k-icon-20"></span>
                  </button>

                  <button
                    kendoButton
                    fillMode="solid"
                    rounded="large"
                    themeColor="error"
                    size="large"
                    class="p-2 me-1 ms-1"
                    container="body"
                    placement="top"
                    ngbTooltip="Eliminar"
                    (click)="eliminar(dataItem.id)"
                  >
                    <span class="k-icon k-i-trash k-icon-20"></span>
                  </button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalFichaDatosPersonal let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h1 class="modal-title m-0 p-0" id="modal-basic-title">
      Registro de Perfil Puesto de Trabajo
    </h1>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close('Close click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12" id="tabDatoPersonal">
        <kendo-tabstrip
          [keepTabContent]="true"
          [scrollable]="{ scrollButtons: 'auto' }"
        >
          <kendo-tabstrip-tab [selected]="true">
            <ng-template kendoTabTitle>
              <span>Datos Personal</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-datos-personal
                [formDatosPersonal]="formDatosPersonal"
                [formPersonalSistemaPensionario]="
                  formPersonalSistemaPensionario
                "
                [formPersonalSeguroSalud]="formPersonalSeguroSalud"
                [formPersonalRemuneracion]="formPersonalRemuneracion"
                [DataTipoDocumento]="DataTipoDocumento"
                [DataEstadoCivil]="DataEstadoCivil"
                [DataSexo]="DataSexo"
                [DataPais]="DataPais"
                [DataCiudad]="DataCiudad"
                [DataTipoVia]="DataTipoVia"
                [DataTipoZonaUrbana]="DataTipoZonaUrbana"
                [DataSistemaPensionario]="DataSistemaPensionario"
                [DataEntidad]="DataEntidad"
                [DataEntidadSalud]="DataEntidadSalud"
                [DataTipoPago]="DataTipoPago"
                [DataEntidadFinanciera]="DataEntidadFinanciera"
                [filterSettings]="filterSettings"
              ></app-tab-datos-personal>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
              <span>Informacion del Puesto</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-informacion-puesto
                [formDatosPersonal]="formDatosPersonal"
                [formPersonalDescanso]="formPersonalDescanso"
                [formPersonalCese]="formPersonalCese"
                [gridAreasDeTrabajo]="gridAreasDeTrabajo"
                [gridTipoAsesorHistorico]="gridTipoAsesorHistorico"
                [gridJefeInmediatoHistorico]="gridJefeInmediatoHistorico"
                [gridPeriodoInactivoHistorico]="gridPeriodoInactivoHistorico"
                [DataAreaTrabajo]="DataAreaTrabajo"
                [DataPuestoTrabajo]="DataPuestoTrabajo"
                [DataJefeInmediato]="DataJefeInmediato"
                [DataSede]="DataSede"
                [DataPuestoTrabajoNivel]="DataPuestoTrabajoNivel"
                [DataEstado]="DataEstado"
                [DataTipoEstado]="DataTipoEstado"
                [DataMotivoCese]="DataMotivoCese"
                [filterSettings]="filterSettings"
                [valorEstado]="valorEstado"
                [valorTipoEstado]="valorTipoEstado"
                [valorTipoEstado2]="valorTipoEstado2"
                (obtenerEstadoEvent)="ObtenerEstado($event)"
                (obtenerTipoEstadoEvent)="ObtenerTipoEstado($event)"
              ></app-tab-informacion-puesto>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
              <span>Formación</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-formacion
                [gridPersonalFormacion]="gridPersonalFormacion"
                [gridPersonalInformatica]="gridPersonalInformatica"
                [gridPersonalIdiomas]="gridPersonalIdiomas"
                [DataFormacion]="DataFormacion"
                [DataTipoEstudio]="DataTipoEstudio"
                [DataAreaFormacion]="DataAreaFormacion"
                [DataEstadoEstudio]="DataEstadoEstudio"
                [DataNivelCompetenciaTecnica]="DataNivelCompetenciaTecnica"
                [DataIdioma]="DataIdioma"
                [DataNivelIdioma]="DataNivelIdioma"
                [filterSettings]="filterSettings"
                (buscarArchivoMostrarEvent)="BuscarArchivoMostrar($event)"
                (buscarArchivoDescargarEvent)="BuscarArchivoDescargar($event)"
                (onFileSelectEvent)="
                  onFileSelect($event.event, $event.formGroup)
                "
              ></app-tab-formacion>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
              <span>Certificaciones</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-certificaciones
                [gridPersonalCertificacion]="gridPersonalCertificacion"
                [DataFormacion]="DataFormacion"
                [filterSettings]="filterSettings"
                (buscarArchivoMostrarEvent)="BuscarArchivoMostrar($event)"
                (buscarArchivoDescargarEvent)="BuscarArchivoDescargar($event)"
                (onFileSelectEvent)="
                  onFileSelect($event.event, $event.formGroup)
                "
              ></app-tab-certificaciones>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
              <span>Experiencia Laboral</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-experiencia-laboral
                [gridPersonalExperiencia]="gridPersonalExperiencia"
                [DataEmpresa]="DataEmpresa"
                [DataArea]="DataArea"
                [DataCargo]="DataCargo"
                [filterSettings]="filterSettings"
                (buscarArchivoMostrarEvent)="BuscarArchivoMostrar($event)"
                (buscarArchivoDescargarEvent)="BuscarArchivoDescargar($event)"
                (onFileSelectEvent)="
                  onFileSelect($event.event, $event.formGroup)
                "
              ></app-tab-experiencia-laboral>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
              <span>Datos Familiares</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-datos-familiares
                [gridPersonalFamiliar]="gridPersonalFamiliar"
                [DataParentesco]="DataParentesco"
                [DataSexo]="DataSexo"
                [DataTipoDocumento]="DataTipoDocumento"
                [filterSettings]="filterSettings"
              ></app-tab-datos-familiares>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab>
            <ng-template kendoTabTitle>
              <span>Información Médica</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-informacion-medica
                [formDatosPersonal]="formDatosPersonal"
                [gridPersonalInformacionMedica]="gridPersonalInformacionMedica"
                [gridPersonalHistorialMedico]="gridPersonalHistorialMedico"
                [DataTipoSangre]="DataTipoSangre"
                [filterSettings]="filterSettings"
              ></app-tab-informacion-medica>
            </ng-template>
          </kendo-tabstrip-tab>
          <kendo-tabstrip-tab *ngIf="acceso">
            <ng-template kendoTabTitle>
              <span>Accesos Temporales</span>
            </ng-template>
            <ng-template kendoTabContent *loadOnDemand>
              <app-tab-accesos-temporales
                [gridAccesoTemporal]="gridAccesoTemporal"
                (abrirModalAccesosEvent)="abrirModalNuevoAcceso(modalAccesosPortal)"
                (editarAccesoEvent)="abrirModalEditarAccesoTemporal(modalAccesosPortal, $event)"
                (eliminarAccesoEvent)="eliminarAcceso($event)"
              ></app-tab-accesos-temporales>
            </ng-template>
          </kendo-tabstrip-tab>
        </kendo-tabstrip>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="isNew"
      type="button"
      class="btn btn-primary"
      [disabled]="enProcesoSolicitud"
      (click)="this.guardar()"
    >
      Guardar
    </button>
    <button
      *ngIf="!isNew"
      type="button"
      class="btn btn-primary"
      [disabled]="enProcesoSolicitud"
      (click)="this.actualizar()"
    >
      Actualizar
    </button>
    <button
      class="btn btn-danger"
      (click)="limpiarCamposForm()"
      (click)="modal.close('Close click')"
    >
      <span class="px-1">Cancelar</span>
    </button>
  </div>
</ng-template>

<ng-template #modalAccesosPortal let-modal>
  <app-modal-accesos-portal
    [formConfigurarAccesos]="formConfigurarAccesos"
    [DataPEspecificosPersonal]="DataPEspecificosPersonal"
    [DataPEspecificosPersonalProgramaAsignado]="DataPEspecificosPersonalProgramaAsignado"
    [DataPEspecificosPersonalCursosAsignados]="filteredCursos"
    [filterSettings]="filterSettings"
    [enProcesoSolicitud]="enProcesoSolicitud"
    [isNew]="isNewAccesoTemporal"
    (onProgramSelectionChangeEvent)="onProgramSelectionChange($event)"
    (guardarAccesoTemporalEvent)="guardarAccesosPortal()"
    (actualizarAccesoTemporalEvent)="actualizarAccesosPortal()"
    (cerrarModalEvent)="modal.close()"
  ></app-modal-accesos-portal>
</ng-template>

<ng-template #modalHorario let-modal>
  <app-modal-horario
    [horarioForm]="horarioForm"
    [diasSemana]="diasSemana"
    (guardarHorarioEvent)="guardarHorario()"
    (cerrarModalEvent)="modal.close()"
  ></app-modal-horario>
</ng-template>
