<div class="contenedor">
    <div class="titulo">
        <h2>Historial de ejecuciones</h2>
      </div>
      <div class="contenedor">
        <div class="mat-elevation-z8">

            <ng-container
              *ngIf="loading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-container>

            <kendo-grid
            [kendoGridBinding]="listaHistorialEjecutado"
            [pageSize]="5"
            [sortable]="true"
            [reorderable]="true"
            [resizable]="true"
            [pageable]="{
              buttonCount: 5,
              info: true,
              type: 'numeric',
              pageSizes: true,
              previousNext: true,
              position: 'bottom'
            }"
          >

            <kendo-grid-column
              title="Centro de Costo"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="nombreCentroCosto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Origen"
              headerClass="justify-content-center k-grid-header "
              [width]="200"
              field="nombreOrigen"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Tipo de dato"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="nombreTipoDato"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fase de Oportunidad"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="nombreFaseOportunidad"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Nro Oportunidades Creadas"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="totalOportunidadesCreadas"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Usuario Creacion"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="usuarioCreacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Usuario Modificacion"
              headerClass="justify-content-center k-grid-header "
              [width]="250"
              field="usuarioModificacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Creacion"
              headerClass="justify-content-center k-grid-header "
              [width]="250"
              field="fechaCreacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
             <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.fechaCreacion | date:'yyyy-MM-dd HH:mm:ss' }}
            </ng-template>

            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Modificacion"
              headerClass="justify-content-center k-grid-header "
              [width]="250"
              field="fechaModificacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            <ng-template kendoGridCellTemplate let-dataItem>
              {{ dataItem.fechaModificacion | date:'yyyy-MM-dd HH:mm:ss' }}
            </ng-template>
            </kendo-grid-column>

          </kendo-grid>

          </div>
      </div>

</div>
