$color-blue-messenger: #0695ff;

.tipo-tabs-toolbar {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.tab-btn {
  border: 1px solid #b9bdc4;
  border-radius: 0.4rem;
  padding: 0 3rem;
  box-shadow: none;
  color: $color-blue-messenger;
}
.tab-btn.selected {
  background: $color-blue-messenger;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(6, 149, 255, 0.12);
}
.tab-btn:hover {
  background: #e3f0ff;
  color: $color-blue-messenger;
  border-color: $color-blue-messenger;
}
.reload-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 1px solid #d1d5db;
  border-radius: 0.4rem;
  box-shadow: 0 2px 8px rgba(6, 149, 255, 0.08);
  margin-right: 0.5rem;
}
.reload-btn-container:hover {
  background: #e3f0ff;
}
