/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.w-100{
  width: 100%!important;
}
/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
.titulo{
    background-color: #3F51B5;
    color: white;
    font-size: 20px;
    height: 40px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo2{
    background-color: #3F51B5;
    color: white;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}

.tipo{
    width: 100%;
    margin: auto;
}

.cont{
    padding: 20px;
}

.btn{
    width: 350px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
}

.firsline{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    display: flex;

}

.btn2{
    width: 250px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
    text-align: right;
    padding: 10px;
    text-align: center;
    justify-content: center;
}



  .sel{
    width: 400px;
  }
  
  td {
    padding-right: 8px;
  }

  .remitente{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
  }

  .tit{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #F0F0F0;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .contenedor{
    display: flex;
  }

  .inre{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 50%;
  }

  .ver{
 
    width: 50%;

  }
  
  .para{
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
  }

  .car{
    display: flex;
    justify-content: space-between;
  }

  .btn3{
    border-radius: 20px;
    background-color: #094D82;
    width: 160px;
    height: 48px;
    color: white;
  }

  .filtro{
    display: flex;
  }

  .filtro h3{

    margin-right: 20px;
  }

  .agfi{
    display:flex ;
    width: 100%;
    justify-content: space-between;
  }

  .mat-form-field-flex {

    width: 450px !important;
}

.hor{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.progr{
  width: 100%;
  padding: 20px;
}

.progrb{
  width: 100%;
  padding: 20px;
  display: flex;
  margin: auto;
}

.send{
  width: 130px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  flex-direction: column;
}

.mail{
  font-size: 50px;
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
  // color: rgb(0,171,216);
  // color: linear-gradient(90deg, rgba(0,171,216,1) 0%, rgba(0,206,183,1) 53%, rgba(0,224,165,1) 100%);
}

.mail:before{
  // font-size: 50px;
  mix-blend-mode: screen; 
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0,171,216);
  background: linear-gradient(90deg, rgba(0,171,216,1) 0%, rgba(0,206,183,1) 53%, rgba(0,224,165,1) 100%);
}

// .mat-form-field{
//   width: 250px !important;
// }

.selfe{
  display: flex;
  margin-bottom: 20px;
}

.selfe .fecha{
  width: 50%;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}

.hora{
  width: 100px !important;
}
.colorin{
  background-color: #EEEEFF;
  border: 1px solid #2400FF;
}

.registrar{
  border-radius: 20px;
  background-color: #094D82;
  width: 200px;
  height: 48px;
  color: white;
  margin-right: 20px;
}

.cancelar{
  border-radius: 20px;
  background-color: #BA1A1A;
  width: 120px;
  height: 48px;
  color: white;
}

.botones{
  width: 100%;
  display: inline-flex;
  justify-content: end;
  margin-top: 20px;
}

.pruebaAB{
  margin: 50px;
  text-align: center;
}

.edit{
  background-color: #094D82;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}

.delete{
  background-color: #BA1A1A;
  color: white;
  font-size: 15px;
}