
<div class="contenedor">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">
           Reporte Chat Bot
          </h3>
        </div>
        <div class="card-body p-4" id="grillaAgendaTab">
          <form
          class="k-form k-form-horizontal"
          [formGroup]="formFiltro"
        >


          <div class="row d-flex justify-content-center mb-4">
            <div class="col-8">
              <div class="card-body k-form k-form-horizontal">
                <div class="row">
                  <div class="col-lg-4">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="fechaInicioi" class="k-label">
                        Fecha Inicio:
                      </label>
                      <kendo-datepicker
                        #fechaInicioi
                        formControlName="fechaInicio"
                        format="yyyy-MM-dd"
                      >
                      </kendo-datepicker>
                    </kendo-formfield>
                  </div>

                  <div class="col-lg-4">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="fechaFini" class="k-label">
                        Fecha Fin:
                      </label>

                      <kendo-datepicker
                        #fechaFini
                        formControlName="fechaFin"
                        format="yyyy-MM-dd"
                      >
                      </kendo-datepicker>
                    </kendo-formfield>
                  </div>
                  <div class="col-lg-4">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="estaRegistrado" class="k-label">
                        Fecha Fin:
                      </label>

                      <kendo-dropdownlist
                      #estaRegistrado
                      [data]="DataSourceReporte"
                      formControlName="estaRegistrado"
                      placeholder="<Todos>"
                      textField="clave"
                      [valuePrimitive]="true"
                      valueField="valor"
                      [defaultItem]="{
                        clave: 'Seleccione un Reporte...',
                        valor: null
                      }"


                    >
                    </kendo-dropdownlist>

                    </kendo-formfield>
                  </div>

                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-12 d-flex justify-content-end">
                    <button
                      kendoButton
                      themeColor="primary"
                      icon="k-icon k-i-search k-icon-20"
                      type="button"
                      (click)="buscarPorFiltro()"
                    >
                      Buscar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
      <br />
    </div>
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-color-material pb-0">
              <h3 class="text-white mb-2">ChatBot Portal</h3>
            </div>
            <div class="card-body p-4">
              <div class="row">
                <div class="col">
                  <kendo-grid [loading]="gridChatBot.loading" [pageSize]="gridChatBot.pageSize" [sortable]="true" [filterable]="true" [pageable]="true" [data]="listaGrilla" style="max-height: 700px">
                    <!-- Columna de Pasos -->
                    <kendo-grid-column field="paso" title="Paso" [width]="100"></kendo-grid-column>

                    <!-- Columnas para los códigos P. General y sus interacciones -->
                    <ng-container *ngFor="let item of listaGrilla">
                      <!-- Columna para el código P. General -->
                      <kendo-grid-column [field]="'codigoPGeneral' + item.codigoPGeneral" [title]="item.codigoPGeneral" [width]="150">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <!-- Mostrar las interacciones correspondientes al código P. General -->
                          {{ obtenerInteraccion(dataItem.listaInteracionesPorPaso, item.codigoPGeneral) }}
                        </ng-template>
                      </kendo-grid-column>
                    </ng-container>
                  </kendo-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
