.t_font{
    font-size: smaller;
}

.center{
    text-align: center; 
}

.element {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(1, 172, 184);
  }
  
.CPC-clasesilla{
    background-color: #3382a9;
    color: white;
    font-size: x-small;
  }