<div class="card">
  <div class="all">
    <div class="column">
      <mat-checkbox
        (change)="setAll($event.checked)"
        class="example-margin"
        [(ngModel)]="datos"
        >¿Considerar solo última oportunidad generada?</mat-checkbox
      >
      <div
        class="alert alert-danger"
        role="alert"
        style="margin: 0px; margin-left: 10px"
      >
        <b>Nota:</b> **Considera última oportunidad según área, sub área y programa general.
      </div>
    </div>

    <ng-container *ngIf="datos == true">
      <div class="formulario">
        <div class="card-section">
          <div class="column">
            <h3>Área:</h3>
            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                #areaFiltro
                placeholder="-Todos-"
                [data]="areaFiltrada"
                [filterable]="true"
                [(ngModel)]="areas"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangeArea($event)"
                (filterChange)="filterChangeArea($event)"
                (removeTag)="removeTagArea($event)"
              ></kendo-multiselect>
            </div>
          </div>
          <div class="column">
            <h3>Sub Áreas:</h3>
            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                #subareaFiltro
                placeholder="-Todos-"
                [data]="subareaFiltrada"
                [filterable]="true"
                [(ngModel)]="subareas"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangeSubArea($event)"
                (filterChange)="filterChangeSubArea($event)"
                (removeTag)="removeTagSubArea($event)"
              ></kendo-multiselect>
            </div>
          </div>
          <div class="column">
            <h3>Programas Generales:</h3>
            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                #programaFiltro
                [data]="programaFiltrada"
                placeholder="-Todos-"
                [filterable]="true"
                [(ngModel)]="programas"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangePrograma($event)"
                (filterChange)="filterChangePrograma($event)"
                (removeTag)="removeTagPrograma($event)"
              ></kendo-multiselect>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
