.headerCustomClass {
    color: #fff;
  }

  th.headerCustomClass {
    text-align: center;
  }
  #kendo-grid-column strong {
  color: #e0b535;
}

#_generarResumen {
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  margin-top: 20px;
  text-align: center;
  border-color: #3e8f3e;
}