.cardBodyPlantilla {
  background: #eeeeee;
  border-radius: 10px;
  border: solid 1px #dfdfdf;
}

.text-color-integra{
  color: #5A79E1
}

.custom-styling {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: inherit;
}
