<kendo-grid
  #grid
  [kendoGridBinding]="listaReporte"
  [pageSize]="20"
  [sortable]="true"
  [reorderable]="false"
  [resizable]="true"
  filterable="menu"
  [pageable]="true"
  style="max-height: 700px; border-top-width: 0px"
>
  <ng-template kendoGridToolbarTemplate>
    <div class="col-md-7" style="display: flex; justify-content: start">
      <button
      mat-raised-button
      class="btn-export-excel"
      (click)="excelexport.save()"
    >
    <span class="k-icon k-i-file-excel k-icon-20"></span>
      Exportar a Excel
    </button>
    <kendo-excelexport 
    [data]="listaReporte" 
    fileName="Reporte Horas Trabajadas.xlsx" #excelexport>
      <kendo-excelexport-column field="nombrePersonal" title="Nombre Personal">
      </kendo-excelexport-column>
      <kendo-excelexport-column field="coordinadorAsesor" title="Coordinador / Asesor">
      </kendo-excelexport-column>
      <kendo-excelexport-column field="sede" title="Sede">
      </kendo-excelexport-column>
      <ng-container *ngFor="let item of reporteOriginal">
        <kendo-excelexport-column-group [title]="item.periodo">
          <kendo-excelexport-column [field]="item.periodo" title="Monto (dias)">
          </kendo-excelexport-column>
        </kendo-excelexport-column-group>
      </ng-container>
    
    </kendo-excelexport>
    </div>
  </ng-template>

  <kendo-grid-column
    title="Nombre Personal"
    headerClass="justify-content-center k-grid-header "
    [headerStyle]="{
      'background-color': '#ED912A',
      color: 'white'
    }"
    [width]="150"
    field="nombrePersonal"
    [locked]="false"
    [sticky]="false"
    [filterable]="true"
    [hidden]="false"
  >
  </kendo-grid-column>
  <kendo-grid-column
    title="Coordinador / Asesor"
    headerClass="justify-content-center k-grid-header "
    [width]="150"
    field="coordinadorAsesor"
    [locked]="false"
    [sticky]="false"
    [filterable]="true"
    [hidden]="false"
    [headerStyle]="{
      'background-color': '#ED912A',
      color: 'white'
    }"
  >
  </kendo-grid-column>
  <kendo-grid-column
    title="Sede"
    headerClass="justify-content-center k-grid-header "
    [width]="150"
    field="sede"
    [locked]="false"
    [sticky]="false"
    [filterable]="true"
    [hidden]="false"
    [headerStyle]="{
      'background-color': '#ED912A',
      color: 'white'
    }"
  >
  </kendo-grid-column>
  <ng-container *ngFor="let item of reporteOriginal">
    <kendo-grid-column-group
      [title]="item.periodo"
      [columnMenu]="false"
      headerClass="justify-content-center k-grid-header "
      [headerStyle]="{
        'background-color': '#27ae60',
        color: 'white'
      }"
    >
      <kendo-grid-column
        title="Monto (dias)"
        headerClass="justify-content-center k-grid-header "
        [width]="150"
        [field]="item.periodo"
        [locked]="false"
        [sticky]="false"
        [filterable]="false"
        [hidden]="false"
        [headerStyle]="{
          'background-color': '#27ae60',
          color: 'white'
        }"
      >
      </kendo-grid-column>
    </kendo-grid-column-group>
  </ng-container>
  <ng-template kendoGridNoRecordsTemplate>
    <div>
      <kendo-badge-container>
        <kendo-icon name="cloud" size="large"></kendo-icon>
        <kendo-badge position="inside">
          <kendo-icon name="close" style="color: red"></kendo-icon>
        </kendo-badge>
      </kendo-badge-container>
    </div>
    <p>No hay registros cargados!</p>
  </ng-template>
  <ng-template
  kendoPagerTemplate
  let-totalPages="totalPages"
  let-currentPage="currentPage"
  >
    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
    <kendo-pager-numeric-buttons
      [buttonCount]="5"
    ></kendo-pager-numeric-buttons>
    <kendo-pager-next-buttons></kendo-pager-next-buttons>
    <!-- <kendo-pager-input></kendo-pager-input> -->
    <kendo-pager-info></kendo-pager-info>
    <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>

</ng-template>
</kendo-grid>
