.selectNaranja{
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem !important;
    background-color: #f9f9f9 !important;
    border-color: #ff760a !important;
    color: #ff760a !important;
    height: 2.2rem;
    font-size: 14px;
    font-weight: 500;
}