<div class="block">
  <div class="block-header bg-integra-a">
    Verificar que el cliente se encuentre dentro del publico objetivo
  </div>
  <div class="block-body">
    <div class="row">
      <div class="col-12 grid-speech">
        <kendo-grid
          [data]="dataGridPublicoObjetivo$ | async"
          [loading]="gridPublicoObjetivo.loading"
          [resizable]="true"
          scrollable="none"
        >
          <kendo-grid-column
            field="contenido"
            title="El programa está dirigido a:"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem
              let-rowIndex="rowIndex"
            >
              <div class="w-100" [innerHtml]="dataItem.contenido"></div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
            field="respuesta"
            title="Nivel de cumplimiento"
            [width]="250"
          >
            <ng-template
              kendoGridCellTemplate
              let-dataItem
              let-rowIndex="rowIndex"
            >
              <div class="w-100 d-flex justify-content-center check-speech">
                <kendo-dropdownlist
                  class="d-flex selectNaranja"
                  size="medium"
                  [data]="dataNivelCumplimiento"
                  [defaultItem]="{ nombre: 'Seleccione', id: 0 }"
                  textField="nombre"
                  valueField="id"
                  [(ngModel)]="dataItem.respuesta"
                  (valueChange)="changePublicoObjetivo($event, dataItem)"
                  [valuePrimitive]="true"
                >
                </kendo-dropdownlist>
              </div>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <div class="block-header bg-integra-a">
    Verificar que el cliente cumpla los pre requisitos del programa
  </div>
  <div class="block-body">
    <div class="row">
      <div class="col-12 grid-speech">
        <kendo-grid
          [data]="dataGridPrerequisitos$ | async "
          [loading]="gridPrerequisitos.loading"
          scrollable="none"
        >
          <kendo-grid-column
            field="prNombre"
            title="Nombre"
          ></kendo-grid-column>
          <kendo-grid-column field="respuesta" title="Respuesta" [width]="250">
            <ng-template
              kendoGridCellTemplate
              let-dataItem
              let-rowIndex="rowIndex"
            >
              <div class="w-100 d-flex justify-content-center check-speech">
                <kendo-dropdownlist
                  class="d-flex selectNaranja"
                  size="medium"
                  [defaultItem]="{ nombre: 'Seleccione', id: 0 }"
                  [data]="dataNivelCumplimiento"
                  textField="nombre"
                  valueField="id"
                  [(ngModel)]="dataItem.respuesta"
                  (valueChange)="changePrerequisitos($event, dataItem)"
                  [valuePrimitive]="true"
                >
                </kendo-dropdownlist>
              </div>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>

<!-- <div class="block">
  <div class="block-header bg-integra-a">
    2.3 Verificar que el cliente cumpla los requisitos de certificación
  </div>
  <div class="block-body">
    <div class="row">
      <div class="col-12 grid-speech">
        <kendo-grid
          [data]="dataGridCertificacionGeneral$ | async"
          [loading]="gridCertificacionGeneral.loading"
          scrollable="none"
        >
          <kendo-grid-column
            field="nombreCertificacion"
            title="El programa está dirigido a:"
          ></kendo-grid-column>
          <kendo-grid-column field="respuesta" title="Respuesta" [width]="250">
            <ng-template
              kendoGridCellTemplate
              let-dataItem
              let-rowIndex="rowIndex"
            >
              <div class="w-100 d-flex justify-content-center check-speech">
                <kendo-dropdownlist
                  class="d-flex selectNaranja"
                  size="medium"
                  [data]="optionCertificacion"
                  [defaultItem]="{ nombre: 'Seleccione', id: 0 }"
                  textField="nombre"
                  valueField="id"
                  [(ngModel)]="dataItem.respuesta"
                  (valueChange)="changeCertificacion($event, dataItem)"
                  [valuePrimitive]="true"
                >
                </kendo-dropdownlist>
              </div>
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoGridDetailTemplate let-dataItem>
            <kendo-grid
              [data]="dataItem.requisitos"
              [scrollable]="'none'"
              kendoGridFocusable
            >
              <kendo-grid-column field="nombre" title="Requisitos">
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem
                  let-rowIndex="rowIndex"
                >
                  <div
                    class="w-100"
                    [innerHtml]="limpiarContenido(dataItem.nombre)"
                  ></div>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
          </ng-template>
        </kendo-grid>
      </div>
    </div>
  </div>
</div> -->
