
<ng-template #modalMediosDePago let-modal>
    <app-loader *ngIf="loaderModal"></app-loader>
    <div class="modal-header">
      <h2 class="modal-title m-0 p-0" id="modal-basic-title">
        {{ nombreModal }}
      </h2>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form class="k-form" [formGroup]="formGroupMediosDePago">
        <fieldset class="k-form-fieldset">
          <div class="row">
            <div class="col k-form-horizontal">
                <kendo-formfield orientation="horizontal" >
                    <label [for]="nombre" class="k-label">
                      <span
                        > Nombre :
                        <strong class="text-danger">*</strong></span
                      >
                    </label>
                    <kendo-textbox
                      #nombre
                      class="d-flex"
                      size="small"
                      [clearButton]="true"
                      formControlName="nombre"
                      [required]="true"
                      [showSuccessIcon]="getShowSuccessIcon('nombre')"
                      [successIcon]="successIcon"
                    >
                    </kendo-textbox>
                    <kendo-formhint>Ingrese el nombre medio de pago</kendo-formhint>
                    <kendo-formerror>{{ getErrorMessage("nombre") }} </kendo-formerror>
                </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col k-form-horizontal">
              <kendo-formfield orientation="horizontal">
                <label [for]="idProveedor" class="k-label">
                    <span
                    >Razón Social :
                    <strong class="text-danger">*</strong></span>
                </label>
                <kendo-dropdownlist
                    formControlName="idProveedor"
                    class="d-flex"
                    size="small"
                    #idProveedor
                    [data]="listaRazonSocial"
                    textField="nombre"
                    valueField="id"
                    [defaultItem]="{id:null,nombre:'Seleccionar'}"
                    [valuePrimitive]="true"
                >
                </kendo-dropdownlist>
                <kendo-formerror>{{ getErrorMessage("idProveedor") }} </kendo-formerror>
                </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col k-form-horizontal">
              <kendo-formfield orientation="horizontal" >
                <label [for]="idPais" class="k-label">
                  <span
                    > Pais :
                    <strong class="text-danger">*</strong></span
                  >
                </label>
                <kendo-dropdownlist
                    formControlName="idPais"
                    class="d-flex"
                    size="small"
                    #idPais
                    [data]="listaPais"
                    textField="nombrePais"
                    valueField="id"
                    [defaultItem]="{id:null,nombrePais:'Seleccionar'}"
                    [valuePrimitive]="true"
                >
                </kendo-dropdownlist>
                <kendo-formerror>{{ getErrorMessage("idPais") }} </kendo-formerror>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col k-form-horizontal">
              <kendo-formfield orientation="horizontal">
                <label [for]="prioridad" class="k-label">
                    <span
                    >Prioridad :
                    <strong class="text-danger">*</strong></span>
                </label>
                <kendo-numerictextbox
                    #prioridad
                    orientation="horizontal"
                    [style.width.px]="170"
                    formControlName="prioridad"
                    [min]="0"
                    format="0"
                    [autoCorrect]="true"
                    >
                </kendo-numerictextbox>
                <kendo-formerror>{{ getErrorMessage("prioridad") }} </kendo-formerror>
                </kendo-formfield>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="accionModal();"
      >
        {{ btnModalNombre }}
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Close click')"
      >
        Cancelar
      </button>
    </div>
  </ng-template>

<div class="">
    <div class="row">
      <div class="col-1fa-rotate-270">
        <div class="card">
          <div class="card-header bg-color-material">
            <h1 class="text-white">Medios de Pago</h1>
          </div>
          <div class="card-body p-4">
            <div class="row">
              <div class="col">
                <k-grid-edit
                  [gridData]="listaMediosDePago"
                  [loader]="loader"
                  [columns]="gridMediosDePago.columns"
                  [commands]="gridMediosDePago.comands"
                  [gridConfig]="gridMediosDePago.gridConfig"
                  [gridState]="gridMediosDePago.gridState"
                  [commandAdd]="'external'"
                  [commandEdit]="'external'"
                  (OnGridEvents)="gridEventsResponse($event)"
                >
                </k-grid-edit>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


