<div class="row grid-speech" id="gridHistorialOportunidades">
  <kendo-grid
    [kendoGridBinding]="gridHistorialOportunidades.data"
    class="rounded-3 p-2"
    scrollable="none"
    [pageable]="gridHistorialOportunidades.pageable"
    [pageSize]="5"
    [selectable]="true"
    [sortable]="true"
    [resizable]="true"
  >
    <kendo-grid-column
      field="programa"
      title="Programa"
      [width]="200"
    ></kendo-grid-column>
    <kendo-grid-column field="probabilidad" title="Probabilidad" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div
          class="text-center fw-bold"
          [ngStyle]="{
            color:
              dataItem.probabilidad == 'Muy Alta'
                ? '#429d00'
                : dataItem.probabilidad == 'Alta'
                ? '#004792'
                : dataItem.probabilidad == 'Baja'
                ? '#ed1c24'
                : '#fbb03b'
          }"
        >
          {{ dataItem.probabilidad }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="faseMaxima" title="Fase Maxima" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          {{ dataItem.faseMaxima }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="faseOportunidad" title="Fase Actual" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          {{ dataItem.faseOportunidad }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="fechaSolicitud"
      title="Fecha Solicitud"
      [width]="60"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          {{
            dataItem.fechaSolicitud == null
              ? ""
              : (dataItem.fechaSolicitud | date : "dd/MM/yyyy")
          }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="asesor"
      title="Asesor"
      [width]="150"
    ></kendo-grid-column>
  </kendo-grid>
</div>
