<ng-container>
  <div style = "border: 1px solid #999999; border-radius: 10px;"  >
  <div class="modal-header bg-primary-header-modal headerp" >
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      <label class="k-label">{{ nombreSeccion }}</label>
    </h3>
  
    <button mat-icon-button  (click)="close.emit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="titulo1" >
    <fieldset class="k-form-fieldset">
      <div class="row">
        <div class="col-sm-12 col-md-12 container2">
          <mat-form-field appearance="outline" >
            <mat-label>Seleccione un estilo</mat-label>
            <mat-select [(ngModel)]="idest">
              <ng-container *ngFor="let p of listaEstiloThis">
                <mat-option *ngIf="p.seleccionado != true" [value]="p.id">
                  {{ p.nombre }}
                </mat-option>
              </ng-container>

            </mat-select>
          </mat-form-field>
          <button
          class="botoncito"
            kendoButton
            [themeColor]="'primary'"
            icon="plus"
            [disabled]="idest==0"
            (click)="AsignarEstilo()"
          >
            Agregar Estilo
          </button>
        </div>       

      </div>
    </fieldset>
  </div>

  <div class="formulario">
    <h1 *ngIf="Estilos.length > 0" style="font-size: 20px !important; font-weight:500;">Configuración de Estilos</h1>
    <ng-container *ngFor="let item of Estilos; let i = index">
      <ng-container *ngIf="item.eliminado == false">
        <app-plantilla-seccion-estilos
          [id]="item.id"
          [idEstilos]="item.idEstilo"
          [nombreEstilo]="item.name"
          [tipo]="item.tipo"
          [fuente]="fuente"
          [listaEstilo] = "listaEstilo"
          (onChange)="verCambios(i, $event); cambios.emit(Estilos)"
          (close)="item.eliminado = true; validarEstilos();reiniciar.emit()"
          [valor]="item.valor"
        ></app-plantilla-seccion-estilos>
      </ng-container>
    </ng-container>
  </div>
</div>
</ng-container>

<hr class="lineaSep" />

