.contenedor{
    display: flex;
    width: 100%
}

.formulario{
    width: 100%;
    height: auto;
    display:inline-block;
    overflow-x:hidden; 
    overflow-y:auto;

}

.botoncito{
    margin: 0.25em 0;
    margin-left: 15px;
    height: 40px;
    margin-bottom: 1.34375em;
 }

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    height: 40px;
}

.lineaSep{
    height: 5px;
}

.headers{
    background-color: #3343a4;
    color: white;
    height: 50px;
    padding-left: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }
  

h1{
    font-size: 15px;
}

.titulo1{
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.k-label{
    margin: 20px;
}

.plantilla{
    width: 50%;
    margin: auto;
    padding: auto;
   
}

.plantilla .modelo .texto{
    height: 30%;
    padding: 20px;
}

.plantilla .modelo .inputs{
    height: 40%;
}

.plantilla .modelo .bottom{
    height: 30%;
}
.modelo{
    width: 350px;
    height: 600px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    padding: auto;
}

.bottom{
    bottom: 10px;
}

.container2{
width: 500px;
display: flex;
flex-wrap: wrap;
align-items: center;
}

.container2 .dropdown{
    margin-right: 20px;
}

