.k-grid-toolbar {
  background-color: #3f51b5;
  border-color: inherit;
  box-shadow: none;
}

.txtAlumno {
  color: #000 !important;
  cursor: pointer !important;
}

.txtAlumno:hover {
  color: #ffbf00 !important;
  cursor: pointer !important;
  font-weight: bold !important;
}

.esLlamada3cx {
  text-decoration: underline;
  color: blue !important;
}

.esLlamadaRingover {
  text-decoration: underline;
  color: #07ad9c !important;
  font-weight: bold;
}

.esLlamadaWavix {
  text-decoration: underline;
  color: brown !important;
  font-weight: bold;
}

.esLlamadaCorporativo {
  text-decoration: underline;
  color: #ff6113 !important;
  font-weight: bold;
}

.esLlamadaIntegra {
  text-decoration: underline;
  color: #212121 !important;
}

.esLlamadaWolkbox {
  text-decoration: underline;
  color: #9a0f3d !important;
}

.sotcx-custom-table table {
  border: 1px solid !important;
}

.sotcx-custom-table td {
  border: 1px solid !important;
  padding: 0px !important;
}

#cuadrado1Actividad {
  width: 20px;
  height: 15px;
  background: #eb6720;
}

#cuadrado2Actividad {
  width: 20px;
  height: 15px;
  background: #424242;
}

#cuadrado3Actividad {
  width: 20px;
  height: 15px;
  background: green;
}

#cuadrado4Actividad {
  width: 20px;
  height: 15px;
  background: #656ec3;
}

#cuadrado1Llamada {
  width: 20px;
  height: 15px;
  background: black;
}

#cuadrado2Llamada {
  width: 20px;
  height: 15px;
  background: blue;
}

#cuadrado3Llamada {
  width: 20px;
  height: 15px;
  background: #07ad9c;
}

#cuadrado4Llamada {
  width: 20px;
  height: 15px;
  background: #9a0f3d;
}

.txtAlumno {
  color: #000 !important;
  cursor: pointer;
}

.txtAlumno:hover {
  color: #ffbf00 !important;
  cursor: pointer !important;
  font-weight: bold !important;
}

#my-grid3cx tr.sinLlamada {
  background-color: #eb6720;
  color: #ecedf0 !important;
}

#my-grid3cx tr.esSeguimientoWhatsapp {
  background-color: green;
  color: #ecedf0 !important;
}

#my-grid3cx tr.esOtroMedio {
  background-color: #656EC3;
  color: #ecedf0 !important;
}

#my-grid3cx tr.green {
  background-color: #b2f699;
}

.legend-3cx {
  font-size: 18px;
  line-height: inherit;
  color: #212121;
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.stylesLeyenda {
  width: 100%;
  align-items: center;
  padding-bottom: 15px;
}

.stylesLeyendacard {
  width: 60%;
}



/* nuevos colores para el texto */
.esSeguimientoWhatsappTexto {
  //color: green !important;
  color: #15a522 !important;
}
.esSeguimientoWhatsappTexto2 {
  //color: green !important;
  color: #15a522 !important;
}
.esOtroMedioTexto {
  //color: #656EC3 !important;
  color: #8f0cf5 !important;
}
.esOtroMedioTexto2 {
  //color: #656EC3 !important;
  color: #8f0cf5 !important;
}
.sinLlamadaTexto {
  //color: #eb6720 !important;
  color: #ff6a00 !important;
}
.sinActividadTexto {
  //color: #C8155B !important;
  color: #FF0000 !important;
}
.greenTexto {
  color: #b2f699 !important;
}
.esNormal {
  //color: green !important;
  color: #424242 !important;
}