table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

table.historialCompromiso .mat-header-cell {
  background-color: #CBE4FF;
  color: #373737;
  font-size: 13px;
}

.btn-cp-hover-effect:hover{
  text-decoration: underline;
}

.mat-header-cell {
  background-color: #0079FF;
  color: white;
  font-size: 14px;
  text-align: center;
}

.mat-header-cell.th-orange {
  background-color: #FF6113;
  color: white;
  font-size: 14px;
}

td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
}

.mat-row:hover {
  background-color: #F3F3F3;
}

.mat-column-fechaVencimiento, .mat-column-fechaPago, .mat-column-formaPago, .mat-column-ver, .mat-column-fechaUC, .mat-column-cumplioUC {
  width: 7.68%;
}

.mat-column-nroCuota{
  width: 70px;
}

.mat-column-costoCobranza{
  width: 80px;
}
.mat-column-monto{
  width: 10%;
}

.mat-expansion-panel-header{
  background-color: #F3F3F3 !important;
}

.mat-expansion-panel-header-title{
  color: #4A4A49 !important;
  font-weight: bold !important;
}

.mat-expansion-panel{
  box-shadow: none !important;
  background-color: #F3F3F3 !important;
}

th.mat-header-cell:first-of-type, th.mat-header-cell:last-of-type{
  padding: 0 !important;
}

tr.mat-header-row{
  height: 36px !important;
}

:host ::ng-deep .mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body{
  padding: 24px !important;
  background-color: #F7F8FA !important;
}

:host ::ng-deep .cronograma-pago-progress-bar .mat-progress-bar-fill::after{
  background-color: #FF6113 !important;
}

:host ::ng-deep .cronograma-pago-progress-bar .mat-progress-bar-buffer {
  background-color: #DCDCDC !important;
}

.subrayarTexto:hover {
  text-decoration: underline;
}