



<div class="">
    <div class="row">
      <div class="col-1fa-rotate-270">
        <div class="card">
            <div class="card-header bg-color-material">
                <h1 class="text-white">Activación de FUR's</h1>
            </div>
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-header bg-color-material col-md-12">
                            <div class="row">
                                <div div class="col-md-6" style="text-align: left;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button 
                                            kendoButton 
                                            icon="reload" 
                                            type="button"
                                            themeColor="secondary" 
                                            style="margin-right: 1rem;"
                                            (click)="obtenerDatosGrillaFursPorActivar()"
                                            >
                                            </button>
                                            <button
                                            kendoButton 
                                            icon="k-icon k-i-file-excel k-icon-20"
                                            type="button"
                                            themeColor="tertiary"
                                            (click)="excelexport.save()"
                                            >
                                            Exportar a Excel
                                            </button>
                                            <kendo-excelexport 
                                            [data]="listaFursPorActivar" 
                                            fileName="FUR-No-Ejecutados.xlsx" #excelexport>
                                            <kendo-excelexport-column field="codigo" title="CÓDIGO FUR">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="tipoPedido" title="TIPO PEDIDO">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="centroCosto" title="CENTRO COSTO">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="programa" title="PROGRAMA">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="razonSocial" title="PROVEEDOR">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="producto" title="PRODUCTO/SERVICIO">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="monedaPagoReal" title="MONEDA">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="precioUnitarioMonedaOrigen" title="PRECIO UNITARIO">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="cantidad" title="CANTIDAD">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="precioTotalMonedaOrigen" title="PRECIO TOTAL">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="descripcion" title="DESCRIPCIÓN">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="usuarioSolicitud" title="USUARIO SOLICITUD">
                                            </kendo-excelexport-column>
                                            <kendo-excelexport-column field="fechaAprobacionJefeFinanzas" title="APROBACIÓN JEFE FINANZAS">
                                            </kendo-excelexport-column>
                                            
                                                </kendo-excelexport>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="row" style="text-align: right;">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-3">
                                            <button
                                                kendoButton
                                                themeColor="primary"
                                                icon="k-icon k-i-check-outline k-icon-20"
                                                type="button"
                                                (click)=" msgActivar()"
                                                >
                                                Activar FUR's
                                                </button>
                                        </div>
                                        <div class="col-md-3">
                                            <button
                                                kendoButton
                                                themeColor="error"
                                                icon="k-icon k-i-delete k-icon-20"
                                                type="button"
                                                (click)="msgEliminar()"
                                                >
                                                Elimiar FUR's
                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <kendo-grid
                    [kendoGridBinding]="listaFursPorActivar"
                    [loading]="loader"
                    [pageSize]="5"
                    [sortable]="true"
                    [reorderable]="true"
                    [resizable]="true"
                    [columnMenu]="{ filter: true }"
                    kendoGridSelectBy="id"
                    [(selectedKeys)]="listaSeleccion"
                    [selectable]="{ enabled: true, checkboxOnly: true }"
                    [pageable]="{
                        buttonCount: 5,
                        info: true,
                        type: 'numeric',
                        pageSizes: true,
                        previousNext: true,
                        position: 'bottom'
                    }"
                    (filterChange)="limpiarSeleccion()"
                    
                    >
                        <kendo-grid-checkbox-column
                        [width]="45"
                        [headerClass]="{ 'text-center': true }"
                        [class]="{ 'text-center': true }"
                        [resizable]="false"
                        [columnMenu]="false"
                        [showSelectAll]="true"
                        [sticky]="true"
                        >
                        </kendo-grid-checkbox-column>
                        <kendo-grid-column
                            title="Codigo Fur"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="codigo"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Tipo de Pedido"
                            headerClass="justify-content-center k-grid-header "
                            [width]="200"
                            field="tipoPedido"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Centro Costo"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="centroCosto"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Programa"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="programa"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Proveedor"
                            headerClass="justify-content-center k-grid-header "
                            [width]="250"
                            field="razonSocial"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Producto/Servicio"
                            headerClass="justify-content-center k-grid-header "
                            [width]="200"
                            field="producto"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Moneda"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="monedaPagoReal"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Precio Unitario"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="precioUnitarioMonedaOrigen"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Cantidad"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="cantidad"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Precio Total"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="precioTotalMonedaOrigen"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Descripción"
                            headerClass="justify-content-center k-grid-header "
                            [width]="250"
                            field="descripcion"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Fecha Limite"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="fechaLimite"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                            format="{0:dd/MM/yyyy}"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Usuario Solicitud"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="usuarioSolicitud"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                            title="Aprobacion Jefe Finanzas"
                            headerClass="justify-content-center k-grid-header "
                            [width]="150"
                            field="fechaAprobacionJefeFinanzas"
                            [locked]="false"
                            [sticky]="false"
                            [filterable]="true"
                            [hidden]="false"
                            format="{0:dd/MM/yyyy}"
                        >
                        </kendo-grid-column>
                    </kendo-grid>
                    
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
