.colorCerrar{
  background: #0079FF;
}
.colorCabecera{
  background:  #11C744;
  text-align: center;
}

.exit{
  color: white;
}

.botonCerrar{
  background-color: #0079FF;
  color: white;
  border-radius: 7px;
  opacity: 1;
  padding: 12px 40px;
  margin: 15% 0% 15% 0%;
  text-align: center;
  border: none;
  display: block;
}

audio::-webkit-media-controls-panel {
  background: #FBFBFB;
  border-radius: 1%;
  border: 1px solid #EBEBEB;
  appearance: none;
}


audio::-webkit-media-controls-volume-slider{
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
}
audio::-webkit-media-controls-mute-button {
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg) brightness(91%) contrast(135%);
}

audio::-webkit-media-controls-volume-slider-container{
  filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
  background: #FFD9C7;
}

audio::-webkit-media-controls-play-button{
  filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
}

audio::-webkit-media-controls-timeline{
 filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
}

input[type="button" i] audio::-webkit-media-controls-mute-button  {
  background: #FFD9C7;
}
audio::-internal-media-controls-overflow-button{
  background-image: url('/src/assets/img/fonWhats3.png');
  filter: invert(43%) sepia(96%) saturate(1237%) hue-rotate(88deg) brightness(128%) contrast(119%);
  background: blue;
}
.button {
  background: red;
}
