.modal-title {
  background-color: #008069;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-size: 1rem;
}

.contenedorCampania {
  margin-top: 40px;
  padding: 14px;
  box-sizing: border-box;
}

.sendButton {
  background-color: #008069;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  padding: 8px 40px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.kendo-input {
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-label {
  flex: 0 0 30%;
  margin-right: 4px;
  text-align: right;
}

.flex-input {
  flex: 0 0 70%;
  display: flex;
  align-items: center;
}
