<div class="pg-contenedor-tab">
  <div class="row" [formGroup]="formParametroSeo">
    <div class="col-sm-12 col-md-6">
      <div class="row my-2">
        <div class="col-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label class="k-label">
              <span
                >Parametro SEO</span
              >
            </label>
            <kendo-multiselect
              formControlName="parametrosSeo"
              [data]="comboParametroSeo"
              textField="nombreParametroSeo"
              valueField="idParametroSeo"
              [kendoDropDownFilter]="filterSettings"
              placeholder="<Parametro SEO>"
              (valueChange)="onValueChangeParametroSeo($event)"
              [popupSettings]="{ popupClass: 'pg-popup' }"
              class="pg-dropDown"
            >
            </kendo-multiselect>
          </kendo-formfield>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label class="k-label">
              <span>Img Portada</span>
            </label>
            <kendo-textbox
              formControlName="imgPortada"
              placeholder="<Img Portada>"
              class="pg-kinpunt"
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label class="k-label">
              <span>Url</span>
            </label>
            <kendo-textbox
              formControlName="url"
              placeholder="<URL>"
              class="pg-kinpunt"
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row my-2">
        <div class="col-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label class="k-label">
              <span
                >Img Portada<br />Alt</span
              >
            </label>
            <kendo-textbox
              formControlName="imgPortadaAlt"
              placeholder="Url Brochure"
              class="pg-kinpunt"
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label class="k-label">
              <span
                >Nombre Web <br />(Html)</span
              >
            </label>
            <kendo-textbox
              formControlName="nombreWebHTML"
              placeholder="Url Brochure"
              class="pg-kinpunt"
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label class="k-label">
              <span
                >Descripción<br />General</span
              >
            </label>
            <kendo-textbox
              formControlName="descripcionGeneral"
              placeholder="Url Brochure"
              class="pg-kinpunt"
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <fieldset class="k-form-fieldset k-form-horizontal">
        <legend class="k-form-legend">Contenido Parametro SEO:</legend>
        <div class="row">
          <div class="col-12 pg-kgrid">
            <kendo-grid
              [kendoGridBinding]="gridContenidoParametroSeo.data"
              scrollable="none"
              (cellClick)="gridContenidoParametroSeo.cellClickHandler($event)"
              (cellClose)="gridContenidoParametroSeo.cellCloseHandler($event)"
            >
              <kendo-grid-column
                field="nombreParametroSeo"
                title="Nombre"
                [width]="100"
                [editable]="false"
                headerClass="justify-content-center pg-header-grid"
              ></kendo-grid-column>
              <kendo-grid-column
                field="descripcion"
                title="Contenido"
                [width]="250"
                headerClass="justify-content-center pg-header-grid"
              ></kendo-grid-column>
            </kendo-grid>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
