<!-- #region Modal Agregar nuevo Postulante -->
<div class="modal-header py-2 bg-light text-dark text-center">
  <h2 class="modal-title w-100 mb-0">{{ tipoAccion }} Formacion Postulante</h2>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body px-4">
  <form [formGroup]="formPostulanteExperiencia" class="Form-Postulantes">
    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal">
        <div class="row">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Empresa<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                #dropDownListEmpresa
                [data]="dataEmpresa"
                [popupSettings]="{ popupClass: 'popupCustom' }"
                formControlName="IdEmpresa"
                [defaultItem]="{ id: null, nombre: 'Seleccione Empresa' }"
                [valuePrimitive]="true"
                textField="nombre"
                valueField="id"
                [filterable]="true"
                (filterChange)="filterEmpresa($event)"
                (valueChange)="cambioEmpresa($event)"
              ></kendo-dropdownlist>
              <kendo-formerror>Empresa Requerida</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="OtraEmpresa">Otra Empresa </label>
              <kendo-textbox #OtraEmpresa formControlName="OtraEmpresa">
              </kendo-textbox>
              <kendo-formerror
                *ngIf="OtraEmpresaFormControl.errors?.['required']"
                >Institucion es requerido</kendo-formerror
              >
              <kendo-formerror
                *ngIf="OtraEmpresaFormControl.errors?.['maxlength']"
                >Institucion debe tener 50 caracteres o menos</kendo-formerror
              >
              <kendo-formerror
                *ngIf="OtraEmpresaFormControl.errors?.['noStartSpace'] || OtraEmpresaFormControl.errors?.['noEndSpace']"
                >No se permite espacios al inicio/final</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Cargo<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboAreaFormacionExperiencia.cargo"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Cargo'
                }"
                [valuePrimitive]="true"
                formControlName="IdCargo"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">Area Trabajo</label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboAreaFormacionExperiencia.areaTrabajo"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Area Trabajo'
                }"
                [valuePrimitive]="true"
                formControlName="IdAreaTrabajo"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">Industria</label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboAreaFormacionExperiencia.industria"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Industria'
                }"
                [valuePrimitive]="true"
                formControlName="IdIndustria"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="Salario">Salario *</label>
              <kendo-numerictextbox
                #Salario
                formControlName="Salario"
                [min]="0"
                [max]="99999"
                [format]="'0'"
                [decimals]="0"
              ></kendo-numerictextbox>
              <kendo-formerror *ngIf="SalarioFormControl.errors?.['required']"
                >Este campo es requerido</kendo-formerror
              >
              <kendo-formerror
                *ngIf="SalarioFormControl.errors?.['min'] || SalarioFormControl.errors?.['max']"
                >No se permite numeros negativos o fuera del rango
                maximo</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="SalarioComision"
                >Salario Comision</label
              >
              <kendo-numerictextbox
                #SalarioComision
                formControlName="SalarioComision"
                [min]="0"
                [max]="99999"
                [format]="'0'"
                [decimals]="2"
              ></kendo-numerictextbox>
              <kendo-formerror
                *ngIf="SalarioFormControl.errors?.['min'] || SalarioFormControl.errors?.['max']"
                >No se permite numeros negativos o fuera del rango
                maximo</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Moneda<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboAreaFormacionExperiencia.moneda"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Moneda'
                }"
                [valuePrimitive]="true"
                formControlName="IdMoneda"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="FechaInicio"
                >Fecha de Inicio
              </label>
              <kendo-datepicker
                #FechaInicio
                formControlName="FechaInicio"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="format"
                placeholder="dia/mes/año"
              >
              </kendo-datepicker>
              <kendo-formerror
                *ngIf="FechaInicioFormControl.errors?.['required']"
                >Este campo es requerido</kendo-formerror
              >
              <kendo-formerror> Formato de Fecha Erroneo </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="FechaFin">Fecha de Fin </label>
              <kendo-datepicker
                #FechaFin
                formControlName="FechaFin"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="format"
                placeholder="dia/mes/año"
              >
              </kendo-datepicker>
              <kendo-formerror
                *ngIf="FechaInicioFormControl.errors?.['required']"
                >Este campo es requerido</kendo-formerror
              >
              <kendo-formerror> Formato de Fecha Erroneo </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="EsUltimoEmpleo"
                >Es ultimo Empleo</label
              >
              <kendo-switch
                #EsUltimoEmpleo
                formControlName="EsUltimoEmpleo"
                size="small"
                trackRounded="full"
                thumbRounded="full"
                onLabel="Si"
                offLabel="No"
              >
              </kendo-switch>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="AlaActualidad"
                >A la actualidad</label
              >
              <kendo-switch
                #AlaActualidad
                formControlName="AlaActualidad"
                size="small"
                trackRounded="full"
                thumbRounded="full"
                onLabel="Si"
                offLabel="No"
              >
              </kendo-switch>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="NombreJefe">Nombre Jefe</label>
              <kendo-textbox
                #NombreJefe
                formControlName="NombreJefe"
                [maxlengh]="100"
              >
              </kendo-textbox>
              <kendo-formerror
                *ngIf="NombreJefeFormControl.errors?.['required']"
                >Institucion es requerido</kendo-formerror
              >
              <kendo-formerror
                *ngIf="NombreJefeFormControl.errors?.['maxlength']"
                >Nombre debe tener menos de 100 caracteres</kendo-formerror
              >
              <kendo-formerror
                *ngIf="NombreJefeFormControl.errors?.['noStartSpace'] || NombreJefeFormControl.errors?.['noEndSpace']"
                >No se permite espacios al inicio/final</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="NumeroJefe">Numero Jefe *</label>
              <kendo-numerictextbox
                #NumeroJefe
                formControlName="NumeroJefe"
                [min]="0"
                [format]="'0'"
                [decimals]="0"
              ></kendo-numerictextbox>
              <kendo-formerror
                >No se permiten numeros negativos</kendo-formerror
              >
              <kendo-formerror
                *ngIf="NumeroJefeFormControl.errors?.['required']"
                >Este campo es requerido</kendo-formerror
              >
              <kendo-formerror
                *ngIf="NumeroJefeFormControl.errors?.['noStartSpace'] || NumeroJefeFormControl.errors?.['noEndSpace']"
                >No se permite espacios al inicio/final</kendo-formerror
              >
              <kendo-formerror *ngIf="NumeroJefeFormControl.errors?.['max']"
                >No se permite numeros fuera del rango maximo</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="Funcion">Función </label>
              <kendo-textarea
                #Funcion
                class="d-flex"
                size="small"
                [clearButton]="true"
                formControlName="Funcion"
                [style.width.%]="100"
                [maxlength]="600"
                resizable="auto"
              >
              </kendo-textarea>
              <kendo-formerror *ngIf="FuncionFormControl.errors?.['required']"
                >Este campo es requerido</kendo-formerror
              >
              <kendo-formerror
                *ngIf="FuncionFormControl.errors?.['noStartSpace'] || FuncionFormControl.errors?.['noEndSpace']"
                >No se permite espacios al inicio/final</kendo-formerror
              >
              <kendo-formerror *ngIf="FuncionFormControl.errors?.['max']"
                >Llego al limite de caracteres</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="k-form-buttons m-0">
    <button
      themeColor="primary"
      size="medium"
      class="w-100"
      kendoButton
      [disabled]="controlBotton"
      (click)="GuardarCambios()"
    >
      <kendo-loader *ngIf="loadingPanelVisible" themeColor="light">
      </kendo-loader>
      {{ tipoAccion }}
    </button>
    <button
      themeColor="error"
      size="medium"
      class="w-100"
      kendoButton
      (click)="activeModal.dismiss('Cross click')"
    >
      Cancelar
    </button>
  </div>
</div>
<!-- #endregion Modal Agregar nuevo Postulante-->
