

<div class="row">
    <div class="col-1fa-rotate-270">
      <div class="card">
          <div class="card-header bg-color-material">
              <h1 class="text-white">Reporte Indicadores de Productividad</h1>
          </div>
          <div  class="card-body p-4">
            <div class="k-loading-panel" *ngIf="loader">
              <div class="k-loading-panel-mask"></div>
              <div class="k-loading-panel-wrapper">
                <kendo-loader
                  type="converging-spinner"
                  themeColor="primary"
                  size="large"
                >
                </kendo-loader>
                <div class="k-loading-panel-text fs-5 text-primary">Cargando...</div>
              </div>
            </div>
              <div class="row conteiner-toolbar-retiros-matricula">
                  <div class="card" style="padding: 0px;">
                      <div class="card-header bg-color-material pb-0">
                          <h3 class="text-white mb-2">Filtro </h3>
                      </div>
                      <div  class="card-body p-4">
                        <form class="k-form" [formGroup]="formGroupFiltro" >
                            <fieldset class="k-form-fieldset">
                                <div class="row" style="display:flex;justify-content:center">
                                    <div class="col-md-8">
                                        <form class="k-form" [formGroup]="formGroupFiltro">
                                          <fieldset class="k-form-fieldset">
                                            <div
                                              class="row"
                                              style="display: flex; justify-content: center"
                                            >
                                              <div class="col-md-8">
                                                <kendo-daterange [incompleteDateValidation]="true">
                                                  <div class="col-md-5">
                                                    <label style="width: 250px">
                                                      <span
                                                        >Fechas :</span
                                                      >
                                                    </label>
                                                    <kendo-dateinput
                                                      kendoDateRangeStartInput
                                                      [size]="'medium'"
                                                      formControlName="fechaInicio"
                                                      [placeholder]="'Inicio'"
                                                      [format]="{
                                                        displayFormat: 'dd-MM-yyyy',
                                                        inputFormat: 'dd-MM-yyyy'
                                                      }"
                                                      [incompleteDateValidation]="true"
                                                      fillMode="outline"
                                                    >
                                                    </kendo-dateinput>
                                                  </div>
                                                  <div
                                                    class="col-md-2"
                                                    style="
                                                      padding: 0%;
                                                      width: 5%;
                                                      text-align: center;
                                                    "
                                                  >
                                                    <p style="margin-bottom: 5px">
                                                      <strong>—</strong>
                                                    </p>
                                                  </div>
                                                  <div class="col-md-5">
                                                    <kendo-dateinput
                                                      kendoDateRangeEndInput
                                                      [size]="'medium'"
                                                      [placeholder]="'fin'"
                                                      formControlName="fechaFin"
                                                      [format]="{
                                                        displayFormat: 'dd-MM-yyyy',
                                                        inputFormat: 'dd-MM-yyyy'
                                                      }"
                                                      [incompleteDateValidation]="true"
                                                      fillMode="outline"
                                                    ></kendo-dateinput>
                                                  </div>
                                                </kendo-daterange>
                                              </div>
                                              <div class="col-md-2" style="padding-top: 15px">
                                                <button mat-raised-button color="primary" (click)="generarInformacion()">
                                                  <mat-icon>search</mat-icon>
                                                  Buscar
                                                </button>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </form>
                                      </div>
                                </div>
                            </fieldset>

                        </form>
                            
                      </div>
                  </div>
                  <div style="height: 30px;"></div>
                  <kendo-tabstrip
                  style="background-color: #d3d4dc;padding:0%"
                  [keepTabContent]="true"
                >
                  <kendo-tabstrip-tab title="REPORTE DE HORAS TRABAJADAS" [selected]="true">
                    <ng-template kendoTabContent>
                        <app-horas-trabajadas 
                        [listaReporte]="listaTab1" 
                        [reporteOriginal]="reporteGenaral?
                          reporteGenaral.reporteProductividadHorasTrabajadas:[]"
                        ></app-horas-trabajadas>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab title="REPORTE DE RENDIMIENTO POR EQUIPO">
                    <ng-template kendoTabContent>
                      <app-rendimiento-por-equipo
                      [listaReporte]="listaTab2" 
                      [reporteOriginal]="reporteGenaral?
                        reporteGenaral.reporteHorasTrabajadasProductividadEquipo:[]"
                      >
                      </app-rendimiento-por-equipo>
                    </ng-template>
                  </kendo-tabstrip-tab>
                  <kendo-tabstrip-tab title="REPORTE DE INDICADORES PRODUCTIVIDAD DE VENTAS">
                    <ng-template kendoTabContent>
                      <app-indicadores-productividad-ventas
                      [listaReporte]="listaTab3" 
                      [reporteOriginal]="reporteGenaral?
                        reporteGenaral.reporteIndicadoresProductividad:[]"
                      >
                      </app-indicadores-productividad-ventas>
                    </ng-template>
                  </kendo-tabstrip-tab>
                </kendo-tabstrip>
                  
              </div> 
              <br>

          </div>
      </div>
  </div>
</div>