tr.gold,
tr.k-alt.gold {
  background-color: rgb(176, 230, 173);
}
tr.green,
tr.k-alt.greem {
  background-color: white;
}

.label{ 
  font-weight: bold;
  font-size: 18px;
}
.cuotasInfo{
  height: 171px;
}
.compromisosInfo{
  height: 183px;
}
.imgCont{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.btn-hover-effect {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-hover-effect:hover {
  transform: scale(1.2);
  background-color: #FF4500; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
 

}
.card-hover-effect:hover{
  cursor: pointer;
  text-decoration: underline;
}
.card-hover-effect:hover .btn-hover-effect {
  transform: scale(1.2);
  background-color: #FF4500; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}