<!-- <ng-template #modalSemaforoDetalle let-modal>
</ng-template> -->
<div #topScroll class="modal-header">
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalOportunidad()"></button>
</div>
<div class="modal-body" id="tabsModalOportunidad" class="p-0">

  <div id="scroll-btn">
    <button mat-button (click)="ScrollTo(topScroll)" style="padding: 0 ;min-width: unset;">
      <div class="d-flex flex-column align-items-center"
        style="text-align: center;background-color: #f3d0c0;padding: 3px;border-radius: 10px; width: 55px; height: 70px;box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);">
        <!-- <button id="blinking-btn" type="button" class="btn btn-warning" (click)="ScrollTo(topScroll)" style="border-radius: 50px;">
            <span class="k-icon k-i-arrow-up" style="font-size: 30px; color:white;">
            </span>
        </button> -->
        <img style="width: 25px" src="assets/img/iconsagendaatc/ir-inicio-icon.svg">
        <span style="margin: 0;color: #ff6113;">Inicio</span>
      </div>
    </button>
  </div>
  <div *ngIf="buttonCommentView" class="example-box" (click)="openModal()" cdkDragLockAxis="y" cdkDrag>
    <img src="assets/img/iconsagendaatc/comentario.svg" alt="Icono" style="vertical-align: middle" />
  </div>
  <div id="scroll-btn2">
    <button mat-button (click)="ScrollTo(downScroll)" style="padding: 0; min-width: unset;">
      <div class="d-flex flex-column align-items-center"
        style="text-align: center;background-color: #f3d0c0;padding: 3px;border-radius: 10px; width: 55px; height: 70px;     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);">
        <img style="width: 25px" src="assets/img/iconsagendaatc/ir-final-icon.svg">
        <span style="margin: 0;color: #ff6113;">Fin</span>
      </div>
    </button>
  </div>
  <kendo-tabstrip #tabsModalFicha class="p-0" [keepTabContent]="true" [style.width.%]="''" [animate]="false"
    [scrollable]="{ scrollButtons: 'auto' }" (tabSelect)="onSelectTabFicha($event)">
    <!-- SPEECH -->
    <kendo-tabstrip-tab [selected]="true" title="Speech">
      <ng-template kendoTabTitle>
        <span>Speech</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-speech [agendaService]="agendaService"></app-speech>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END SPEECH -->
    <!-- EDITAR DATOS PERSONALES -->
    <kendo-tabstrip-tab title="Informacion del cliente">
      <ng-template kendoTabTitle>
        <span>Informacion del Cliente</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-datos-personales [agendaService]="agendaService"></app-datos-personales>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END EDITAR DATOS PERSONALES -->
    <!-- Cronograma de Pagos -->
    <!-- <kendo-tabstrip-tab title="Cronograma de Pagos">
      <ng-template kendoTabTitle>
        <span>Cronograma de Pagos</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>

        <app-cronograma-pagos
          [agendaService]="agendaService"
        ></app-cronograma-pagos>

      </ng-template>
    </kendo-tabstrip-tab> -->
    <!-- END Cronograma de Pagos -->
    <!-- Cronograma de Evaluaciones -->
    <!-- <kendo-tabstrip-tab title="Cronograma de Evaluaciones">
      <ng-template kendoTabTitle>
        <span>Cronograma de Evaluaciones</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <app-cronograma-evaluaciones
          [agendaService]="agendaService"
        ></app-cronograma-evaluaciones>
      </ng-template>
    </kendo-tabstrip-tab> -->
    <!-- END Cronograma de Evaluaciones -->

    <!-- Gestión de Pagos -->
    <kendo-tabstrip-tab title="Gestión de Pagos">
      <ng-template kendoTabTitle>
        <span>Gestión de Pagos</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-gestion-pagos [agendaService]="agendaService"></app-gestion-pagos>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>

    <!-- Información del Programa -->
    <kendo-tabstrip-tab title="Información del Programa">
      <ng-template kendoTabTitle>
        <span>Información del Programa</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-informacion-programa [agendaService]="agendaService"></app-informacion-programa>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END Información del Programa -->

    <!-- Portal Academico -->
    <kendo-tabstrip-tab title="Portal Academico">
      <ng-template kendoTabTitle>
        <span>Portal Académico</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-portal-academico [agendaService]="agendaService"></app-portal-academico>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END Portal Academico -->

    <!-- Documentación -->
    <kendo-tabstrip-tab title="Documentación">
      <ng-template kendoTabTitle>
        <span>Documentación</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <app-documentacion [agendaService]="agendaService"></app-documentacion>
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- FIN Documentación -->

    <!-- Cursos Matriculados -->
    <kendo-tabstrip-tab title="Cursos Matriculados">
      <ng-template kendoTabTitle>
        <span>Cursos Matriculados</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-cursos-matriculados [agendaService]="agendaService"></app-cursos-matriculados>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END Cursos Matriculados -->
    <!-- DOCUMENTOS LEGALES -->
    <!-- <kendo-tabstrip-tab title="Documentos Legales">
      <ng-template kendoTabTitle>
        <span>Documentos Legales</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <app-documentos-legales
          [agendaService]="agendaService"
        ></app-documentos-legales>
      </ng-template>
    </kendo-tabstrip-tab> -->
    <!-- END DOCUMENTOS LEGALES -->
  </kendo-tabstrip>
</div>
<div class="modal-footer">
  <div #downScroll class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModalOportunidad()"></button>
  </div>
</div>


<kendo-window
  *ngIf="abrirComentario"
  [(top)]="windowTop"
  [(left)]="windowLeft"
  autoFocusedElement="#kwcomentario"
  title="Comentario Actividad"
  class="kw-comentarioAgenda"
  (close)="closeComentario()"
  [resizable]="true"
  [width]="450"
  style="position: fixed; border-radius: 3%; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);"
>
  <kendo-window-titlebar style="background-color: #ff6113; color: #ffffff; border-radius: 3% 3% 0% 0%; position: relative;">
    <div style="text-align: center;">
      <span>Añadir Comentario</span>
    </div>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="closeComentario()"
      style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);"
    ></button>
  </kendo-window-titlebar>
  <div class="row">
    <div class="modal-body">
      <fieldset style="border: 1px solid #d5ffe1; padding: 10px; border-radius: 4px; margin-bottom: 20px; position: relative;">
        <div class="row" style="padding-bottom: 15px; position: absolute; top: -15px; left: 10px; background-color: #d5ffe1; padding: 0 5px; border-radius: 5px;">
          <div class="col" style="background-color: #d5ffe1; justify-content: center; border-radius: 9px; display: flex; height: 30px; align-items: center;">
            Pagos
          </div>
        </div>
        <div class="row" style="padding-bottom: 15px; margin-top: 20px;margin-right:2px;">
          <div class="col-3">Categoría</div>
          <div class="col custom-mco19-remove-max-width" style="padding: 0">
            <kendo-dropdownlist
              [data]="inputSeguimientoAlumnoCategoriaPago"
              [valuePrimitive]="true"
              [(ngModel)]="dataCategoriaPago"
              [valueField]="'id'"
              [defaultItem]="{ id: 0, nombre: 'Seleccione' }"
              [filterable]="true"
              [kendoDropDownFilter]="filterSettings"
              [textField]="'nombre'"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="row" style="padding-bottom: 15px;margin-right:2px;">
          <div class="col-3">Comentario</div>
          <div class="col" style="padding: 0">
            <textarea
              rows="5"
              cols="4"
              type="text"
              [(ngModel)]="comentarioPago"
              placeholder="Comentario"
              style="width: 100%; border-radius: 4%;"
            ></textarea>
          </div>
        </div>
      </fieldset>

      <fieldset style="border: 1px solid #cbe4ff; padding: 10px; border-radius: 4px; position: relative;">
        <div class="row" style="padding-bottom: 15px; position: absolute; top: -15px; left: 10px; background-color: #cbe4ff; padding: 0 5px; border-radius: 5px;">
          <div class="col" style="background-color: #cbe4ff; justify-content: center; border-radius: 9px; display: flex; height: 30px; align-items: center;">
            Académico
          </div>
        </div>
        <div class="row" style="padding-bottom: 15px; margin-top: 20px;margin-right:2px">
          <div class="col-3">Categoría</div>
          <div class="col custom-mco19-remove-max-width" style="padding: 0">
            <kendo-dropdownlist
              [data]="inputSeguimientoAlumnoCategoriaAcademico"
              [valuePrimitive]="true"
              [(ngModel)]="dataCategoriaAcademico"
              [valueField]="'id'"
              [kendoDropDownFilter]="filterSettings"
              [filterable]="true"
              [defaultItem]="{ id: 0, nombre: 'Seleccione' }"
              [textField]="'nombre'"
            >
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="row" style="padding-bottom: 15px;margin-right:2px;">
          <div class="col-3">Comentario</div>
          <div class="col" style="padding: 0">
            <textarea
              rows="5"
              cols="4"
              type="text"
              [(ngModel)]="comentarioAcademico"
              placeholder="Comentario"
              style="width: 100%; border-radius: 4%"
            ></textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="row" style="padding-bottom: 5px">
      <div class="col" style="display: flex; justify-content: end">
        <button
          class="botonModalcomentario btn-hio-hover-effect"
          style="
            background-color: #0079ff;
            color: white;
            border-radius: 8px;
            width: 100px;
            height: 40px;
            border: none;
          "
          (click)="guardarComentarios()"
        >
          Guardar
        </button>
      </div>
      <div class="col" style="display: flex; justify-content: initial">
        <button
          class="botonModalcomentario btn-hio-hover-effect"
          style="
            color: #0079ff;
            border: solid 1px #0079ff;
            border-radius: 8px;
            background-color: white;
            width: 100px;
            height: 40px;
            cursor: pointer;
          "
          (click)="closeComentario()"
        >
          Cerrar
        </button>
      </div>
      <loading [loading]="loadingGuardar"></loading>
    </div>
  </div>
</kendo-window>