//Cambio de tamaño de modal
.modal-xxl{
  max-width: 1400px !important;
}

ModalContentOportunidadComponent ::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}
/* Handle */
ModalContentOportunidadComponent ::-webkit-scrollbar-thumb {
  background-color: #7F7F7F;
}

// $modal-xl: 1340px;
$grid-breakpoints: (
  xs: 0,
  sm: 590px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 500px,
  md: 720px,
  lg: 960px
);

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );
@import '~bootstrap/scss/bootstrap';


// #tabsModalOportunidad .k-header {
//   background-color: #4fa4c0;
//   border: none !important;
// }

// .k-tabstrip {
//   background-color: #4fa4c0;
// }

#tabsModalOportunidad .k-tabstrip-items-wrapper {
  // background-color: rgb(43 137 179);
  background-color: #007AFF;
}

#tabsModalOportunidad .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active{
  // background-color: rgb(12, 121, 172);
  background-color: #0036E6;
  background-image: none;
  border-bottom-color: #000AA7;
  // border-bottom-color: #f3f3f3;
  font-weight: 500 !important;
  border-bottom-width: 5px;
}
#tabsModalOportunidad .k-tabstrip-scrollable > .k-tabstrip-items-wrapper > .k-button .k-button-icon{
  color: white;
  font-size: 14px;
}
#tabsModalOportunidad .k-item {
  // background: rgb(43 137 179);
  background: #007AFF;
  height: 50px;
  font-size: 14px;
  // border-color: red !important;
}
#tabsModalOportunidad .k-tabstrip-items .k-state-active {
  // background-color: #2b89b3;
  background-color: #007AFF;
  // border-color: red !important;
  // border: none !important;
}

#tabsModalOportunidad .k-item .k-state-hover {
  // background: #2b89b3 !important;
  background: #0036E6 !important;
  // border-color: #4584a7;
}
#tabsModalOportunidad {
.k-tabstrip-items .k-item .k-link ::after {
  content: "";
  position: absolute;
  top: 10px; 
  right: 0;
  bottom: 10px;
  width: 1px;
  background-color: white;
}
.k-tabstrip-items .k-item:not(.k-active):not([style*="border"]) :hover{
  
    // background-color: #396a7a !important;
    background-color: #0036E6 !important;
    text-decoration: underline;
    // border-color: red !important;
}}

.k-tabstrip-top > .k-content,
.k-tabstrip-top > .k-tabstrip-content {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.k-tabstrip > .k-content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-width: 0px;
  // padding-bottom: 0.92em;
}
// .k-tabstrip-items-wrapper .k-item:hover :not(.k-state-active){
//   // color: #0f6190;
//   background-color: #13a9da !important;
// }

.k-tabstrip-items .k-item .k-link {
  color: #fff;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: -1px;
}

.k-content:focus {
  outline-style: none !important;
}


#divCabeceraCompetidores {
  padding: 5px 0px;
  background-color: #008cb6;
  color: white;
  text-align: center;
  font-size: 20px;
}

/**
  Definicion de clases para cambios de background
*/
.bg-integra {
  background: #5f75bd;
}
.bg-integra-a{
  background: #9eacdb !important;
}

.accordion-button:not(.collapsed){
  background-color: #5f75bd !important;
}

.combo-speech .kendo-combo{
  border-style: solid !important;
  border-color: #ff760a !important;
}

.combo-speech .kendo-combo>button{
  background: #ff760a 1px !important;
}


// .k-picker-solid {
//   border-radius: 0.4rem 0.4rem 0.4rem 0.4rem !important;
//   background-color: #f9f9f9;
//   border-color: #ff760a;
//   color:#ff760a
// }

// .k-list-item .k-selected, .k-selected .k-list-optionlabel, .k-hover{
//   background-color:#ff760a;
// }
// .k-list-item .k-selected, .k-selected .k-list-optionlabel, .k-hover{
//   background-color:#ff760a;
// }

.accordion-custom>.list-group{
  cursor: pointer;
}
.bg-orange {
  background: #ff8a18 ;
}
.bg-smoke {
  background: #9eacdb;
}
.bg-disabled {
  background: #dddddd;
  user-select: none;
}


.fs-7 {
  font-size: 0.8rem;
}

/**
  Definicion de clases para realizacion de bordeo en contenedores
*/
.rounded-custom-1{
  border-radius: 1rem !important;
}
.rounded-custom-2{
  border-radius: 0.5rem !important;
}

/**
  Definicion del ancho dinamico para los contenedores
*/
.block{
  width: 100%;
}

/**
  Definicion del contenedor que almacenara la cabezera o titulo
*/
.block>.block-header{
  background: #5f75bd;
  color: white;
  border-radius: 1rem 1rem 0 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 16px;
  // background-color: #fbfbfb !important;
}

/**
  Definicion del contenedor que almacenara el cuerpo o contenido
*/
.block>.block-body{
  border-radius: 0 0 1rem 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /**box-shadow: 0 .5rem 1rem rgba($black, .15);**/
  margin-bottom: 1rem;
  border: 1px solid rgba(0,0,0,.125);
}

.block>.block-body-border{
  border-radius: 0 0 1rem 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.9rem;
  padding-bottom: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  margin-bottom: 1rem;
  background-color: #fbfbfb !important;
}

/**
  Definicion del dimensiones para los checkbox
*/
.custom-size {
  width: 20px;
  height: 20px;
}

////////////////////////////////RadioButtonEstilizadoComoComboBox
div.options > label > input {
  visibility: hidden;
}

div.options > label {
  display: block;
  margin: 0 0 0 -10px;
  padding: 0 0 20px 0;
  height: 20px;
  width: 150px;
}

div.options > label > img {
  display: inline-block;
  padding: 0px;
  height:30px;
  width:30px;
  background: none;
}

div.options > label > input:checked + img {
  background: url(http://cdn1.iconfinder.com/data/icons/onebit/PNG/onebit_34.png);
  background-repeat: no-repeat;
  background-position:center center;
  background-size:30px 30px;
}
/*
<div class="options text-center">
  <label class="d-inline-flex" title="item1">
    <input type="radio" name="foo" value="2" />
    <img />
    Si
  </label>
  <label class="d-inline-flex" title="item2">
    <input type="radio" name="foo" value="2" />
    <img />
    No
  </label>
</div>
*/

#informacionProgramaTabHtml h4{
  font-size: 24px;
    color: #65c7d2;
    font-weight: 500;


}
#informacionProgramaTabHtml p{
  font-size: 13px;


}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  font-weight: bold;
}

.modal-header-ficha{
  color: #2D6CA3;
  font-weight: 1000;
}
.modal-header-correos{
  color: #2D6CA3;
  font-weight: 1000;
}

#historialMensajes-row .k-tabstrip-items-wrapper {
  background-color: #5F75BD;
  border-radius: 0.7rem;
}
#historialMensajes-row .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
  background-color: #42BD6B;
  background-image: none;
  border-bottom-color: #42BD6B;
  font-weight: 500 !important;
  border-bottom-width: 0px;
}
#historialMensajes-row .k-item {
  background: #5F75BD;
    height: 35px;
    font-size: 14px;
    border-radius: 0.7rem;
}
#scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 5px;
  border: none;
  padding: 10px 20px;
  padding-right: 50px;
  z-index: 50;
}
#scroll-btn2 {
  position: fixed;
  right: 5px;
  border: none;
  padding: 10px 20px;
  padding-right: 50px;
  z-index: 50;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.example-box {
  width: 50px;
  height: 65px;
  right: 55px;
  transform: translate(-50%, -50%); 
  top: 50%;
  border: none;
  padding: 32px 31px;
  padding-right: 36px;
  z-index: 50;
  position: fixed;
  border: solid 2px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 27%;
  animation: pulse 3s infinite;
}

.custom-mco19-remove-max-width span.k-input-value-text  {
  white-space: normal !important;
  text-overflow: clip !important;
}