<div class="modal-header py-2 bg-primary-header-modal text-center">
  <h1
    class="mi-titulo"
    style="font-size: 30px; margin-left: 20px; margin-top: 15px"
  >
    Configuracion de Asignacion de Accesos Temporales
  </h1>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="cerrarModal()"
  ></button>
</div>
<div class="modal-body p-3">
  <form [formGroup]="formConfigurarAccesos">
    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal mb-3">
        <kendo-formfield orientation="horizontal">
          <label [for]="programa" class="d-flex align-items-start">
            <span>
              <b>Programa</b> <strong class="text-danger">*</strong>:
            </span>
          </label>
          <kendo-dropdownlist
            #programa
            formControlName="idPEspecificoPadre"
            [data]="DataPEspecificosPersonalProgramaAsignado"
            textField="nombrePEspecificoPadre"
            valueField="idPEspecificoPadre"
            [valuePrimitive]="true"
            [kendoDropDownFilter]="filterSettings"
            size="small"
            [defaultItem]="{
              idPEspecificoPadre: null,
              nombrePEspecificoPadre: '<Seleccione Programa>'
            }"
            (valueChange)="onProgramSelectionChange($event)"
          >
          </kendo-dropdownlist>
          <kendo-formerror>El campo Programa es obligatorio</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal mb-3">
        <kendo-formfield orientation="horizontal">
          <label [for]="curso" class="d-flex align-items-start">
            <span><b>Cursos</b> <strong class="text-danger">*</strong>:</span>
          </label>
          <kendo-multiselect
            #curso
            formControlName="idPEspecifico"
            [data]="DataPEspecificosPersonalCursosAsignados"
            textField="nombrePEspecifico"
            valueField="idPEspecifico"
            [valuePrimitive]="true"
            size="small"
            [kendoDropDownFilter]="filterSettings"
            placeholder="<Seleccione Cursos>"
          >
          </kendo-multiselect>
          <kendo-formerror>El campo Cursos es obligatorio</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal mb-3">
        <kendo-formfield orientation="horizontal">
          <label [for]="HabilitarExamen" class="d-flex align-items-start">
            <span><b>Habilitar evaluaciones</b> :</span>
          </label>
          <input
            #HabilitarExamen
            type="checkbox"
            formControlName="evaluacionHabilitada"
            kendoCheckBox
            id="visualizarPortalWeb"
            class="custom-checkbox"
          />
          <kendo-formerror>Debe seleccionar una opción</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal mb-3">
        <kendo-formfield>
          <label [for]="fechaInicio" class="d-flex align-items-start">
            <span><b>Fecha de Inicio</b> :</span>
          </label>
          <kendo-datepicker
            #fechaInicio
            formControlName="fechaInicio"
            placeholder="Seleccione Fecha Inicio"
          ></kendo-datepicker>
        </kendo-formfield>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal mb-3">
        <kendo-formfield>
          <label [for]="fechaFin" class="d-flex align-items-start">
            <span><b>Fecha Fin</b> :</span>
          </label>
          <kendo-datepicker
            #fechaFin
            formControlName="fechaFin"
            placeholder="Seleccione Fecha Fin"
          ></kendo-datepicker>
        </kendo-formfield>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    *ngIf="isNew"
    type="button"
    class="btn btn-primary"
    [disabled]="enProcesoSolicitud"
    (click)="guardarAccesos()"
  >
    Guardar
  </button>
  <button
    *ngIf="!isNew"
    type="button"
    class="btn btn-primary"
    [disabled]="enProcesoSolicitud"
    (click)="actualizarAccesos()"
  >
    Guardar
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="cerrarModal()"
    [disabled]="enProcesoSolicitud"
  >
    Cancelar
  </button>
</div>
