<div class="card">
  <div class="all">
    <div class="column">
      <mat-checkbox
        (change)="setAll($event.checked)"
        class="example-margin"
        [(ngModel)]="datos"
        >¿Considerar venta cruzada?</mat-checkbox
      >
      <div
        class="alert alert-danger"
        role="alert"
        style="margin: 0px; margin-left: 10px"
      >
        <b>Nota:</b> **Considera criterios superiores de area, sub area,
        programa general y programa especifico
      </div>
    </div>

    <ng-container *ngIf="datos == true">
      <div class="formulario">
        <div class="card">
          <div class="column">
            <h3>Probabilidad de Venta Cruzada:</h3>

            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                [data]="listaProbabilidad"
                [(ngModel)]="probabilidades"
                placeholder="-Todos-"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangeProbabilidad($event)"
                (filterChange)="filterChangeProbabilidad($event)"
                (removeTag)="removeTagProbabilidad($event)"
              ></kendo-multiselect>
            </div>
          </div>
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          style="margin: 0px; margin-left: 10px; margin-bottom: 20px"
        >
          <b>Nota:</b> **Estos criterios se basan en el calculo del nuevo modelo
          que se hace a un alumno para todos los programas generales
        </div>
        <div class="card">
          <div class="column">
            <h3>Área:</h3>
            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                #areaFiltro
                placeholder="-Todos-"
                [data]="areaFiltrada"
                [filterable]="true"
                [(ngModel)]="areas"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangeArea($event)"
                (filterChange)="filterChangeArea($event)"
                (removeTag)="removeTagArea($event)"
              ></kendo-multiselect>
            </div>
          </div>
          <div class="column">
            <h3>Sub Áreas:</h3>
            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                #subareaFiltro
                placeholder="-Todos-"
                [data]="subareaFiltrada"
                [filterable]="true"
                [(ngModel)]="subareas"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangeSubArea($event)"
                (filterChange)="filterChangeSubArea($event)"
                (removeTag)="removeTagSubArea($event)"
              ></kendo-multiselect>
            </div>
          </div>
          <div class="column">
            <h3>Programas Generales:</h3>
            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                #programaFiltro
                [data]="programaFiltrada"
                placeholder="-Todos-"
                [filterable]="true"
                [(ngModel)]="programas"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangePrograma($event)"
                (filterChange)="filterChangePrograma($event)"
                (removeTag)="removeTagPrograma($event)"
              ></kendo-multiselect>
            </div>
          </div>
        </div>
        <hr />
        <div class="card">
          <div class="column">
            <h3>Nro de solicitudes por área:</h3>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <mat-label>Seleccione un Operador</mat-label>
              <mat-select
                [(ngModel)]="IdOperadorComparacionNroSolicitudInformacionArea"
              >
                <mat-option
                  *ngFor="let operador of listaOperadores"
                  [value]="operador.id"
                >
                  {{ operador.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <input
                type="number"
                class="form-control"
                matInput
                name="value"
                [(ngModel)]="NroSolicitudInformacionArea"
              />
            </mat-form-field>

            <h3>minutos</h3>
          </div>
          <div class="column">
            <h3>Nro de solicitudes por sub área:</h3>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <mat-label>Seleccione un Operador</mat-label>
              <mat-select
                [(ngModel)]="
                  IdOperadorComparacionNroSolicitudInformacionSubArea
                "
              >
                <mat-option
                  *ngFor="let operador of listaOperadores"
                  [value]="operador.id"
                >
                  {{ operador.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <input
                type="number"
                class="form-control"
                matInput
                name="value"
                [(ngModel)]="NroSolicitudInformacionSubArea"
              />
            </mat-form-field>

            <h3>minutos</h3>
          </div>
          <div class="column">
            <h3>Nro de solicitudes por programa general:</h3>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <mat-label>Seleccione un Operador</mat-label>
              <mat-select
                [(ngModel)]="IdOperadorComparacionNroSolicitudInformacionPg"
              >
                <mat-option
                  *ngFor="let operador of listaOperadores"
                  [value]="operador.id"
                >
                  {{ operador.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <input
                type="number"
                class="form-control"
                matInput
                name="value"
                [(ngModel)]="NroSolicitudInformacionPg"
              />
            </mat-form-field>

            <h3>minutos</h3>
          </div>
          <!-- <div class="column">
            <h3>Duracion total llamadas (para una oportunidad)</h3>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <mat-label>Seleccione un Operador</mat-label>
              <mat-select [(ngModel)]="IdOperadorComparacionNroLlamada">
                <mat-option
                  *ngFor="let operador of listaOperadores"
                  [value]="operador.id"
                >
                  {{ operador.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-right: 10px">
              <input
                type="number"
                class="form-control"
                matInput
                name="value"
                [(ngModel)]="DuracionTotalLlamadaPorOportunidad"
              />
            </mat-form-field>

            <h3>minutos</h3>
          </div> -->
        </div>
      </div>
    </ng-container>
  </div>
</div>
