<div class="card border-primary" #reporte>
  <div class="card-header pb-0 bg-color-material">
    <div class="col text-aling-center">
      <h2 class="mb-3 text-white">Regiones</h2>
    </div>
  </div>

  <div class="card-body p-0">
    <form class="k-form k-form-horizontal">
      <div class="row">
        <div class="col-sm-12 my-2">
          <kendo-grid
            [kendoGridBinding]="gridCiudades.data"
            [loading]="gridCiudades.loading"
            [selectable]="true"
            [sortable]="true"
            [resizable]="true"
            [pageable]="{
                buttonCount: 5,
                info: true,
                type: 'numeric',
                pageSizes: true,
                previousNext: true,
                position: 'bottom'
              }"
            [skip]="0"
            [pageSize]="15"
            filterable="menu"
            kendoGridSelectBy="id"
            [(selectedKeys)]="seleccionados"
          >
            <ng-template kendoGridToolbarTemplate>
              <div class="row col-md-12">
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-warning text-white"
                    (click)="capturarSeleccionados()"
                  >
                    <fa-icon [icon]="['fas', 'file']"></fa-icon>
                    &nbsp; Edicion Multiple
                  </button>
                </div>
                <div class="col-md-6 text-end">
                  <button
                    type="button"
                    class="btn btn-success text-white rounded-pill"
                    (click)="abrirModalDetalleInsertar()"
                  >
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                  </button>
                </div>
              </div>
            </ng-template>

            <ng-template
              kendoPagerTemplate
              let-totalPages="totalPages"
              let-currentPage="currentPage"
            >
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons
                [buttonCount]="5"
              ></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-input></kendo-pager-input>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes
                [pageSizes]="cantidadItems"
              ></kendo-pager-page-sizes>
            </ng-template>

            <kendo-grid-checkbox-column
              [width]="45"
              [headerClass]="{ 'text-center': true }"
              [class]="{ 'text-center': true }"
              [resizable]="false"
              [columnMenu]="false"
              [showSelectAll]="true"
            ></kendo-grid-checkbox-column>

            <kendo-grid-column
              field="codigo"
              title="Codigo de Ciudad"
              [width]="200"
              [headerClass]="'justify-content-center'"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
              field="nombre"
              title="Nombre"
              [width]="200"
              [headerClass]="'justify-content-center'"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
              field="nombrePais"
              title="Pais"
              [width]="150"
              [headerClass]="'justify-content-center'"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
              field="longCelular"
              title="Nro. Digitos para Celular"
              [width]="190"
              [headerClass]="'justify-content-center'"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
              field="longTelefono"
              title="Nro. Digitos para Telefono"
              [width]="190"
              [headerClass]="'justify-content-center'"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column
              title="Acciones"
              [headerStyle]="{ color: '#5f75bd' }"
              [width]="200"
              [headerClass]="'justify-content-center'"
            >
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <button
                  kendoButton
                  fillMode="solid"
                  rounded="large"
                  size="large"
                  class="p-2 me-1 ms-1"
                  container="body"
                  placement="top"
                  ngbTooltip="Ver detalle"
                  (click)="abrirModalDetalle(dataItem)"
                >
                  <span class="k-icon k-i-zoom-in k-icon-20"></span>
                </button>

                <button
                  kendoGridEditCommand
                  themeColor="warning"
                  fillMode="solid"
                  rounded="large"
                  size="large"
                  class="p-2 me-1 ms-1"
                  container="body"
                  placement="top"
                  ngbTooltip="Editar"
                  (click)="abrirModalDetalleActualizar(dataItem)"
                >
                  <span class="k-icon k-i-pencil k-icon-20"></span>
                </button>

                <button
                  kendoGridEditCommand
                  themeColor="error"
                  fillMode="solid"
                  rounded="large"
                  size="large"
                  class="p-2 me-1 ms-1"
                  container="body"
                  placement="top"
                  ngbTooltip="Eliminar"
                  (click)="eliminar(dataItem)"
                >
                  <span class="k-icon k-i-x k-icon-20"></span>
                </button>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal Modificador Masivo -->
<ng-template #modalModificarMasivo let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      Edición múltiple de regiones
    </h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="limpiarCamposForm()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3">
      <div class="col-sm-12 col-md-12 k-form-horizontal">
        <kendo-formfield orientation="horizontal">
          <kendo-label
            class="d-flex align-items-end"
            [style.width.px]="220"
            [for]="regiones"
            text="Regiones seleccionadas:"
          >
          </kendo-label>
          <kendo-textbox
            #regiones
            [formControl]="contadorSeleccionados"
            [disabled]="true"
            [style.width.px]="150"
            [class]="'text-center'"
          >
          </kendo-textbox>
        </kendo-formfield>
      </div>
    </div>
    <form [formGroup]="formRegionMasivo">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="paises"
              text="Pais:"
            >
            </kendo-label>
            <kendo-dropdownlist
              #paises
              formControlName="idPais"
              [data]="comboPaises"
              [defaultItem]="{ nombre: 'Seleccione un pais...', id: 0 }"
              textField="nombre"
              valueField="id"
              [style.width.px]="180"
              [valuePrimitive]="true"
              required
            >
            </kendo-dropdownlist>
            <kendo-formerror>{{
              getErrorMessageMasivo("idPais")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="longitudCelular"
              text="Long. Digitos Celular:"
            >
            </kendo-label>
            <kendo-numerictextbox
              #longitudCelular
              [style.width.px]="170"
              formControlName="longCelular"
              [min]="0"
              [max]="100"
              [value]="0"
              format="###############"
            >
            </kendo-numerictextbox>
            <kendo-formerror>{{
              getErrorMessageMasivo("longCelular")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal mb-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="longitudTelefono"
              text="Long. Digitos Telefono:"
            >
            </kendo-label>
            <kendo-numerictextbox
              #longitudTelefono
              [style.width.px]="170"
              formControlName="longTelefono"
              [min]="0"
              [max]="100"
              [value]="0"
              format="###############"
            >
            </kendo-numerictextbox>
            <kendo-formerror>{{
              getErrorMessageMasivo("longTelefono")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="text-end">
        <button
          class="btn btn-primary mx-1"
          [disabled]="formRegionMasivo.invalid"
          (click)="actualizarMultiple()"
        >
          <span class="px-1">Actualizar</span>
        </button>
        <button class="btn btn-danger" (click)="limpiarCamposForm()">
          <span class="px-1">Cancelar</span>
        </button>
      </div>
    </div>
  </div>
  <loading [loading]="loaderModal"></loading>
</ng-template>
<!-- Modal Modificador Masivo -->

<!-- Modal Modificador Individual -->
<ng-template #modalModificarIndividual let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      Datos de la Region
    </h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="limpiarCamposForm()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formRegionIndividual">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="ciudad"
              text="Codigo:"
            >
            </kendo-label>
            <kendo-numerictextbox
              #ciudad
              formControlName="codigo"
              [style.width.px]="180"
              [value]="0"
              format="###############"
              required
            >
            </kendo-numerictextbox>
            <kendo-formerror>{{
              getErrorMessageIndividual("codigo")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="nombreCiudad"
              text="Nombre:"
            >
            </kendo-label>
            <kendo-textbox
              #nombreCiudad
              formControlName="nombre"
              [style.width.px]="180"
              required
            >
            </kendo-textbox>
            <kendo-formerror>{{
              getErrorMessageIndividual("nombre")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="pais"
              text="Pais:"
            >
            </kendo-label>
            <kendo-dropdownlist
              #pais
              formControlName="idPais"
              [data]="comboPaises"
              [defaultItem]="{ nombre: 'Seleccione un pais...', id: 0 }"
              textField="nombre"
              valueField="id"
              [style.width.px]="180"
              [valuePrimitive]="true"
              required
            >
            </kendo-dropdownlist>
            <kendo-formerror>{{
              getErrorMessageIndividual("idPais")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="longitudTelefono"
              text="Long. Digitos Celular:"
            >
            </kendo-label>
            <kendo-numerictextbox
              #longitudTelefono
              [style.width.px]="170"
              formControlName="longCelular"
              [min]="0"
              [max]="100"
              [value]="0"
              format="###############"
            >
            </kendo-numerictextbox>
            <kendo-formerror>{{
              getErrorMessageIndividual("longCelular")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="220"
              [for]="longitudTelefono"
              text="Long. Digitos Telefono:"
            >
            </kendo-label>
            <kendo-numerictextbox
              #longitudTelefono
              [style.width.px]="170"
              formControlName="longTelefono"
              [min]="0"
              [max]="100"
              [value]="0"
              format="###############"
            >
            </kendo-numerictextbox>
            <kendo-formerror>{{
              getErrorMessageIndividual("longTelefono")
            }}</kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="text-end">
        <ng-container *ngIf="nuevoRegistro">
            <button
                class="btn btn-primary mx-1"
                [disabled]="formRegionIndividual.invalid"
                (click)="insertar()"
            >
                <span class="px-1">Nuevo</span>
            </button>
        </ng-container>
        <ng-container *ngIf="!nuevoRegistro">
            <button
                class="btn btn-primary mx-1"
                [disabled]="formRegionIndividual.invalid"
                (click)="actualizar()"
            >
                <span class="px-1">Actualizar</span>
            </button>
        </ng-container>
        
        <button class="btn btn-danger" (click)="limpiarCamposForm()">
          <span class="px-1">Cancelar</span>
        </button>
      </div>
    </div>
  </div>
  <loading [loading]="loaderModal"></loading>
</ng-template>
<!-- Modal Modificador Individual -->

<!-- Modal Visualizador -->
<ng-template #modalVisualizador let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      Datos de la Region
    </h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3 col-md-12">
      <div class="text-end col-md-6">Codigo:</div>
      <div class="text-center col-md-6">
        {{ formDataVisual.codigo }}
      </div>
    </div>

    <div class="row mb-3 col-md-12">
      <div class="text-end col-md-6">Nombre:</div>
      <div class="text-center col-md-6">
        {{ formDataVisual.nombre }}
      </div>
    </div>

    <div class="row mb-3 col-md-12">
      <div class="text-end col-md-6">Pais:</div>
      <div class="text-center col-md-6">
        {{ formDataVisual.nombrePais }}
      </div>
    </div>

    <div class="row mb-3 col-md-12">
      <div class="text-end col-md-6">Long. Digitos Celular:</div>
      <div class="text-center col-md-6">
        {{ formDataVisual.longCelular }}
      </div>
    </div>

    <div class="row mb-3 col-md-12">
      <div class="text-end col-md-6">Long. Digitos Telefono:</div>
      <div class="text-center col-md-6">
        {{ formDataVisual.longTelefono }}
      </div>
    </div>
    <div class="row">
      <div class="text-end">
        <button class="btn btn-danger" (click)="modal.dismiss()">
          <span class="px-1">Cerrar</span>
        </button>
      </div>
    </div>
  </div>
  <loading [loading]="loaderModal"></loading>
</ng-template>
<!-- Modal Visualizador -->
<loading [loading]="loaderModal"></loading>