<div class="content px-3">
  <div class="card mt-3">
    <div class="card-header bg-datosPersonal">
      <span>Datos del Contacto</span>
    </div>
    <div
      class="card-body k-form k-form-horizontal itemSelectedCustom"
      [formGroup]="formDatosPersonales"
    >
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="nombre1"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Primer <br />
                  Nombre:
                </label>
                <kendo-textbox
                  #nombre1
                  class="custom-fill-mode"
                  [ngClass]="{ idisabled: esIS }"
                  formControlName="nombre1"
                  [readonly]="esIS"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="nombre2"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Segundo <br />
                  Nombre:
                </label>
                <kendo-textbox
                  #nombre2
                  class="custom-fill-mode"
                  [ngClass]="{ idisabled: esIS }"
                  formControlName="nombre2"
                  [readonly]="esIS"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="apellidoPaterno"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Apellido<br />Paterno:
                </label>
                <kendo-textbox
                  #apellidoPaterno
                  class="custom-fill-mode"
                  formControlName="apellidoPaterno"
                  [ngClass]="{ idisabled: esIS }"
                  [readonly]="esIS"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="apellidoMaterno"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Apellido<br />Materno:
                </label>
                <kendo-textbox
                  #apellidoMaterno
                  class="custom-fill-mode"
                  formControlName="apellidoMaterno"
                  [ngClass]="{ idisabled: esIS }"
                  [readonly]="esIS"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
          </div>
          <div class="row" *ngIf="!showDatosMexico">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="dni"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  DNI:
                </label>
                <kendo-textbox
                  #dni
                  class="custom-fill-mode"
                  formControlName="dni"
                  [ngClass]="{ idisabled: esIS }"
                  [readonly]="esIS"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="direccion"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Direccion:
                </label>
                <kendo-textbox
                  #direccion
                  class="custom-fill-mode"
                  formControlName="direccion"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
          </div>
          <div class="row" *ngIf="showDatosMexico">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="rfc"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  RFC:
                </label>
                <kendo-textbox
                  #rfc
                  class="custom-fill-mode"
                  formControlName="rfc"
                  [ngClass]="{ idisabled: esIS }"
                  [readonly]="esIS"
                  inputValidSpaceDir
                ></kendo-textbox>
                <kendo-formerror>{{ getErrorMessage("rfc") }}</kendo-formerror>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="curp"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  CURP:
                </label>
                <kendo-textbox
                  #curp
                  class="custom-fill-mode"
                  formControlName="curp"
                  [ngClass]="{ idisabled: esIS }"
                  [readonly]="esIS"
                  inputValidSpaceDir
                ></kendo-textbox>
                <kendo-formerror>{{ getErrorMessage("curp") }}</kendo-formerror>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="nombrePais"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Pais:
                </label>
                <kendo-textbox
                  #nombrePais
                  class="custom-fill-mode idisabled"
                  formControlName="nombrePais"
                  [readonly]="true"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2" *ngIf="showDatosMexico">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="codigoPostalInput"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Codigo <br />
                  Postal :
                </label>
                <div class="input-group d-flex">
                  <input
                    #codigoPostalInput
                    kendoTextBox
                    class="custom-fill-mode col"
                    formControlName="codigoPostal"
                  />
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      themeColor="primary"
                      placement="top"
                      ngbTooltip="CodigoPostal"
                      (click)="filtroCodigoPostal(codigoPostalInput.value)"
                    >
                      <fa-icon [icon]="['fas', 'search']"></fa-icon>
                    </button>
                  </div>
                </div>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2" *ngIf="!showDatosMexico">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="ciudad"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Ciudad:
                </label>
                <kendo-dropdownlist
                  #ciudad
                  [data]="filtroCiudad"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  [defaultItem]="{ id: null, nombre: '-Sin Ciudad-' }"
                  valueField="id"
                  textField="nombre"
                  [valuePrimitive]="true"
                  formControlName="ciudad"
                  [filterable]="true"
                  (filterChange)="filterCiudad($event)"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="container">
              <div *ngIf="mostrarTabla" class="col-sm-12 col-md-12 my-2">
                <kendo-grid
                  [kendoGridBinding]="dataCP"
                  scrollable="scrollable"
                  filterable="menu"
                  [style.max-height.px]="200"
                  (cellClick)="seleccionarCodigoPostal($event.dataItem)"
                  class="custom-kendo-grid"
                >
                  <kendo-grid-column
                    field="nombreCiudad"
                    title="Estado"
                  ></kendo-grid-column>
                  <kendo-grid-column
                    field="ciudadMexico"
                    title="Ciudad"
                  ></kendo-grid-column>

                  <kendo-grid-column
                    field="municipioMexico"
                    title="Municipio"
                  ></kendo-grid-column>

                  <kendo-grid-column
                    field="asentamientoMexico"
                    title="Colonia"
                  ></kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showDatosMexico">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="ciudad"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Estado:
                </label>
                <kendo-dropdownlist
                  #ciudad
                  [data]="filtroCiudad"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  [defaultItem]="{ id: null, nombre: '-Sin Estado-' }"
                  valueField="id"
                  textField="nombre"
                  formControlName="ciudad"
                  [filterable]="true"
                  [valuePrimitive]="true"
                  (filterChange)="filterCiudad($event)"
                  (valueChange)="cargarMunicipioPorCodigoCiudad($event)"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="ciudad"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Ciudad:
                </label>
                <kendo-dropdownlist
                  #ciudad
                  [data]="dataCiudadMexico"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  [defaultItem]="{ id: null, nombre: '-Sin Ciudad-' }"
                  valueField="id"
                  textField="nombre"
                  formControlName="idCiudadMexico"
                  [filterable]="true"
                  [valuePrimitive]="true"
                  (valueChange)="cargarMunicipioConCiudadMexico($event)"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
          <div class="row" *ngIf="showDatosMexico">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="municipio"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Alcaldia o <br />
                  Municipio
                </label>
                <kendo-dropdownlist
                  #municipio
                  [data]="dataMunicipio"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  [defaultItem]="{ id: null, nombre: '-Sin Municipio-' }"
                  valueField="id"
                  textField="nombre"
                  formControlName="idMunicipioMexico"
                  [valuePrimitive]="true"
                  [filterable]="true"
                  (valueChange)="cargarAsentamientoPorMunicipio($event)"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="colonia"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Colonia:
                </label>
                <kendo-dropdownlist
                  #colonia
                  [data]="dataAsentamiento"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  [defaultItem]="{
                    idAsentamientoMexico: null,
                    asentamientoMexico: '-Sin Colonia-'
                  }"
                  valueField="idAsentamientoMexico"
                  textField="asentamientoMexico"
                  [valuePrimitive]="true"
                  formControlName="idAsentamientoMexico"
                  [filterable]="true"
                  (valueChange)="cargarCodigoPostal($event)"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
          <div class="row" *ngIf="showDatosMexico">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="direccion"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Direccion:
                </label>
                <kendo-textbox
                  #direccion
                  class="custom-fill-mode"
                  formControlName="direccion"
                ></kendo-textbox>
                <kendo-formerror>El campo Direccion es obligatoria</kendo-formerror>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="email1"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Email 1:
                </label>
                <input
                  kendoTextBox
                  #email1
                  class="custom-fill-mode idisabled"
                  [type]="esOcultarTexto ? 'password' : 'text'"
                  formControlName="email1"
                  [readonly]="true"
                />
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="email2"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Email 2:
                </label>
                <div class="input-group d-flex">
                  <input
                    #email2
                    kendoTextBox
                    class="custom-fill-mode col"
                    formControlName="email2"
                  />
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      (click)="actualizarEmailAlumno()"
                      [disabled]="btnActualizar"
                      themeColor="success"
                      placement="top"
                      ngbTooltip="Cambiar correo a principal"
                    >
                      <fa-icon
                        [icon]="['fas', 'arrow-right-arrow-left']"
                      ></fa-icon>
                    </button>
                  </div>
                </div>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="telefono"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Teléfono 1:
                </label>
                <div class="input-group d-flex">
                  <kendo-textbox
                    #telefono
                    class="custom-fill-mode col"
                    formControlName="telefono"
                    placeholder="Teléfono 1"
                  ></kendo-textbox>
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                    </button>
                  </div>
                </div>
                <kendo-formerror>{{
                  getErrorMessage("telefono")
                }}</kendo-formerror>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="celular"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Celular 1:
                </label>
                <div class="input-group d-flex">
                  <input
                    kendoTextBox
                    #celular
                    class="custom-fill-mode idisabled col"
                    [type]="esOcultarTexto ? 'password' : 'text'"
                    formControlName="celular"
                    [readonly]="true"
                  />
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                    </button>
                  </div>
                </div>

                <kendo-formerror>{{
                  getErrorMessage("celular")
                }}</kendo-formerror>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="telefono"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Telefono 2:
                </label>
                <div class="input-group d-flex">
                  <kendo-textbox
                    #telefono2
                    class="custom-fill-mode col"
                    formControlName="telefono2"
                  ></kendo-textbox>
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                    </button>
                  </div>
                </div>
                <kendo-formerror>{{
                  getErrorMessage("telefono2")
                }}</kendo-formerror>
              </kendo-formfield>
            </div>
            <div class="col-sm-12 col-md-6 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="celular2"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Celular 2:
                </label>
                <div class="input-group d-flex">
                  <kendo-textbox
                    #celular2
                    class="custom-fill-mode col"
                    formControlName="celular2"
                  ></kendo-textbox>
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      class="btn btn-sm btn-outline-secondary"
                    >
                      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                    </button>
                  </div>
                </div>

                <kendo-formerror>{{
                  getErrorMessage("celular2")
                }}</kendo-formerror>
              </kendo-formfield>
            </div>
          </div>
          <div class="row my-2" *ngIf="esCoordinadora$ | async">
            <div class="col-sm-12 col-md-12 my-2">
              <kendo-formfield orientation="horizontal">
                <label class="k-label pt-0 d-flex align-items-start text-start">
                  Centro de Costo:
                </label>
                <div class="input-group d-flex">
                  <kendo-dropdownlist
                    [data]="comboCentroCosto"
                    class="dropCustomAgenda col"
                    [popupSettings]="{ popupClass: 'popupCustom' }"
                    [formControl]="cambioCentroCosto"
                    [defaultItem]="{ id: null, nombre: '<Seleccione>' }"
                    valueField="id"
                    textField="nombre"
                    [filterable]="true"
                    [valuePrimitive]="true"
                    [kendoDropDownFilter]="filterSettings"
                  >
                  </kendo-dropdownlist>
                  <div class="input-group-append col-auto">
                    <button
                      kendoButton
                      (click)="realizarCambioCentroCosto()"
                      [disabled]="btnActualizarCentroCosto"
                      themeColor="success"
                      placement="top"
                      ngbTooltip="Cambiar Centro de Costo"
                    >
                      <fa-icon
                        [icon]="['fas', 'arrow-right-arrow-left']"
                      ></fa-icon>
                      Cambiar Centro de Costo
                    </button>
                  </div>
                </div>
              </kendo-formfield>
            </div>
          </div>
        </div>

        <!-- Segunda fila -->
        <!-- <div class="col-sm-12 col-md-4">
          <div class="row">
            <div class="col-sm-12 col-md-12 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="cargo"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Cargo:
                </label>
                <kendo-dropdownlist
                  #cargo
                  [data]="sourceCargo"
                  valueField="id"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  textField="nombre"
                  formControlName="cargo"
                  [defaultItem]="{ id: null, nombre: '-Sin Cargo-' }"
                  [filterable]="true"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 my-3">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="aTrabajo"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Trabajo:
                </label>
                <kendo-dropdownlist
                  #aTrabajo
                  [data]="sourceAreaTrabajo"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  formControlName="aTrabajo"
                  [defaultItem]="{ id: null, nombre: '-Sin Área Trabajo-' }"
                  valueField="id"
                  textField="nombre"
                  [filterable]="true"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 my-2">
              <div class="row">
                <div class="col-12">
                  <kendo-formfield orientation="horizontal">
                    <label
                      [for]="dropDownListEmpresa"
                      class="k-label pt-0 d-flex align-items-start text-start"
                    >
                      Empresa:
                    </label>
                    <kendo-dropdownlist
                      #dropDownListEmpresa
                      [data]="dataEmpresa"
                      class="dropCustomAgenda"
                      [popupSettings]="{ popupClass: 'popupCustom' }"
                      formControlName="empresa"
                      [defaultItem]="{ nombre: '-Todos-', id: null }"
                      valueField="id"
                      textField="nombre"
                      fillMode="solid"
                      rounded="large"
                      [filterable]="true"
                      (filterChange)="filterEmpresa($event)"
                    >
                    </kendo-dropdownlist>
                    <kendo-formhint>Ingrese minimo 3 carácteres</kendo-formhint>
                  </kendo-formfield>
                </div>
              </div>
              <div [ngClass]="{'row mt-2 my-2': showDatosMexico, 'row mt-2 my-1': !showDatosMexico}">
                <div class="col-12">
                  <button
                    class="btn btn-sm btn-primary"
                    (click)="abrirModuloEmpresa(modalEmpresa)"
                  >
                    Agregar Empresa
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="industria"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Industria:
                </label>
                <kendo-dropdownlist
                  #industria
                  [data]="filtroIndustria"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  formControlName="industria"
                  [defaultItem]="{ id: null, nombre: '-Sin Industria-' }"
                  valueField="id"
                  textField="nombre"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 my-2">
              <kendo-formfield orientation="horizontal">
                <label
                  [for]="aFormacion"
                  class="k-label pt-0 d-flex align-items-start text-start"
                >
                  Formacion:
                </label>
                <kendo-dropdownlist
                  #aFormacion
                  [data]="filtroAreaFormacion"
                  class="dropCustomAgenda"
                  [popupSettings]="{ popupClass: 'popupCustom' }"
                  formControlName="aFormacion"
                  [defaultItem]="{ id: null, nombre: '-Sin Area Formacion-' }"
                  valueField="id"
                  textField="nombre"
                  [filterable]="true"
                  (filterChange)="filterAreaFormacion($event)"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
            </div>
          </div>
        </div> -->
      </div>
      <!-- ----------------------------------------------------------------------------------------------------------------------- -->

      <!-- ------------------------------------------------------------------------------------------------------ -->
   
      <!-- ------------------------------------------------------------------------------------------------------ -->

      <div class="row mt-3">
        <div class="col-sm-12 col-md-12 d-flex justify-content-center">
          <button
            class="btn btn-sm btn-warning text-white"
            (click)="guardarContacto()"
          >
            Guardar Datos
          </button>
        </div>
      </div>
    </div>
    <loading [loading]="loading"></loading>
  </div>
  <div class="card mt-3">
    <div class="card-header bg-datosPersonal">
      <span>Historial de Modificaciones del Contacto</span>
    </div>
    <div class="card-body">
      <div class="row my-3">
        <div class="col-sm-12 col-md-12">
          <kendo-grid
            [kendoGridBinding]="gridHistorialModifcacionesContacto.data"
            filterable="menu"
            [pageable]="{
              buttonCount: 5,
              info: true,
              type: 'numeric',
              pageSizes: true,
              previousNext: true,
              position: 'bottom'
            }"
            [pageSize]="5"
          >
            <kendo-grid-column
              [headerStyle]="{ color: '#6a8acc' }"
              field="campoActualizado"
              title="Campo Actualizado"
            >
            </kendo-grid-column>
            <kendo-grid-column
              [headerStyle]="{ color: '#6a8acc' }"
              field="valorAnterior"
              title="Valor Anterior"
            >
            </kendo-grid-column>
            <kendo-grid-column
              [headerStyle]="{ color: '#6a8acc' }"
              field="valorNuevo"
              title="Valor Nuevo"
            >
            </kendo-grid-column>
            <kendo-grid-column
              [headerStyle]="{ color: '#6a8acc' }"
              field="fechaCreacion"
              format="{0:dd/MM/yyyy hh:mm}"
              title="Fecha"
            >
            </kendo-grid-column>
            <kendo-grid-column
              [headerStyle]="{ color: '#6a8acc' }"
              field="usuarioCreacion"
              title="Usuario"
            >
            </kendo-grid-column>
            <ng-template kendoPagerTemplate>
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons
                [buttonCount]="5"
              ></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-input></kendo-pager-input>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes
                [pageSizes]="pageSizes"
              ></kendo-pager-page-sizes>
              <div class="w-100 text-end">
                <button
                  kendoButton
                  icon="reload"
                  fillMode="flat"
                  themeColor="secondary"
                  (click)="obtenerHistorialModificacionesContacto()"
                ></button>
              </div>
            </ng-template>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header bg-datosPersonal">
      <span>Informacion alternativa del Contacto</span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Nombres</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.nombre }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Direccion</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.direccion }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Ubigeo</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.ubigeo }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Apellido<br />Paterno</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.apellidoPaterno }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Distrito</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.distrito }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Nombre<br />Empresa</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.nombreEmpresa }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Apellido<br />Materno</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.apellidoMaterno }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Provincia </label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.provincia }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Cargo </label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.cargo }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Fecha<br />Nacimiento</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.fechaNacimiento | date : "dd-MM-yyyy" }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Departamento</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.departamento }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Email</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.email1 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Celular 1</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.celular }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Telefono<br />Fijo 1</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.telefonoFijo1 }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Celular 2</label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.celular2 }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-2">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <label>Telefono<br />Fijo 2 </label>
            </div>
            <div class="col-sm-8 col-md-8">
              <div class="form-control form-control-sm nowrapText div-disabled">
                {{ dataSentinelAlumno?.telefonoFijo2 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Empresa -->
<ng-template #modalEmpresa let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body px-3">
    <app-empresa></app-empresa>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modal.dismiss('Cross click')">
      Cerrar
    </button>
  </div>
</ng-template>
<!-- END Modal Empresa -->
