.formulario {
  width: 100%;
  padding: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.column {
  display: flex;
}

.column h3 {
  width: 100px;
  padding-top: 10px;
  font-size: 15px;
}

p {
  margin-top: 20px;
  color: red;
}

.card {
  margin: 20px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}
