<div class="block">
  <div class="block-header bg-white text-dark border text-uppercase">
    <span class="k-icon k-i-info bg-success text-white rounded fs-5 m-1"></span>
    INFORMACIÓN DEL CLIENTE 1
  </div>
  <div class="block-body-border divCardInformacionAlumno">
    <form class="k-form">
      <div class="row">
        <div class="col-12 my-1 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label
              [for]="celular1"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Celular 1
            </label>
            <div class="input-group d-flex">
              <input
                kendoTextBox
                #celular1
                [type]="tipoInput"
                size="medium"
                [(ngModel)]="informacioAlumno.celular1Temp"
                name="celular1"
                [readonly]="true"
                placeholder="Celular Principal"
                class="col bgInputIA"
              />
              <button
                kendoButton
                (click)="copiarNumero(informacioAlumno.celular1Temp)"
              >
                <span class="k-icon k-i-copy k-icon-20"></span>
              </button>
              <div
                *ngIf="btnCelularFijo1.show"
                class="input-group-append col-auto"
              >
                <button
                  class="btn btn-sm"
                  [ngClass]="btnCelularFijo1.class"
                  [disabled]="btnCelularFijo1.disabled || enProcesoSolicitud"
                  (click)="
                    realizarLlamada(
                      esWolkbox || esRingover
                        ? informacioAlumno.celular1Temp
                        : informacioAlumno.celular1,
                      1,
                      true
                    )
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnCelularFijo1.icon]"
                    [transform]="{ rotate: btnCelularFijo1.rotate }"
                  ></fa-icon
                  >&nbsp;<sup>F</sup>
                </button>
              </div>
              <div *ngIf="btnCelular1.show" class="input-group-append col-auto">
                <button
                  class="btn btn-sm form-radius-15-right"
                  [ngClass]="btnCelular1.class"
                  [disabled]="
                    enProcesoSolicitud ||
                    btnCelular1.disabled ||
                    (btnCelularFijo1.show == true &&
                      actividadMarcadorLog.totalIntento < 2 &&
                      [51, 57].includes(alumno.idCodigoPais)) ||
                    (btnCelularFijo1.show == true &&
                      actividadMarcadorLog.totalIntento < 1 &&
                      alumno.idCodigoPais == 52)
                  "
                  (click)="
                    realizarLlamada(
                      esWolkbox || esRingover
                        ? informacioAlumno.celular1Temp
                        : informacioAlumno.celular1,
                      5,
                      false
                    )
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnCelular1.icon]"
                    [transform]="{ rotate: btnCelular1.rotate }"
                  ></fa-icon>
                </button>
              </div>
              <div
                *ngIf="btnCelular1Ringover.show"
                class="input-group-append col-auto"
              >
                <button
                  class="btn btn-sm form-radius-15-right"
                  [ngClass]="btnCelular1Ringover.class"
                  [disabled]="btnCelular1Ringover.disabled"
                  (click)="
                    realizarLLamadaRingover(informacioAlumno.celular1Temp, 5)
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnCelular1Ringover.icon]"
                    [transform]="{ rotate: btnCelular1Ringover.rotate }"
                  ></fa-icon>
                </button>
              </div>
              <ng-container
                *ngIf="
                  alumno?.idEstadoContactoWhatsApp == 1;
                  else elseCheckEstado
                "
              >
                <div
                  class="input-group-append col-auto d-flex align-items-center ms-2"
                >
                  <fa-icon
                    [icon]="['fas', 'check-square']"
                    class="fa-xl text-success"
                  ></fa-icon>
                </div>
              </ng-container>
              <ng-template #elseCheckEstado>
                <div
                  class="input-group-append col-auto d-flex align-items-center ms-2"
                >
                  <fa-icon [icon]="['far', 'square']" class="fa-xl"></fa-icon>
                </div>
              </ng-template>
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-1 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label
              [for]="celular2"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Celular 2
            </label>
            <div class="input-group d-flex">
              <input
                kendoTextBox
                #celular2
                [type]="tipoInput"
                size="medium"
                [(ngModel)]="informacioAlumno.celular2Temp"
                name="celular2"
                [readonly]="true"
                placeholder="Celular Secundario"
                class="col bgInputIA"
              />
              <button
                kendoButton
                (click)="copiarNumero(informacioAlumno.celular2Temp)"
              >
                <span class="k-icon k-i-copy k-icon-20"></span>
              </button>
              <div
                *ngIf="btnCelularFijo2.show"
                class="input-group-append col-auto"
              >
                <button
                  class="btn btn-sm"
                  [ngClass]="btnCelularFijo2.class"
                  [disabled]="enProcesoSolicitud || btnCelularFijo2.disabled"
                  (click)="
                    realizarLlamada(
                      esWolkbox || esRingover
                        ? informacioAlumno.celular2Temp
                        : informacioAlumno.celular2,
                      6,
                      true
                    )
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnCelularFijo2.icon]"
                    [transform]="{ rotate: btnCelularFijo2.rotate }"
                  ></fa-icon
                  >&nbsp;<sup>F</sup>
                </button>
              </div>
              <div *ngIf="btnCelular2.show" class="input-group-append col-auto">
                <button
                  class="btn btn-sm form-radius-15-right"
                  [ngClass]="btnCelular2.class"
                  [disabled]="
                    enProcesoSolicitud ||
                    btnCelular2.disabled ||
                    (btnCelularFijo1.show == true &&
                      actividadMarcadorLog.totalIntento < 2 &&
                      [51, 57].includes(alumno.idCodigoPais)) ||
                    (btnCelularFijo1.show == true &&
                      actividadMarcadorLog.totalIntento < 1 &&
                      alumno.idCodigoPais == 52)
                  "
                  (click)="
                    realizarLlamada(
                      esWolkbox || esRingover
                        ? informacioAlumno.celular2Temp
                        : informacioAlumno.celular2,
                      1,
                      false
                    )
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnCelular2.icon]"
                    [transform]="{ rotate: btnCelular2.rotate }"
                  ></fa-icon>
                </button>
              </div>
              <div
                *ngIf="btnCelular2Ringover.show"
                class="input-group-append col-auto"
              >
                <button
                  class="btn btn-sm form-radius-15-right"
                  [ngClass]="btnCelular2Ringover.class"
                  [disabled]="btnCelular2Ringover.disabled"
                  (click)="
                    realizarLLamadaRingover(informacioAlumno.celular2Temp, 5)
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnCelular2Ringover.icon]"
                    [transform]="{ rotate: btnCelular2Ringover.rotate }"
                  ></fa-icon>
                </button>
              </div>
              <ng-container
                *ngIf="
                  alumno?.idEstadoContactoWhatsAppSecundario == 1;
                  else elseCheckEstado2
                "
              >
                <div
                  class="input-group-append col-auto d-flex align-items-center ms-2"
                >
                  <fa-icon
                    [icon]="['fas', 'check-square']"
                    class="fa-xl text-success"
                  ></fa-icon>
                </div>
              </ng-container>
              <ng-template #elseCheckEstado2>
                <div
                  class="input-group-append col-auto d-flex align-items-center ms-2"
                >
                  <fa-icon [icon]="['far', 'square']" class="fa-xl"></fa-icon>
                </div>
              </ng-template>
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-1 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label
              [for]="telefono1"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Telefono 1
            </label>
            <div class="input-group d-flex">
              <input
                kendoTextBox
                #telefono1
                size="medium"
                [(ngModel)]="informacioAlumno.telefono1"
                name="telefono1"
                [readonly]="true"
                placeholder="Telefono Principal"
                class="col bgInputIA"
              />
              <button
                kendoButton
                (click)="copiarNumero(informacioAlumno.telefono1)"
              >
                <span class="k-icon k-i-copy k-icon-20"></span>
              </button>
              <div
                *ngIf="btnTelefono1.show"
                class="input-group-append col-auto"
              >
                <button
                  class="btn btn-sm form-radius-15-right"
                  [ngClass]="btnTelefono1.class"
                  [disabled]="btnTelefono1.disabled"
                  (click)="
                    realizarLlamada(informacioAlumno.telefono1, 1, false)
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnTelefono1.icon]"
                    [transform]="{ rotate: btnTelefono1.rotate }"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-1 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <label
              [for]="telefono2"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Telefono 2
            </label>
            <div class="input-group mb-3 d-flex">
              <input
                kendoTextBox
                #telefono2
                [(ngModel)]="informacioAlumno.telefono2"
                name="telefono2"
                [readonly]="true"
                placeholder="Telefono Secundario"
                class="col bgInputIA"
              />
              <button
                kendoButton
                (click)="copiarNumero(informacioAlumno.telefono2)"
              >
                <span class="k-icon k-i-copy k-icon-20"></span>
              </button>
              <div
                *ngIf="btnTelefono2.show"
                class="input-group-append col-auto"
              >
                <button
                  class="btn btn-sm form-radius-15-right"
                  [ngClass]="btnTelefono2.class"
                  [disabled]="btnTelefono2.disabled"
                  (click)="
                    realizarLlamada(informacioAlumno.telefono2, 1, false)
                  "
                  type="button"
                >
                  <fa-icon
                    [icon]="['fas', btnTelefono2.icon]"
                    [transform]="{ rotate: btnTelefono2.rotate }"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-1">
          <kendo-formfield>
            <label
              [for]="email1"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Email 1
            </label>
            <div class="input-group d-flex">
              <input
                kendoTextBox
                #email1
                [type]="tipoInput"
                [(ngModel)]="informacioAlumno.email1"
                name="email1"
                [readonly]="true"
                placeholder="Email Principal"
                class="col bgInputIA"
              />
              <div *ngIf="btnEmail1.show" class="input-group-append col-auto">
                <button
                  class="btn btn-sm btn-outline-secondary form-radius-15-right"
                  type="button"
                  (click)="
                    abrirModalPlantilla(modalPlantillaMensaje, alumno?.emailOriginal)
                  "
                >
                  <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                </button>
              </div>
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-1">
          <kendo-formfield>
            <label
              [for]="email2"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Email 2
            </label>
            <div class="input-group d-flex">
              <input
                kendoTextBox
                #email2
                [type]="tipoInput"
                [(ngModel)]="informacioAlumno.email2"
                name="email2"
                [readonly]="true"
                placeholder="Email Secundario"
                class="col bgInputIA"
              />
              <div *ngIf="btnEmail2.show" class="input-group-append col-auto">
                <button
                  class="btn btn-sm btn-outline-secondary form-radius-15-right"
                  type="button"
                  (click)="
                    abrirModalPlantilla(modalPlantillaMensaje, alumno?.email2)
                  "
                >
                  <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                </button>
              </div>
            </div>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-1">
          <kendo-formfield>
            <label
              [for]="categoriaDescripcion"
              class="k-label pt-0 d-flex align-items-start text-start"
            >
              Categoría de Dato
            </label>
            <input
              kendoTextBox
              #categoriaDescripcion
              [(ngModel)]="rowActual.categoriaDescripcion"
              name="categoriaDescripcion"
              [readonly]="true"
              placeholder="Categoria de Dato"
              class="col bgInputIA"
            />
          </kendo-formfield>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal de Seleccion de plantillas -->
<ng-template #modalPlantillaMensaje let-modal>
  <div class="modal-header modal-header-ficha">
    <h2 class="modal-title mb-0">Generar mensaje - Seleccione plantilla</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row d-flex justify-content-center my-2">
      <div class="col-sm-12 col-md-9">
        <kendo-dropdownlist
          #dropDownListPlantilla
          class="d-flex"
          size="medium"
          [loading]="loadingPlantilla"
          [data]="plantillaMensajeFiltro"
          [(ngModel)]="controlPlantillaMensaje"
          [defaultItem]="{ nombre: 'Seleccione una plantilla...', id: null }"
          textField="nombre"
          valueField="id"
          [kendoDropDownFilter]="filterSettings"
        >
        </kendo-dropdownlist>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        icon="reload"
        fillMode="flat"
        themeColor="base"
        [disabled]="flagReloadPlantilla"
        (click)="reloadPlantillas()"
      ></button>
      <span class="text-danger" *ngIf="!(flagValorEtiqueta$ | async)"
        >Cargando valores etiquetas...</span
      >
      <button
        kendoButton
        themeColor="primary"
        [disabled]="
          !(flagValorEtiqueta$ | async) || controlPlantillaMensaje == null
        "
        (click)="generarCorreo(modalRedactarMensaje)"
      >
        Generar Correo
      </button>
      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
<!-- End Modal de Seleccion de plantillas -->

<!-- Modal Redactar Mensaje -->
<ng-template #modalRedactarMensaje let-modal>
  <div class="modal-header modal-header-correos">
    <h2 class="modal-title m-0 px-3" id="modal-basic-title ">
      Redactar Mensaje
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body ps-4 pe-4">
    <form [formGroup]="formRedactarMensaje">
      <div class="row mb-2">
        <div class="col-sm-12 col-md-12">
          <kendo-textbox placeholder="Asunto:" formControlName="asunto">
          </kendo-textbox>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12">
          <input
            kendoTextBox
            [type]="tipoInput"
            placeholder="Destinatario(s):"
            formControlName="destinatario"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12">
          <kendo-textbox placeholder="Cc:" formControlName="destinatarioCc">
          </kendo-textbox>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12">
          <kendo-fileselect
            placeholder="adjuntar archivo"
            formControlName="archivosAjuntos"
          >
          </kendo-fileselect>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-editor
            formControlName="mensaje"
            [pasteCleanupSettings]="pasteCleanupSettings"
            style="height: 300px"
          >
            <kendo-toolbar>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorBoldButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorItalicButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorUnderlineButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorStrikethroughButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorSubscriptButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorSuperscriptButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorAlignLeftButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorAlignCenterButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorAlignRightButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorAlignJustifyButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-dropdownlist
                kendoEditorFormat
              ></kendo-toolbar-dropdownlist>
              <kendo-toolbar-dropdownlist
                kendoEditorFontSize
              ></kendo-toolbar-dropdownlist>
              <kendo-toolbar-dropdownlist
                kendoEditorFontFamily
              ></kendo-toolbar-dropdownlist>
              <kendo-toolbar-colorpicker
                kendoEditorForeColor
              ></kendo-toolbar-colorpicker>
              <kendo-toolbar-colorpicker
                kendoEditorBackColor
                view="gradient"
              ></kendo-toolbar-colorpicker>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorInsertUnorderedListButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorInsertOrderedListButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorIndentButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorOutdentButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-button
                kendoEditorBlockquoteButton
              ></kendo-toolbar-button>
              <kendo-toolbar-button
                kendoEditorSelectAllButton
              ></kendo-toolbar-button>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorUndoButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorRedoButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorCreateLinkButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorUnlinkButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-button
                kendoEditorInsertFileButton
              ></kendo-toolbar-button>
              <kendo-toolbar-button
                kendoEditorInsertImageButton
              ></kendo-toolbar-button>
              <kendo-toolbar-button
                kendoEditorViewSourceButton
              ></kendo-toolbar-button>
              <kendo-toolbar-button
                kendoEditorCleanFormattingButton
              ></kendo-toolbar-button>
              <kendo-editor-insert-table-button></kendo-editor-insert-table-button>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorAddColumnBeforeButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorAddColumnAfterButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorAddRowBeforeButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorAddRowAfterButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorDeleteColumnButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorDeleteRowButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorDeleteTableButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-buttongroup>
                <kendo-toolbar-button
                  kendoEditorMergeCellsButton
                ></kendo-toolbar-button>
                <kendo-toolbar-button
                  kendoEditorSplitCellButton
                ></kendo-toolbar-button>
              </kendo-toolbar-buttongroup>
              <kendo-toolbar-button
                kendoEditorPrintButton
              ></kendo-toolbar-button>
            </kendo-toolbar>
          </kendo-editor>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row text-danger">
      {{ mensajeEnvioCorreo }}
    </div>
    <div class="k-form-buttons mt-0 mb-0">
      <button
        kendoButton
        size="large"
        themeColor="success"
        (click)="sendMessageAcrossMandrill()"
        [disabled]="disabledBtnEnviarMensaje"
      >
        Enviar
      </button>
      <button
        themeColor="error"
        kendoButton
        size="large"
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
<!-- End Modal Redactar Mensaje -->
