.cursoMatriculadoContainer{
  background-color: #F7F8FA;
}
.gold .codeColumn {
  background-color: #ffffff;
}
.green .codeColumn {
  background-color: #2b89b3;
}
table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}
.mat-header-cell {
  background-color: #11C744;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 24px;
  // text-align: center;
}
td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
  // text-align: center;
}
.mat-row:hover {
  background-color: #F3F3F3;
}
.mat-expansion-panel-header{
  background-color: #F3F3F3 !important;
}
.mat-select-custom-style{
  width: fit-content;
}
.btn {
  background:  #ffd9c7;
}
.btn:hover {
  background: hsl(5, 76%, 84%)
}

// :host ::ng-deep .mat-paginator-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap-reverse;
//   width: 100%;
// }

// td.mat-cell{
//   text-align: center;
// }

