table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
}

.mat-header-cell {
    background-color: #11C744;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left: 24px;
}

td.mat-cell {
    padding: 15px !important;
    border-right: 1px solid lightgray !important;
    border-bottom: none !important;
}

.mat-row:hover {
    background-color: #F3F3F3;
}

.mat-column-nro-orden{
    width: 4%;
}
.mat-column-concepto{
    width: 20%;
}
.mat-column-descripcion{
    width: 50%;
}

.mat-cell.mat-column-monto-peru,
.mat-cell.mat-column-monto-colombia,
.mat-cell.mat-column-monto-bolivia,
.mat-cell.mat-column-monto-mexico,
.mat-cell.mat-column-monto-extranjero{
    text-align: center;
}