.titulo {
  width: 100%;
  background-color: #f0f0f0;
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
}
.titulo h3 {
  display: inline-block;
  margin-top: 10px;
}
.plantillaC {
  width: 45%;
  padding-top: 20px;
}
.plantillaB {
  width: 55%;
}

.contenedorTotal {
  width: 100%;
  display: flex;
}

.full-height-editor {
  height: 800px;
  min-height: 300px; /* Puedes ajustar esta altura mínima según tus necesidades */
}

.plantilla {
  border: 1px solid #f0f0f0e9;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
}

.registrar {
  border-radius: 20px;
  background-color: #094d82;
  width: 200px;
  height: 48px;
  color: white;
  margin-right: 20px;
  margin-top: 20px
}

.titulo {
  width: 100%;
  background-color: #f0f0f0;
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
}
.titulo h3 {
  display: inline-block;
}

.plantillaC {
  width: 45%;
  padding-top: 20px;
}
.plantillaB {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorTotal {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.contenedor {
  position: relative;
  border: 2px solid #f0f0f0e9;
}

.full-height-editor {
  height: 800px;
  min-height: 300px; /* Puedes ajustar esta altura mínima según tus necesidades */
}

.plantilla {
  border: 1px solid #f0f0f0e9;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
}

.registrar {
  border-radius: 20px;
  background-color: #094d82;
  width: 200px;
  height: 48px;
  color: white;
  margin-right: 20px;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.w-100 {
  width: 100% !important;
}
/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.repeated-value {
  border-color: red; /* Ejemplo de estilo para un borde rojo */
}

.image-container {
  width: 200px; /* Tamaño predeterminado */
  height: auto; /* Tamaño predeterminado */
  overflow: hidden;
}

.selected-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.butEx{
  background-color: skyblue;
  color: white;
}

.butEl{
  background-color: red;
  color: white;
}

.custom-kendo-editor {
  height:150px !important;
  color: #030303;
  font-family: Verdana, geneva, sans-serif;
  font-size: 13px;
}


.customCK-editor {
  font-family: arial,helvetica,sans-serif;
}