#tabsAsignacionChat .k-tabstrip-items-wrapper {
  background-color: #2b89b3;
  color: #fff;
}
#tabsAsignacionChat .k-content {
  padding: 15px !important;
}
#tabsAsignacionChat .k-item {
  background: #2b89b3;
  height: 40px;
  color: #fff;
}
#tabsAsignacionChat .k-item:not(.k-state-active) :hover {
  background-color: #13a9da !important;
}
#tabsAsignacionChat .k-tabstrip-items .k-state-active {
  background-color: #0f6190;
}
#tabsAsignacionChat .k-item .k-state-hover {
  background: #2b89b3 !important;
}
