button.sweetAlert2-customConfirmButtonSwal{
    background-color: #0079FF;
    color: white;
    border-radius: 9px;
    padding: 9px;
    border: none;
    margin-right: 15px;
  }
  
  button.sweetAlert2-customDenyButton{
    background-color: #FFFFFF;
    border: 1px solid #0079FF;
    border-radius: 9px;
    color: #0079FF;
    padding:8px
  }

  button.sweetAlert2-customConfirmButtonSwal:hover,
  button.sweetAlert2-customDenyButton:hover {
    text-decoration: underline;
  }

  button.sweetAlert2-customHoverButton:hover {
    text-decoration: underline;
  }