.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.panel {
  margin-bottom: 23px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: inherit;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.panel-primary>.panel-heading {
  color: #ffffff;
  background-color: #3343a4;
  border-color: #3343a4;
}

.panel-footer {
  border-top: none;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-body {
  padding: 15px;
}

.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

div.panel-button button {
  position: absolute;
  right: 42px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 100;
  font-size: 1.2em;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.btn {
  text-transform: uppercase;
}

.btn-default {
  background: #dbdbdb;
  border-color: black;
}

.btn-link {
  color: white;
}

.modal-title {
  color: #2e6ea6;
}

.modal-header .close {
  margin: -2px;
}

.modal-title {
  margin: 0;
  line-height: 2;
}

.close {
  font-size: 34px;
  font-weight: 300;
  line-height: 25px;
}

.k-grid-content tr td {
  border-left-width: 1px;
  padding: 6px;
}

.k-grid td.k-state-selected,
.k-grid tr.k-state-selected>td {
  border-color: inherit;
}

.hidden {
  visibility: hidden;
}

.nav-tabs .nav-link.active {
  color: #4f9ef0;
  text-decoration: underline;
  text-decoration-color: #0f59e1;
  font-size: 13px;
  font-weight: 600;
}

.k-button {
  text-transform: inherit;
}

.k-multiselect-clearable .k-multiselect-wrap {
  font-size: 13px;
}

.k-dropdown {
  width: 100% !important;
}

.k-grid tr td,
.k-pivot-layout .k-grid tr td {
  padding: 10px;
}

#cuadrado1Leyenda {
  width: 20px;
  height: 15px;
  background: blue;
}

#cuadrado2Leyenda {
  width: 20px;
  height: 15px;
  background: skyblue;
}

#cuadrado3Leyenda {
  width: 20px;
  height: 15px;
  background: yellow;
}

#cuadrado4Leyenda {
  width: 20px;
  height: 15px;
  background: orange;
}

#cuadrado5Leyenda {
  width: 20px;
  height: 15px;
  background: red;
}

#cuadrado6Leyenda {
  width: 20px;
  height: 15px;
  background: #00cf00;
}

#cuadrado1Actividad {
  width: 20px;
  height: 15px;
  //background: #eb6720;
  background: #ff6a00;
}

#cuadrado2Actividad {
  width: 20px;
  height: 15px;
  //background: #C8155B;
  background: #FF0000;
}

#cuadrado3Actividad {
  width: 20px;
  height: 15px;
  //background: green;
  background: #15a522;
}

#cuadrado4Actividad {
  width: 20px;
  height: 15px;
  //background: #656EC3;
  background: #8f0cf5;
}

#cuadrado1Llamada {
  width: 20px;
  height: 15px;
  background: black;
}

#cuadrado2Llamada {
  width: 20px;
  height: 15px;
  background: blue;
}

#cuadrado3Llamada {
  width: 20px;
  height: 15px;
  background: #07ad9c;
}

#cuadrado4Llamada {
  width: 20px;
  height: 15px;
  background: #9a0f3d;
}

a.ex1:hover,
a.ex1:active {
  font-weight: 600;
  color: #ff0202 !important;
  text-decoration-line: underline !important;
}

.centro_costo {
  color: #e0b535 !important;
}

#gridRealizadas .k-grid-header .k-header {
  color: #fff;
  background-color: #4584a7;
  padding-top: 10px;
  padding-bottom: 10px;
}

#gridRealizadas .k-grid-content>table>tbody>tr {
  background-color: #f7f6fc;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
}

#gridRealizadas .k-grid-content tr td {
  border-left-width: 0;
}

#gridRealizadas .k-state-selected {
  background-color: #00a2eb !important;
}

#gridRealizadas .k-pager-numbers .k-state-selected {
  border-color: #3f51b5 transparent transparent;
  border-radius: 0;
  box-shadow: none;
  color: #3f51b5;
  background-color: transparent;
}

#PanelGrid .panel-body {
  height: 1000px;
  padding-top: 0px;
}

#gridRealizadasTotales {
  font-size: 12px;
}

#RowIntervalLlamada {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-right: 70px;
}

.checkboxThree {
  width: 120px;
  height: 32px;
  background: #8c8b8b;
  /*border-radius: 50px;*/
  position: relative;
}

.checkboxThree:before {
  content: "SI";
  position: absolute;
  top: 4px;
  left: 13px;
  height: 2px;
  color: #dee92f;
  font-size: 16px;
  font-weight: bolder;
}

.checkboxThree:after {
  content: "NO";
  position: absolute;
  top: 4px;
  left: 76px;
  height: 2px;
  color: #c61919;
  font-size: 16px;
  font-weight: bolder;
}

.checkboxThree label {
  display: block;
  width: 60px;
  height: 32px;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  left: 0px;
  background: #d9dfd9;
  /*top: 9px;
          border-radius: 50px;*/
}

.checkboxThree input[type="checkbox"]:checked+label {
  left: 60px;
  background: #d9dfd9;
}

.contacto_name {
  cursor: pointer;
}

.contacto_name:hover {
  font-weight: 700;
  color: #edae2d;
  /*text-decoration-line: underline !important;*/
}

.grid-reporte-llamada tr {
  padding: 0px;
}

.grid-reporte-llamada td {
  padding: 0px;
}

mat-form-field {
  margin-right: 12px;
}

.rart-txtAlumno:hover {
  color: #ffbf00 !important;
  cursor: pointer !important;
  font-weight: bold !important;
}

.custom-table table {
  border: 1px solid !important;
}

.custom-table td {
  border: 1px solid !important;
  padding: 0px !important;
}

.text-overflow-hidden {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.grid-comentario .tooltip-inner {
  max-width: 300px !important;
}

.bg-menor2 {
  background-color: blue;
  color: white;
}

.bg-2a3 {
  background-color: skyblue;
  color: black;
}

.bg-3a5 {
  background-color: yellow;
  color: black;
}

.bg-5a8 {
  background-color: orange;
  color: black;
}

.bg-mayor8 {
  background-color: red;
  color: white;
}

.bg-horaRefrigerio {
  background-color: #00cf00;
  color: white;
}

#my-grid3cx tr.sinLlamada {
  //background-color: #eb6720;
  background-color: #ff6a00;
  color: #ecedf0 !important;
}

#my-grid3cx tr.esSeguimientoWhatsapp {
  background-color: green;
  color: #ecedf0 !important;
}

#my-grid3cx tr.esOtroMedio {
  //background-color: #656EC3;
  background-color: #8f0cf5;
  color: #ecedf0 !important;
}

#my-grid3cx tr.green {
  background-color: #b2f699;
}

#my-grid3cx tr.sinActividad {
  //background-color: #C8155B;
  background-color: #FF0000;
  color: #ecedf0 !important;
}

.legend-3cx {
  font-size: 18px;
  line-height: inherit;
  color: #212121;
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.esLlamada3cx {
  text-decoration: underline;
  color: blue !important;
}

.esLlamadaRingover {
  text-decoration: underline;
  color: #07ad9c !important;
  font-weight: bold;
}

.esLlamadaWavix {
  text-decoration: underline;
  color: brown !important;
  font-weight: bold;
}

.esLlamadaCorporativo {
  text-decoration: underline;
  color: #ff6113 !important;
  font-weight: bold;
}

.esLlamadaIntegra {
  text-decoration: underline;
  color: #212121 !important;
}

.esLlamadaWolkbox {
  text-decoration: underline;
  color: #9a0f3d !important;
}


/* nuevos colores para el texto */
.esSeguimientoWhatsappTexto {
  //color: green !important;
  color: #15a522 !important;
}
.esSeguimientoWhatsappTexto2 {
  //color: green !important;
  color: #15a522 !important;
}
.esSeguimientoWhatsappTexto2AUTOHUMANO {
  //color: green !important;
  color: #15a522 !important;
  background-color: #ff3d3d;
}
.esOtroMedioTexto {
  //color: #656EC3 !important;
  color: #8f0cf5 !important;
}
.esOtroMedioTexto2 {
  //color: #656EC3 !important;
  color: #8f0cf5 !important;
}
.esOtroMedioTexto2AUTOHUMANO {
  //color: #656EC3 !important;
  color: #8f0cf5 !important;
  background-color: #ff3d3d;
}
.esAutomaticaHumano{
  background-color: #ff3d3d;
}
.sinLlamadaTexto {
  //color: #eb6720 !important;
  color: #ff6a00 !important;
}
.sinActividadTexto {
  //color: #C8155B !important;
  color: #FF0000 !important;
}
.greenTexto {
  color: #b2f699 !important;
}