.titulo {
    background-color: #374441;
    color: white;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 15px;
  }
  
  .container {
    // border: 1px solid #4cf65d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .contenedorTabla{
    border: 1px solid #374441;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .col {
    flex: 1;
    margin-right: 10px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  .but {
    background-color: #4cf65d;
    color: black;
    border-radius: 5px;
    width: 382px;
    margin-top: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .headerPrioridades {
    background-color: #374441;
    color: white;
    border: none;
    text-align: center;
    justify-content: center;
  }
  .opciones {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .sen {
    width: 180px;
    border-top-left-radius: 10px;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sen:hover {
    background-color: #374441;
    color: white;
  }
  
  .exc {
    width: 180px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .exc:hover {
    background-color: #374441;
    color: white;
  }
  
  .conte {
    border: 1px solid #374441;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }
  
  .butEx {
    background-color: #4200ff;
    color: white;
    border-radius: 5px;
    width: 382px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .excc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  
  .custom-dialog-container > mat-dialog-container{
    padding: 0px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  