<div class="card">
    <div class="card-header cabecera">
        <h2>Plantilla operaciones</h2>
    </div>
    <div class="card-body">
        <div class="contenido-plantillas">
            <kendo-tabstrip (tabSelect)="onTabSelect($event)">
                <kendo-tabstrip-tab id="email" title="Email" class="email" [selected]="true">
                    <ng-template kendoTabTitle>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <span>Email 
                            </span>
                            <mat-icon style="margin-left: 2px;">email</mat-icon>
                        </div>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class="card">
                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-3">
                                        Codigo alumno:
                                    </div>
                                    <div class="col-9"> 
                                        <input type="text" [(ngModel)]="inputCodigoMatriculaEmail" class="form-control" placeholder="<Ingrese codigo>">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-3">
                                        Destinatario(s):
                                    </div>
                                    <div class="col-9"> 
                                        <input type="text" [(ngModel)]="inputEmail"  class="form-control" placeholder="<Ingrese Email>">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-3">
                                        Plantilla:
                                    </div>
                                    <div class="col-9"> 
                                        <kendo-dropdownlist
                                        [data]="plantillasContEmail"
                                        [(ngModel)]="inputPlantillaEmail"
                                        [valuePrimitive]="true"
                                        [textField]="'nombre'"
                                        [valueField]="'id'"
                                        [kendoDropDownFilter]="filterSettings"
                                        ></kendo-dropdownlist>
                                    </div>
                                </div>
                                <div class="row mt-3" style="justify-content: end;">
                                    <button (click)="enviarEmail()" [disabled]="loaderEnvioEmail" class="btn btn-success" style="width: auto;">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab id="whatsapp" title="Whatsapp">
                    <ng-template kendoTabTitle>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <span>Whatsapp</span>
                            <fa-icon class="m-1" [icon]="['fab', 'whatsapp']" [size]="'xl'"></fa-icon>
                        </div>
                    </ng-template>
                    <ng-template kendoTabContent>
                        <div class="content">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mt-3">
                                        <div class="col-3">
                                            Codigo alumno:
                                        </div>
                                        <div class="col-9"> 
                                            <input type="text" [(ngModel)]="inputCodigoMatriculaWhatssap" class="form-control" placeholder="<Ingrese codigo>">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-3">
                                            Destinatario(s):
                                        </div>
                                        <div class="col-9"> 
                                            <input type="text" [(ngModel)]="inputWhatssap" class="form-control" placeholder="<Ingrese el número de celular>">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-3">
                                            Plantilla:
                                        </div>
                                        <div class="col-9"> 
                                            <kendo-dropdownlist
                                            [data]="plantillasContWhatssap"
                                            [valuePrimitive]="true"
                                            [textField]="'nombre'"
                                            [valueField]="'id'"
                                            [kendoDropDownFilter]="filterSettings"
                                            [(ngModel)]="inputPlantillaWhatssap"
                                            ></kendo-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="row mt-3" style="justify-content: end;">
                                        <button (click)="enviarWhatssap()" [disabled]="loaderEnvioWhatssap" class="btn btn-success" style="width: auto;">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>
       
    </div>

</div>