.cabecera{
    background-color: #337ab7;
    color: white;
}
.contenido-plantillas .k-tabstrip-items .k-link {
    color: white;
    background-color: rgb(35, 111, 146);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-color: transparent;
}
.contenido-plantillas .k-tabstrip-items :hover {
    color: rgb(255, 254, 235);
    background-color: rgb(41, 131, 173);
}
.contenido-plantillas .k-tabstrip-items .k-active{
    background-color: #0f6190 !important;
    border-bottom-color: #e8a817 !important;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-width: 4px !important;
}
