
#tabsBandejaEntrada .k-header {
    background-color: #4fa4c0;
    border: none !important;
  }
  
  // #tabsBandejaEntrada .k-tabstrip {
  //   background-color: #2b89b3;
  // }
  #tabsBandejaEntrada .k-tabstrip-items-wrapper {
    background-color: #2b89b3;
    color: #fff;
  }
  #tabsBandejaEntrada .k-content {
    // background-color: red  !important;
    padding: 15px !important;
  }
  
  #tabsBandejaEntrada .k-item {
    background: #2b89b3;
    height: 40px;
    // border-color: red !important;
  }
  #tabsBandejaEntrada .k-item:not(.k-active) :hover {
    background-color: #13a9da !important;
    // border-color: red !important;
  }
  #tabsBandejaEntrada .k-tabstrip-items .k-active {
    background-color: #0f6190;
    border-bottom-color: #e8a817;
    border-bottom-width: 4px;
    // border-color: red !important;
    // border: none !important;
  }
  #tabsBandejaEntrada .k-item .k-hover {
    background: #2b89b3 !important;
    // border-color: #4584a7;
  }
  
  
  .nowrapText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .k-form-field > div{

    width: 100% !important;
  }
  