
  // $grid-breakpoints: (
  //   xs: 0,
  //   sm: 576px,
  //   md: 768px,
  //   lg: 992px,
  //   xl: 1200px,
  //   xxl: 1400px
  // );

  // $container-max-widths: (
  //   sm: 540px,
  //   md: 720px,
  //   lg: 960px,
  //   xl: 1140px,
  //   xxl: 1320px
  // );
  @import '~bootstrap/scss/bootstrap';


  // #tabsModalOportunidad .k-header {
  //   background-color: #4fa4c0;
  //   border: none !important;
  // }

  // .k-tabstrip {
  //   background-color: #4fa4c0;
  // }

  #tabsModalOportunidad .k-tabstrip-items-wrapper {
    background-color: #2b89b3;
  }

  #tabsModalOportunidad .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active{
    background-color: #2b89b3;
    background-image: none;
    border-bottom-color: #00b0ff;
    font-weight: 500 !important;
    border-bottom-width: 5px;
  }
  #tabsModalOportunidad .k-tabstrip-scrollable > .k-tabstrip-items-wrapper > .k-button .k-button-icon{
    color: white;
    font-size: 18px;
  }
  #tabsModalOportunidad .k-item {
    background: #2b89b3;
    // height: 60px;
    // font-size: 18px;
    // border-color: red !important;
  }
  #tabsModalOportunidad .k-tabstrip-items .k-state-active {
    background-color: #2b89b3;
    // border-color: red !important;
    // border: none !important;
  }

  #tabsModalOportunidad .k-item .k-state-hover {
    background: #2b89b3 !important;
    // border-color: #4584a7;
  }

  .k-tabstrip-top > .k-content,
  .k-tabstrip-top > .k-tabstrip-content {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .k-tabstrip > .k-content {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-width: 0px;
    // padding-bottom: 0.92em;
  }
  // .k-tabstrip-items-wrapper .k-item:hover :not(.k-state-active){
  //   // color: #0f6190;
  //   background-color: #13a9da !important;
  // }

  .k-tabstrip-items .k-item .k-link {
    color: #fff;
  }

  .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: -1px;
  }

  .k-content:focus {
    outline-style: none !important;
  }

  #cuadradoMensajesLeyenda1 {
    width: 20px;
    height: 15px;
    background: #E6BF21;
}

#cuadradoMensajesLeyenda2 {
    width: 20px;
    height: 15px;
    background: #146613;
}

#cuadradoMensajesLeyenda3 {
    width: 20px;
    height: 15px;
    background: #C94124;
}

#cuadradoMensajesLeyenda4 {
    width: 20px;
    height: 15px;
    background: #1D2290;
}
#cuadradoMensajesLeyenda5 {
  width: 20px;
  height: 15px;
  background: #7fbfe7 ;
}
.text-overflow-hidden{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.color-centro-costo{
  font-weight: 590;
  color: rgb(218, 194, 12)
}


.grid-comentario .tooltip-inner {
  max-width: 300px !important;
}

// estilos de mensajes recibidos segun su tipo mensaje
.msWhatsApp .k-command-cell{
  background-color: #146613 !important;
}
.k-grid tr.msWhatsApp {
  background-color: #146613 !important;
  color: white;
}
.k-grid tr.msWhatsApp:hover {
  background-color: #146613 !important;
}
.k-grid tr.msWhatsApp:focus {
  background-color: #19e3c8 !important;
}
.msReclamo .k-command-cell{
  background-color: #C94124 !important;
}
.k-grid tr.msReclamo {
  background-color: #C94124 !important;
  color: white;
}
.k-grid tr.msReclamo:hover {
  background-color: #C94124 !important;
}

.msConstancia .k-command-cell{
  background-color: #1D2290 !important;
}
.k-grid tr.msConstancia {
  background-color: #1D2290 !important;
  color: white;
}
.k-grid tr.msConstancia:hover {
  background-color: #1D2290 !important;
}


.msChatPortal .k-command-cell{
  background-color: #7fbfe7 !important;
}
.k-grid tr.msChatPortal {
  background-color: #7fbfe7 !important;
  color: white;
}
.k-grid tr.msChatPortal:hover {
  background-color: #7fbfe7 !important;
}

.msCorreo .k-command-cell{
  background-color: rgb(218, 194, 12) !important;
}
.k-grid tr.msCorreo {
  background-color: rgb(218, 194, 12) !important;
  color: white;
}
.k-grid tr.msCorreo:hover {
  background-color: rgb(218, 194, 12) !important;
}
.label-leyenda{
  border: 2px solid #000000;
  border-radius: 20px; 
  padding: 3px;
  margin-top: -42px !important;
  font-weight: bold; 
  width: 100px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  align-items: center;
}
