.text-infoContrato {
  color: #0000ff;
}

.FieldSetRemuneracionVariable {
  border: 2px solid #4584a7 !important;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px 10px 25px;
  position: relative;
  border-radius: 4px;
  padding-left: 10px !important;

  .k-label{
    margin-right: 10px;
  }
}

.LegendRemuneracionVariable {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
  padding-right: 25px;
  width: auto;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 1;
}
//F5A600

.field-warning {
  ///background-color: #F5A600 !important;  /* Un tono de amarillo claro */
  /* O el color que prefieras */
  color: #F5A600;
}
