<ng-template #modalCongelamientoFecha let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Se realizara el congelamiento hasta {{ nuevaFechaFormato }}</p>
    <div class="col-md-3">
      <button mat-raised-button color="primary" (click)="CongelarFM()">
        Congelar
      </button>
    </div>
  </div>
</ng-template>

<!-- <ng-template #modalCongelamientoExportar let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header">
    <h2 class="modal-title m-0 p-0" id="modal-basic-title">
      Exportar Congelados
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form" [formGroup]="formGroupCongelamiento">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="fechaInicio" class="k-label">
                <span> Fecha Inicio : </span>
              </label>
              <kendo-datepicker
                #fechaInicio
                formControlName="fechaInicio"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="{
                  displayFormat: 'dd-MM-yyyy',
                  inputFormat: 'dd-MM-yyyy'
                }"
                placeholder="dia-mes-año"
                [style.width.px]="170"
                [required]="true"
              ></kendo-datepicker>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="fechaFin" class="k-label">
                <span> Fecha Fin : </span>
              </label>
              <kendo-datepicker
                #fechaFin
                formControlName="fechaFin"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="{
                  displayFormat: 'dd-MM-yyyy',
                  inputFormat: 'dd-MM-yyyy'
                }"
                placeholder="dia-mes-año"
                [style.width.px]="170"
                [required]="true"
              ></kendo-datepicker>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="ExportarCongelado()"
    >
      Exportar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template> -->

<ng-template #modalCongelamientoEditar let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header">
    <h2 class="modal-title m-0 p-0" id="modal-basic-title">
      Actualizar Registro
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form" [formGroup]="formGroupRegistro">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="dropdownlist" class="k-label">
                <span
                  >Codigo Matricula :</span
                >
              </label>
              <kendo-textbox
                orientation="horizontal"
                formControlName="codigoMatricula"
                #text
                [readonly]="true"
                class="d-flex"
                size="small"
                [clearButton]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="text" class="k-label">
                <span> Nro. Cuota: : </span>
              </label>
              <kendo-textbox
                orientation="horizontal"
                formControlName="nroCuota"
                #text
                [readonly]="true"
                class="d-flex"
                size="small"
                [clearButton]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="text" class="k-label">
                <span> Nro. SubCuota : </span>
              </label>
              <kendo-textbox
                formControlName="nroSubCuota"
                #text
                [readonly]="true"
                class="d-flex"
                size="small"
                [clearButton]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="fechaVencimiento" class="k-label">
                <span> Fecha Vencimiento : </span>
              </label>
              <kendo-datepicker
                #fechaVencimiento
                formControlName="fechaVencimiento"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="{
                  displayFormat: 'dd-MM-yyyy',
                  inputFormat: 'dd-MM-yyyy'
                }"
                placeholder="dia-mes-año"
                [style.width.px]="170"
                [required]="true"
              ></kendo-datepicker>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="monto" class="k-label">
                <span
                  >Monto Cuota : <strong class="text-danger">*</strong></span
                >
              </label>
              <kendo-numerictextbox
                #monto
                [step]="1"
                formControlName="montoCuota"
              ></kendo-numerictextbox>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="estadoMatricula" class="k-label">
                <span>Estado Matricula :</span>
              </label>
              <kendo-dropdownlist
                #estadoMatricula
                formControlName="estadoMatricula"
                [clearButton]="true"
                class="d-flex"
                size="small"
                [data]="listaEstadoMatricula"
                [filterable]="true"
                textField="estadoMatricula"
                valueField="estadoMatricula"
                [valuePrimitive]="true"
              >
              </kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="dropdownlistCA" class="k-label">
                <span
                  >Coordinador(a) Academico:
                  <strong class="text-danger">*</strong></span
                >
              </label>
              <kendo-dropdownlist
                formControlName="coordinadorAcademico"
                [clearButton]="true"
                class="d-flex"
                size="small"
                #dropdownlistCA
                [data]="listaCoordinador"
                [filterable]="true"
                textField="coordinadores"
                valueField="coordinadores"
                [kendoDropDownFilter]="filterSettings"

                [valuePrimitive]="true"
              >
              </kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label [for]="dropdownlist" class="k-label">
                <span
                  >Coordinador(a) Cobranza: :
                  <strong class="text-danger">*</strong></span
                >
              </label>
              <kendo-dropdownlist
                formControlName="coordinadorCobranza"
                class="d-flex"
                size="small"
                #dropdownlist
                [data]="listaCoordinador"
                textField="coordinadores"
                valueField="coordinadores"
                [valuePrimitive]="true"
                [kendoDropDownFilter]="filterSettings"

              >
              </kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="ActualizarRegistro()"
    >
      Actualizar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>

<div class="wrapper">
  <div class="k-loading-panel" *ngIf="loader">
    <div class="k-loading-panel-mask"></div>
    <div class="k-loading-panel-wrapper">
      <kendo-loader
        type="converging-spinner"
        themeColor="primary"
        size="large"
      >
      </kendo-loader>
      <div class="k-loading-panel-text fs-5 text-primary">
        Cargando...
      </div>
    </div>
  </div>
  <kendo-tabstrip (tabSelect)="onTabSelect($event)">
    <kendo-tabstrip-tab title="Mestro flujo congelado" [selected]="true">
      <ng-template kendoTabContent>
        <div class="content">
          <div class="">
            <div class="row">
              <div class="col-1fa-rotate-270">
                <div class="card">
                  <div class="card-body p-4">
                    <div class="row">
                      <div class="card" style="padding: 0px">
                        <div class="card-header bg-color-material pb-0">
                          <h3 class="text-white mb-2">Datos de Busqueda</h3>
                        </div>
                        <div class="card-body p-4">
                          <form class="k-form" [formGroup]="formGroupFiltro">
                            <fieldset class="k-form-fieldset">
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                  <label
                                    [for]="codigoMatricula"
                                    style="width: 150px"
                                  >
                                    <span>Codigo Matricula :</span>
                                  </label>
                                  <kendo-dropdownlist
                                    #codigoMatricula
                                    size="medium"
                                    formControlName="codigoMatricula"
                                    [clearButton]="true"
                                    class="d-flex center"
                                    [data]="listaCodigoMatricula"
                                    [filterable]="true"
                                    textField="id"
                                    valueField="id"
                                    [valuePrimitive]="true"
                                    (filterChange)="filterCodigoMat($event)"
                                  >
                                  </kendo-dropdownlist>
                                  <br />
                                </div>

                                <div class="col-md-5">
                                  <div class="row">
                                    <kendo-formfield orientation="horizontal">
                                      <label
                                        [for]="fechaCongelamiento"
                                        class="k-label"
                                      >
                                        <span
                                          >Fecha Congelamiento :
                                          <strong class="text-danger"
                                            >*</strong
                                          ></span
                                        >
                                      </label>
                                      <kendo-datepicker
                                        #fechaCongelamiento
                                        formControlName="fechaCongelamiento"
                                        [incompleteDateValidation]="true"
                                        calendarType="classic"
                                        [format]="{
                                          displayFormat: 'dd-MM-yyyy',
                                          inputFormat: 'dd-MM-yyyy'
                                        }"
                                        placeholder="dia-mes-año"
                                        [style.width.px]="170"
                                        [required]="true"
                                      ></kendo-datepicker>
                                    </kendo-formfield>
                                  </div>
                                  <br />
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                  <kendo-formfield orientation="horizontal">
                                    <label
                                      [for]="fechaInicioVencimiento"
                                      class="k-label"
                                    >
                                      <span>Fecha Inicio Vencimiento : </span>
                                    </label>
                                    <kendo-datepicker
                                      #fechaInicioVencimiento
                                      formControlName="fechaInicioVencimiento"
                                      [incompleteDateValidation]="true"
                                      calendarType="classic"
                                      [format]="{
                                        displayFormat: 'dd-MM-yyyy',
                                        inputFormat: 'dd-MM-yyyy'
                                      }"
                                      placeholder="dia-mes-año"
                                      [style.width.px]="170"
                                      [required]="true"
                                    ></kendo-datepicker>
                                  </kendo-formfield>
                                </div>
                                <div class="col-md-5">
                                  <div class="col-md-1"></div>
                                  <div class="row">
                                    <kendo-formfield orientation="horizontal">
                                      <label
                                        [for]="fechaFinVencimiento"
                                        class="k-label"
                                      >
                                        <span>Fecha  Fin Vencimiento : </span>
                                      </label>
                                      <kendo-datepicker
                                        #fechaFinVencimiento
                                        formControlName="fechaFinVencimiento"
                                        [incompleteDateValidation]="true"
                                        calendarType="classic"
                                        [format]="{
                                          displayFormat: 'dd-MM-yyyy',
                                          inputFormat: 'dd-MM-yyyy'
                                        }"
                                        placeholder="dia-mes-año"
                                        [style.width.px]="170"
                                        [required]="true"
                                      ></kendo-datepicker>
                                    </kendo-formfield>
                                  </div>
                                </div>
                              </div>
                              <div class="row" style="margin-top: 20px">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                  <label
                                    [for]="estadoMatricula"
                                    style="width: 150px"
                                  >
                                    <span>Estado Matricula :</span>
                                  </label>
                                  <kendo-dropdownlist
                                    #estadoMatricula
                                    size="medium"
                                    formControlName="estadoMatricula"
                                    [clearButton]="true"
                                    s
                                    class="d-flex center"
                                    [data]="listaEstadoMatricula"
                                    [filterable]="true"
                                    textField="estadoMatricula"
                                    valueField="estadoMatricula"
                                    [valuePrimitive]="true"
                                  >
                                  </kendo-dropdownlist>
                                  <br />
                                </div>
                              </div>
                              <div class="col-md-3">
                                <button
                                  mat-raised-button
                                  color="primary"
                                  style="margin-right: 10px;"
                                  (click)="ObtenerReporte()"
                                >
                                  <mat-icon>search</mat-icon>
                                  Buscar
                                </button>
                                  <button
                                    mat-raised-button
                                    color="primary"
                                    (click)="ModalExportar()"
                                  >
                                    Exportar Congelados
                                  </button>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </div>

                      <kendo-grid
                        [kendoGridBinding]="listaReporte"
                        [pageSize]="5"
                        [sortable]="true"
                        [reorderable]="false"
                        [resizable]="true"
                        filterable="menu"
                        [pageable]="true"
                        style="
                          max-height: 1200px;
                          border-top-width: 0px;
                          padding: 0%;
                        "
                      >
                        <ng-template kendoGridToolbarTemplate class="bg-danger">
                          <div style="display: flex; justify-content: start">
                            <button
                              kendoGridExcelCommand
                              mat-raised-button
                              class="btn-export-excel"
                            >
                              <span
                                class="k-icon k-i-file-excel k-icon-20"
                              ></span>
                              Exportar a Excel
                            </button>
                          </div>
                        </ng-template>
                        <kendo-grid-column
                          title="Codigo Matricula"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="codigoMatricula"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Nro. Cuota"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="nroCuota"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Nro. Subcuota"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="nroSubCuota"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Monto Cuota"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="montoCuota"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Fecha Vencimiento"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="fechaVencimiento"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Estado Matricula"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="estadoMatricula"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Coordinador Academico"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="coordinadorAcademico"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-column
                          title="Coordinador Cobranza"
                          headerClass="justify-content-center k-grid-header "
                          [width]="150"
                          field="coordinadorCobranza"
                          [locked]="false"
                          [sticky]="false"
                          [filterable]="true"
                          [hidden]="false"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                        </kendo-grid-column>
                        <kendo-grid-command-column
                          [sticky]="true"
                          title="Acciones"
                          [width]="80"
                          headerClass="justify-content-center text-center k-grid-header-command"
                          [headerStyle]="{
                            'background-color': '#27ae60',
                            color: 'white'
                          }"
                        >
                          <ng-template
                            kendoGridCellTemplate
                            let-dataItem="dataItem"
                            let-rowIndex="rowIndex"
                          >
                            <div
                              class="w-100 d-flex justify-content-center"
                              style="padding: 20px"
                              kendoTooltip
                            >
                              <button
                                title="Editar"
                                kendoButton
                                themeColor="warning"
                                fillMode="solid"
                                rounded="large"
                                size="large"
                                class="p-2 me-1 ms-1"
                                container="body"
                                placement="top"
                                (click)="Actualizar(dataItem, rowIndex)"
                              >
                                <span
                                  class="k-icon k-i-pencil k-icon-20"
                                ></span>
                              </button>

                              <button
                                title="Eliminar"
                                kendoButton
                                themeColor="error"
                                fillMode="solid"
                                rounded="large"
                                size="large"
                                class="p-2 me-1 ms-1"
                                container="body"
                                placement="top"
                                (click)="Eliminar(dataItem)"
                              >
                                <span class="k-icon k-i-trash k-icon-20"></span>
                              </button>
                            </div>
                          </ng-template>
                        </kendo-grid-command-column>
                        <ng-template kendoGridNoRecordsTemplate>
                          <div>
                            <kendo-badge-container>
                              <kendo-icon
                                name="cloud"
                                size="large"
                              ></kendo-icon>
                              <kendo-badge position="inside">
                                <kendo-icon
                                  name="close"
                                  style="color: red"
                                ></kendo-icon>
                              </kendo-badge>
                            </kendo-badge-container>
                          </div>
                          <p>No hay registros cargados!</p>
                        </ng-template>
                        <ng-template
                          kendoPagerTemplate
                          let-totalPages="totalPages"
                          let-currentPage="currentPage"
                        >
                          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                          <kendo-pager-numeric-buttons
                            [buttonCount]="5"
                          ></kendo-pager-numeric-buttons>
                          <kendo-pager-next-buttons></kendo-pager-next-buttons>
                          <!-- <kendo-pager-input></kendo-pager-input> -->
                          <kendo-pager-info></kendo-pager-info>
                          <kendo-pager-page-sizes
                            [pageSizes]="pageSizes"
                          ></kendo-pager-page-sizes>
                        </ng-template>
                        <kendo-grid-excel
                          [fileName]="'Reporte Congelados.xlsx'"
                        ></kendo-grid-excel>
                      </kendo-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Congelamiento de originales">
      <ng-template kendoTabContent>
        <div class="content">
          <div class="">
            <div class="row">
              <div class="col-1fa-rotate-270">
                <div class="card">
                  <div class="content">
                    <div class="card-body p-4">
                      <fieldset class="k-form-fieldset">
                        <div class="row" style="margin-bottom: 20px">
                          <div class="col-md-5">
                            <kendo-formfield orientation="horizontal">
                              <label
                                [for]="fechaCongelamientoT"
                                class="k-label"
                              >
                                <span
                                  >Fecha Congelamiento :
                                  <strong class="text-danger">*</strong></span
                                >
                              </label>
                              <kendo-datepicker
                                #fechaCongelamientoT
                                [(ngModel)]="fechaCongelamiento"
                                [incompleteDateValidation]="true"
                                calendarType="classic"
                                [format]="{
                                  displayFormat: 'dd-MM-yyyy',
                                  inputFormat: 'dd-MM-yyyy'
                                }"
                                placeholder="dia-mes-año"
                                [style.width.px]="170"
                                [required]="true"
                              ></kendo-datepicker>
                            </kendo-formfield>
                          </div>
                          <div class="col-md-3">
                            <button
                              mat-raised-button
                              color="primary"
                              (click)="CongelarFecha()"
                            >
                              <mat-icon>search</mat-icon>
                              Congelar
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-5">
                            <label
                              [for]="periodoCongelamiento"
                              style="width: 150px"
                            >
                              <span>Periodo de congelamiento :</span>
                            </label>
                            <kendo-combobox
                              #periodoCongelamiento
                              size="medium"
                              [(ngModel)]="periodo"
                              [clearButton]="true"
                              class="d-flex center"
                              [data]="listaPeriodo"
                              [filterable]="true"
                              textField="nombre"
                              valueField="id"
                              [valuePrimitive]="true"
                            >
                            </kendo-combobox>
                            <br />
                          </div>
                          <div class="col-md-3">
                            <button
                              mat-raised-button
                              color="primary"
                              (click)="CongelarPeriodo()"
                            >
                              <mat-icon>search</mat-icon>
                              Congelar
                            </button>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="InHouse">
      <ng-template kendoTabContent>
        <div class="content">
          <div class="card-body p-4">
            <fieldset class="k-form-fieldset">
              <div class="row" style="margin-bottom: 20px">
                <div class="col-md-4">
                  <label [for]="codigoinHouse" style="width: 150px">
                    <span>Codigo Matricula :</span>
                  </label>
                  <kendo-combobox
                    #codigoinHouse
                    size="medium"
                    [(ngModel)]="codigoInHouse"
                    [clearButton]="true"
                    class="d-flex center"
                    [data]="listaCodigoInHouse"
                    [filterable]="true"
                    textField="codigoMatricula"
                    valueField="id"
                    [valuePrimitive]="true"
                    (filterChange)="filterCodigoMatI($event)"
                  >
                  </kendo-combobox>
                </div>
                <div class="col-md-3">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="AgregarInHouse()"
                  >
                    Agregar
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
          <kendo-grid
            [kendoGridBinding]="listaInHouse"
            [pageSize]="5"
            [sortable]="true"
            [reorderable]="false"
            [resizable]="true"
            filterable="menu"
            [pageable]="true"
            style="max-height: 1200px; border-top-width: 0px; padding: 0%"
          >
            <ng-template kendoGridToolbarTemplate class="bg-danger">
              <div style="display: flex; justify-content: start">
                <button
                  kendoGridExcelCommand
                  mat-raised-button
                  class="btn-export-excel"
                >
                  <span class="k-icon k-i-file-excel k-icon-20"></span>
                  Exportar a Excel
                </button>
              </div>
            </ng-template>
            <kendo-grid-column
              title="Codigo Matricula"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="codigoMatricula"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Cuota"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="cuota"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Monto"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="monto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Matricula"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="fechaVencimiento"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Vencimiento"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="fechaVencimiento"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-command-column
              [sticky]="true"
              title="Acciones"
              [width]="80"
              headerClass="justify-content-center text-center k-grid-header-command"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
              <ng-template
                kendoGridCellTemplate
                let-dataItem="dataItem"
                let-rowIndex="rowIndex"
              >
                <div
                  class="w-100 d-flex justify-content-center"
                  style="padding: 20px"
                  kendoTooltip
                >
                  <button
                    title="Eliminar"
                    kendoButton
                    themeColor="error"
                    fillMode="solid"
                    rounded="large"
                    size="large"
                    class="p-2 me-1 ms-1"
                    container="body"
                    placement="top"
                    (click)="EliminarInHouse(dataItem)"
                  >
                    <span class="k-icon k-i-trash k-icon-20"></span>
                  </button>
                </div>
              </ng-template>
            </kendo-grid-command-column>
            <ng-template kendoGridNoRecordsTemplate>
              <div>
                <kendo-badge-container>
                  <kendo-icon name="cloud" size="large"></kendo-icon>
                  <kendo-badge position="inside">
                    <kendo-icon name="close" style="color: red"></kendo-icon>
                  </kendo-badge>
                </kendo-badge-container>
              </div>
              <p>No hay registros cargados!</p>
            </ng-template>
            <ng-template
              kendoPagerTemplate
              let-totalPages="totalPages"
              let-currentPage="currentPage"
            >
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons
                [buttonCount]="5"
              ></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <!-- <kendo-pager-input></kendo-pager-input> -->
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes
                [pageSizes]="pageSizes"
              ></kendo-pager-page-sizes>
            </ng-template>
            <kendo-grid-excel
              [fileName]="'Reporte Congelados Inhouse.xlsx'"
            ></kendo-grid-excel>
          </kendo-grid>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Cambios">
      <ng-template kendoTabContent>
        <div class="content">
          <div class="card-body p-4">
            <fieldset class="k-form-fieldset">
              <div class="row" style="margin-bottom: 20px">
                <div class="col-md-4">
                  <input type="file" (change)="onFileChange($event)" />
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="imprimirJson()"
                  >
                    Guardar Cambios
                  </button>
                </div>
              </div>
            </fieldset>
          </div>

          <kendo-grid
            [kendoGridBinding]="jsonData"
            [pageSize]="5"
            [sortable]="true"
            [reorderable]="false"
            [resizable]="true"
            filterable="menu"
            [pageable]="true"
            style="max-height: 1200px; border-top-width: 0px; padding: 0%"
          >
            <kendo-grid-column
              title="Codigo Matricula"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="CodigoMatricula"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Vencimiento"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="FechaVencimientoCambio"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.FechaVencimientoCambio | date : "dd/MM/yyyy" }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              title="Tipo Modificacion"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="TipoModificacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Monto Actual"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="MontoCambio"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Periodo Cambio"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="PeriodoCambio"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.PeriodoCambio | date : "dd/MM/yyyy" }}
              </ng-template>
            </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
              <div>
                <kendo-badge-container>
                  <kendo-icon name="cloud" size="large"></kendo-icon>
                  <kendo-badge position="inside">
                    <kendo-icon name="close" style="color: red"></kendo-icon>
                  </kendo-badge>
                </kendo-badge-container>
              </div>
              <p>No hay registros cargados!</p>
            </ng-template>
            <ng-template
              kendoPagerTemplate
              let-totalPages="totalPages"
              let-currentPage="currentPage"
            >
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons
                [buttonCount]="5"
              ></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <!-- <kendo-pager-input></kendo-pager-input> -->
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes
                [pageSizes]="pageSizes"
              ></kendo-pager-page-sizes>
            </ng-template>
          </kendo-grid>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</div>
