<div class="contenedor">
  <div class="titulo">
    <h2>Total de Contactos Seleccionados : {{ listaEnvioContactos.length }}</h2>
  </div>
  <div class="contenedor">
    <div class="mat-elevation-z8">
      <ng-container *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>

      <ng-container *ngIf="idFiltroSegmentoTipoContacto == 6">

        <ng-container *ngIf="tamanioLista < 10000">
        <div class="col-md-7">
          <button
            kendoButton
            style="margin-right: 1rem"
            icon="k-icon k-i-file-excel k-icon-20"
            type="button"
            themeColor="tertiary"
            (click)="excelexport.save()"
          >
            Exportar a Excel
          </button>

          <kendo-excelexport
            [data]="listaContactos"
            fileName="ContactosFiltroSegmentoProspecto.xlsx"
            #excelexport
          >
            <kendo-excelexport-column field="idAlumno" title="Id Alumno">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="nombreAlumno"
              title="Nombre Alumno"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="email1Encriptado" title="Email 1">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="email2" title="Email 2">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="telefono" title="Telefono">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="celularEncriptado" title="Celular">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="nombrePais" title="Pais">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="nombreCiudad" title="Ciudad">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="nombreAreaFormacion"
              title="Area Formacion"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="nombreAreaTrabajo"
              title="Area Trabajo"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column field="nombreIndustria" title="Industria">
            </kendo-excelexport-column>
            <kendo-excelexport-column field="nombreCargo" title="Cargo">
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="esVentaCruzada"
              title="En venta Cruzada"
            >
            </kendo-excelexport-column>
          </kendo-excelexport>
        </div>
      </ng-container>
        <kendo-grid
          [kendoGridBinding]="listaContactos"
          [pageSize]="50"
          [sortable]="true"
          [scrollable]="'scrollable'"
          [height]="500"
          [reorderable]="false"
          [resizable]="true"
          [columnMenu]="{ filter: true }"
          kendoGridSelectBy="idAlumno"
          [(selectedKeys)]="mySelection"
          [selectable]="true"
          (selectionChange)="Seleccionar($event)"
          [pageable]="{
            buttonCount: 10,
            info: true,
            type: 'numeric',
            pageSizes: true,
            previousNext: true,
            position: 'bottom'
          }"
        >
          <kendo-grid-column
            title="Check"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
            <ng-template
              kendoGridHeaderTemplate
              let-column
              let-columnIndex="columnIndex"
            >
              <i
                class="material-icons"
                (click)="SeleccionarTodos()"
                *ngIf="allSeleccionados != true"
                >check_box_outline_blank</i
              >
              <i
                class="material-icons"
                (click)="SeleccionarTodos()"
                *ngIf="allSeleccionados != false"
                >check_box</i
              >
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
              <i class="material-icons" *ngIf="dataItem.select != true"
                >check_box_outline_blank</i
              >
              <i class="material-icons" *ngIf="dataItem.select != false"
                >check_box</i
              >
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            title="Id Alumno"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="idAlumno"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Nombre Alumno"
            headerClass="justify-content-center k-grid-header "
            [width]="200"
            field="nombreAlumno"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Email 1"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="email1Encriptado"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Email 2"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="email2"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Telefono"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="telefono"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Celular"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="celularEncriptado"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Pais"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="nombrePais"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Ciudad"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="nombreCiudad"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Area Formacion"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="nombreAreaFormacion"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Area Trabajo"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="nombreAreaTrabajo"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Industria"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="nombreIndustria"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="Cargo"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="nombreCargo"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
          <kendo-grid-column
            title="En venta Cruzada"
            headerClass="justify-content-center k-grid-header "
            [width]="250"
            field="esVentaCruzada"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
        </kendo-grid>
      </ng-container>

      <ng-container *ngIf="idFiltroSegmentoTipoContacto == 1">
        <ng-container *ngIf="tamanioLista < 10000 ">
        <div class="col-md-7">
          <button
            kendoButton
            style="margin-right: 1rem"
            icon="k-icon k-i-file-excel k-icon-20"
            type="button"
            themeColor="tertiary"
            (click)="excelexport.save()"
          >
            Exportar a Excel
          </button>

          <kendo-excelexport
            [data]="listaContactos"
            fileName="ContactosFiltroSegmentoAlumno.xlsx"
            #excelexport
          >
            <kendo-excelexport-column
              field="idOportunidad"
              title="Id Oportunidad"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="nombreAlumno"
              title="Nombre Alumno"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="codigoMatricula"
              title="Codigo Matricula"
            >
            </kendo-excelexport-column>
            <kendo-excelexport-column
              field="nombreCentroCosto"
              title="Centro de Costo"
            >
            </kendo-excelexport-column>
          </kendo-excelexport>
        </div>
        </ng-container>
        <kendo-grid
          [kendoGridBinding]="listaContactos"
          [pageSize]="5"
          [sortable]="true"
          [reorderable]="false"
          [resizable]="true"
          [columnMenu]="{ filter: true }"
          kendoGridSelectBy="idAlumno"
          [(selectedKeys)]="mySelection"
          [selectable]="true"
          (selectionChange)="Seleccionar($event)"
          [pageable]="{
            buttonCount: 5,
            info: true,
            type: 'numeric',
            pageSizes: true,
            previousNext: true,
            position: 'bottom'
          }"
        >
          <kendo-grid-column
            title="Check"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
            <ng-template
              kendoGridHeaderTemplate
              let-column
              let-columnIndex="columnIndex"
            >
              <i
                class="material-icons"
                (click)="SeleccionarTodos()"
                *ngIf="allSeleccionados != true"
                >check_box_outline_blank</i
              >
              <i
                class="material-icons"
                (click)="SeleccionarTodos()"
                *ngIf="allSeleccionados != false"
                >check_box</i
              >
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
              <i class="material-icons" *ngIf="dataItem.select != true"
                >check_box_outline_blank</i
              >
              <i class="material-icons" *ngIf="dataItem.select != false"
                >check_box</i
              >
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column
            title="Id Oportunidad"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="idOportunidad"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>

          <kendo-grid-column
            title="Nombre Alumno"
            headerClass="justify-content-center k-grid-header "
            [width]="200"
            field="nombreAlumno"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>

          <kendo-grid-column
            title="Codigo Matricula"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="codigoMatricula"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>

          <kendo-grid-column
            title="Centro de Costo"
            headerClass="justify-content-center k-grid-header "
            [width]="150"
            field="nombreCentroCosto"
            [locked]="false"
            [sticky]="false"
            [filterable]="true"
            [hidden]="false"
          >
          </kendo-grid-column>
        </kendo-grid>
      </ng-container>
    </div>
  </div>
</div>
