.contenedor{
    margin: 20px;
}

.titulo{
    background-color: #3F51B5;
    color: white;
    font-size: 12px;
    height: 50px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}
