.cursoMatriculadoContainer{
  background-color: #F7F8FA;
  color: #4A4A49;
}
// table {
//   display: table;
//   width: 100%;
//   border-radius: 10px;
//   border: 1px solid white;
// }
table.tableBeneficios {
  display: table;
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
  overflow: hidden;
  margin-top: 20px;
}

.btn-bi-hover-effect:hover:enabled{
  text-decoration: underline;
}

.mat-header-cell {
  background-color: gray;
  //background-color: var(--background-color);
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 0px;
}
td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
}
.mat-row:hover {
  background-color: #F3F3F3;
}
.mat-expansion-panel-body{
  padding: 0px 0px 16px !important;
}
mat-expansion-panel-body.matexpansion{
  padding: 0 0px 16px !important;

}

.mat-expansion-panel-header{
  background-color: #F3F3F3 !important;
}
.mat-expansion-panel-header-title{
  color: #4A4A49 !important;
  font-weight: bold !important;
}
.mat-expansion-panel{
  box-shadow: none !important;
  background-color:   #F7F8FA;
}
.mat-select-custom-style{
  width: fit-content;
}
table.celeste th.mat-header-cell {
  background-color: #6EC5FF!important;
}
table.verde th.mat-header-cell {
  background-color: #11C744!important;
}
table.naranja th.mat-header-cell {
  background-color: #FF6113!important;
  //border-radius: 10px;
}
.contenedor-simulador{
 margin: 1rem;
}
.contenedor-centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-card-simulator{
  width: 100%;
  text-align: center;
  min-height: fit-content;
  height: 50px;
  background-color: #0079FF;
  border-radius: 10px 10px 0px 0px;
  opacity: 1;
}
.body-card-simulator{
  width: 100%;
  min-height: fit-content;
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.body-nuevo-cronograma{
  border: 1px solid #EBEBEB;
  border-radius: 13px;
}
.text-header-card-simulator{
  color: white;
  margin: 0px !important;
}
.text-footer-card-simulator{
  font-size: 13px;
  margin-top: 5px !important;
}
.espaciar-header-cronograma{
  display: flex;
  justify-content: space-between;
}
.text-header-cronograma{
  color:#11C744;
  width: fit-content;

}
.icon-copy:hover{
  color:#13a73d;
  font-size: 28px;
  cursor: pointer;
}
.table-cronograma table td, table th {
  padding: 2px 10px;
}
.table-cronograma .mat-header-cell {
  background-color: initial;
  color: rgba(0,0,0,.87);
  font-size: 13px;
  border-right: 1px solid lightgray !important;
  border-bottom: none;
  padding-right: 24px;
  text-align: center;
  font-weight: initial;
  padding-left: 20px;
}
.table-cronograma .mat-cell  {
  text-align: center;
  font-size: 13px;
  padding: 4px !important;

}
.table-cronograma tr.mat-header-row,.table-cronograma tr.mat-row{
  height: fit-content;
}
.table-cronograma tr.mat-row:hover{
  background-color: initial;
  cursor: auto;
}
.table-cronograma  .negrita {
  font-weight: bold;
}
.modal-footer{
  justify-content: center !important;
}


.contenedor-alineado-derecha{
  display: flex;
  justify-content: end;
}

.btn-container-simulador button{
  border-radius: 10px;
}

.btn-solicitar-cambio{
  border-radius: 8px;
  background-color: #0079FF;
  color: white;
  width: fit-content;
  margin: 10px;
  margin-right: 20px;
}
.btn-solicitar-cambio:hover{
  background-color: #0065d8;
}

.btn-mail{
  margin-right: 10px;
  background-color: #71C5FF;
  color: white;
  img{
    margin-top: -2px;
    width: 23px;
  }

}
.btn-mail:hover{
  background-color: #569ed2;
}
.btn-whatsapp{
  background-color: #11C744;
  color: white;
  img{
    width: 20px;
  }
}

.btn-whatsapp:hover{
  background-color: #0a9130;
}
.btn-copear{
  position:absolute;
  right: 15px;
  top:5px;
}


.loading-simulador{
  margin-left: -23px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(130 129 129 / 50%);
}

.panel-simulador .mat-expansion-panel-conten .mat-expansion-panel-body{
  position: relative;
  padding: 0px !important;
}

.noHayRegistro{
  text-align: center;
  font-weight: bold;
  margin: 25px 0px;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
  background-color: #FF6113;
}
