@import "../../dp-variables.scss";

.card-header {
  background: $pg_secundario !important;
  height: 48px !important;
  color: #fff !important;
}

/*DIV> #k-tabstrip-tabpanel-0
.ng-tns-c499-4 ng-trigger
 ng-trigger-state
 k-content k-active ng-star-inserted*/

.ktt-importExcel {

  .k-tabstrip-items-wrapper {
    border-radius: 4px;
    background-color: $pg_secundario;
    color: #fff;
  }

  .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
    background-color: $pg_principal;
    border-bottom-color: #fff;
    font-weight: 500 !important;
    border-bottom-width: 3px;
    color: #fff;
  }

  .k-tabstrip-scrollable
    > .k-tabstrip-items-wrapper
    > .k-button
    .k-button-icon {
    color: #fff !important;
  }

  .k-tabstrip-items .k-state-active {
    background-color: $pg_principal;
    color: #fff;
  }

  .k-item {
    background: $pg_secundario;
    height: 40px;
    color: #fff;
  }

  .k-item .k-state-hover {
    background: $pg_media !important;
  }

  .k-item:hover,
  .k-tabstrip-items-wrapper .k-item.k-hover {
    color: #fff;
    background-color: $pg_media;
  }
}
