.k-grid-header .k-header
{
       background-color: #2251c7;
       color: white;
       font-weight: bold;
}

.custom-sc1-remove-max-width-formfield > div.k-form-field-wrap  {
max-width: 100% !important;
}
   
.custom-sc1-remove-max-width-formfield span.k-input-value-text  {
white-space: normal !important;
text-overflow: clip !important;
}
.textArea{
background-color: white;
border: 1px solid black;
border-radius: 10px;
}


.custom-sc1-modal .modal-dialog{
max-width: 650px !important;
}

.hoverButton:hover{
       text-decoration: underline;
}
// .textArea {
//        background-color: white !important;
//        border: 1px solid black !important;
//        border-radius: 10px !important;
//    }