<div class="modal-header text-white" style="background-color: #094d82;">
    <h2 class="modal-title my-2">DATOS DEL CONTACTO Y OPORTUNIDAD</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body k-form-horizontal px-4">
    <form [formGroup]="formFiltroIngresoAsesor">
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="nombreUno"
              text="Nombre 1"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-textbox
              #nombreUno
              formControlName="nombreUno"
              placeholder="<Nombre 1>"
            ></kendo-textbox>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="celular"
              text="Celular"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-textbox
              #celular
              formControlName="celular"
              placeholder="<Celular>"
            ></kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="nombreDos"
              text="Nombre 2"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-textbox
              #nombreDos
              formControlName="nombreDos"
              placeholder="<Nombre 2>"
            ></kendo-textbox>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="emailUno"
              text="Email 1"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-autocomplete
              #emailUno
              formControlName="emailUno"
              [data]="listaEmail"
              valueField="nombreCompleto"
              [virtual]="virtual"
              placeholder="<Email 1>"
              [filterable]="true"
              (filterChange)="filtrarEmailUno($event)"
            >
            </kendo-autocomplete>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="apellidoPaterno"
              text="Apellido Paterno"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-autocomplete
              #apellidoPaterno
              formControlName="apellidoPaterno"
              [data]="listaApellidoPaterno"
              valueField="nombreCompleto"
              [virtual]="virtual"
              placeholder="<Apellido Paterno>"
              [filterable]="true"
              (filterChange)="filtrarApellidoPaterno($event)"
            >
            </kendo-autocomplete>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="cargo"
              text="Cargo"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #cargo
              formControlName="cargo"
              [data]="listaCargo"
              valueField="id"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Cargo>"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="apellidoMaterno"
              text="Apellido Materno"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-textbox
              #apellidoMaterno
              formControlName="apellidoMaterno"
              placeholder="<Apellido Materno>"
            ></kendo-textbox>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="areaFormacion"
              text="Área de Formación"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #areaFormacion
              formControlName="areaFormacion"
              [data]="listaAreaFormacion"
              valueField="id"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Area de Formacion>"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="pais"
              text="Pais"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #pais
              formControlName="pais"
              [data]="listaPais"
              valueField="codigo"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Pais>"
              (valueChange)="cambiarPais($event)"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="areaTrabajo"
              text="Área de Trabajo"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #areaTrabajo
              formControlName="areaTrabajo"
              [data]="listaAreaTrabajo"
              valueField="id"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Area de Trabajo>"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="ciudad"
              text="Ciudad"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #ciudad
              formControlName="ciudad"
              [data]="listaCiudadFiltrada"
              valueField="id"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Ciudad>"
              (valueChange)="cambiarCiudad($event)"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="industria"
              text="Industria"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #industria
              formControlName="industria"
              [data]="listaIndustria"
              valueField="id"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Industria>"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="centroCosto"
              text="Centro de Costo"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-autocomplete
              #centroCosto
              formControlName="centroCosto"
              [data]="listaCentroCosto"
              valueField="nombre"
              [virtual]="virtual"
              placeholder="<Centro de Costos>"
              [filterable]="true"
              (filterChange)="filtrarCentroCosto($event)"
            >
            </kendo-autocomplete>
          </kendo-formfield>
        </div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="tipoDato"
              text="Tipo de Dato"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #tipoDato
              formControlName="tipoDato"
              [data]="listaTipoDato"
              valueField="id"
              textField="nombre"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Tipo de Dato>"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 my-2 px-3"></div>
        <div class="col-sm-6 col-md-6 my-2 px-3">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-start"
              [for]="faseOportunidad"
              text="Fase de Oportunidad"
              [style.width.px]="150"
            >
            </kendo-label>
            <kendo-combobox
              #faseOportunidad
              formControlName="faseOportunidad"
              [data]="listaFaseOportunidad"
              valueField="id"
              textField="codigo"
              [valuePrimitive]="true"
              [virtual]="virtual"
              placeholder="<Fase de Oportunidad>"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        class="btn btn-success"
        (click)="recuperarValoresForm()"
      >
        Corregir Oportunidad
      </button>
      <button
        class="btn btn-primary"
        (click)="activeModal.dismiss('Cross click')"
      >
        Guardar Cambios
      </button>
    </div>
</div>