.dropdown-limit-text {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dato-adicional-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
  
.dato-adicional-label {
    margin-right: 10px;
    text-align: center;
    width: 250px;
}