<div class="card border-primary mb-3">
    <div class="card-header bg-color-material pb-0">
        <div class="row">
            <h2 class="mb-2 text-white" id="titulo">Filtro Para Beneficios Solicitados</h2>
        </div>
    </div>
    <div class="card-body p-4">
        <form [formGroup]="formFiltro" class="k-form k-form-horizontal" orientation="horizontal">
            <div class="row">
                <div class="col-sm-12 col-md">
                    <div class="card-body my-card-body">
                        <h3 class="card-title" style="color:rgb(102, 68, 255)"><b>Datos del alumno</b></h3>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label class="k-label pt-0 d-flex align-items-start text-start">
                                        Código Matrícula
                                    </label>
                                    <kendo-grid-spacer></kendo-grid-spacer>
                                    <kendo-textbox #codigoMatricula
                                        formControlName="codigoMatricula"
                                        class="d-flex"
                                        size="medium"
                                        placeholder="<Todos>"
                                        [valuePrimitive]="true">
                                    </kendo-textbox>
                                </kendo-formfield>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md">
                    <div class="card-body my-card-body">
                        <h3 class="card-title" style="color:rgb(102, 68, 255)"><b>Datos del Beneficio</b></h3>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label [for]="beneficioSolicitado" class="k-label pt-0 d-flex align-items-start text-start">
                                        Beneficio Solicitado
                                    </label>
                                    <kendo-grid-spacer></kendo-grid-spacer>
                                    <kendo-dropdownlist #beneficioSolicitado
                                        formControlName="beneficioSolicitado"
                                        [data]="listaBeneficios"
                                        valueField="original"
                                        textField="beneficio"
                                        class="d-flex dropdown-limit-text"
                                        size="medium"
                                        [defaultItem]="{ original: null, beneficio: '<Todos>' }"
                                        [valuePrimitive]="true">
                                    </kendo-dropdownlist>
                                </kendo-formfield>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label [for]="estadoSolicitud" class="k-label pt-0 d-flex align-items-start text-start">
                                        Estado Solicitud
                                    </label>
                                    <kendo-grid-spacer></kendo-grid-spacer>
                                    <kendo-dropdownlist #estadoSolicitud
                                        formControlName="estadoSolicitud"
                                        [data]="listaEstadosSolicitud"
                                        valueField="id"
                                        textField="nombre"
                                        class="d-flex dropdown-limit-text"
                                        size="medium"
                                        [defaultItem]="{ id: null, nombre: '<Todos>' }"
                                        [valuePrimitive]="true">
                                    </kendo-dropdownlist>
                                </kendo-formfield>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md">
                    <div class="card-body my-card-body">
                        <h3 class="card-title" style="color:rgb(102, 68, 255)"><b>Fecha Programada</b></h3>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label [for]="fechaProgramadaInicio" class="k-label pt-0 d-flex align-items-start text-start">
                                        Fecha Inicio
                                    </label>
                                    <kendo-datepicker #fechaProgramadaInicio
                                        formControlName="fechaProgramadaInicio"
                                        [incompleteDateValidation]="true"
                                        format="dd/MM/yyyy">
                                    </kendo-datepicker>
                                </kendo-formfield>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label [for]="fechaProgramadaFin" class="k-label pt-0 d-flex align-items-start text-start">
                                        Fecha Término
                                    </label>
                                    <kendo-datepicker #fechaProgramadaFin
                                        formControlName="fechaProgramadaFin"
                                        [incompleteDateValidation]="true"
                                        format="dd/MM/yyyy">
                                    </kendo-datepicker>
                                </kendo-formfield>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md">
                    <div class="card-body my-card-body">
                        <h3 class="card-title" style="color:rgb(102, 68, 255)"><b>Fecha Congelamiento</b></h3>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label [for]="fechaCongelamientoInicio" class="k-label pt-0 d-flex align-items-start text-start">
                                        Fecha Inicio
                                    </label>
                                    <kendo-datepicker #fechaCongelamientoInicio
                                        formControlName="fechaCongelamientoInicio"
                                        [incompleteDateValidation]="true"
                                        format="dd/MM/yyyy">
                                    </kendo-datepicker>
                                </kendo-formfield>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <kendo-formfield orientation="horizontal">
                                    <label [for]="fechaCongelamientoFin" class="k-label pt-0 d-flex align-items-start text-start">
                                        Fecha Término
                                    </label>
                                    <kendo-datepicker #fechaCongelamientoFin
                                        formControlName="fechaCongelamientoFin"
                                        [incompleteDateValidation]="true"
                                        format="dd/MM/yyyy">
                                    </kendo-datepicker>
                                </kendo-formfield>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end mb-2">
                <div class="col-auto">
                    <button kendoButton
                        class="send-button"
                        icon="search"
                        style="height: 35px"
                        themeColor="success"
                        [disabled]="false"
                        (click)="ObtenerBeneficiosSolicitados()">
                        Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <div class="card">
        <div class="card-header bg-color-material pb-0">
            <h3 class="text-white mb-2" id="titulo">Lista de Beneficios</h3>    
        </div>
        <div class="card-body p-4">
            <kendo-grid
                #grid
                [kendoGridBinding]="listaBeneficiosSolicitadosReporte"
                [pageable]="true"
                [filterable]="'menu'"
                [skip]="skip"
                [pageSize]="20"
                (pageChange)="pageChange($event)"
                style="width: 100%">
                <ng-template kendoGridToolbarTemplate>
                    <button
                      type="button"
                      kendoGridExcelCommand
                      icon="file-excel"
                      (click)="excelexport.save()"
                      style="color: white; background-color: green; height: 40px;">
                      Exportar <a href=""></a> Excel
                    </button>
                    <kendo-excelexport
                    [data]="listaBeneficiosSolicitadosReporte"
                    fileName="ReporteBeneficiosSolicitadosPorAlumnos.xlsx" #excelexport>
                      <kendo-excelexport-column field="beneficio" title="Beneficio Solicitado">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="alumno" title="Nombre del Alumno">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="codigoMatricula" title="Código de Matrícula">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="estado_Matricula" title="Estado de Matrícula">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="subEstado_Matricula" title="Subestado de Matrícula">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="versionProgram" title="Versión de Programa">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="programa" title="Programa">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="centroCosto" title="Centro Costo">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="fechaSolicitud" title="Fecha de Solicitud">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="coordinador" title="Coordinador">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="estadoSolicitud" title="Estado Solicitud">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="fechaAprobacion" title="Fecha Aprobación">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="fechaProgramada" title="Fecha Programada">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="fechaEntrega" title="Fecha Entrega">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="fechaMatricula" title="Fecha Matrícula">
                      </kendo-excelexport-column>
                      <kendo-excelexport-column field="fechaCongelamiento" title="Fecha Congelamiento">
                      </kendo-excelexport-column>
                    </kendo-excelexport>
                  </ng-template>

                <kendo-grid-column
                    field="beneficio"
                    title="Beneficio Solicitado"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="alumno"
                    title="Nombre del Alumno"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="codigoMatricula"
                    title="Código de Matrícula"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="estado_Matricula"
                    title="Estado de Matrícula"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="subEstado_Matricula"
                    title="Subestado de Matrícula"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="versionProgram"
                    title="Versión de Programa"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="programa"
                    title="Programa"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="centroCosto"
                    title="Centro Costo"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="fechaSolicitud"
                    title="Fecha de Solicitud"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="coordinador"
                    title="Coordinador"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="idEstadoSolicitudBeneficio"
                    title="Id Estado Solicitud"
                    [hidden]="true">
                </kendo-grid-column>
                <kendo-grid-column
                    field="estadoSolicitud"
                    title="Estado Solicitud"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="fechaAprobacion"
                    title="Fecha Aprobación"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="fechaProgramada"
                    title="Fecha Programada"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="fechaEntrega"
                    title="Fecha Entrega"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="fechaMatricula"
                    title="Fecha Matrícula"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    field="fechaCongelamiento"
                    title="Fecha Congelamiento"
                    [width]="250">
                </kendo-grid-column>
                <kendo-grid-column
                    title="Datos Registrados"
                    [width]="200">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <button mat-raised-button (click)="VerBeneficiosSolicitadosAlumno(dataItem)">Ver</button>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column
                    title="Entregar Beneficio"
                    [width]="200">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <button mat-raised-button [disabled]="dataItem.estadoSolicitud !== 'Aprobado'" (click)="EntregarBeneficio(dataItem)">Entregar</button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
        <loading [loading]="isTableLoading"></loading>
    </div>
</div>

<ng-template #modalVerBeneficioAlumno let-modal>
    <div class="modal-header bg-primary-header-modal">
        <h3 class="modal-title m-0 p-0" id="modal-basic-title">
            Datos Registrados por el Alumno
        </h3>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body px-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <ng-container *ngIf="datosAdicionalesAlumnoSeleccionado != null && datosAdicionalesAlumnoSeleccionado.length > 0; else sinDataAdicional">
            <div *ngFor="let datoAdicional of datosAdicionalesAlumnoSeleccionado" class="dato-adicional-item">
                <label
                    class="dato-adicional-label flex-shrink-1" style="flex-basis: 15%;">
                    {{tipoDatoAdicional.get(datoAdicional.id)}}:
                </label>
                <mat-form-field
                    appearance="outline"
                    class="dato-adicional-input flex-grow-1" style="flex-basis: 85%;">
                    <mat-label>{{tipoDatoAdicional.get(datoAdicional.id)}}</mat-label>
                    <input matInput readonly [value]="datoAdicional.contenido">
                </mat-form-field>
            </div>
          </ng-container>
          <ng-template #sinDataAdicional>
            <h3 style="text-align:center; font-weight:bold">Este beneficio no requirió datos adicionales</h3>
          </ng-template>
        </div>
    </div>
    <div class="modal-footer">
        <div class="k-form-buttons m-0">
          <button kendoButton
            class="hoverButton"
            themeColor="error"
            (click)="modal.dismiss('Cross click')">
              Cancelar
          </button>
        </div>
      </div>
</ng-template>
<loading [loading]="isPageLoading"></loading>