<!-- #region Modal Agregar nuevo Postulante -->
<div class="modal-header py-2 bg-light text-dark text-center">
  <h2 class="modal-title w-100 mb-0">Agregar Nuevo Postulante</h2>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body px-4">
  <div class="modal-body px-4 ktt-datosPgeneral">
    <kendo-tabstrip [keepTabContent]="true">
      <!-- DATOS DEL POSTULANTE -->
      <kendo-tabstrip-tab [selected]="true">
        <ng-template kendoTabTitle>
          <span>DATOS DEL POSTULANTE</span>
        </ng-template>
        <ng-template kendoTabContent>
          <!-- CONTENT -->
          <app-dp-datos-postulante
            [datosPostulanteService]="datosPostulanteService"
            [postulante]="postulante"
            [filterSettings]="filterSettings"
            [comboPostulante]="comboPostulante"
          ></app-dp-datos-postulante>
          <!-- CONTENT -->
        </ng-template>
      </kendo-tabstrip-tab>
      <!-- END DATOS DEL POSTULANTE -->
      <!-- Formacion profesional -->
      <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
          <span>FORMACIÓN PROFESIONAL</span>
        </ng-template>
        <ng-template kendoTabContent *loadOnDemand>
          <!-- CONTENT -->
          <app-dp-formacion-profesional
            [datosPostulanteService]="datosPostulanteService"
            [postulante]="postulante"
          ></app-dp-formacion-profesional>
          <!-- CONTENT -->
        </ng-template>
      </kendo-tabstrip-tab>
      <!-- END Formacion profesional -->
      <!-- Experiencia laboral -->
      <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
          <span>EXPERIENCIA LABORAL</span>
        </ng-template>
        <ng-template kendoTabContent *loadOnDemand>
          <!-- CONTENT -->
          <app-dp-postulante-experiencia
            [datosPostulanteService]="datosPostulanteService"
            [postulante]="postulante"
          ></app-dp-postulante-experiencia>
          <!-- CONTENT -->
        </ng-template>
      </kendo-tabstrip-tab>
      <!-- END Experiencia laboral -->
      <!-- Proceso seleccion -->
      <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
          <span>PROCESO DE SELECCIÓN</span>
        </ng-template>
        <ng-template kendoTabContent>
          <!-- CONTENT -->
          <app-dp-proceso-seleccion
            [datosPostulanteService]="datosPostulanteService"
            [postulante]="postulante"
            [filterSettings]="filterSettings"
            [comboPostulante]="comboPostulante"
          ></app-dp-proceso-seleccion>
          <!-- CONTENT -->
        </ng-template>
      </kendo-tabstrip-tab>
      <!-- END Proceso seleccion -->
    </kendo-tabstrip>
  </div>
</div>
<div class="modal-footer">
  <div class="k-form-buttons m-0">
    <button
      themeColor="primary"
      size="medium"
      class="w-100"
      kendoButton
      [disabled]="controlBotton"
      (click)="actualizarPostulante()"
    >
      <kendo-loader *ngIf="loadingPanelVisible" themeColor="light">
      </kendo-loader>
      Guardar Registro
    </button>
    <button
      themeColor="error"
      size="medium"
      class="w-100"
      kendoButton
      (click)="activeModal.dismiss('Cross click')"
    >
      Cancelar
    </button>
  </div>
</div>
<!-- #endregion Modal Agregar nuevo Postulante-->
