
#informacionProgramaTabHtml b {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    font-size: 19.5px;
    line-height: inherit;
    border: 0;
    color: #65c7d2;
    border-bottom: 0px solid #e5e5e5;
}
#informacionProgramaTabHtml i {
    font-style: italic;
    font-size: 14px;
    color: #444444;
}
#informacionProgramaTabHtml body {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: #777777;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}


// .k-input-button .k-button .k-icon-button  {
//     background-color: #ff760a;
// }
// .k-i-download{
//     font-size: 48px;
// }
// .k-state-selected .k-state-focused {
//     background-color: #fff;
// }

