table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
}

.programa-matricula{
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    color: #373737;
    margin: 15px auto 30px auto;
    width: fit-content;
    padding: 15px 20px;
    background-color: white;
}

.mat-header-cell {
    background-color: #FF6113;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-left: 24px;
}

td.mat-cell {
    padding: 0 15px !important;
    border-right: 1px solid lightgray !important;
    border-bottom: none !important;
}

.mat-row:hover {
    background-color: #F3F3F3;
}

.mat-column-nombre-documento{
    width: 27%;
}
.mat-column-descargar{
    width: 8%;
    text-align: center;
    padding: 0 !important;
}
.mat-column-si-no{
    width: 8%;
    text-align: center;
    padding: 0 !important;
}
.mat-column-detalles{
    width: 57%;
}

.custom-icon-box{
    border-radius: 6px;
    width: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: center;
}