.eye{
    background-color: green;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}

.play{
    background-color: #F3F000;
    color: black;
    margin-right: 10px;
    font-size: 15px;
}

.edit{
    background-color: #094D82;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}

.delete{
    background-color: red;
    color: white;
    font-size: 15px;
    margin-right: 10px;
}

.copy{
    background-color: #094D82;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}

.copy{
    font-size: 16px;
    margin:0px
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    padding: 20px;
    max-height: 700px;
    overflow-y: auto;
    overflow-y: auto;
  }

  .example-full-width {
    width: 100%;
  }
  