#content-drawer-component > kendo-drawer-content > app-reporteseguimiento-oportunidades > div:nth-child(3) > div > kendo-grid > kendo-grid-toolbar{
    background-color: #2b89b3;
}
.txtAlumno{
    color: #000 !important;
    cursor: pointer !important;
  }
  .txtAlumno:hover{
    color: #ffbf00 !important;
    cursor: pointer !important;
    font-weight: bold !important;
  }
  