<div class="card border-primary mb-3">
    <div class="card-header pb-0" style="background-color: #2b89b3;">
        <h2 class="mb-2 text-white">
          (R) Seguimiento Inscritos
        </h2>
    </div>
    <div class="card-body p-4">
        <form [formGroup]="formFiltro" orientation="horizontal">
            <div class="row">
                <div class="col-sm col-md m-3">
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <label [for]="asesores" class="k-label">
                          <span>Coordinador Academico
                        </span>
                        </label>
                      </div>
                      <div class="col-md-8">
                        <kendo-multiselect
                          #asesores
                          formControlName="asesores"
                          [data]="asesoresCombo"
                          placeholder="<Todos>"
                          [filterable]="true"
                          textField="nombres"
                          [virtual]="virtual"
                          [valuePrimitive]="true"
                          [kendoDropDownFilter]="filterSettings"
                          valueField="id"
                        >
                        </kendo-multiselect>
                      </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label [for]="codigoMatricula" class="k-label">
                                <span>Codigo Matricula
                                </span>
                             </label>
                        </div>
                      <div class="col-md-8">
                        <input
                            kendoTextBox
                            #codigoMatricula
                            formControlName="codigoMatricula"
                            size="medium"
                            name="codigoMatricula"
                            placeholder="<Todos>"
                            class="bgInputIA"
                          />
                      </div>
                    </div>
                </div>

                <div class="col-sm col-md m-3">
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <label [for]="centroCostos" class="k-label">
                          <span>Centros de Costos
                        </span>
                        </label>
                      </div>
                      <div class="col-md-8">
                        <kendo-multiselect
                          #centroCostos
                          formControlName="centroCostos"
                          [data]="centroCostosCombo"
                          placeholder="<Todos>"
                          [filterable]="true"
                          textField="nombre"
                          [virtual]="virtual"
                          [valuePrimitive]="true"
                          [kendoDropDownFilter]="filterSettings2"
                          valueField="id"
                        >
                        </kendo-multiselect>
                      </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label [for]="documetnoIdentidad" class="k-label">
                                <span>Documento de Identidad
                                </span>
                             </label>
                        </div>
                      <div class="col-md-8">
                        <input
                            kendoTextBox
                            #documetnoIdentidad
                            formControlName="documetnoIdentidad"
                            size="medium"
                            name="documetnoIdentidad"
                            placeholder="<Todos>"
                            class="bgInputIA"
                          />
                      </div>
                    </div>
                </div>

                <div class="col-sm col-md m-3">
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <label [for]="faseOportunidad" class="k-label">
                          <span>Fases de Oportunidad
                        </span>
                        </label>
                      </div>
                      <div class="col-md-8">
                        <kendo-multiselect
                          #faseOportunidad
                          formControlName="faseOportunidad"
                          [data]="faseOportunidadCombo"
                          placeholder="<Todos>"
                          [filterable]="true"
                          textField="codigo"
                          [virtual]="virtual"
                          [valuePrimitive]="true"
                          [disabled]="true"
                          valueField="id"
                        >
                        </kendo-multiselect>
                      </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label [for]="estadoMatricula" class="k-label">
                                <span>Estado Matricula
                                </span>
                             </label>
                        </div>
                      <div class="col-md-8">
                        <kendo-multiselect
                          #estadoMatricula
                          formControlName="estadoMatricula"
                          [data]="estadoMatriculaCombo"
                          [kendoDropDownFilter]="filterSettings3"
                          placeholder="<Todos>"
                          [filterable]="true"
                          textField="nombre"
                          [virtual]="virtual"
                          [valuePrimitive]="true"
                          valueField="id"
                        >
                        </kendo-multiselect>
                        </div>
                    </div>
                </div>

                <div class="col-sm col-md m-3">
                    <div class="row mb-4">
                      <div class="col-md-4">
                        <mat-radio-group formControlName="ControlFiltroFecha">
                            <mat-radio-button color="primary" class="example-margin" value="1">Todos</mat-radio-button>
                            <mat-radio-button color="primary" class="example-margin" value="2">Por Fecha</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div class="col-md-8">
                          
                      </div>
                    </div>
                    <div *ngIf="formFiltro.get('ControlFiltroFecha').value != 1">
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label [for]="fechaInicio" class="k-label">
                                    <span>Fecha Inicio Matricula
                                    </span>
                                 </label>
                            </div>
                          <div class="col-md-8">
                            <kendo-datepicker
                            #fechaInicio
                            formControlName="fechaInicio"
                            format="dd-MM-yyyy"
                            [formatPlaceholder]="{
                              year: 'año', month: 'mes', day: 'día',hour: 'h',minute: 'm',second: 's'
                            }"
                            >
                            </kendo-datepicker>
                          </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label [for]="fechaFin" class="k-label">
                                    <span>Fecha Fin Matricula
                                    </span>
                                 </label>
                            </div>
                          <div class="col-md-8">
                            <kendo-datepicker
                            #fechaFin
                            formControlName="fechaFin"
                            format="dd-MM-yyyy"
                            [formatPlaceholder]="{
                              year: 'año', month: 'mes', day: 'día',hour: 'h',minute: 'm',second: 's'
                            }"
                            >
                            </kendo-datepicker>
                          </div>
                        </div>
                    </div>             
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="row">
          <div class="col-md-1 float-right">
            <button
              type="button"
              class="btn btn-success sm"
              [disabled]="gridData.loading"
              (click)="buscar()"
            >
              Buscar
            </button>
          </div>
        </div>
    </div>
</div>
<div class="col" style="background-color:orange;color:white;">
    <!-- <div class="col-sm-2"></div> -->
    <div class="col-10" style="margin: 13px;">
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                A.A.M
            </div>
            <div class="col-sm-3">
                Autoevaluacion Actual Moodle
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                D.S.E.30
            </div>
            <div class="col-sm-3">
                Dias Seguimiento 30 Dias(Ejecutadas)
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                M.C.A
            </div>
            <div class="col-sm-3">
                Moneda Cuotas Atrasadas
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                A.P.M
            </div>
            <div class="col-sm-3">
                Autoevaluacion Programada Moodle
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                D.S.E.7
            </div>
            <div class="col-sm-3">
                Dias Seguimiento 7 Dias(Ejecutadas)
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                M.T.C.A
            </div>
            <div class="col-sm-3">
                Monto Total Cuotas Atrasadas
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                C.A.N.A.V
            </div>
            <div class="col-sm-3">
                Capitulo Actual Nuevo Aula Virtual
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                D.T.D.U.A
            </div>
            <div class="col-sm-3">
                Dias Transcurridos Desde Ultimo Avance
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                N.C.A
            </div>
            <div class="col-sm-3">
                Numero Cuotas Atrasadas
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                C.P.N.A.V
            </div>
            <div class="col-sm-3">
                Capitulo Programado Nuevo Aula Virtual
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                E.A
            </div>
            <div class="col-sm-3">
                Estado Academico
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                S.A.N.A.V
            </div>
            <div class="col-sm-3">
                Sesion Actual Nuevo Aula Virtual
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                C.D.A
            </div>
            <div class="col-sm-3">
                Cumplimiento de Avance
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                E.U.A
            </div>
            <div class="col-sm-3">
                Estado Ultima Actividad
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                S.P.N.A.V
            </div>
            <div class="col-sm-3">
                Sesion Programada Nuevo Aula Virtual
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                D.A.P
            </div>
            <div class="col-sm-3">
                Dias Atrasados Pago
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                F.C.M
            </div>
            <div class="col-sm-3">
                Fecha Creacion Matricula
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                T.V.V
            </div>
            <div class="col-sm-3">
                Tiempo Visualizacion Video. Actual(Esperado)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                D.S.E.14
            </div>
            <div class="col-sm-3">
                Dias Seguimiento 14 Dias(Ejecutadas)
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                F.U.A
            </div>
            <div class="col-sm-3">
                Fecha Ultima Actividad
            </div>
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                U.C.T.E
            </div>
            <div class="col-sm-3">
                Ultimo Contacto Telefonico Efectivo
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1" style="padding-top: 3px; padding-right: 0px">
                F.F.P
            </div>
            <div class="col-sm-3">
                Fecha Finalizaci&oacute;n del Programa
            </div>
        </div>
    </div>
    <!-- <div class="col-sm"></div> -->
</div>
<div class="card">
  <div class="card-body">
    <kendo-grid
      [kendoGridBinding]="gridData.data"
      [pageable]="true"
      [loading]="gridData.loading"
      [pageSize]="20"
      [resizable]="true"
      filterable="menu"
    >
      <ng-template kendoGridToolbarTemplate>
        <button 
        type="button" 
        kendoGridExcelCommand 
        icon="file-excel" 
        style="color: white; background-color: green; height: 40px;"
        [disabled]="gridData.data.length === 0"
        >
          Exportar Excel
        </button>
      </ng-template>
      <kendo-grid-column field="nombreCentroCosto" title="Centro Costo" [width]="110"></kendo-grid-column>
      <kendo-grid-column field="nombreCompletoAlumno" title="Contacto" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="w-100 text-center">
            <a (click)="cargarFichaAlumnoOperaciones(dataItem)" class="txtAlumno">{{
              dataItem.nombreCompletoAlumno
            }}</a>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="asesor" title="Coordinador Academico" [width]="100">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="nombrePais" title="Pais" [width]="70">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="diasAtrasoCuotaPago" title="D.A.P" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="cuotasAtrasoCuotaPago" title='N.C.A' [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="montoAtrasoCuotaPago" title='M.T.C.A' [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="monedaCuotaPago" title="M.C.A" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="ultimoContacto" title="U.C.T.E" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="estadoAcademico" title="E.A" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="diasSeguimientoActividadesEjecutadas7dias" title="D.S.E.7" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="diasSeguimientoActividadesEjecutadas14dias" title="D.S.E.14" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="diasSeguimientoActividadesEjecutadas30dias" title="D.S.E.30" [width]="75">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="agendaTab" title="Agenda Tab" [width]="80">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <!-- <kendo-grid-column field="fechaProgramada" title="F.C.M" [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.fechaProgramada | date: 'yyyy-MM-dd' }}
        </ng-template>
      </kendo-grid-column> -->
      <kendo-grid-column field="estadoOcurrencia" title="E.U.A" [width]="60">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fechaReal" title="F.U.A" [width]="88">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.fechaReal == null ? "" : dataItem.fechaReal | date: 'yyyy-MM-dd' }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="estadoMatricula" title="Estado Matricula" [width]="80">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="subEstadoMatricula" title="SubEstado Matricula" [width]="80">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fechaMatricula" title="F.C.M" [width]="88">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.fechaMatricula | date: 'yyyy-MM-dd' }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="codigoMatricula" title="Codigo Matricula" [width]="90">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="paquete" title="Paquete" [width]="100">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fechaFinalizacion" title="F.F.P" [width]="88">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.fechaFinalizacion === null ? "null": dataItem.fechaFinalizacion | date: 'yyyy-MM-dd' }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="convenioFirmado" title="Convenio Firmado" [width]="112">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          <ng-container *ngIf="dataItem.convenioFirmado == null">
            {{"Ninguno"}}
          </ng-container>
          <ng-container *ngIf="dataItem.convenioFirmado != null">
            <a class="ex1" style="cursor: pointer;" (click)="DescargarConvenio(dataItem.convenioFirmado)"><b style='color:green'>SI</b></a>
          </ng-container>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="grabacionCentral" title="Convenio de Voz" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <div
              class="btn-link col-sm-6"
              type="button"
              (click)="
                reproducirLlamadaNuevoWebPhoneMigradoPrincipal(
                  modalReproducirAudio,
                  dataItem.grabacionCentral
                )
              "
              *ngIf="dataItem.grabacionCentral !== null"
            >
              <span *ngIf="dataItem.grabacionCentral !== null" style="color:green">SI</span>
            </div>
            <span *ngIf="dataItem.grabacionCentral == null">Ninguno</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="personaEncargada" title="Convenio registrado Por" [width]="100">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.personaEncargada == null || dataItem.personaEncargada === '' || dataItem.personaEncargada === undefined  ? "Ninguno" : dataItem.personaEncargada }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="idCriterioCalificacion" title="Criterio" [width]="148">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{
            dataItem.idCriterioCalificacion == 1
              ? "Se acepta(Convenio de Voz)"
              : dataItem.idCriterioCalificacion == 2
              ? "Se acepta(Convenio Firmado)"
              : dataItem.idCriterioCalificacion == 9
              ? "Empresa"
              : dataItem.idCriterioCalificacion == 10
              ? "Observaciones"
              : "No Aplica"
          }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="idMatriculaObservacion" title="Observacion" [width]="148">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{
            dataItem.idMatriculaObservacion == 1
              ? "Error en datos del alumno"
              : dataItem.idMatriculaObservacion == 2
              ? "No se apega al speech"
              : dataItem.idMatriculaObservacion == 3
              ? "Error en cronograma"
              : dataItem.idMatriculaObservacion == 4
              ? "No acepta condiciones de contrato"
              : dataItem.idMatriculaObservacion == 5
              ? "Grabación no corresponde a contrato"
              : "Ninguno"
          }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="aulaVirtual" title="Aula Virtual" [width]="96">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="avanceReal" title="C.A.N.A.V" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.avanceReal == null ? "" :  dataItem.avanceReal }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="avanceRealSesion" title="S.A.N.A.V" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.avanceRealSesion == null ? "" :  dataItem.avanceRealSesion }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="reproduccionVideoReal" title="T.V.V" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{cargaTiempoReproduccion(dataItem)}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="avanceProgramado" title="C.P.N.A.V" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.avanceProgramado == null ? "" :  dataItem.avanceProgramado }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="avanceProgramadoSesion" title="S.P.N.A.V" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.avanceProgramadoSesion == null ? "" :  dataItem.avanceProgramadoSesion }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="avanceRealAutoevaluacion" title="A.A.M" [width]="120">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.avanceRealAutoevaluacion == null ? "" :  dataItem.avanceRealAutoevaluacion }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="avanceProgramadoAutoevaluacion" title="A.P.M" [width]="120">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.avanceProgramadoAutoevaluacion == null ? "" :  dataItem.avanceProgramadoAutoevaluacion }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="cumplimientoAvance" title="% C.D.A" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ cargarCumplimientoAvance(dataItem) }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="diasDesdeUltimoAvance" title="D.T.D.U.A" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="accesoTemporal" title="Accesos temporales" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.accesoTemporal ? "SI" : "NO" }}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="programaAccesoTemporal" title="Programa Curso asignado" [width]="200">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fechaInicioAccesoTemporal" title="Fecha inicio" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="fechaFinAccesoTemporal" title="Fecha fin" [width]="110">
        <ng-template
        kendoGridFilterMenuTemplate
        let-filter
        let-column="column"
        let-filterService="filterService"
      >
        <kendo-grid-string-filter-menu
          [column]="column"
          [filter]="filter"
          [filterService]="filterService"
          [extra]="false"
          operator="contains"
        >
          <kendo-filter-contains-operator
            text="Contiene"
          ></kendo-filter-contains-operator>
        </kendo-grid-string-filter-menu>
      </ng-template>
      </kendo-grid-column>
      <kendo-grid-excel fileName="SeguimientoInscritos.xlsx" [fetchData]="allData"></kendo-grid-excel>
      <ng-template
        kendoPagerTemplate
        let-totalPages="totalPages"
        let-currentPage="currentPage"
      >
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>  
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <!-- <kendo-pager-input></kendo-pager-input> -->
        <kendo-pager-info></kendo-pager-info>
        <kendo-pager-page-sizes [pageSizes]="sizes"></kendo-pager-page-sizes>
      </ng-template>
    </kendo-grid>
  </div>
</div>
<ng-template #modalReproducirAudio let-modal>
  <div class="modal-header text-white" style="background-color: #339900">
    <h2 class="modal-title mb-0">Grabacion Integra</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <audio controls [src]="urlGrabacion" type="audio/mp3" controls autoplay>
        Tu navegador no soporta el elemento de <code>audio</code>
      </audio>
    </div>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>