

.k-grid th, .k-grid td {
    white-space: nowrap !important;
    min-width: 100px !important;
    text-overflow: ellipsis;
}

.cambio{

    margin-bottom: -10px;
}

.top{
    margin-top: -30px !important;
}