<ng-template #modalDetalleSolicitud let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      Detalle Solicitud
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form k-form-horizontal" [formGroup]="formCategoria">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="Id" class="k-label">
                <span>Id <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-textbox
                #Id
                size="medium"
                formControlName="Id"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="prioridad" class="k-label">
                <span>Prioridad :</span>
              </label>
              <kendo-textbox
                #prioridad
                size="medium"
                formControlName="prioridad"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="tipoReporte" class="k-label">
                <span>TipoReporte :</span>
              </label>
              <kendo-textbox
                #tipoReporte
                size="medium"
                formControlName="tipoReporte"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="categoria" class="k-label">
                <span>Categoria :</span>
              </label>
              <kendo-textbox
                #categoria
                size="medium"
                formControlName="categoria"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="subCategoria" class="k-label">
                <span>Sub-Categoria : </span>
              </label>
              <kendo-textbox
                #subCategoria
                size="medium"
                formControlName="subCategoria"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="solicitud" class="k-label">
                <span>Solicitud :</span>
              </label>
              <kendo-textbox
                #solicitud
                size="medium"
                formControlName="solicitud"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="areaSolicitante" class="k-label">
                <span>Area solicitante : </span>
              </label>
              <kendo-textbox
                #areaSolicitante
                size="medium"
                formControlName="areaSolicitante"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="solicitante" class="k-label">
                <span>Solicitante :</span>
              </label>
              <kendo-textbox
                #solicitante
                size="medium"
                formControlName="solicitante"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="codigoAlumno" class="k-label">
                <span>Codigo Alumno : </span>
              </label>
              <kendo-textbox
                #codigoAlumno
                size="medium"
                formControlName="codigoAlumno"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="nombreAlumno" class="k-label">
                <span>Nombre Alumno : </span>
              </label>
              <kendo-textbox
                #nombreAlumno
                size="medium"
                formControlName="nombreAlumno"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="curso" class="k-label">
                <span>Curso :</span>
              </label>
              <kendo-textbox
                #curso
                size="medium"
                formControlName="curso"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="programa" class="k-label">
                <span>Porgrama :</span>
              </label>
              <kendo-textbox
                #programa
                size="medium"
                formControlName="programa"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="centroCosto" class="k-label">
                <span>Centro de Costo : </span>
              </label>
              <kendo-textbox
                #centroCosto
                size="medium"
                formControlName="centroCosto"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="detalleSolicitud" class="k-label">
                <span>Detalle Solicitud : </span>
              </label>
              <kendo-textbox
                #detalleSolicitud
                size="medium"
                formControlName="detalleSolicitud"
                [clearButton]="true"
                inputValidSpaceDir
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <br />
            <div class="row">
              <div class="col-auto">
                <label class="k-label">
                  <span>Archivo Solicitud :</span>
                </label>
              </div>
              <div class="col">
                <div>
                  <button
                    kendoButton
                    (click)="descargarArchivoSolicitud()"
                    themeColor="tertiary"
                    icon="download"
                    title="descargar"
                  >
                    Abrir Archivo
                  </button>
                </div>
              </div>
            </div>
            <kendo-formfield orientation="horizontal">
              <label [for]="areaRevision" class="k-label">
                <span>Area Revision : </span>
              </label>
              <kendo-textbox
                #areaRevision
                size="medium"
                formControlName="areaRevision"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="personalRevision" class="k-label">
                <span>Personal revision : </span>
              </label>
              <kendo-textbox
                #personalRevision
                size="medium"
                formControlName="personalRevision"
                [clearButton]="true"
                inputValidSpaceDir
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="areaSolucion" class="k-label">
                <span>Area Solucion : </span>
              </label>
              <kendo-textbox
                #areaSolucion
                size="medium"
                formControlName="areaSolucion"
                [clearButton]="true"
                inputValidSpaceDir
                [maxlength]="325"
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="personalSolucion" class="k-label">
                <span>Personal Solucion : </span>
              </label>
              <kendo-textbox
                #personalSolucion
                size="medium"
                formControlName="personalSolucion"
                [clearButton]="true"
                inputValidSpaceDir
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="fechaRegistro" class="k-label">
                <span>Fecha Registro : </span>
              </label>
              <kendo-textbox
                #fechaRegistro
                size="medium"
                formControlName="fechaRegistro"
                [clearButton]="true"
                inputValidSpaceDir
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <br />
            <div class="row">
              <div class="col-auto">
                <label class="k-label">
                  <span>Archivo Solución :</span>
                </label>
              </div>
              <div class="col">
                <div>
                  <button
                    kendoButton
                    (click)="descargarArchivoSolucion()"
                    themeColor="tertiary"
                    icon="download"
                    title="descargar"
                  >
                    Abrir Archivo
                  </button>
                </div>
              </div>
            </div>
            <kendo-formfield orientation="horizontal">
              <label [for]="comentario" class="k-label">
                <span>Comentario :</span>
              </label>
              <kendo-textbox
                #comentario
                size="medium"
                formControlName="comentario"
                [clearButton]="true"
                inputValidSpaceDir
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
            <kendo-formfield orientation="horizontal">
              <label [for]="estadoSolicitud" class="k-label">
                <span>Estado Solicitud : </span>
              </label>

              <kendo-textbox
                #estadoSolicitud
                size="medium"
                formControlName="estadoSolicitud"
                [clearButton]="true"
                inputValidSpaceDir
                [disabled]="true"
              >
              </kendo-textbox>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        *ngIf="isNew"
        themeColor="primary"
        (click)="registrarSolicitudAlumno()"
      >
        Guardar
      </button>
      <!-- <button kendoButton *ngIf="!isNew" themeColor="tertiary" (click)="actualizarCategoria()">Actualizar</button> -->

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
<div class="card border-primary" #reporte>
  <div class="card-header pb-0 bg-color-material">
    <div class="col text-aling-center">
      <h2 class="mb-2 text-white" style="text-align: center">
        (R) Registrar Solicitud Alumno
      </h2>
    </div>
  </div>

  <div class="card-body p-4">
    <form
      class="k-form k-form-horizontal"
      [formGroup]="formFiltroAlumnoSolicitud"
    >
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="card border-primary">
              <div class="card-body my-card-body">
                <h3 class="card-title" style="color:rgb(102, 68, 255)"><b>Buscar Alumno</b></h3>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="tipoBusqueda" class="k-label">
                        <span
                          >Tipo de Busqueda<span class="text-danger fw-bold"
                            >*</span
                          ></span
                        >
                      </label>
  
                      <kendo-grid-spacer></kendo-grid-spacer>
                      <kendo-dropdownlist
                        #tipoBusqueda
                        [data]="dataBusqueda"
                        [(ngModel)]="tipoBusquedaSelect"
                        textField="nombre"
                        valueField="id"
                        class="d-flex"
                        size="medium"
                        [defaultItem]="{ id: null, nombre: 'Seleccione...' }"
                        [valuePrimitive]="true"
                        formControlName="tipoBusqueda"
                        (valueChange)="tipoBusquedaChangue($event)"
                      >
                        <kendo-formerror>Seleccione un dato</kendo-formerror>
                      </kendo-dropdownlist>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="datoBusqueda" class="k-label">
                        <span
                          >Dato Busqueda<span class="text-danger fw-bold"
                            >*</span
                          ></span
                        >
                      </label>
                      <kendo-grid-spacer></kendo-grid-spacer>
                      <kendo-textbox
                        #datoBusqueda
                        [disabled]="disabled"
                        class="d-flex"
                        size="medium"
                        placeholder="Dato Alumno... "
                        formControlName="dataBusqueda"
                        inputValidSpaceDir
                        [(ngModel)]="datoAlumno"
                        [maxlength]="325"
                      >
                      </kendo-textbox>
                      <kendo-formerror>Ingrese Dato de Alumno</kendo-formerror>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12 d-flex justify-content-end">
                    
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12 d-flex justify-content-end">
                    <button
                      kendoButton
                      class="send-button"
                      icon="search"
                      themeColor="success"
                      (click)="buscarAlumno()"
                    >
                      Buscar
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="card border-primary">
            <div class="card-body my-card-body">
              <h3 class="card-title" style="color:rgb(102, 68, 255)"><b>Nueva Solicitud</b></h3>
              <div class="col-sm-12 col-md-12">
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        [for]="tipoReporte"
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                      Tipo Reporte
                      </label>
                      <kendo-grid-spacer></kendo-grid-spacer>
                      <kendo-dropdownlist
                        #tipoReporte
                        [data]="dataTipoReporte"
                        class="d-flex"
                        size="medium"
                        placeholder="Tipo Reporte"
                        textField="nombre"
                        valueField="id"
                        (valueChange)="categoriaByTipoReporte($event)"
                        [defaultItem]="{
                          id: null,
                          nombre: 'Tipo reporte...'
                        }"
                        [valuePrimitive]="true"
                        formControlName="tipoReporte"
                        [filterable]="true"
                      >
                      </kendo-dropdownlist>
                      <kendo-formerror>
                        {{ "Ingrese un TipoReporte" }}
                      </kendo-formerror>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        [for]="categoria"
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        <span>Categoria</span>
                      </label>
                      <kendo-grid-spacer></kendo-grid-spacer>
                      <kendo-dropdownlist
                        #categoria
                        [data]="dataCategoriaFiltro"
                        size="medium"
                        class="d-flex"
                        textField="nombre"
                        valueField="id"
                        [valuePrimitive]="true"
                        [autoClose]="true"
                        [defaultItem]="{
                          nombre: 'Categoria ...',
                          id: null
                        }"
                        (valueChange)="subCategoriaByCategoria($event)"
                        formControlName="categoria"
                        [virtual]="virtual"
                        [filterable]="true"
                      >
                      </kendo-dropdownlist>
                      <kendo-formerror>
                        {{ "Ingrese una Categoria" }}
                      </kendo-formerror>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        [for]="subCategoria"
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        <span>Sub-Categoria </span>
                      </label>
                      <kendo-grid-spacer></kendo-grid-spacer>
                      <kendo-dropdownlist
                        #subCategoria
                        [data]="dataSubCategoriaFiltro"
                        textField="nombre"
                        valueField="id"
                        class="d-flex"
                        size="medium"
                        [valuePrimitive]="true"
                        [autoClose]="true"
                        (valueChange)="SolicitudBySubCategoria($event)"
                        [defaultItem]="{
                          nombre: 'Sub-Categoria ...',
                          id: null
                        }"
                        formControlName="subCategoria"
                        [virtual]="virtual"
                        [filterable]="true"
                      >
                      </kendo-dropdownlist>
                      <kendo-formerror>
                        {{ "Ingrese una Sub-Categoria" }}
                      </kendo-formerror>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="ro my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        [for]="solicitud"
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        <span>Solicitud</span>
                      </label>
                      <kendo-dropdownlist
                        #solicitud
                        [data]="dataSolicitudFiltro"
                        [(ngModel)]="idSolicitud"
                        textField="nombreSolicitud"
                        placeholder="Solicitud..."
                        valueField="idSolicitud"
                        [valuePrimitive]="true"
                        [autoClose]="true"
                        [defaultItem]="{
                          nombreSolicitud: 'Solicitud ...',
                          idSolicitud: null
                        }"
                        formControlName="solicitud"
                        class="d-flex"
                        size="medium"
                        [filterable]="true"
                      >
                      </kendo-dropdownlist>
                      <kendo-formerror>
                        {{ "Ingrese una Solicitud" }}
                      </kendo-formerror>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<div class="card border-primary" #reporte>
  <loading [loading]="loading"></loading>
  <div class="card-body">
    <div class="row">
      <div>
        <h3><b>Cursos Inscritos</b></h3>
      </div>
      <div class="col">
        <ng-template
          #cellTemplateGrid
          let-dataItem="dataItem"
          let-field="field"
          let-itemValue="itemValue"
        >
          <ng-container
            *ngIf="field == 'fechaCreacionCampania'; else gridTempDefault"
          >
            {{ itemValue | date : "dd-MM-yyyy" }}
          </ng-container>
          <ng-template #gridTempDefault>
            {{ itemValue }}
          </ng-template>
        </ng-template>

        <kendo-grid
          [data]="gridAlumno.view"
          [loading]="gridAlumno.loading"
          (dataStateChange)="gridAlumno.onStateChange($event)"
          [resizable]="gridAlumno.resizable"
          [pageable]="gridAlumno.pageable"
          [filterable]="gridAlumno.filterable"
          [pageSize]="gridAlumno.gridState.take"
          [skip]="gridAlumno.gridState.skip"
          [sort]="gridAlumno.gridState.sort"
          [selectable]="true"
          (cellClick)="keyChange($event)"
        >
          <kendo-grid-column
            field="idPEspecifico"
            title="idCurso"
            [filterable]="true"
            headerClass="header-grid-single"
            [width]="250"
            [hidden]="true"
          ></kendo-grid-column>
          <kendo-grid-column
            field="nombrePEspecifico"
            title="Nombre Curso"
            headerClass="header-grid-single"
            [filterable]="true"
            [width]="250"
          ></kendo-grid-column>
          <kendo-grid-column
            field="idPGeneral"
            title="idPGenaral"
            [filterable]="true"
            [width]="250"
            [hidden]="true"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="nombrePGeneral"
            title="Programa General"
            headerClass="header-grid-single"
            [filterable]="true"
            [width]="250"
          ></kendo-grid-column>
          <kendo-grid-column
            field="idCentroCosto"
            title="idCentroCosto"
            [filterable]="true"
            [width]="250"
            [hidden]="true"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="nombreCentroCosto"
            title="Centro de Costo"
            headerClass="header-grid-single"
            [filterable]="true"
            [width]="250"
          ></kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
    <br />
    <kendo-grid-spacer></kendo-grid-spacer>
    <div class="row">
      <div>
        <h3><b>Historial de Solicitud Alumno</b></h3>
      </div>

      <div class="col">
        <ng-template
          #cellTemplateGrid
          let-dataItem="dataItem"
          let-field="field"
          let-itemValue="itemValue"
        >
          <ng-container
            *ngIf="field == 'fechaCreacionCampania'; else gridTempDefault"
          >
            {{ itemValue | date : "dd-MM-yyyy" }}
          </ng-container>
          <ng-template #gridTempDefault>
            {{ itemValue }}
          </ng-template>
        </ng-template>

        <kendo-grid
          [data]="gridAlumnoHistorial.view"
          [loading]="gridAlumnoHistorial.loading"
          (dataStateChange)="gridAlumnoHistorial.onStateChange($event)"
          [resizable]="gridAlumnoHistorial.resizable"
          [pageable]="gridAlumnoHistorial.pageable"
          [filterable]="gridAlumnoHistorial.filterable"
          [pageSize]="gridAlumnoHistorial.gridState.take"
          [skip]="gridAlumnoHistorial.gridState.skip"
          [sort]="gridAlumnoHistorial.gridState.sort"
        >
          <kendo-grid-column
            field="id"
            title="ID"
            [filterable]="true"
            [width]="40"
            headerClass="header-grid-single"
          ></kendo-grid-column>
          <kendo-grid-column
            field="prioridad"
            title="Prioridad"
            [filterable]="true"
            [width]="150"
            headerClass="header-grid-single"
          ></kendo-grid-column>
          <kendo-grid-column
            field="IdSolicitud"
            title="IdSolicitud"
            [filterable]="true"
            [hidden]="true"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="nombreSolicitud"
            title="Solicitud"
            [filterable]="true"
            [width]="250"
            headerClass="header-grid-single"
          >
          </kendo-grid-column>
          <kendo-grid-command-column
            title="Información Solicitud"
            [width]="250"
            headerClass="header-grid-single"
          >
            <ng-template
              kendoGridCellTemplate
              let-isNew="isNew"
              let-dataItem="dataItem"
              let-rowindex="rowindex"
            >
              <div class="w-50 d-flex justify-content-center">
                <button
                  kendoButton
                  themeColor="warning"
                  fillMode="solid"
                  rounded="large"
                  size="large"
                  class="p-2 me-1 ms-1"
                  container="body"
                  placement="top"
                  ngbTooltip="Editar"
                  (click)="abrirModalDetalleSolicitud(dataItem)"
                >
                  <span class="k-icon k-i-eye k-icon-20"></span>
                </button>
              </div>
            </ng-template>
          </kendo-grid-command-column>
          <kendo-grid-column
            field="IdEstadoSolicitud"
            title="IdEstadoSolicitud"
            [filterable]="true"
            [width]="250"
            [hidden]="true"
          >
          </kendo-grid-column>
          <kendo-grid-column
            field="estadoSolicitud"
            title="Estado Solicitud"
            [filterable]="true"
            [width]="250"
            headerClass="header-grid-single"
          >
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>

    <kendo-grid-spacer></kendo-grid-spacer>
    <div class="row">
      <div>
        <h3><b>Detalle Solicitud</b></h3>
      </div>
      <kendo-textarea
        #descripcion
        class="textArea"
        [style.width.%]="100"
        resizable="auto"
        size="large"
        rounded="large"
        fillMode="solid"
        [maxlength]="800"
        [(ngModel)]="inputDetalle"
      >
        <kendo-textarea-suffix class="custom-styling"> </kendo-textarea-suffix>
      </kendo-textarea>
    </div>

    <kendo-grid-spacer></kendo-grid-spacer>
    <div class="row">
      <div>
        <h3><b>Subir Archivos</b></h3>
      </div>
      <div class="col-10">
        <kendo-fileselect
          #archivoBol
          [multiple]="false"
          [(ngModel)]="inputArchivoSolicitudAlumno"
        ></kendo-fileselect>
      </div>
      <div class="col-1">
        <div>
          <button
            kendoButton
            style="padding: '10px 20px'"
            size="large"
            themeColor="primary"
            (click)="registrarSolicitudAlumno()"
            title="descargar"
          >
            Guardar
          </button>
        </div>
      </div>
      <div class="col-1">
        <div>
          <button
            kendoButton
            style="padding: '10px 20px'"
            size="large"
            themeColor="error"
            (click)="(true)"
            title="descargar"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
    <kendo-grid-spacer></kendo-grid-spacer>
  </div>
</div>
