.btn-chat-img {
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-chat-img:hover {
  transform: scale(1.15);
}
.contenido-adjunto {
  font-style: italic;
}

:host ::ng-deep {
  .k-grid-content tr td,
  .k-grid-table tr td {
    max-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.btn-messenger-activo {
  filter: none;
}

.btn-messenger-inactivo {
  filter: grayscale(100%);
}

.color-amarillo {
  color: #ff9500;
  font-weight: bold;
}

.color-rojo {
  color: #dc3545;
}

.color-verde {
  color: #28a745;
  font-weight: bold;
}
