.wrap {
    display: flex;
    align-items: center;
    margin: 0 -10px;
  }
  .example-item {
    flex: 0 0 33%;
    padding: 10px;
  }
  .example-item-title {
    margin-bottom: 10px;
    text-align: center;
  }
  .k-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
  }
  #tabInformacionv5 h4 {
    font-size: 24px;
    color: #ffff !important;
    font-weight: 500;
}

#tabInformacionv5 p {
    font-size: 13px;
}

#tabpregunta h6 {
  font-size: 14px;
}

h6 {
  font-size: 1rem !important;
}
