<div class="card">
  <div class="all">
    <div class="column">
      <mat-checkbox
        (change)="setAll($event.checked)"
        class="example-margin"
        [(ngModel)]="datos"
        >¿Considerar envio automatico?</mat-checkbox
      >
      <div
        class="alert alert-danger"
        role="alert"
        style="margin: 0px; margin-left: 10px"
      >
        <b>Nota:</b> **Los filtros de envio automatico aplican unicamente sobre
        el contacto
      </div>
    </div>
    <ng-container *ngIf="datos == true">
      <div class="card">
        <div class="formulario">
          <div class="column">
            <h3>Fases Actuales:</h3>

            <div class="example-chip-list w-100">
              <kendo-multiselect
                class="w-100"
                [data]="listaFasesF"
                placeholder="-Todos-"
                #faseFiltro
                [filterable]="true"
                [(ngModel)]="fases"
                [textField]="'nombre'"
                [valueField]="'id'"
                (valueChange)="valueChangeEnvio($event)"
                (filterChange)="filterChangeEnvio($event)"
                (removeTag)="removeTagEnvio($event)"
              ></kendo-multiselect>
            </div>
          </div>
        </div>
        <div class="column">
          <mat-checkbox class="example-margin" [(ngModel)]="aplicaHora"
            >Aplica sobre la hora de creacion de la oportunidad</mat-checkbox
          >
        </div>
        <div class="column">
          <mat-checkbox class="example-margin" [(ngModel)]="aplicaUltima"
            >Aplica sobre la hora de la ultima actividad</mat-checkbox
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>
