// .ctc-custom-table table {
//   border: 1px solid #36454f !important;
// }
.ctc-custom-table td {
  border: 1px solid #36454f !important;
  padding: 0px !important;
}
.ctc3cx td {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ctcx-text-integra {
  color: #cc2a36;
}
.ctcx-text-3cx {
  color: blue;
}
.ctcx-text-3cxintegra {
  color: #011f4b;
}
.ctcx-text-sinllamada {
  color: #fb7508;
}

#cuadradoIntegra {
  width: 20px;
  height: 15px;
  background: #cc2a36;
}

#cuadrado3cx {
  width: 20px;
  height: 15px;
  background: blue;
}

#cuadradoIntegra3cx {
  width: 20px;
  height: 15px;
  background: #011f4b;
}

#cuadradoSinLlamada {
  width: 20px;
  height: 15px;
  background: #fb7508;
}

#cuadradoGeneral {
  width: 20px;
  height: 15px;
  background: black;
}
