<div class="modal-header py-1">
  <div class="w-100 d-flex justify-content-between">
    <div class="col-auto">
      <button
        kendoButton
        icon="reload"
        fillMode="solid"
        themeColor="base"
        container="body"
        size="medium"
        placement="top"
        ngbTooltip="Recargar Ficha"
        (click)="recargarFicha()"
      ></button>
    </div>
    <div class="col text-end me-5">
      Tab Origen: <span class="fw-bold">{{ tabActual }}</span>&nbsp;-&nbsp;
      Intentos Marcador: <span  class="fw-bold">{{(totalIntentos$ | async) ?? 0}}</span>
    </div>
    <div class="col-auto">
      <button
        kendoButton
        icon="close"
        size="medium"
        fillMode="solid"
        (click)="cerrarModalOportunidad()"
      ></button>
    </div>
  </div>
</div>
<div class="modal-body" id="tabsModalOportunidad" class="p-0">
  <kendo-tabstrip
    class="p-0"
    [keepTabContent]="true"
    [scrollable]="{ scrollButtons: 'auto' }"
  >
    <!-- SPEECH -->
    <kendo-tabstrip-tab [selected]="true">
      <ng-template kendoTabTitle>
        <span>Speech</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-speech [agendaService]="agendaService"></app-speech>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END SPEECH -->
    <!-- EDITAR DATOS PERSONALES -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Editar Datos Personales</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-datos-personal
          [agendaService]="agendaService"
        ></app-datos-personal>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END EDITAR DATOS PERSONALES -->
    <!-- COMPETIDORES -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Competidores</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-competidor [agendaService]="agendaService"></app-competidor>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END COMPETIDORES -->
    <!-- CRONOGRAMA DE PAGOS -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Cronograma de Pagos</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-cronograma-pago
          [agendaService]="agendaService"
        ></app-cronograma-pago>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END CRONOGRAMA DE PAGOS -->
    <!-- RESUMEN PROGRAMAS -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Resumen Programas</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-resumen-programa
          [agendaService]="agendaService"
        ></app-resumen-programa>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END RESUMEN PROGRAMAS -->
    <!-- INFORMACION DEL PROGRAMA -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Información del Programa</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-informacion-programa
          [agendaService]="agendaService"
        ></app-informacion-programa>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END INFORMACION DEL PROGRAMA -->
    <!-- DOCUMENTOS DEL PROGRAMA -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Documentos del Programa</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-documentos-programa
          [agendaService]="agendaService"
        ></app-documentos-programa>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END DOCUMENTOS DEL PROGRAMA -->
    <!-- PREGUNTAS FRECUENTES -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Preguntas Frecuentes</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-preguntas-frecuentes
          [agendaService]="agendaService"
        ></app-preguntas-frecuentes>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- END PREGUNTAS FRECUENTES -->
    <!-- DOCUMENTOS LEGALES -->
    <kendo-tabstrip-tab>
      <ng-template kendoTabTitle>
        <span>Documentos Legales</span>
      </ng-template>
      <ng-template kendoTabContent *loadOnDemand>
        <!-- CONTENT -->
        <app-documentos-legales
          [agendaService]="agendaService"
        ></app-documentos-legales>
        <!-- CONTENT -->
      </ng-template>
    </kendo-tabstrip-tab>
    <!-- DOCUMENTOS LEGALES -->
  </kendo-tabstrip>
</div>
<div class="modal-footer"></div>
