<div class="card border-primary" #reporte>
  <div class="card-header pb-0 bg-color-material">
    <div class="col text-aling-center">
      <h2 class="mb-2 text-white">Gestion de Usuarios</h2>
    </div>
  </div>
  <div class="card-body p-2">
    <kendo-grid
      [kendoGridBinding]="gridUsuario.data"
      [loading]="gridUsuario.loading"
      [selectable]="true"
      [resizable]="true"
      [pageable]="{
        buttonCount: 5,
        info: true,
        type: 'numeric',
        pageSizes: true,
        previousNext: true,
        position: 'bottom'
      }"
      [skip]="0"
      [pageSize]="15"
      filterable="menu"
    >
      <ng-template kendoGridToolbarTemplate>
        <kendo-grid-spacer></kendo-grid-spacer>
        <button
          type="button"
          class="btn btn-success text-white"
          (click)="abrirModalUsuarioInsertar()"
        >
          Nuevo
        </button>
      </ng-template>
      <ng-template
        kendoPagerTemplate
        let-totalPages="totalPages"
        let-currentPage="currentPage"
      >
        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
        <kendo-pager-numeric-buttons
          [buttonCount]="5"
        ></kendo-pager-numeric-buttons>
        <kendo-pager-next-buttons></kendo-pager-next-buttons>
        <kendo-pager-input></kendo-pager-input>
        <kendo-pager-info></kendo-pager-info>
        <kendo-pager-page-sizes
          [pageSizes]="cantidadItems"
        ></kendo-pager-page-sizes>
      </ng-template>
      <kendo-grid-column
        field="userName"
        title="UserName"
        [width]="80"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="email"
        title="E-mail"
        [width]="110"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="nombre"
        title="Personal"
        [width]="70"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="rol"
        title="Rol"
        [width]="60"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="areaTrabajo"
        title="Area"
        [width]="40"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="usuarioCreacion"
        title="Creador"
        [width]="80"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="usuarioModificacion"
        title="Modificador"
        [width]="80"
        [headerClass]="'justify-content-center'"
        [filterable]="true"
      >
        <ng-template
          kendoGridFilterMenuTemplate
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            [extra]="false"
            operator="contains"
          >
            <kendo-filter-contains-operator
              text="Contiene"
            ></kendo-filter-contains-operator>
          </kendo-grid-string-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column
        title="Acciones"
        [headerStyle]="{ color: '#5f75bd' }"
        [width]="60"
        [headerClass]="'justify-content-center'"
      >
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <div class="text-center">
            <button
              kendoButton
              themeColor="primary"
              fillMode="solid"
              rounded="large"
              size="medium"
              class="p-2 me-1 ms-1"
              (click)="abrirModalUsuarioAsignar(dataItem)"
            >
              <span class="k-icon k-i-bring-forward k-icon-20"></span>
            </button>

            <button
              kendoButton
              themeColor="warning"
              fillMode="solid"
              rounded="large"
              size="medium"
              class="p-2 me-1 ms-1"
              (click)="abrirModalUsuarioActualizar(dataItem)"
            >
              <span class="k-icon k-i-edit k-icon-20"></span>
            </button>
          </div>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
</div>

<ng-template #modalInformacionUsuario let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      Informacion Usuario
    </h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="cerrarModalUsuario()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formUsuario">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="80"
              [for]="personal"
              text="Personal:"
            >
            </kendo-label>
            <kendo-combobox
              #personal
              [data]="listaUsuarios"
              textField="nombre"
              valueField="id"
              formControlName="personal"
              [style.width.px]="370"
              placeholder="<Personal>"
              [filterable]="true"
              (filterChange)="filtrarPersonalBusqueda($event)"
            ></kendo-combobox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="80"
              [for]="email"
              text="E-mail:"
            >
            </kendo-label>
            <kendo-textbox
              #email
              formControlName="email"
              placeholder="example@gmail.com"
              [style.width.px]="370"
            ></kendo-textbox>
          </kendo-formfield>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-12 k-form-horizontal">
          <kendo-formfield orientation="horizontal">
            <kendo-label
              class="d-flex align-items-end"
              [style.width.px]="80"
              [for]="roles"
              text="Rol:"
            >
            </kendo-label>
            <kendo-dropdownlist
              #roles
              [data]="listaRoles"
              textField="nombre"
              valueField="id"
              formControlName="idRol"
              [style.width.px]="370"
              [valuePrimitive]="true"
              [defaultItem]="{ nombre: '<Roles>', id: null }"
              [filterable]="true"
              (filterChange)="filtrarRolesBusqueda($event)"
            ></kendo-dropdownlist>
          </kendo-formfield>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-9">
          <div class="row mb-3">
            <div class="col-sm-12 col-md-12 k-form-horizontal">
              <kendo-formfield orientation="horizontal">
                <kendo-label
                  class="d-flex align-items-end"
                  [style.width.px]="80"
                  [for]="usuario"
                  text="Usuario:"
                >
                </kendo-label>
                <kendo-textbox
                  #usuario
                  formControlName="usuario"
                  placeholder="userBSG"
                  [style.width.px]="250"
                ></kendo-textbox>
              </kendo-formfield>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-12 col-md-12 k-form-horizontal">
              <kendo-formfield orientation="horizontal">
                <kendo-label
                  class="d-flex align-items-end"
                  [style.width.px]="80"
                  [for]="password"
                  text="Password:"
                ></kendo-label>
                <div class="k-textbox-group">
                  <input
                    #password
                    kendoTextBox
                    placeholder="Password"
                    formControlName="password"
                    [style.width.px]="145"
                    [type]="formatoInput"
                  />
                  <button kendoButton (click)="mostrarPassword()">
                    <span
                      class="k-icon k-icon-20"
                      [class]="formatoInput == 'text' ? 'k-i-minus' : 'k-i-eye'"
                    ></span>
                  </button>
                  <button kendoButton (click)="copiarClipboard()">
                    <span class="k-icon k-i-copy k-icon-20"></span>
                  </button>
                  <button kendoButton (click)="asociarNuevoPassword()">
                    <span class="k-icon k-i-rotate k-icon-20"></span>
                  </button>
                </div>
              </kendo-formfield>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <ng-container *ngIf="!esNuevo; else esExistente">
            <button
              class="btn btn-success my-1"
              [disabled]="!formUsuario.valid"
              (click)="actualizar()"
            >
              Actualizar
            </button>
          </ng-container>
          <ng-template #esExistente>
            <button
              class="btn btn-primary my-1 mx-1"
              [disabled]="!formUsuario.valid"
              (click)="insertar()"
            >
              Registrar
            </button>
          </ng-template>
          <button
            class="btn btn-danger my-1 mx-1"
            (click)="cerrarModalUsuario()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
  <loading [loading]="loader"></loading>
</ng-template>

<ng-template #modalAsignacionUsuario let-modal>
  <div class="row bg-color-material text-light py-2">
    <div class="col-md-6 text-center fw-bold">Mis Modulos</div>
    <div class="col-md-5 text-center fw-bold">Modulos Generales</div>
    <div class="col-md-1 text-end fw-bold">
      <button
        type="button"
        class="btn-close mx-2"
        aria-label="Close"
        (click)="cerrarModalAsignar()"
      ></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <kendo-grid
        [kendoGridBinding]="gridMisModulos.data"
        [loading]="gridMisModulos.loading"
        [selectable]="true"
        [resizable]="true"
        style="height: 590px"
        filterable="menu"
        kendoGridSelectBy="idModulo"
        [(selectedKeys)]="listaModulosDesasociar"
      >
        <kendo-grid-checkbox-column
          [width]="17"
          [headerClass]="{ 'text-center': true }"
          [class]="{ 'text-center': true }"
          [resizable]="false"
          [columnMenu]="false"
          [showSelectAll]="true"
        ></kendo-grid-checkbox-column>

        <kendo-grid-column
          field="nombreGrupo"
          title="Grupo"
          [width]="60"
          [headerClass]="'justify-content-center'"
          [filterable]="true"
        >
          <ng-template
            kendoGridFilterMenuTemplate
            let-filter
            let-column="column"
            let-filterService="filterService"
          >
            <kendo-grid-string-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              [extra]="false"
              operator="contains"
            >
              <kendo-filter-contains-operator
                text="Contiene"
              ></kendo-filter-contains-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="nombreModulo"
          title="Modulo"
          [width]="80"
          [headerClass]="'justify-content-center'"
          [filterable]="true"
        >
          <ng-template
            kendoGridFilterMenuTemplate
            let-filter
            let-column="column"
            let-filterService="filterService"
          >
            <kendo-grid-string-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              [extra]="false"
              operator="contains"
            >
              <kendo-filter-contains-operator
                text="Contiene"
              ></kendo-filter-contains-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="url"
          title="URL"
          [width]="120"
          [headerClass]="'justify-content-center'"
          [filterable]="true"
        >
          <ng-template kendoGridFooterTemplate let-column>
            <div class="text-end">{{ gridMisModulos.data.length }} Items</div>
          </ng-template>
          <ng-template
            kendoGridFilterMenuTemplate
            let-filter
            let-column="column"
            let-filterService="filterService"
          >
            <kendo-grid-string-filter-menu
              [column]="column"
              [filter]="filter"
              [filterService]="filterService"
              [extra]="false"
              operator="contains"
            >
              <kendo-filter-contains-operator
                text="Contiene"
              ></kendo-filter-contains-operator>
            </kendo-grid-string-filter-menu>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
    <div class="col-md-6">
      <kendo-tabstrip [keepTabContent]="true" [animate]="false">
        <kendo-tabstrip-tab title="Asignacion Individual" [selected]="true">
          <ng-template kendoTabContent>
            <div class="row">
              <div class="col-md-1">
                <div style="padding-top: 200px">
                  <button
                    class="btn btn-success"
                    (click)="asociarModulos()"
                    [disabled]="!(listaModulosAsociar.length > 0)"
                  >
                    <span class="k-icon k-i-arrow-60-left k-icon-24"></span>
                  </button>
                  <button
                    class="btn btn-danger my-2"
                    (click)="desasociarModulos()"
                    [disabled]="!(listaModulosDesasociar.length > 0)"
                  >
                    <span class="k-icon k-i-arrow-60-right k-icon-24"></span>
                  </button>
                  <button
                    class="btn btn-outline-danger my-2"
                    (click)="reestablecer()"
                    [disabled]="
                      !(
                        listaModulosDesasociar.length > 0 ||
                        listaModulosAsociar.length > 0
                      )
                    "
                  >
                    <span class="k-icon k-i-reload k-icon-24"></span>
                  </button>
                </div>
              </div>
              <div class="col-md-11">
                <kendo-grid
                  [kendoGridBinding]="gridListaModulos.data"
                  [loading]="gridListaModulos.loading"
                  [selectable]="true"
                  [resizable]="true"
                  filterable="menu"
                  style="height: 530px"
                  kendoGridSelectBy="idModulo"
                  [(selectedKeys)]="listaModulosAsociar"
                >
                  <ng-template
                    kendoPagerTemplate
                    let-totalPages="totalPages"
                    let-currentPage="currentPage"
                  >
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-numeric-buttons
                      [buttonCount]="5"
                    ></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-input></kendo-pager-input>
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-page-sizes
                      [pageSizes]="cantidadItems"
                    ></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-checkbox-column
                    [width]="20"
                    [headerClass]="{ 'text-center': true }"
                    [class]="{ 'text-center': true }"
                    [resizable]="false"
                    [columnMenu]="false"
                    [showSelectAll]="true"
                  ></kendo-grid-checkbox-column>
                  <kendo-grid-column
                    field="nombreGrupo"
                    title="Grupo"
                    [width]="80"
                    [headerClass]="'justify-content-center'"
                    [filterable]="true"
                  >
                    <ng-template
                      kendoGridFilterMenuTemplate
                      let-filter
                      let-column="column"
                      let-filterService="filterService"
                    >
                      <kendo-grid-string-filter-menu
                        [column]="column"
                        [filter]="filter"
                        [filterService]="filterService"
                        [extra]="false"
                        operator="contains"
                      >
                        <kendo-filter-contains-operator
                          text="Contiene"
                        ></kendo-filter-contains-operator>
                      </kendo-grid-string-filter-menu>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column
                    field="nombreModulo"
                    title="Modulo"
                    [width]="80"
                    [headerClass]="'justify-content-center'"
                    [filterable]="true"
                  >
                    <ng-template
                      kendoGridFilterMenuTemplate
                      let-filter
                      let-column="column"
                      let-filterService="filterService"
                    >
                      <kendo-grid-string-filter-menu
                        [column]="column"
                        [filter]="filter"
                        [filterService]="filterService"
                        [extra]="false"
                        operator="contains"
                      >
                        <kendo-filter-contains-operator
                          text="Contiene"
                        ></kendo-filter-contains-operator>
                      </kendo-grid-string-filter-menu>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column
                    field="url"
                    title="URL"
                    [width]="80"
                    [headerClass]="'justify-content-center'"
                    [filterable]="true"
                  >
                    <ng-template kendoGridFooterTemplate let-column>
                      <div class="text-end">
                        {{ gridListaModulos.data.length }} Items
                      </div>
                    </ng-template>
                    <ng-template
                      kendoGridFilterMenuTemplate
                      let-filter
                      let-column="column"
                      let-filterService="filterService"
                    >
                      <kendo-grid-string-filter-menu
                        [column]="column"
                        [filter]="filter"
                        [filterService]="filterService"
                        [extra]="false"
                        operator="contains"
                      >
                        <kendo-filter-contains-operator
                          text="Contiene"
                        ></kendo-filter-contains-operator>
                      </kendo-grid-string-filter-menu>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab title="Asignacion Por Grupo">
          <ng-template kendoTabContent>
            <kendo-grid
              [kendoGridBinding]="gridListaPaqueteModulos.data"
              [loading]="gridListaPaqueteModulos.loading"
              [selectable]="true"
              [resizable]="true"
              filterable="menu"
              style="height: 530px"
            >
              <ng-template
                kendoPagerTemplate
                let-totalPages="totalPages"
                let-currentPage="currentPage"
              >
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-numeric-buttons
                  [buttonCount]="5"
                ></kendo-pager-numeric-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-input></kendo-pager-input>
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-page-sizes
                  [pageSizes]="cantidadItems"
                ></kendo-pager-page-sizes>
              </ng-template>
              <kendo-grid-column
                field="nombre"
                title="Grupo"
                [width]="50"
                [headerClass]="'justify-content-center'"
                [filterable]="true"
              >
                <ng-template
                  kendoGridFilterMenuTemplate
                  let-filter
                  let-column="column"
                  let-filterService="filterService"
                >
                  <kendo-grid-string-filter-menu
                    [column]="column"
                    [filter]="filter"
                    [filterService]="filterService"
                    [extra]="false"
                    operator="contains"
                  >
                    <kendo-filter-contains-operator
                      text="Contiene"
                    ></kendo-filter-contains-operator>
                  </kendo-grid-string-filter-menu>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column
                field="descripcion"
                title="Descripcion"
                [width]="80"
                [headerClass]="'justify-content-center'"
                [filterable]="true"
              >
                <ng-template
                  kendoGridFilterMenuTemplate
                  let-filter
                  let-column="column"
                  let-filterService="filterService"
                >
                  <kendo-grid-string-filter-menu
                    [column]="column"
                    [filter]="filter"
                    [filterService]="filterService"
                    [extra]="false"
                    operator="contains"
                  >
                    <kendo-filter-contains-operator
                      text="Contiene"
                    ></kendo-filter-contains-operator>
                  </kendo-grid-string-filter-menu>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column
                title="Acciones"
                [headerStyle]="{ color: '#5f75bd' }"
                [width]="45"
                [headerClass]="'justify-content-center'"
              >
                <ng-template kendoGridFooterTemplate let-column>
                  <div class="text-end">
                    {{ gridListaPaqueteModulos.data.length }} Items
                  </div>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                  <div class="text-center">
                    <button
                      kendoButton
                      themeColor="success"
                      fillMode="solid"
                      rounded="large"
                      size="large"
                      class="p-2 me-1 ms-1"
                      container="body"
                      placement="top"
                      ngbTooltip="Asociar"
                      (click)="asociarPaqueteModulos(dataItem)"
                    >
                      <span class="k-icon k-i-arrow-60-left k-icon-20"></span>
                    </button>
                    <button
                      kendoButton
                      themeColor="error"
                      fillMode="solid"
                      rounded="large"
                      size="large"
                      class="p-2 me-1 ms-1"
                      container="body"
                      placement="top"
                      ngbTooltip="Desasociar"
                      (click)="desasociarPaqueteModulos(dataItem)"
                    >
                      <span class="k-icon k-i-arrow-60-right k-icon-20"></span>
                    </button>
                  </div>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
</ng-template>
