@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




.titulo{
  background-color: #3F51B5;
  color: white;
  font-size: 15px;
  height: 50px;
  padding: 10px;
  text-align: left;
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}





.titulo.alto {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.titulo h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.margen-arriba {
  margin-top: 20px;
}

.centrado {
  text-align: center;
}

.acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}

.botonAgregar {
  width: 150px;
  background-color: #3F51B5;
  color: white;
  margin-right: 20px;
}

.tabla-custom th, .tabla-custom td {
  padding: 12px;
  text-align: left;
}

.full-width {
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.264);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10vh;
  z-index: 1000;
}
.modal-centered mat-form-field {
  margin-bottom: 4px;
}


.modal-centered {
  background: white;
  padding: 20px 24px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-header h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}

.close-btn {
  margin: 0;
}

::ng-deep .mat-form-field {
  margin-bottom: 8px !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.botones {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}


.btn {
  font-size: 0.85rem;
  padding: 6px 20px;
  min-width: 100px;
  text-transform: none;
  border-radius: 4px;
}

.btn-lg {
  font-size: 0.85rem;
  font-weight: 500;
}

.spinner-superpuesto {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1100;
  background-color: transparent; /* Sin fondo = sin cuadradito */
  padding: 0;                     /* Sin padding = sin borde blanco */
  box-shadow: none;              /* Por si alguna clase le mete sombra */
}
.overlay-bloqueo-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco translúcido */
  z-index: 1100;
  cursor: not-allowed;
}

