table tbody tr {
    cursor: pointer;
}

table tbody tr td {
    font-size: small;
}

.images span a img {
    width: 100%;
}

.horaCliente {
    font-size: x-small;
}

.horaAsesor {
    display: flex;
    font-size: x-small;
}