
// .historialInteraccionContainer {
//   background-color: #F5F5F5;
// }

.btn-hio-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.btn-hio-hover-effect:hover {
  // transform: scale(1.03);
  text-decoration: underline;
}



.enuciadoHeader {
  font-size: 1.3em;
  font-weight: bold;
}
.tiempos {
  font-size: small;
  margin: 0;
  white-space: nowrap;
}
.k-grid tbody {
  font-size: small !important;
}
.fechaProgramada {
  color: #0079ff;
}
.fechaReal {
  color: #ff6113;
}
.horaReal {
  color: #ff6113;
}
.horaReal:hover {
  color: rgb(226, 10, 10);
  text-decoration: underline;
  font-weight: bold;
}
table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}
.mat-header-cell {
  background-color: #11c744;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 24px;
}
td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
}
.mat-row:hover {
  background-color: #f3f3f3;
}

.mat-expansion-panel-body {
  width: 100%;
}
.mat-select-custom-style {
  width: fit-content;
}

.circlegreen {
  border-radius: 50px;
  width: 20px;
  background: var(--unnamed-color-11c744) 0% 0% no-repeat padding-box;
  opacity: 1;
}
.circlegreen:hover {
  background-color: #0c862f;
}
.circlegray {
  border-radius: 50px;
  width: 20px;
  background: #d6d4d4;
  opacity: 1;
}

.circlegreen .fechablanca {
  size: 70%;
  top: 17087px;
  left: 955px;
  width: 13px;
  height: 15px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.botonReproducirLlamada {
  padding: 0px !important;
  border: none;
  border-radius: 50px;
}

.mat-row:nth-child(even) {
  background-color: #d5ffe1;
}

.mat-row:nth-child(odd) {
  background-color: #ffffff;
}

:host ::ng-deep .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  width: 100%;
}
//comentarios
.estilocategoria {
  color: #0079ff;
}

.estilocatpago {
  background-color: rgb(200, 224, 255);
  height: 20px;
  display: flex;
  width: 100px;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  text-align: center;
}
#modalDrag{
  position: fixed;
}



.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.rc-fecha-programada {
  color: #ff8450;
  font-weight: 500;
}

.rc-fecha-real {
  color: #53bd75;
  font-weight: 500;
}

.rc-tt {
  color: #9166b3;
  font-weight: 500;
}

.rc-tc {
  color: #0dcaf0;
  font-weight: 500;
}

.legend-3cx {
  font-size: 18px;
  line-height: inherit;
  color: #212121;
  margin-bottom: 23px;
  border-bottom: 1px solid #e5e5e5;
}

.esLlamada3cx {
  text-decoration: underline;
  color: blue !important;
}

.esLlamadaRingover {
  text-decoration: underline;
  color: #07ad9c !important;
  font-weight: bold;
}

.esLlamadaIntegra {
  text-decoration: underline;
  color: #212121 !important;
}

.esLlamadaWolkbox {
  text-decoration: underline;
  color: #9a0f3d !important;
}

.esLlamadaWavix{
  text-decoration: underline;
  color: brown !important ;
}
