.readonly-textarea .k-textarea {
    background-color: #d3d3d3; /* Fondo plomo */
    color: #000; /* Texto legible */
    cursor: default; /* Cursor por defecto */
    border: 1px solid #ccc; /* Opcional: borde fijo */
  }