<div class="px-3 pt-4" style="background-color: #F7F8FA">
  <mat-tab-group class="gestionPagos-custom-tab">
    <mat-tab label="Cronograma de pagos">
      <app-cronograma-pagos [agendaService]="agendaService"></app-cronograma-pagos>
    </mat-tab>
    <!-- <mat-tab label="Beneficios e Inversión">
      <app-beneficios-inversion [agendaService]="agendaService"></app-beneficios-inversion>
    </mat-tab> -->
    <mat-tab label="Beneficios e Inversión">
      <app-beneficios-inversion-copia [agendaService]="agendaService"></app-beneficios-inversion-copia>
    </mat-tab>
    <mat-tab label="Formas de pago">
      <app-formas-pago [agendaService]="agendaService"></app-formas-pago>
    </mat-tab>
    <mat-tab label="Tarifarios">
      <app-tarifario [agendaService]="agendaService"></app-tarifario>
    </mat-tab>
  </mat-tab-group>

</div>
