.grid-containerPrueba {
    display: flex;
    flex-wrap: wrap; /* Esto permite que los elementos se ajusten si no hay suficiente espacio horizontal */
    justify-content: space-between; /* Esto distribuirá los elementos equitativamente en el contenedor */
  }
  
  /* Opcionalmente, puedes agregar algún espacio entre los kendo-grid */
  .kendo-grid {
    margin-right: 10px; /* Ajusta el espacio entre los kendo-grid según tus preferencias */
  }
  

  .headerCustomClassAsesor {
    color: rgb(241, 196, 15);;
  }

  .k-grid td {
    text-align: center;
  }

  /* Loader Panel Styles */
.k-loading-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.k-loading-panel-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.4);
  opacity: 0.8;
}
.k-loading-panel-wrapper {
  position: relative;
  z-index: 2;
}

.k-loading-panel-text {
  margin-top: 20px;
  text-align: center;
  color: #000000;
}

.k-grid .no-padding {
  padding: 0;
}
.whole-cell {
  display: block;
  padding: 8px 12px; /* depends on theme */
}