.t_font{
    font-size: smaller;
}

.center{
    text-align: center;
    
}

#my-grid tr.gold {
    background-color: #7a0303 !important;
  }

#my-grid tr.green {
    background-color: #2b840a !important;
  }