$background-color: #292931;
$button-color: #E62163;
$button-width: 10em;

label[for="file"]{
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: .9;
  font-weight: bold;
}

input[type="file"] {
  
  cursor: pointer !Important;
  
  &::-webkit-file-upload-button {
    background: $button-color;
    border: 0;
    padding: 1em 2em;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
  }
  
  &::-ms-browse {
    background: $button-color;
    border: 0;
    padding: 1em 2em;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
  }
  
}

.flex{
    display: flex;
    width:100% !important;
}

.flex .row{
    width: 50%;
}

.flex .row button{
    width: 100px;
    margin-top: 0px !important;
    height: 50px;
}


.element {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(1, 172, 184);
}

.cellCustomClass {
  color: #fff;
}

.fileInput{
  width: 99.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.k-icon-20 {
  font-size: 20px; /* Sets icon size to 48px */
}

.text-valid-success{
  color: #55ae2f !important;
}

.card{
  border-top-width: 0px !important;
}




