@import "../dp-variables.scss";



.k-grid-toolbar{
  background-color: $dpc_kheader;
}

.container-opciones{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .opciones__boton{
    margin: 2px;


    .boton-opciones {
      height: 33px;
      width: 45px;
    }

  }

}
