// .rep-popup{

// }

// rep-dropDown

.headerEtapaProcesoSeleccion {
    background-color: #27ae60 !important;
    color: #ffffff !important
}

.headerEtapaProcesoSeleccionFix {
    text-align: center  !important;
    background-color: #4194bb !important;
    color: #ffffff !important;
}

.headerGridCursoAsesorCapacitacion {
    text-align: center  !important;
    background-color: #4194bb !important;
    color: #ffffff !important;
}

.card-header-rep {
    background-color: #337ab7 !important;
    color: #fff !important
}

.headerPostulante {
    text-align: center  !important;
    background-color: #4194bb !important;
    color: #ffffff !important;
}

#kgridReportePostulante tr.color1 {
    background-color: #DCFCF6;
}

#kgridReportePostulante tr.color2 {
    background-color: #FCEDDC;
}

#kgridReportePostulante tr.color3 {
    background-color: #DCF3FC;
}

#kgridReportePostulante tr.color4 {
    background-color: #DCFCF1;
}

#kgridReportePostulante tr.color5 {
    background-color: #FAFCDC;
}

#kgridReportePostulante tr.color6 {
    background-color: #FCEDDC;
}

#kgridReportePostulante tr.color7 {
    background-color: #E4DCFC;
}

#kgridReportePostulante tr.color8 {
    background-color: #FCDCE1;
}

.resaltadoNEO {
    background-color: #00b159;
    color: #ffff
}