<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-rep">
          <h2 class="mb-0">
            (R) Evaluación de postulantes - Filtros de búsqueda de postulantes
          </h2>
        </div>
        <div class="card-body k-form k-form-horizontal">
          <form [formGroup]="formFiltro">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <h3 class="fw-bold mb-0">Búsqueda por filtros</h3>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Proceso de Selección </label>
                      <kendo-dropdownlist
                        [data]="comboProcesoSeleccion"
                        textField="nombre"
                        valueField="id"
                        formControlName="procesoSeleccion"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [popupSettings]="{ popupClass: 'rep-popup' }"
                        [defaultItem]="{
                          id: null,
                          nombre: '<Todos los Procesos>'
                        }"
                        class="rep-dropDown"
                        (valueChange)="valueChangeProcesoSeleccion($event)"
                      ></kendo-dropdownlist>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Etapas de Proceso </label>
                      <kendo-multiselect
                        [data]="comboEtapaProceso"
                        textField="nombre"
                        valueField="id"
                        formControlName="etapasProceso"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [popupSettings]="{ popupClass: 'rep-popup' }"
                        placeholder="<Todas las Etapas>"
                        class="rep-dropDown"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Estado de Etapas </label>
                      <kendo-multiselect
                        [data]="comboEstadoEtapa"
                        textField="nombre"
                        valueField="id"
                        formControlName="estadoEtapas"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [popupSettings]="{ popupClass: 'rep-popup' }"
                        class="rep-dropDown"
                        placeholder="<Todos los Estados de Etapas>"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <h3 class="fw-bold mb-0">Búsqueda por postulante</h3>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start">Grupo Comparación</label>
                      <kendo-dropdownlist
                        [data]="comboGrupoComparacion"
                        textField="nombre"
                        valueField="id"
                        formControlName="grupoComparacion"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [popupSettings]="{ popupClass: 'rep-popup' }"
                        class="rep-dropDown"
                        [defaultItem]="{
                          id: null,
                          nombre: '<Seleccione Grupo>'
                        }"
                      ></kendo-dropdownlist>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <kendo-label
                        text="Habilitar Filtro por postulante"
                        class="k-checkbox-label"
                      ></kendo-label>
                      <kendo-switch
                        #switchPostulante
                        formControlName="filtroPorPostulante"
                        onLabel="SI"
                        offLabel="NO"
                        (valueChange)="onChangeFiltroPostulate($event)"
                      ></kendo-switch>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Postulante </label>
                      <kendo-multiselect
                        [data]="comboPostulante"
                        textField="nombre"
                        valueField="id"
                        formControlName="postulantes"
                        [valuePrimitive]="true"
                        [popupSettings]="{ popupClass: 'rep-popup' }"
                        class="rep-dropDown"
                        [filterable]="true"
                        [virtual]="true"
                        (filterChange)="onFilterChangePostulante($event)"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <h3 class="fw-bold mb-0">Rango de fechas</h3>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Fecha Inicio </label>
                      <kendo-datepicker
                        #fechaInicio
                        format="yyyy-MM-dd"
                        formControlName="fechaInicio"
                      ></kendo-datepicker>
                      <!-- <kendo-formerror>Fecha Inicio no valido</kendo-formerror> -->
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Fecha Fin </label>
                      <kendo-datepicker
                        format="yyyy-MM-dd"
                        formControlName="fechaFin"
                      ></kendo-datepicker>
                      <!-- <kendo-formerror>Fecha Fin no valido</kendo-formerror> -->
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row my-2 justify-content-end">
                  <div class="col-auto">
                    <small
                      >* Las fechas (Fecha Inicio - Fecha Fin) se basan en la
                      fecha de asignación de examenes del postulante</small
                    >
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-sm-12 col-md-12">
                    <kendo-formfield orientation="horizontal">
                      <label class="k-label align-items-start"> Versión Centil </label>
                      <kendo-dropdownlist
                        [data]="comboVersionCentil"
                        textField="valor"
                        valueField="clave"
                        formControlName="versionCentil"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [popupSettings]="{ popupClass: 'rep-popup' }"
                        [defaultItem]="{ clave: null, valor: '<Todos>' }"
                        class="rep-dropDown"
                        [style.width.px]="250"
                      ></kendo-dropdownlist>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row justify-content-end">
            <div class="col-auto">
              <button
                kendoButton
                icon="search"
                themeColor="success"
                [disabled]="btnBuscarDisabled"
                (click)="generarReporte()"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-4">
        <div class="card-header card-header-rep">
          <h2 class="mb-0">Reporte etapas proceso de selección</h2>
        </div>
        <div class="card-body">
          <kendo-grid
            *ngIf="showReporteEtapaProceso"
            [kendoGridBinding]="gridEtapaProcesoSeleccion.data"
            [loading]="gridEtapaProcesoSeleccion.loading"
            [resizable]="true"
            [sort]="sortEtapa"
          >
            <ng-template kendoGridToolbarTemplate>
              <button
                type="button"
                themeColor="success"
                kendoGridExcelCommand
                icon="excel"
              >
                Export to Excel
              </button>
              <kendo-grid-spacer></kendo-grid-spacer>
            </ng-template>
            <kendo-grid-column
              field="procesoSeleccion"
              title="Proceso de Seleccion"
              [width]="350"
              headerClass="rep-header-grid justify-content-center headerEtapaProcesoSeleccionFix"
              [locked]="true"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="etapa"
              title="Etapas"
              [width]="250"
              headerClass="rep-header-grid justify-content-center headerEtapaProcesoSeleccionFix"
              class="text-center"
              [locked]="true"
            >
            </kendo-grid-column>
            <kendo-grid-column-group
              *ngFor="let etapa of etapasAprobadas"
              [title]="etapa.postulante"
              headerClass="headerEtapaProcesoSeleccion justify-content-center"
            >
              <kendo-grid-column
                [field]="'estadoEtapaProceso_' + etapa.idPostulante"
                title="Estado etapa"
                [width]="150"
                headerClass="rep-header-grid justify-content-center headerEtapaProcesoSeleccion"
                class="text-center"
                [locked]="false"
              >
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{
                    getNombreEstadoEtapaProceso(
                      dataItem["idEstadoEtapaProceso_" + etapa.idPostulante]
                    ) ?? "Seleccione un estado"
                  }}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column
                [field]="'etapaContactadoText_' + etapa.idPostulante"
                title="Es Contactado"
                [width]="100"
                headerClass="rep-header-grid justify-content-center headerEtapaProcesoSeleccion"
                class="text-center"
                [locked]="false"
              >
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{
                    dataItem["etapaContactado_" + etapa.idPostulante] == true
                      ? "SI"
                      : "NO"
                  }}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column
                title="Opciones"
                [width]="80"
                class="text-center"
                headerClass="rep-header-grid justify-content-center headerEtapaProcesoSeleccion"
                [locked]="false"
              >
                <ng-template kendoGridCellTemplate let-dataItem>
                  <ng-container
                    *ngIf="
                      dataItem.esCalificadoPorPostulante == true;
                      else templateCalificadoPorPostulante
                    "
                  >
                    <button
                      kendoButton
                      icon="pencil"
                      themeColor="base"
                      (click)="
                        funcionModalTipoEvaluacion(etapa.idPostulante, dataItem)
                      "
                    ></button>
                  </ng-container>
                  <ng-template #templateCalificadoPorPostulante>
                    <button
                      kendoButton
                      icon="spell-checker"
                      themeColor="success"
                      (click)="
                        funcionModalTipoEvaluacion(etapa.idPostulante, dataItem)
                      "
                    ></button>
                  </ng-template>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid-column-group>
            <kendo-grid-excel
              fileName="Reporte Chat Messenger Asesor.xlsx"
            ></kendo-grid-excel>
          </kendo-grid>
          <loading [loading]="loadingReporteEtapaProceso"></loading>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header card-header-rep">
          <h2 class="mb-0">Reporte Postulante</h2>
        </div>
        <div class="card-body">
          <kendo-grid
            *ngIf="showReportePostulante"
            id="kgridReportePostulante"
            #kgridReportePostulante
            [kendoGridBinding]="gridReportePostulante.data"
            [loading]="gridReportePostulante.loading"
            [resizable]="true"
            [sort]="sortPostulante"
            [group]="groupPostulante"
            [rowClass]="rowCallback"
            [style.maxHeight.px]="900"
            scrollable="scrollable"
          >
            <ng-template kendoGridToolbarTemplate>
              <button
                type="button"
                themeColor="success"
                kendoGridExcelCommand
                icon="excel"
              >
                Export to Excel
              </button>
              <kendo-grid-spacer></kendo-grid-spacer>
            </ng-template>
            <kendo-grid-column
              field="categoria"
              title="Categoria"
              [width]="150"
              [hidden]="true"
              [locked]="false"
              headerClass="headerPostulante justify-content-center"
            >
              <ng-template kendoGridGroupHeaderTemplate let-group="group">
                Categoria: {{ group.value }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="evaluacion"
              title="Evaluación"
              [width]="250"
              [locked]="true"
              headerClass="headerPostulante justify-content-center"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="grupo"
              title="Grupo"
              [width]="220"
              [locked]="true"
              headerClass="headerPostulante justify-content-center"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="examen"
              title="Componente"
              [width]="220"
              [locked]="true"
              headerClass="headerPostulante justify-content-center"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="calificaPorCentilText"
              title="Calificacion por Centil/Directo"
              [width]="100"
              [locked]="true"
              headerClass="headerPostulante justify-content-center"
              class="text-center"
            >
              <ng-template
                kendoGridHeaderTemplate
                let-column
                let-columnIndex="columnIndex"
              >
                <div class="w-100 text-center">
                  Calificación<br />por<br />Centil/Directo
                </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="simbolo"
              title="Operador Aprobatorio"
              [width]="80"
              [locked]="true"
              headerClass="headerPostulante justify-content-center"
              class="text-center"
            >
              <ng-template
                kendoGridHeaderTemplate
                let-column
                let-columnIndex="columnIndex"
              >
                <div class="w-100 text-center">Operador<br />Aprobatorio</div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="notaAprobatoria"
              title="Puntaje Aprobatorio"
              [width]="80"
              [locked]="true"
              headerClass="headerPostulante justify-content-center"
              class="text-center"
            >
              <ng-template
                kendoGridHeaderTemplate
                let-column
                let-columnIndex="columnIndex"
              >
                <div class="w-100 text-center">Puntaje<br />Aprobatorio</div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column-group
              *ngFor="let postulante of postulantesTemp"
              [title]="postulante.postulante"
              headerClass="headerPostulante justify-content-center"
            >
              <ng-template
                kendoGridHeaderTemplate
                let-column
                let-columnIndex="columnIndex"
              >
                <div class="w-100">
                  <div class="row">
                    <div class="col-12 text-center my-2">
                      <span [innerHtml]="postulante.postulante"></span>
                    </div>
                  </div>
                  <div class="row bg-white text-dark">
                    <table class="m-0 p-0" style="font-size: 12px">
                      <tr>
                        <td
                          class="fw-bold text-center"
                          [ngClass]="{
                            resaltadoNEO:
                              postulante.clasificacionNeo.aquiescenciaAq
                          }"
                        >
                          Aquiescencia Aq
                        </td>
                        <td
                          class="fw-bold text-center"
                          [ngClass]="{
                            resaltadoNEO:
                              postulante.clasificacionNeo.negacionesNe
                          }"
                        >
                          Negaciones Ne
                        </td>
                        <td
                          class="fw-bold text-center"
                          [ngClass]="{
                            resaltadoNEO:
                              postulante.clasificacionNeo.respuestaAlAzar
                          }"
                        >
                          Respuesta Al Azar
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </ng-template>
              <kendo-grid-column-group
                title="Calificación"
                headerClass="headerPostulante justify-content-center"
              >
                <ng-container *ngIf="versionCentilTemp == null">
                  <ng-container
                    *ngFor="let versionCentil of comboVersionCentil"
                  >
                    <kendo-grid-column
                      [field]="
                        'postulante_' +
                        postulante.idPostulante +
                        '_Centil_' +
                        versionCentil.clave
                      "
                      [title]="'Centil(' + versionCentil.clave + ')'"
                      [width]="90"
                      headerClass="headerPostulante justify-content-center"
                      class="text-center"
                      [locked]="false"
                    >
                    </kendo-grid-column>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="versionCentilTemp != null">
                  <kendo-grid-column
                    [field]="
                      'postulante_' +
                      postulante.idPostulante +
                      '_Centil_' +
                      versionCentilTemp
                    "
                    [title]="'Centil(' + versionCentilTemp + ')'"
                    [width]="90"
                    headerClass="headerPostulante justify-content-center"
                    class="text-center"
                    [locked]="false"
                  >
                  </kendo-grid-column>
                </ng-container>
              </kendo-grid-column-group>
              <kendo-grid-column
                [field]="'recuperacion_' + postulante.idPostulante"
                title="Recuperación"
                [width]="90"
                [locked]="false"
                headerClass="headerPostulante justify-content-center"
              >
                <ng-template kendoGridCellTemplate let-dataItem> </ng-template>
              </kendo-grid-column>
              <kendo-grid-column-group
                title="Estado"
                headerClass="headerPostulante justify-content-center"
              >
                <ng-container *ngIf="versionCentilTemp == null">
                  <ng-container
                    *ngFor="let versionCentil of comboVersionCentil"
                  >
                    <kendo-grid-column
                      [field]="
                        'estado_' +
                        postulante.idPostulante +
                        '_Centil_' +
                        versionCentil.clave
                      "
                      [title]="'Centil(' + versionCentil.clave + ')'"
                      [width]="110"
                      headerClass="headerPostulante justify-content-center"
                      class="text-center"
                      [locked]="false"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        {{
                          templateEstadoPostulante(
                            dataItem,
                            postulante.idPostulante,
                            versionCentil.clave
                          )
                        }}
                      </ng-template>
                    </kendo-grid-column>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="versionCentilTemp != null">
                  <kendo-grid-column
                    [field]="
                      'estado_' +
                      postulante.idPostulante +
                      '_Centil_' +
                      versionCentilTemp
                    "
                    [title]="'Centil(' + versionCentilTemp + ')'"
                    [width]="110"
                    headerClass="headerPostulante justify-content-center"
                    class="text-center"
                    [locked]="false"
                  >
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{
                        templateEstadoPostulante(
                          dataItem,
                          postulante.idPostulante,
                          versionCentilTemp
                        )
                      }}
                    </ng-template>
                  </kendo-grid-column>
                </ng-container>
              </kendo-grid-column-group>
              <kendo-grid-column
                field="nombre"
                title="Accesos Temporales"
                [width]="90"
                headerClass="headerPostulante justify-content-center"
                class="text-center"
                [locked]="false"
              >
                <ng-template
                  kendoGridHeaderTemplate
                  let-column
                  let-columnIndex="columnIndex"
                >
                  <div class="w-100 text-center">Accesos<br />Temporales</div>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div class="w-100 d-flex justify-content-center">
                    <div class="col-auto">
                      <button
                        *ngIf="
                          templateAccesoTemporalPostulante(
                            dataItem,
                            postulante.idPostulante
                          ) != 0
                        "
                        kendoButton
                        icon="print"
                        themeColor="success"
                        [disabled]="
                          templateAccesoTemporalPostulante(
                            dataItem,
                            postulante.idPostulante
                          ) != 2
                        "
                        (click)="
                          enviarAccesoTemporal(
                            dataItem,
                            postulante.idPostulante
                          )
                        "
                      >
                        Enviar
                      </button>
                    </div>
                  </div>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid-column-group>
            <kendo-grid-excel
              fileName="Reporte_SelecionPersonal.xlsx"
            ></kendo-grid-excel>
          </kendo-grid>
          <loading [loading]="loadingReportePostulante"></loading>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header card-header-rep">
          <h2 class="mb-0">Reporte Curso Asesor Capacitación</h2>
        </div>
        <div class="card-body">
          <kendo-grid
            *ngIf="showReporteAsesorCapacitacion"
            [kendoGridBinding]="gridCursoAsesorCapacitacion.data"
            [loading]="gridCursoAsesorCapacitacion.loading"
            [resizable]="true"
          >
            <ng-template kendoGridToolbarTemplate>
              <kendo-grid-spacer></kendo-grid-spacer>
            </ng-template>
            <kendo-grid-column
              field="nombrePostulante"
              title="Nombre Postulante"
              [width]="150"
              headerClass="headerGridCursoAsesorCapacitacion justify-content-center"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="nombreProgramaEspecifico"
              title="Curso"
              [width]="150"
              headerClass="headerGridCursoAsesorCapacitacion justify-content-center"
            >
            </kendo-grid-column>
            <kendo-grid-column
              field="valorEscala"
              title="Promedio"
              [width]="150"
              headerClass="headerGridCursoAsesorCapacitacion justify-content-center"
            >
            </kendo-grid-column>
            <kendo-grid-command-column
              title="Reenviar"
              [width]="150"
              headerClass="headerGridCursoAsesorCapacitacion justify-content-center"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="w-100 d-flex justify-content-center">
                  <div class="col-auto">
                    <button
                      kendoButton
                      icon="email"
                      themeColor="success"
                      (click)="confirmarReestablecerEnviar(dataItem)"
                    >
                      Enviar
                    </button>
                  </div>
                </div>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
          <loading [loading]="loadingReporteAsesorCapacitacion"></loading>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalTest let-modal>
  <div class="modal-header py-2 bg-primary">
    <h2 class="modal-title w-100 mb-0 fw-bold text-center text-white">
      {{ evaluacionTemp.evaluacion }}
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body k-form">
    <ng-container *ngIf="showTiempo && evaluacionTemp?.requiereTiempo == true">
      <div class="row">
        <div class="timer">00:00</div>
      </div>
    </ng-container>
    <div class="row my-2">
      <div class="col-12">
        <span [innerHtml]="evaluacionTemp?.instrucciones"></span>
      </div>
    </div>
    <ng-container
      *ngFor="let pregunta of preguntaTestAgrupadoTemp.listaPreguntas"
    >
      <div class="row my-2">
        <ng-container *ngIf="pregunta.enunciadoPregunta != '75 Registros'">
          <div class="col-sm-12 col-md-4">
            <span [innerHtml]="pregunta.nroOrdenPregunta"></span>.&nbsp;<span
              [innerHtml]="pregunta.enunciadoPregunta"
            ></span>
          </div>
          <div class="col-sm-12 col-md-8">
            <ng-container *ngIf="pregunta.idPreguntaTipo == 5">
              <kendo-dropdownlist
                [data]="pregunta.listaRespuestas"
                textField="enunciadoRespuesta"
                valueField="idRespuesta"
                [valuePrimitive]="true"
                [formControl]="pregunta.fcPregunta5"
                [defaultItem]="{
                  idPregunta: null,
                  idRespuesta: null,
                  nroOrden: null,
                  enunciadoRespuesta: 'Seleccione'
                }"
                [virtual]="true"
                [style.width.px]="300"
              >
              </kendo-dropdownlist>
            </ng-container>
            <ng-container *ngIf="pregunta.idPreguntaTipo == 4">
              <kendo-multiselect
                [data]="pregunta.listaRespuestas"
                textField="enunciadoRespuesta"
                valueField="idRespuesta"
                [valuePrimitive]="true"
                [formControl]="pregunta.fcPregunta4"
                [style.width.px]="300"
                [virtual]="true"
              >
              </kendo-multiselect>
            </ng-container>
            <ng-container *ngFor="let respuesta of pregunta.listaRespuestas">
              <ng-container *ngIf="pregunta.idPreguntaTipo == 6">
                <ng-container *ngIf="pregunta.idExamen == 93">
                  <kendo-textbox
                    [formControl]="respuesta.fcRespuesta93"
                    [maxlength]="1"
                    pattern="[A-Za-z0-9]"
                    placeholder="Respuesta"
                    [style.width.px]="300"
                  ></kendo-textbox>
                </ng-container>
                <ng-container
                  *ngIf="pregunta.enunciadoPregunta == '75 Registros'"
                >
                </ng-container>
                <ng-container
                  *ngIf="
                    pregunta.idExamen != 93 &&
                    pregunta.enunciadoPregunta != '75 Registros'
                  "
                >
                  <kendo-textbox
                    [formControl]="respuesta.fcRespuesta"
                    pattern="[A-Za-z0-9]"
                    placeholder="Respuesta"
                    [style.width.px]="300"
                  ></kendo-textbox>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="pregunta.idPreguntaTipo == 10">
                <kendo-textarea
                  [formControl]="respuesta.fcRespuesta10"
                  [rows]="3"
                  placeholder="Respuesta"
                  [style.width.px]="300"
                ></kendo-textarea>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
      </div>

      <div class="row my-2"></div>
    </ng-container>
    <div class="row my-2">
      <div class="col-12 k-form-horizontal">
        <kendo-formfield
          orientation="horizontal"
        >
          <label class="k-label align-items-start fw-bold w-auto">Estado de Evaluación</label>
          <kendo-dropdownlist
            [formControl]="fcEstadoEvaluacion"
            [data]="comboEstadoEtapa"
            textField="nombre"
            valueField="id"
            [kendoDropDownFilter]="filterSettings"
            [valuePrimitive]="true"
            [popupSettings]="{ popupClass: 'rep-popup' }"
            [defaultItem]="{ id: null, nombre: '<Seleccione>' }"
            [style.width.px]="200"
            [virtual]="true"
            class="rep-dropDown"
          >
          </kendo-dropdownlist>
          <kendo-formerror>Seleccione un criterio</kendo-formerror>
        </kendo-formfield>
      </div>
    </div>
    <loading [loading]="enProcesoGuardarRespuesta"></loading>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0 w-100 justify-content-end">
      <button
        *ngIf="showBtnActualizarRespuesta"
        themeColor="primary"
        size="medium"
        icon="save"
        kendoButton
        (click)="actualizarRespuestas()"
      >
        Actualizar
      </button>
      <button
        *ngIf="showBtnEnviarRespuesta"
        themeColor="primary"
        size="medium"
        icon="save"
        kendoButton
        (click)="sendAnswers()"
      >
        Enviar
      </button>
      <button
        themeColor="error"
        size="medium"
        icon="cancel"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #modalCalificarExamenAsignado let-modal>
  <div class="modal-header py-2 bg-primary">
    <h2 class="modal-title w-100 mb-0 fw-bold text-center text-white">
      Editar Estado Etapa
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body k-form">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="aprobado"
                [value]="1"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="aprobado">Aprobado</label>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="desaprobado"
                [value]="2"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="desaprobado"
                >Desaprobado</label
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="enProceso"
                [value]="3"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="enProceso">En Proceso</label>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="abandonado"
                [value]="4"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="abandonado"
                >Abandonado</label
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="aprobadoPlusPlus"
                [value]="5"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="aprobadoPlusPlus"
                >Aprobado++</label
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="aprobadoPlus"
                [value]="6"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="aprobadoPlus"
                >Aprobado+</label
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="aprobadoConObservaciones"
                [value]="7"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="aprobadoConObservaciones"
                >Aprobado con Observaciones</label
              >
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="radioEstadoEtapa"
                id="sinRendir"
                [value]="9"
                [formControl]="fcEstadoEtapa"
              />
              <label class="form-check-label" for="sinRendir">Sin Rendir</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <loading [loading]="enProcesoGuardarRespuesta"></loading>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0 w-100 justify-content-end">
      <button
        themeColor="primary"
        size="medium"
        icon="save"
        kendoButton
        (click)="actualizarEstadoEA()"
      >
        Actualizar
      </button>
      <button
        themeColor="error"
        size="medium"
        icon="cancel"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>


