
    
      .my-grid tr.gold {
        background-color: rgb(240, 230, 140);

      }

      .my-grid tr.green {
        background-color:rgb(237, 145, 42);
      }
    

    .estiloGrilla01 {
        background-color: #27ae60;
        color: white
    }
    .k-toolbar {
        /* border-color: blue; */
        color: white;
        background-color: #1d32b6;
    }