<ng-template #modalConjuntoAnuncio let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      {{ isNew ? "Nueva Campaña" : " Modificar Campaña" }}
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form k-form-horizontal" [formGroup]="formConjuntoAnuncio">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="nombre" class="k-label">
                <span>Nombre <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-textbox
                #nombre
                size="medium"
                placeholder="Nombre"
                formControlName="nombre"
                [clearButton]="true"
                [showSuccessIcon]="getShowSuccessIcon('nombre')"
                [successIcon]="successIcon"
                showErrorIcon="initial"
                inputValidSpaceDir
                [maxlength]="325"
              >
              </kendo-textbox>

              <kendo-formerror>
                {{ getErrorMessage("nombre") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>



        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="nombreCategoria" class="k-label">
                <span
                  >Categoria <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-dropdownlist
                #nombreCategoria
                formControlName="nombreCategoria"
                [filterable]="true"
                (filterChange)="handleFilter($event)"
                class="d-flex"
                size="medium"
                [data]="data"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione una Categoria...'
                }"
                textField="nombre"
                valueField="id"
                [valuePrimitive]="true"
              >
              </kendo-dropdownlist>


              <kendo-formerror>
                {{ getErrorMessage("nombreCategoria") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="idConjuntoAnuncio_Facebook" class="k-label">
                <span>Codigo</span>
              </label>
              <kendo-textbox
                #idConjuntoAnuncio_Facebook
                placeholder="Codigo"
                [style.width.px]="170"
                formControlName="idConjuntoAnuncio_Facebook"
              >
              </kendo-textbox>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        *ngIf="isNew"
        themeColor="primary"
        (click)="crearConjuntoAnuncio()"
      >
        Guardar
      </button>
      <button
        kendoButton
        *ngIf="!isNew"
        themeColor="tertiary"
        (click)="actualizarConjuntoAnuncio()"
      >
        Actualizar
      </button>

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #modalVerConjuntoAnuncio let-modal>
  <div class="modal-body">
    <div class="modal-header bg-primary-header-modal">
      <h3 class="modal-title m-0 p-0" id="modal-basic-title">
        URL para campañas
      </h3>
      <button
        type="button"
        class="btn-close btn-close-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
        (click)="borrarUrl()"
      ></button>
    </div>
    <form class="k-form k-form-horizontal">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield style="padding: 16px;" orientation="horizontal">
              <label class="k-label">
                <span>Programa <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-grid-spacer></kendo-grid-spacer>
              <kendo-dropdownlist
                class="d-flex"
                size="medium"
                [data]="listaFiltradaProgramas"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione un Programa'
                }"
                textField="nombre"
                valueField="id"
                [valuePrimitive]="true"
                (selectionChange)="imprimir($event)"
                [filterable]="true"
                (filterChange)="filterChangeFormulario($event)"


              >

              </kendo-dropdownlist>



              <div class="col-sm-12">
                <label id="inputModal1" class="control-label" >
                  {{labelUrl}}
                </label>
            </div>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</ng-template>
<div class="titulo">Conjunto Anuncio Campaña</div>
<!-- modal ver -->
<div class="">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div></div>
            <div class="col">
              <ng-template
                #cellTemplateGrid
                let-dataItem="dataItem"
                let-field="field"
                let-itemValue="itemValue"
              >
                <ng-container
                  *ngIf="field == 'fechaCreacionCampania'; else gridTempDefault"
                >
                  {{ itemValue | date: "dd-MM-yyyy" }}
                </ng-container>
                <ng-template #gridTempDefault>
                  {{ itemValue }}
                </ng-template>
              </ng-template>
              <!-- <k-grid-edit
                [gridData]="listaConjuntoAnuncio"
                [loader]="loaderGrid"
                [columns]="gridConjuntoAnuncio.columns"
                [commands]="gridConjuntoAnuncio.comands"
                [gridConfig]="gridConjuntoAnuncio.gridConfig"
                [gridState]="gridConjuntoAnuncio.gridState"
                [cellTemplateRef]="cellTemplateGrid"
                [commandAdd]="'external'"
                [commandEdit]="'external'"
                (OnGridEvents)="gridEventsConjuntoAnuncio($event)"
              >
              </k-grid-edit> -->

              <kendo-grid
                [data]="gridConjuntoAnuncio.view"
                [loading]="gridConjuntoAnuncio.loading"
                (dataStateChange)="gridConjuntoAnuncio.onStateChange($event)"
                [resizable]="gridConjuntoAnuncio.resizable"
                [pageable]="gridConjuntoAnuncio.pageable"
                [filterable]="gridConjuntoAnuncio.filterable"
                [pageSize]="gridConjuntoAnuncio.gridState.take"
                [skip]="gridConjuntoAnuncio.gridState.skip"
                [sort]="gridConjuntoAnuncio.gridState.sort"
              >
                <ng-template kendoGridToolbarTemplate>
                  <button
                    kendoButton
                    icon="reload"
                    fillMode="flat"
                    themeColor="secondary"
                    (click)="reloadConjuntoAnuncio()"
                  ></button>
                  <kendo-grid-spacer></kendo-grid-spacer>
                  <button
                    kendoButton
                    [themeColor]="'primary'"
                    icon="plus"
                    (click)="abrirModalConjuntoAnuncio(true, null)"
                  >
                    Agregar
                  </button>
                </ng-template>
                <kendo-grid-column field="id" title="Id" [filterable]="false">
                </kendo-grid-column>
                <kendo-grid-column
                  field="nombre"
                  title="Nombre"
                  [filterable]="true"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="idConjuntoAnuncio_Facebook"
                  title="Codigo"
                  [filterable]="true"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="fechaCreacionCampania"
                  title="Fecha Creacion"
                  [filterable]="false"
                  format="{0:MM/dd/yyyy}"
                >
                </kendo-grid-column>
                <kendo-grid-column
                  field="idProveedor"
                  title="Categoria"
                  [filterable]="false"
                >
                  <ng-template
                    kendoGridCellTemplate
                    let-dataItem
                    let-rowIndex="rowIndex"
                  >
                    {{ obtenerNombreCategoriaOrigen(dataItem.idProveedor) }}
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-command-column title="" [width]="150">
                  <ng-template
                    kendoGridCellTemplate
                    let-isNew="isNew"
                    let-dataItem="dataItem"
                    let-rowindex="rowindex"
                  >
                    <div class="w-100 d-flex justify-content-center">
                      <button
                        kendoButton
                        themeColor="primary"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Ver"
                        (click)="borrarUrl()"
                        (click)="VerModalConjuntoAnuncio(false, dataItem)"

                      >
                        <span class="k-icon k-i-check k-icon-20"></span>
                      </button>
                      <button
                        kendoButton
                        themeColor="warning"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Editar"
                        (click)="abrirModalConjuntoAnuncio(false, dataItem)"
                      >
                        <span class="k-icon k-i-edit k-icon-20"></span>
                      </button>
                      <button
                        kendoButton
                        themeColor="error"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Eliminar"
                        (click)="mostrarMensajeEliminar(dataItem, rowindex)"
                      >
                        <span class="k-icon k-i-delete k-icon-20"></span>
                      </button>
                    </div>
                  </ng-template>
                </kendo-grid-command-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

