.bg-color-material {
    background-color: #fff;
  }
  
.titulo{
  background-color: #3343a4;
  color: white;
  height: 50px;
  padding-left: 50px;
  font-size: 15px;
  line-height: 50px;
  text-align: left;
  vertical-align: middle;
}

.modal-body{
  padding: 0px !important;
}


.control-label{
  margin-top: 20px;
  margin-bottom: 20px;
}
