.rc-fecha-real {
    color: #ff8450;
    font-weight: 500;
}

.rc-tc {
    color: #0dcaf0;
    font-weight: 500;
}

.rc-estadoOcurrenciaEjecutado {
    color: #02b703;
    // color: #00b159;
}

.rc-estadoOcurrenciaAutomatico {
    color: #4d1b7b;
}

.rc-custom-table table {
    border: 1px solid #C0C0C0 !important;
}

.rc-custom-table td {
    border: 1px solid #C0C0C0 !important;
    padding: 0px !important;
}