<div class="w-100 grid-speech">
  <kendo-grid
    [kendoGridBinding]="gridResumenComentario.data"
    class="rounded-3 p-2"
    [pageable]="{
      buttonCount: 5,
      info: true,
      type: 'numeric',
      pageSizes: true,
      previousNext: true,
      position: 'bottom'
    }"
    [pageSize]="5"
    [resizable]="true"
  >
    <kendo-grid-column
      field="fechaSiguienteLlamada"
      title="Fecha"
      [width]="70"
      headerClass="justify-content-center"
      class="text-center fw-bold"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span
          [ngClass]="{
            'rc-estadoOcurrenciaEjecutado':
              dataItem.estadoOcurrencia == 'EJECUTADO',
            'rc-estadoOcurrenciaAutomatico':
              dataItem.estadoOcurrencia == 'REPROGRAMADO AUT.'
          }"
        >
          {{
            dataItem.fechaModificacion == null
              ? ""
              : (dataItem.fechaModificacion | date : "dd/MM/yyyy")
          }}
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="fechaSiguienteLlamada"
      title="Hora"
      [width]="50"
      headerClass="justify-content-center"
      class="text-center fw-bold"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <span
          [ngClass]="{
            'rc-estadoOcurrenciaEjecutado':
              dataItem.estadoOcurrencia == 'EJECUTADO',
            'rc-estadoOcurrenciaAutomatico':
              dataItem.estadoOcurrencia == 'REPROGRAMADO AUT.'
          }"
        >
          {{
            dataItem.fechaModificacion == null
              ? ""
              : (dataItem.fechaModificacion | date : "hh:mm a")
          }}
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="duracionMinutos"
      title="Duración(mins)"
      [width]="100"
      headerClass="justify-content-center"
      class="text-center fw-bold"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <!-- <div
          class="row"
          [ngClass]="{
            'rc-estadoOcurrenciaEjecutado':
              dataItem.estadoOcurrencia == 'EJECUTADO',
            'rc-estadoOcurrenciaAutomatico':
              dataItem.estadoOcurrencia == 'REPROGRAMADO AUT.'
          }"
        >
          <span class="col-12 fw-bold">{{ dataItem.duracionMinutos }}: </span>
        </div> -->
        <div
          class="row"
          [ngClass]="{
            'rc-estadoOcurrenciaEjecutado':
              dataItem.estadoOcurrencia == 'EJECUTADO',
            'rc-estadoOcurrenciaAutomatico':
              dataItem.estadoOcurrencia == 'REPROGRAMADO AUT.'
          }"
        >
          <div class="row">
            <div class="col-12">
              {{ dataItem.duracionMinutos }}&nbsp;({{
                dataItem.faseInicio
              }}&nbsp;<fa-icon
                [icon]="['fas', 'arrow-right']"
              ></fa-icon
              >&nbsp;{{ dataItem.faseDestino }})
            </div>
          </div>
          <!-- <div class="col-12 py-0 px-2 rc-custom-table">
            <table>
              <tr>
                <td>
                  <strong>Duración</strong>
                </td>
                <td>
                  {{ dataItem.duracionMinutos }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Fase I:</strong>
                </td>
                <td>
                  {{ dataItem.faseInicio }}
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Fase D:</strong>
                </td>
                <td>
                  {{ dataItem.faseDestino }}
                </td>
              </tr>
            </table>
          </div> -->
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      field="comentarioActividad"
      title="Comentario"
      [width]="350"
      headerClass="justify-content-center"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="w-100">
          <span
            class="fw-bold"
            [ngClass]="{
              'rc-estadoOcurrenciaEjecutado':
                dataItem.estadoOcurrencia == 'EJECUTADO',
              'rc-estadoOcurrenciaAutomatico':
                dataItem.estadoOcurrencia == 'REPROGRAMADO AUT.'
            }"
            >{{ dataItem.estadoOcurrencia }}:
          </span>
          <span class="fw-bold">{{ dataItem.nombreOcurrencia }}</span>
        </div>
        <hr class="my-1" />
        <div class="row">
          <span
            class="col-12"
            *ngIf="
              dataItem.comentarioActividad != null &&
                dataItem.comentarioActividad.trim() != '';
              else elseComentario
            "
            >{{ dataItem.comentarioActividad }}</span
          >
          <ng-template #elseComentario>
            <span class="col-12 text-danger">Sin Comentario</span>
          </ng-template>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
