<div class="contenedor">
  <div class="m-3 text-center">
    <div class="bg-integra text-white p-2 mt-2 fs-5 rounded-header">
      <span class="panel-title"
        >Documentos: <span id="idPrograma">{{ nombrePrograma }}</span></span
      >
    </div>
    <div class="row mt-5">
      <kendo-grid
        [kendoGridBinding]="gridDocumentacion.data"
        [pageable]="gridDocumentacion.pageable"
        [pageSize]="gridDocumentacion.pageSize"
        [selectable]="gridDocumentacion.selectable"
        [sortable]="gridDocumentacion.sortable"
        [resizable]="gridDocumentacion.resizable"
        [loading]="gridDocumentacion.loading"
      >
        <kendo-grid-column
          field="nombre"
          title="Nombre del Documento"
          [headerStyle]="{ color: '#5f75bd' }"
          [width]="320"
          headerClass="text-center"
        >
        </kendo-grid-column>
        <kendo-grid-command-column
          title="Download"
          [width]="100"
          [headerStyle]="{ color: '#5f75bd' }"
          headerClass="text-center"
        >
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <button
              kendoButton
              fillMode="solid"
              rounded="large"
              size="large"
              class="p-2 me-1 ms-1"
              container="body"
              placement="top"
              (click)="descargar(dataItem)"
              ngbTooltip="Download"
            >
              <span class="k-icon k-i-download k-icon-20"></span>
            </button>
          </ng-template>
        </kendo-grid-command-column>

        <kendo-grid-column
          field="mensaje"
          title="SI/NO"
          [width]="100"
          [headerStyle]="{ color: '#5f75bd' }"
          headerClass="text-center"
        >
          <ng-template
            kendoGridCellTemplate
            let-dataItem="dataItem"
            let-field="field"
          >
            <ng-container [ngSwitch]="dataItem.mensaje">
              <ng-container *ngSwitchCase="'Correcto'">
                <span
                  style="color: #33b6c9; font-size: 20px; padding-left: 32px"
                  class="k-icon k-i-check"
                >
                </span>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <span
                  style="color: #ff1d25; font-size: 20px; padding-left: 32px"
                  class="k-icon k-i-close"
                >
                </span>
              </ng-container>
            </ng-container>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="mensajeDetalle"
          title="Detalles"
          [headerStyle]="{ color: '#5f75bd' }"
          headerClass="text-center"
        >
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div class="w-100" [innerHtml]="dataItem.mensajeDetalle"></div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>
