.titulo{
    background-color: #3F51B5;
    color: white;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    text-align: left;
    justify-content: center;
}

.titulo2{
    background-color: #3F51B5;
    color: white;
    font-size: 15px;
    height: 40px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}

.tipo{
    width: 100%;
    margin: auto;
}

.cont{
    padding: 20px;
}

.btn{
    width: 350px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
}

.firsline{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    display: flex;

}

.btn2{
    width: 250px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid black;
    text-align: right;
    padding: 10px;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.mat-elevation-z8 {
  box-shadow: none; 
}

  .sel{
    width: 400px;
  }
  
  td {
    padding-right: 8px;
  }

  .remitente{
    width: 100%;
    border-radius: 20px;
   border: 2px solid #f0f0f0e9;
    margin-bottom: 20px;
    border-top:none;
  }

  .tit{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #f0f0f0e9;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .contenedor{
    display: flex;
  }

  .inre{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 100%;
  }

  // .ver{
 
  //   width: 50%;

  // }
  
  .para{
    width: 100%;
    border-radius: 20px;
  border:2px solid #f0f0f0e9;
    margin-bottom: 20px;
  }

  .car{
    display: flex;
    justify-content: space-between;
  }

  .car .mat-form-field{
    width: 50%;
  }
  
  
  .agfi .mat-form-field{
    width: 50%;
  }

  .btn3{
    border-radius: 20px;
    background-color: #094D82;
    width: 160px;
    height: 48px;
    color: white;
  }

  .btn3Actualizar{
    border-radius: 20px;
    background-color: #094D82;
    width: 180px;
    height: 48px;
    color: white;
  }

  .btn3Crear{
    border-radius: 20px;
    background-color: #094D82;
    width: 180px;
    height: 48px;
    color: white;
  }

  .btn3Editar{
    border-radius: 20px;
    background-color: #4600a2;
    width: 180px;
    height: 48px;
    color: white;
  }

  .btn32{
    border-radius: 20px;
    background-color: #094D82;
    width: 180px;
    height: 48px;
    color: white;
  }
  .filtro{
    display: flex;
  }

  .filtro h3{

    margin-right: 20px;
  }

  .agfi{
    display:flex ;
    width: 100%;
    justify-content: space-between;
  }

  .mat-form-field-flex {

    width: 450px !important;
}

.hor{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.progr{
  width: 100%;
  padding: 20px;
}

.progrb{
  width: 100%;
  padding: 20px;
  display: flex;
  margin: auto;
}

.send{
  width: 130px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  flex-direction: column;
}

.mail{
  font-size: 50px;
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
  // color: rgb(0,171,216);
  // color: linear-gradient(90deg, rgba(0,171,216,1) 0%, rgba(0,206,183,1) 53%, rgba(0,224,165,1) 100%);
}

.mail:before{
  // font-size: 50px;
  mix-blend-mode: screen; 
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0,171,216);
  background: linear-gradient(90deg, rgba(0,171,216,1) 0%, rgba(0,206,183,1) 53%, rgba(0,224,165,1) 100%);
}

.mat-form-field{
  width: 100%;
}

.selfe{
  display: flex;
  margin-bottom: 20px;
}

.selfe .fecha{
  width: 50%;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
}

.hora{
  width: 100px !important;
}
.colorin{
  background-color: #EEEEFF;
  border: 1px solid #2400FF;
}

.registrar{
  border-radius: 20px;
  background-color: #094D82;
  width: 200px;
  height: 48px;
  color: white;
  margin-right: 20px;
}

.cancelar{
  border-radius: 20px;
  background-color: #BA1A1A;
  width: 120px;
  height: 48px;
  color: white;
}

.botones{
  width: 100%;
  display: inline-flex;
  justify-content: end;
}

.pruebaAB{
  margin: 50px;
  text-align: center;
}

.edit{
  background-color: #094D82;
  color: white;
  margin-right: 10px;
  font-size: 15px;
}

.delete{
  background-color: #BA1A1A;
  color: white;
  font-size: 15px;
}
.dialog-gestor {
  mat-dialog-container {
    padding: 0px !important;
  }
}
