<kendo-grid
  id="my-grid"
  [kendoGridBinding]="grilla"
  [loading]="loadingGrilla"
  [sortable]="true"
  [resizable]="true"
  filterable="menu"
  [rowClass]="rowCallback"
  [(selectedKeys)]="mySelection"
  [kendoGridSelectBy]="mySelectionKey"
  [selectable]="{ mode: 'multiple', checkboxOnly: true }"
>
  <ng-template kendoGridToolbarTemplate>
    <button
      kendoButton
      icon="reload"
      fillMode="flat"
      themeColor="secondary"
      (click)="obtenerChatWhatsAppMarketing()"
    ></button>
    <div class="col-auto">
      <kendo-menu class="wm-menu" (select)="selectAccionConjunto($event)">
        <kendo-menu-item
          text="Acciones en Conjunto"
          [disabled]="mySelection.length == 0"
        >
          <kendo-menu-item text="Enviar plantilla"> </kendo-menu-item>
          <kendo-menu-item text="Marcar tipo de mensaje"> </kendo-menu-item>
          <kendo-menu-item text="Archivar"> </kendo-menu-item>
          <kendo-menu-item text="Desuscribir"> </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </div>
    <kendo-grid-spacer></kendo-grid-spacer>
    <button
      kendoButton
      icon="calendar"
      class="wm-btn-success"
      (click)="openCalendar()"
    >
      Filtro Calendario
    </button>
  </ng-template>
  <kendo-grid-checkbox-column
    [width]="45"
    headerClass="wm-header-grid"
    class="text-center"
  ></kendo-grid-checkbox-column>
  <kendo-grid-column title="N°" [width]="50" headerClass="wm-header-grid">
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
      {{ rowIndex + 1 }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="idAlumno"
    title="Id Alumno"
    [width]="95"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="alumno"
    title="Cliente"
    x
    [width]="200"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="pais"
    title="Pais"
    [width]="90"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="numeroWhatsApp"
    title="Identificador"
    [width]="125"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="rango"
    title="Rango"
    [width]="50"
    headerClass="wm-header-grid"
    class="text-center"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <span
        *ngIf="dataItem.rango === 'A'"
        style="color: #14712a; font-weight: bold"
      >
        {{ dataItem.rango }}
      </span>
      <span
        *ngIf="dataItem.rango === 'B'"
        style="color: #e0d014; font-weight: bold"
      >
        {{ dataItem.rango }}
      </span>
      <span
        *ngIf="dataItem.rango === 'C'"
        style="color: #c91517; font-weight: bold"
      >
        {{ dataItem.rango }}
      </span>
      <span
        *ngIf="
          dataItem.rango !== 'A' &&
          dataItem.rango !== 'B' &&
          dataItem.rango !== 'C'
        "
        style="font-weight: bold"
      >
        -
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="mensaje"
    title="Ultimo Mensaje"
    [width]="280"
    headerClass="wm-header-grid"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="row grid-comentario">
        <span
          container="body"
          triggers="click:blur"
          placement="top"
          [ngbTooltip]="dataItem.mensaje"
          class="col-12 text-start text-overflow-hidden"
        >
          {{ dataItem.mensaje }}
        </span>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="asesor"
    title="Asesor"
    [width]="150"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="fecha"
    title="Fecha Ultimo Mensaje"
    [width]="155"
    headerClass="wm-header-grid"
    [filterable]="false"
  >
    <ng-template
      kendoGridHeaderTemplate
      let-column
      let-columnIndex="columnIndex"
    >
      Fecha / Hora<br />Ultimo Mensaje
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.fecha }} {{ dataItem.tiempo }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="proceso"
    title="Centro Costo"
    [width]="165"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
  <kendo-grid-command-column
    title="Ver WhatsApp"
    [width]="100"
    headerClass="wm-header-grid"
  >
    <ng-template
      kendoGridHeaderTemplate
      let-column
      let-columnIndex="columnIndex"
    >
      Ver<br />WhatsApp
    </ng-template>
    <ng-template
      kendoGridCellTemplate
      let-isNew="isNew"
      let-dataItem="dataItem"
      let-rowindex="rowindex"
    >
      <div class="w-100 d-flex justify-content-center">
        <button
          kendoButton
          class="botonWhats"
          [ngClass]="{
            'btn-whatsapp-activo':
              dataItem.requiereDerivacion === true ||
              dataItem.requiereDerivacion === null,
            'btn-whatsapp-inactivo': dataItem.requiereDerivacion === false
          }"
          (click)="verWhatsApp(dataItem)"
        >
          <img src="../../../../../../assets/img/whats.png" />
        </button>
      </div>
    </ng-template>
  </kendo-grid-command-column>
  <kendo-grid-column
    field="tipoMensajeDetectado"
    title="Tipo Mensaje"
    [width]="95"
    headerClass="wm-header-grid"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <span [ngClass]="getColorClaseTipoMensaje(dataItem.tipoMensajeDetectado)">
        {{ dataItem.tipoMensajeDetectado }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="estadoInteraccion"
    title="Estado Interacción"
    [width]="70"
    headerClass="wm-header-grid"
  >
  </kendo-grid-column>
</kendo-grid>
<p *ngIf="grilla.length > 0" class="text-end p-3">
  Cantidad total: {{ grilla.length }}
</p>
