<div class="modal-header" style="background-color: #2b89b3;">
    <h2  class="modal-title mb-0" style="color: #ffffff;">Solicitud de Acceso Temporal</h2>
</div>
<div class="modal-body">
   <div class="container">
        <legend class="font-weight-bold w-auto" style="font-size: 1.2em;">Datos del alumno:</legend>
        <div class="border my-3 px-4 pt-3">
            <div class="row mb-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Alumno:
                    </strong>
                    <div class="col-lg-6">
                        <input 
                        type="text" 
                        class="form-control form-control-sm h-75"  
                        [(ngModel)]="inputSolicitudNombreAlumno" 
                        placeholder="<nombre del alumno>" 
                        disabled 
                        style="width: 100%; font-size: 1.1em"
                        />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Matricula:
                    </strong>
                    <div class="col-lg-6">
                        <input 
                        type="text" 
                        class="form-control form-control-sm h-75" 
                        [(ngModel)]="inputSolicitudCodigoMatricula" 
                        placeholder="<nombre del alumno>" 
                        disabled 
                        style="width: 100%; font-size: 1.1em"
                        />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Centro de Costo:
                    </strong>
                    <div class="col-lg-6">
                        <input 
                        type="text" 
                        class="form-control form-control-sm h-75" 
                        [(ngModel)]="inputSolicitudCentroCosto" 
                        placeholder="<nombre del alumno>" 
                        disabled 
                        style="width: 100%; font-size: 1.1em"
                        />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Programa Matriculado:
                    </strong>
                    <div class="col-lg-6">
                        <input 
                        type="text" 
                        class="form-control form-control-sm h-75" 
                        [(ngModel)]="inputSolicitudProgramadoMatriculado"  
                        placeholder="<programa>" 
                        disabled style="width: 100%; font-size: 1.1em" 
                        />
                    </div>
                </div>
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Modalidad:
                    </strong>
                    <div class="col-lg-6">
                        <input 
                        type="text" 
                        class="form-control form-control-sm h-75" 
                        [(ngModel)]="inputSolicitudModalidad"  
                        placeholder="<programa>" 
                        disabled style="width: 100%; font-size: 1.1em" 
                        />
                    </div>
                </div>
            </div>
        </div>

        <legend class="font-weight-bold w-auto" style="font-size: 1.2em;">Accesos temporales:</legend>
        <div class="border my-3 px-4 pt-3">
            <div class="row mb-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Programa asignado:
                    </strong>
                    <div class="col-lg-6">
                        <kendo-dropdownlist
                        style="width: 540px"
                        [data]="inputSolicitudProgramaAsignado"
                        [ngModel]="inputSolicitudProgramaAsignado_indice"
                        [textField]="'nombrePEspecifico'"
                        [valueField]="'idPEspecifico'"
                        [valuePrimitive]="true"
                        [filterable]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [disabled]="readonlyAccesostemporales"
                        (valueChange)="onProgramaChange($event)"
                        [popupSettings]="{
                            width: 250
                        }"
                        >
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Cursos asignados:
                    </strong>
                    <div class="col-lg-6">
                        <kendo-dropdownlist
                        style="width: 540px"
                        [data]="inputSolicitudCursoAsignado"
                        [ngModel]="inputSolicitudCursoAsignado_indice"
                        [textField]="'nombrePEspecifico'"
                        [valueField]="'idPEspecifico'"
                        [valuePrimitive]="true"
                        (valueChange)="onCursoChange($event)"
                        [popupSettings]="{
                            width: 250
                        }"
                        [disabled]="readonlyAccesostemporales"
                        >
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    aling = "left"
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Fecha Inicio:
                    </strong>
                    <div class="col-lg-6">
                        <kendo-datepicker
                        [(ngModel)] = "inputSolicitudFechaInicio"
                        [max]="maxFechaSolicitud"
                        [disabled]="readonlyAccesostemporales"
                        >
                        </kendo-datepicker>
                    </div>
                </div>
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Fecha Fin
                    </strong>
                    <div class="col-lg-6">
                        <kendo-datepicker
                        [(ngModel)] = "inputSolicitudFechaFin"
                        [max]="maxFechaSolicitud"
                        [disabled]="readonlyAccesostemporales"
                        >
                        </kendo-datepicker>
                    </div>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-lg-6 row mb-2">
                    <strong 
                    class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                    >
                    Observaciones:
                    </strong>
                    <div class="col-lg-6">
                        <kendo-textarea
                        [(ngModel)]="inputObservacion"
                        resizable="auto"
                        [style.width.px]="500"
                        [disabled]="readonlyAccesostemporales"
                        placeholder="Ingrese observaciones"
                        >
                        </kendo-textarea>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="readonlyAccesostemporales">
            <legend class="font-weight-bold w-auto" style="font-size: 1.2em;">Ampliacion Accesos temporales:</legend>
            <div class="border my-3 px-4 pt-3">
                <div class="row m-3">
                    <div class="col-lg-6 row mb-2">
                        <strong 
                        class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                        >
                        Fecha Inicio:
                        </strong>
                        <div class="col-lg-6">
                            <kendo-datepicker
                            [(ngModel)] = "inputSolicitudFechaInicioAmpliacion"
                            [disabled]="true"
                            >
                            </kendo-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-6 row mb-2">
                        <strong 
                        class="col-lg-4 col-form-label control-label label-text font-weight-bold"
                        >
                        Fecha Fin
                        </strong>
                        <div class="col-lg-6">
                            <kendo-datepicker
                            [(ngModel)] = "inputSolicitudFechaFinAmpliacion"
                            [min]="inputSolicitudFechaFinAmpliacion"
                            [max]="maxFechaSolicitudAmpliacion"
                            >
                            </kendo-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <strong 
                    class="col-lg-2 col-form-label control-label label-text font-weight-bold"
                    >
                    Observaciones:
                    </strong>
                    <div class="col-lg-3">
                        <kendo-textarea
                        [(ngModel)]="inputObservacionAmpliacion"
                        resizable="auto"
                        [style.width.px]="500"
                        placeholder="Ingrese observaciones"
                        >
                        </kendo-textarea>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button 
    type="button" 
    class="btn btn-success"
    (click)="RegistrarSolicitudOperacionesDirecto()"
    [disabled]="buttonGuardar"
    >
    Guardar
    </button>
    <button 
    type="button" 
    class="btn btn-danger" 
    (click)="activeModal.close('Close click')">
    Cancelar
    </button>
</div>