<div class="row mb-3 text-white mx-0">
  <div
    class="col-sm-12 col-md bg-smoke py-2"
    style="border-radius: 1rem 0 0 1rem"
  >
    <span>Curso de {{ programaGeneral }}</span>
  </div>
  <div
    class="col-sm-12 col-md-auto bg-orange py-2"
    style="border-radius: 0 1rem 1rem 0"
  >
    <span class="px-2">Fase de oportunidad: ({{ rowActual.codigoFase }})</span>
  </div>
</div>
<div class="row grid-custom" id="gridVentaCruzada2">
  <kendo-grid
    [kendoGridBinding]="gridVentaCruzada.data"
    scrollable="none"
    class="rounded-3 p-2"
  >
    <kendo-grid-column
      field="programa"
      title="Programa"
      [width]="250"
    ></kendo-grid-column>
    <kendo-grid-column field="probabilidad" title="Probabilidad" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div
          class="text-center fw-bold"
          [ngStyle]="{
            color:
              dataItem.probabilidad == 'Muy Alta'
                ? '#429d00'
                : dataItem.probabilidad == 'Alta'
                ? '#004792'
                : dataItem.probabilidad == 'Baja'
                ? '#ed1c24'
                : '#fbb03b'
          }"
        >
          {{ dataItem.probabilidad }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="precio" title="Precio" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          <span class="fw-bold">Credito</span
          >{{
            dataItem.matricula
              ? " Total " + dataItem.precio
              : " Contado " + dataItem.contado
          }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="comision" title="Comision" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          {{ dataItem.comision }}
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="Cambiar" [width]="40">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="text-center">
          <button
            class="btn btn-sm btn-info rounded-circle border border-white"
            (click)="nuevaOportunidadVentaCruzada(dataItem)"
          >
            <span class="k-icon k-i-check text-white"></span>
          </button>
        </div>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>
