.header-grupogreen{
  background-color:#27ae60;
  color: white;
  }
  .header-yellowColunm{
    background-color: #f1c40f;
    color: white;
  }
  .header-orangeColunm{
    background-color:#e67e22;
    color: white;
  }
  .header-blueColunm{
    background-color:#3498db;
    color: white;
  }
  .header-redColunm{
    background-color:#e74c3c;
    color: white;
  }

  .header-skyblueColunm{
    background-color:#5098B6;
    color: white;
  }

.k-grid-header {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-red{
  background-color: red;
  color: white;
}
.header-green{
  background-color: rgb(65, 170, 109);
  color: white;
}
.header-green2{
  background-color: rgb(27, 200, 64);
  color: white;
}
.header-orange{
  background-color: rgb(241, 117, 21);
  color: white;
}
.header-orange2{
  background-color: rgb(246, 192, 32);
  color: white;
}
.header-red{
  background-color: rgb(192, 61, 44);
  color: white;
}
.header-red2{
  background-color: rgb(166, 51, 39);
  color: white;
}
.header-blue{
  background-color: rgb(73, 193, 226);
  color: white;
}
.header-blue2{
  background-color: rgb(40, 160, 182);
  color: white;
}

.color-black{
  color: black !important;
}
.sin-asignacion-pais {
  /* Estilos que deseas aplicar a la fila completa cuando asignacionPais esté vacío */
  background-color: rgb(65, 170, 109);
  /* Otros estilos... */
}


#my-grid tr.green {
  background-color: #b2f699;
}
#my-grid tr.blanco {
  background-color: #ffffff;
}
