.k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #3f51b5;
  }
  .t_font{
    font-size: smaller;
}
  
  
  .k-icon-20 {
    font-size: 20px !important;
  }
  .center{
    text-align: center;
}
.element {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(1, 172, 184);
}

.k-grid-header{
  background-color: #3343a4 !important;
}
.custom-styling {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: inherit;
}
