<div class="contenedor">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">
          WhatsApp Envio Erroneo
          </h3>
        </div>
        <div class="card-body p-4" id="grillaAgendaTab">
          <div class="row d-flex justify-content-center mb-4">
            <div class="col-8">
              <div class="card-body k-form k-form-horizontal">
                <div class="row">
                  <div class="col-lg-6">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="fechaInicioi" class="k-label">
                        Fecha Inicio:
                      </label>
                      <kendo-datepicker
                        #fechaInicioi
                        [formControl]="fechaInicio"
                        format="yyyy-MM-dd"
                      >
                      </kendo-datepicker>
                    </kendo-formfield>
                  </div>

                  <div class="col-lg-6">
                    <kendo-formfield orientation="horizontal">
                      <label [for]="fechaFini" class="k-label">
                        Fecha Fin:
                      </label>

                      <kendo-datepicker
                        #fechaFini
                        [formControl]="fechaFin"
                        format="yyyy-MM-dd"
                      >
                      </kendo-datepicker>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-12 d-flex justify-content-end">
                    <button
                      kendoButton
                      themeColor="primary"
                      icon="k-icon k-i-search k-icon-20"
                      type="button"
                      (click)="BuscarPorFiltro()"
                    >
                      Buscar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
    <div class="">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-color-material pb-0">
              <h3 class="text-white mb-2">Registros Erroneos - Portal</h3>
            </div>
            <div class="card-body p-4">
              <div class="row">
                <div class="col">
                  <kendo-grid
                    [loading]="gridReporteWhatsAppErroneo.loading"
                    [pageSize]="gridReporteWhatsAppErroneo.data.length"
                    [sortable]="true"
                    [filterable]="true"
                    [pageable]="{
                      buttonCount: 5,
                      info: true,
                      type: 'numeric',
                      pageSizes: true,
                      previousNext: true,
                      position: 'bottom'
                    }"
                    [kendoGridBinding]="gridReporteWhatsAppErroneo.data"
                    style="max-height: 700px"
                  >
                    <ng-template kendoGridToolbarTemplate>
                      <button
                        kendoButton
                        icon="reload"
                        fillMode="flat"
                        themeColor="secondary"
                        (click)="obtenerGrilalRegistroLandingPage()"
                      ></button>
                      <kendo-grid-spacer></kendo-grid-spacer>
                    </ng-template>

                    <kendo-grid-column
                      field="idAlumno"
                      title="ID Alumno"
                      [width]="270"
                      headerClass="headerGridChat"
                    >
                    </kendo-grid-column>

                    <kendo-grid-column
                      field="MensajePlantillaHtml"
                      title="Mensaje Plantilla"
                      [width]="270"
                      headerClass="headerGridChat"
                    >
                    </kendo-grid-column>

                    <kendo-grid-column
                      field="NumeroEnviado"
                      title="Numero Enviado"
                      [width]="270"
                      headerClass="headerGridChat"
                    >
                    </kendo-grid-column>

                    <kendo-grid-column
                      field="MensajeErroneo"
                      title="Mensaje Erroneo"
                      [width]="270"
                      headerClass="headerGridChat"
                    >
                    </kendo-grid-column>

                    <kendo-grid-column
                      field="IdPais"
                      title="Pais"
                      [width]="270"
                      headerClass="headerGridChat"
                    >
                    </kendo-grid-column>

                    <kendo-grid-column
                      field="fechaCreacion"
                      title="Fecha Registro"
                      [width]="270"
                      headerClass="headerGridChat"
                    >
                    </kendo-grid-column>

                    <ng-template
                      kendoPagerTemplate
                      let-totalPages="totalPages"
                      let-currentPage="currentPage"
                    >
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                      <kendo-pager-numeric-buttons
                        [buttonCount]="5"
                      ></kendo-pager-numeric-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                      <!-- <kendo-pager-input></kendo-pager-input> -->
                      <kendo-pager-info></kendo-pager-info>
                      <kendo-pager-page-sizes
                        [pageSizes]="pageSizes"
                      ></kendo-pager-page-sizes>
                    </ng-template>
                  </kendo-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


