@import "./dp-variables.scss";



.ktt-datosPgeneral {

  .headerCustomClass {
    color: #fff;
    background-color: $dpc_kheader;
    text-align: center;
  }

  th.headerCustomClass {
    justify-content: center;
  }


  .k-tabstrip-items-wrapper {
    background-color: $pg_secundario;
    color: #fff;
  }

  .k-tabstrip-top>.k-tabstrip-items-wrapper .k-item.k-active {
    background-color: $pg_principal;
    border-bottom-color: #fff;
    font-weight: 500 !important;
    border-bottom-width: 5px;
    color: #fff;
  }


  .k-tabstrip-scrollable>.k-tabstrip-items-wrapper>.k-button .k-button-icon {
    color: #fff !important;
  }

  .k-tabstrip-items .k-state-active {
    background-color: $pg_principal;
    color: #fff;
  }

  .k-item {
    background: $pg_secundario;
    height: 60px;
    color: #fff
  }

  .k-item .k-state-hover {
    background: $pg_media !important;
  }

  .k-item:hover,
  .k-tabstrip-items-wrapper .k-item.k-hover {
    color: #fff;
    background-color: $pg_media;
  }
}


