.center{
    text-align: center;
}

.space{
    margin-left: 1rem;
}

.t_font{
    font-size: smaller;
}

.bg-primary {
    background-color: #1b8eb1 !important;
}

.conteiner{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.card-head{
    height: 3%;
    padding:0px;
    border-bottom-width: 0px;
}
.cabecera{
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
}
.cuerpo{
    padding-top: 4% !important;
}

.element {
    border-width: 1px;
    border-style: solid;
    border-color: #1b8eb1;
  }

  .k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #3f51b5;
  }

  
  
  .k-icon-20 {
    font-size: 20px !important;
  }
