<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h2 class="text-white mb-2">Configuración de Problema Cliente</h2>
        </div>

        <div class="card-body p-4">
          <kendo-tabstrip>
            <kendo-tabstrip-tab
              [title]="'Problema Cliente Factor'"
              [selected]="true"
            >
              <ng-template kendoTabContent>
                <app-programa-general-problema-factor></app-programa-general-problema-factor>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Etiqueta del Problema'">
              <ng-template kendoTabContent>
                <app-programa-general-problema-factor-detalle></app-programa-general-problema-factor-detalle>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Problema Solucion'">
              <ng-template kendoTabContent>
                <app-programa-general-problema-factor-solucion></app-programa-general-problema-factor-solucion>
              </ng-template>
            </kendo-tabstrip-tab>
            <kendo-tabstrip-tab [title]="'Problema SubSolucion'">
              <ng-template kendoTabContent>
                <app-programa-general-problema-factor-sub-solucion></app-programa-general-problema-factor-sub-solucion>
              </ng-template>
            </kendo-tabstrip-tab>
          </kendo-tabstrip>

        </div>
      </div>
    </div>
  </div>
</div>
