.element {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(1, 172, 184);
}

.cellCustomClass {
  color: #fff;
}

.fileInput {
  width: 99.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.k-icon-20 {
  font-size: 20px; /* Sets icon size to 48px */
}

.text-valid-success {
  color: #55ae2f !important;
}

.card {
  border-top-width: 0px !important;
}

.btn-save {
  background-color: #187e29;
  color: whitesmoke;
}

.btn-save:hover {
  background-color: #146722;
}

.btn-formato{
    background-color: #007F84;
    color: whitesmoke;
  }
  
  .btn-formato:hover{
    background-color: #026e72;
  }