

.botonModalcomentario{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.botonModalcomentario:hover {
  /* Estilos de hover existentes */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
}
.estilocatpago{
  background-color: rgb(200, 224, 255);
  height: 20px;
  display: flex;
  width: 100px;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  display: inline-block;
  text-align: center;

}
.estilocategoria{
  color: #0079FF;
}

table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid white;
}

.mat-header-cell {
  background-color: #ff6113;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 24px !important;
}

td.mat-cell {
  padding: 15px !important;
  border-right: 1px solid lightgray !important;
  border-bottom: none !important;
}

nav {
  display: flex; /* Arrange list items horizontally */
  justify-content: center; /* Center the pagination links */
  margin: 20px 0; /* Add some margin for better spacing */
}
