.text-overflow-hidden{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.color-centro-costo{
  font-weight: 590;
  color: rgb(218, 194, 12)
}
.grid-comentario .tooltip-inner {
  max-width: 300px !important;
}
// .msWhatsApp .k-command-cell{
//   background-color: #146613 !important;
// }
.k-grid tr.msWhatsApp {
  background-color: #146613 !important;
  color: white;
}
.k-grid tr.msWhatsApp:hover {
  background-color: #146613 !important;
}
.k-grid tr.msWhatsApp:focus {
  background-color: #19e3c8 !important;
}