.bgInputIA {
  background: #e5e5e5;
}

.rounded-custom-1 {
  border-radius: 1rem !important;
}

.rounded-custom-2 {
  border-radius: 0.5rem !important;
}

.danger {
  color: red !important;
}

.success {
  color: #088a08 !important;
}

.default {
  color: black !important;
}

.k-icon-size {
  font-size: 20px;
  /* Sets icon size to 32px */
}

.k-grid .k-master-row>td:focus {
  // box-shadow: inset 0 0 0 2px rgb(0 0 0 / 12%);
  box-shadow: none !important;
}

.k-grid th:focus {
  // box-shadow: inset 0 0 0 2px rgb(0 0 0 / 12%);
  box-shadow: none !important;
}

.grid-speech .k-grid .k-grid-aria-root {
  border-radius: 15px;
}

.grid-custom .k-header {
  text-align: center !important;
  color: #5f75bd;
  font-weight: bold;
}

.check-rojo:checked {
  border-color: red !important;
  background-color: red !important;
}

.check-verde {
  border-color: green !important;
  background-color: green !important;
}

.btn-link {
  text-decoration: none;
  cursor: pointer;
}

.check-speech .k-checkbox {
  border-color: #fa4931 !important;
  border-width: 2px !important;
  // background-color: #ffffff;
}

.check-speech .k-checkbox:checked,
.k-checkbox.k-checked {
  border-color: #fa4931 !important;
  color: white !important;
  background-color: #fa4931 !important;
}

// seccion speech
#divCabeceraSpeech {
  padding: 5px 0px;
  color: white;
  text-align: center;
  font-size: 25px;
  height: 50px;
}

#divContenedorSpeech .div-disabled {
  background-color: #e4e6db;
  color: #495057;
  border-radius: 0.7rem;
  height: calc(2.25rem + 2px);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#divContenedorSpeech .div-disabled-white {
  background-color: white;
  color: #495057;
  border-radius: 0.7rem;
  height: calc(2.25rem + 2px);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

#divContenedorSpeech .div-disabled-white-semi {
  background-color: white;
  color: #495057;
  border-radius: 0.7rem 0 0 0.7rem;
  height: calc(2.25rem + 2px);
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.div-disabled {
  background-color: #e4e6db;
}

.div-disabled-white {
  background-color: white;
}

.grid-speech .k-header {
  color: #5c73bc;
  font-size: 1rem;
  // border: none !important;
  font-weight: 550;
  // background-color: #bfdbf1;
  // border-radius: 15px !important;
}

.grid-speech kendo-grid {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
}

.grid-speech kendo-grid thead>tr>th:first-child {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  // border-left: 1px solid;
  // border-color: darkblue;
}

.grid-speech kendo-grid thead>tr>th:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  // border-right: 1px solid;
  // border-color: darkblue;
}


.grid-speech .k-grid tr.k-alt {
  background-color: #ffffff !important;
  // background-color: rgba(0, 0, 0, 0.08);
}

.grid-speech .k-grid tbody>tr:not(.k-detail-row):hover,
.k-grid tbody>tr:not(.k-detail-row).k-state-hover,
.k-grid tbody>tr:not(.k-detail-row).k-hover {
  background-color: #ededed !important;
}

.img-redonda {
  margin-top: -10px;
  margin-left: -2.92px;
  width: 24px;
  height: 36px;
}

.contenedorUbicacion {
  color: #9c9b97;
  font-size: 18px;
  font-weight: normal;
  float: right !important;
}

.ubicacionAlumno {
  float: right !important;
  padding-left: 20px;
}

.faseAlumno {
  color: #7B7B7B;
  font-size: 18px;
  font-weight: normal;
  padding-right: 2rem;
  float: right;
  padding-top: 1rem !important;
}

.divPGCCCabecera {
  color: #7B7B7B;
  font-size: 18px;
  font-weight: normal;
}


.content-img-pais {
  height: 20px;
  width: 20px;
  overflow: hidden;
  border-radius: 20px;
  float: left !important;
}


.form-radius-15 {
  border-radius: 13px;
}

.form-radius-15-left {
  border-top-left-radius: 13px !important;
  border-bottom-left-radius: 13px !important;
}

.form-radius-15-right {
  border-top-right-radius: 13px !important;
  border-bottom-right-radius: 13px !important;
}

.nowrapText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-group-clear {
  background: none;
  border: none;
  padding: 0px;
  padding-left: 1px;
  padding-right: 1px;
}

.rounded-header {
  border-radius: 1rem 1rem 0 0;
}

.check-phone {
  font-size: 20px;
  color: lightseagreen;
}

.check-estadoFalso {
  font-size: 20px;
  color: rgb(95, 95, 95);
}

.form-control-ficha {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}



// .my-swal {
//   z-index: 9997;
// }

.text-letter-spacing {
  letter-spacing: 0.1rem !important;
}

.bloqueAcordion {
  border: 1px solid rgba(0, 0, 0, .125) !important;
  border-radius: 1rem !important;
  margin-bottom: 15px;
}

.accordion-flush .accordion-item {
  border-top: 0;
  border-bottom: 0;
}

.div-semaforo {
  border: 1px solid #dfdfdf;
  padding: 10px;
  border-radius: 0.4rem;
  background-color: #fbfbfb;
  font-size: 14px;
  color: #5a79e1;
  width: 95%;
  display: block;
  float: left;
}

.bg-orange {
  background: #ff8a18;
}

.bg-smoke {
  background: #9eacdb;
}

.rc-fecha-programada {
  color: #ff8450;
  font-weight: 500;
}

.rc-fecha-real {
  color: #53bd75;
  font-weight: 500;
}

.rc-tt {
  color: #9166b3;
  font-weight: 500;
}

.rc-tc {
  color: #0dcaf0;
  font-weight: 500;
}


.esLlamada3cx {
  text-decoration: underline;
  color: blue !important;
}

.esLlamadaRingover {
  text-decoration: underline;
  color: #07ad9c !important;
  font-weight: bold;
}

.esLlamadaWavix {
  text-decoration: underline;
  color: brown !important;
  font-weight: bold;
}

.esLlamadaIntegra {
  text-decoration: underline;
  color: #212121 !important;
}

.esLlamadaWolkbox {
  text-decoration: underline;
  color: #9a0f3d !important;
}

#cuadrado1Llamada {
  width: 20px;
  height: 15px;
  background: black;
}

#cuadrado2Llamada {
  width: 20px;
  height: 15px;
  background: blue;
}

#cuadrado3Llamada {
  width: 20px;
  height: 15px;
  background: #07ad9c;
}

#cuadrado4Llamada {
  width: 20px;
  height: 15px;
  background: #9a0f3d;
}

.chwc-block-message {
  background-color: #e5ddd5;
  overflow-y: scroll;
  height: 450px;
}


.chwc-images span a img {
  width: 100%;
}

.chwc-hora-chat {
  font-size: 11.5px;
  color: #7c7979;
}

.chat-whatsapp-c video {
  max-width: 100%;
  padding-right: 0.5rem;
}

.chwc-visto {
  margin-left: -5px;
}

#whatsappautomaticos {
  width: 30px;
  height: 17px;
  background: #92a1d3;
  border: 2.5px solid #787878;
}

#whatsappmanuales {
  width: 30px;
  height: 17px;
  background: #d9fdd3;
  border: 2.5px solid #787878;
}

.rc-estadoOcurrenciaEjecutado {
  color: #02b703;
  // color: #00b159;
}

.rc-estadoOcurrenciaAutomatico {
  color: #4d1b7b;
}
