<div class="card">
  <div class="all">
    <div class="column">
      <mat-checkbox
        (change)="setAll($event.checked)"
        class="example-margin"
        [(ngModel)]="datos"
        >¿Considerar interaccion formulario?</mat-checkbox
      >

      <div
        class="alert alert-danger"
        role="alert"
        style="margin: 0px; margin-left: 10px"
      >
        <b>Nota:</b> **Los filtros de interaccion formulario aplican unicamente
        sobre el contacto
      </div>
    </div>

    <ng-container *ngIf="datos == true">
      <div class="card">
        <div class="column">
          <h3>Rango de fecha a considerar</h3>
        </div>
        <div class="column">
          <h3>Desde:</h3>

          <kendo-datepicker
          calendarType="classic"
          style="margin-right:10px"
          [(ngModel)]="FechaInicioFormulario"
        ></kendo-datepicker>

          <h3>Hasta:</h3>

          <kendo-datepicker
          calendarType="classic"
          style="margin-right:10px"
          [(ngModel)]="FechaFinFormulario"
        ></kendo-datepicker>

       
        </div>
      </div>
      <div class="card">
        <div class="column">
          <h3>Formulario:</h3>
          <div class="example-chip-list w-100">
            <kendo-multiselect
              class="w-100"
              [data]="listaFormulariosF"
              [filterable]="true" 
              #formularioF
              [(ngModel)]="formularios"
              [textField]="'nombre'"
              [valueField]="'id'"
              (valueChange)="valueChangeFormulario($event)"
              (filterChange)="filterChangeFormulario($event)"
              (removeTag)="removeTagFormulario($event)"
            ></kendo-multiselect>
          </div>
        </div>

        <div class="column">
          <h3>Tipo Interaccion:</h3>
          <div class="example-chip-list w-100">
            <kendo-multiselect
              class="w-100"
              [data]="listaTipoInteraccionF"
              [filterable]="true" 
              #tipoInteraccionF
              [(ngModel)]="tipoInteracciones"
              [textField]="'nombre'"
              [valueField]="'id'"
              (valueChange)="valueChangeTipoFormulario($event)"
              (filterChange)="filterChangeTipoFormulario($event)"
              (removeTag)="removeTagTipoFormulario($event)"
            ></kendo-multiselect>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
