<div class="custom-toolbar">
  <button
    kendoButton
    fillMode="flat"
    size="large"
    (click)="drawerToggle()"

  >
    <span class="k-icon k-i-menu" style="
    font-size: 30px !important;
"></span>
  </button>
  <span class="header" style="font-size: 25px !important;"> BSG Institute </span>
</div>
<kendo-drawer-container id="content-drawer-component" style="height: 92%">
  <kendo-drawer
    #drawer
    [items]="items"
    mode="push"
    [expanded]="false"
    [autoCollapse]="false"
    (select)="onSelect($event)"
    [style]="flexBasis"
  >
  <!-- [style]="flexBasis" -->
    <ng-template kendoDrawerItemTemplate let-item>
      <div class="k-level-{{ item.level }}">
        <span class="k-icon {{ item.icon }}" ></span>
      </div>
      <span>
        {{ item.text }}

      </span>

      <span
        *ngIf="item.expanded && item.children"
        class="k-icon k-i-arrow-chevron-down"
        style="margin-left: auto; line-height: inherit"
      ></span>

      <span
        *ngIf="!item.expanded && item.children"
        class="k-icon k-i-arrow-chevron-right"
        style="margin-left: auto; line-height: inherit"
      ></span>
    </ng-template>
  </kendo-drawer>

  <kendo-drawer-content
    class="container-fluid"
    style="width: 100%; height: 100%; padding-bottom: 55px; padding-top: 40px; padding-left: 40px; padding-right: 40px;"
  >
    <!-- <drawer-content [selectedItem]="selected"></drawer-content> -->
    <ng-content #contentDrawer></ng-content>
  </kendo-drawer-content>
</kendo-drawer-container>
