// .k-i-loading {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   font-size: 64px;
//   background-color: rgba(255, 255, 255, 0.3);
//   color: #3f51b5;
// }



kendo-drawer-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.k-drawer-content {
  overflow-x: auto;
}

// kendo-drawer-content {
//   height: 500px;
//   overflow: auto;
//   padding-left: 10px;
// }

// .k-drawer-wrapper{

//   // width: 100%;
//   // height: 100%;
// }

// kendo-drawer-container {
//   flex: 1 1 auto;
//   overflow-y: auto;
// }

// .kendo-drawer-content {
//   position: fixed;
// }


// kendo-drawer-container {
//   position: fixed;
//   width: 100%;
//   height: 100%;
// }

.k-drawer-content {
  padding: 15px;
}
.k-drawer-wrapper {
  width: 270px !important;
  // position: fixed;
}
.k-i-menu {
  font-size: 25px;
}
.header {
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}



// .header {
//   text-align: center;
//   margin-bottom: 30px;
// }

.custom-toolbar {
  width: 270px;
  // background-color: #f6f6f6;
  background-color: var(--mdc-theme-primary, #094d82);
  border-bottom: inset;
  border-bottom-width: 1px;
  padding: 3px 8px;
  // color: #656565;
  color: #ffffff;
  line-height: 50px;
}

.k-level-1 {
  padding-left: 20px;
}



