.div-semaforo {
    border: 1px solid #dfdfdf;
    padding: 10px;
    border-radius: 0.4rem;
    background-color: #fbfbfb;
    font-size: 14px;
    color: #5a79e1;
    width: 95%;
    display: block;
    float: left;
}

::ng-deep .grid-custom-header .k-grid-header .k-header {
    color: #5c73bc !important;
    font-size: 1rem;
    font-weight: 550;
}

.rounded-custom {
    border-radius: 1rem !important;
    padding: 12px !important;
}