<div class="card">
  <div class="all">
    <div class="column">
      <mat-checkbox
        (change)="setAll($event.checked)"
        class="example-margin"
        [(ngModel)]="datos"
        >¿Considerar categoria dato?
      </mat-checkbox>

      <div
        class="alert alert-danger"
        role="alert"
        style="margin: 0px; margin-left: 10px"
      >
        <b>Nota:</b> **Este filtro aplica sobre los resultados de oportunidades
        historicas
      </div>
    </div>

    <ng-container *ngIf="datos == true">
      <div class="formulario">
        <div class="column">
          <h3>Grupo:</h3>

          <div class="example-chip-list w-100">
            <kendo-multiselect
              class="w-100"
              [data]="listaGrupoF"
              placeholder="-Todos-"
              #grupoF
              [filterable]="true"
              [(ngModel)]="tipocategorias"
              [textField]="'nombre'"
              [valueField]="'id'"
              (valueChange)="valueChangeGrupo($event)"
              (filterChange)="filterChangeGrupo($event)"
              (removeTag)="removeTagGrupo($event)"
            ></kendo-multiselect>
          </div>
        </div>

        <div class="column">
          <h3>Categoria Dato:</h3>
          <div class="example-chip-list w-100">
            <kendo-multiselect
              class="w-100"
              [data]="listaCategoriaF"
              placeholder="-Todos-"
              #categoriaF
              [filterable]="true"
              [(ngModel)]="categorias"
              [textField]="'nombre'"
              [valueField]="'id'"
              (valueChange)="valueChangeCategoria($event)"
              (filterChange)="filterChangeCategoria($event)"
              (removeTag)="removeTagCategoria($event)"
            ></kendo-multiselect>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
