
<div class="contenedor" #revisaraprobarmaterial id="revisaraprobarmaterial">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0 bg-color-material">
          <h2 class="mb-2 text-white text-center">
            (O) Gestión de Envio de Materiales
          </h2>
        </div>
        <div class="card-body p-4 k-form k-form-horizontal">
          <div class="row mt-1">
            <legend class="col fw-bold fs-6">Búsqueda por:</legend>
          </div>
          <form [formGroup]="formFiltro">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Área
                      </label>
                      <kendo-multiselect
                        [data]="dataArea"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsAreas"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        (valueChange)="cargarSubAreas($event)"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Sub Área
                      </label>
                      <kendo-multiselect
                        [data]="subAreasCapacitacion"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsSubAreas"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [disabled]="isDisabledSubArea"
                        (valueChange)="cargarPGenerales($event)"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Programa General
                      </label>
                      <kendo-multiselect
                        [data]="programasGeneralP"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsProgramasGenerales"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [disabled]="isDisabledPGeneral"
                        (valueChange)="cargarPEspecificos($event)"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Programa Específico
                      </label>
                      <kendo-multiselect
                        [data]="programasEspecifico"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsProgramasEspecificoPadreIndividual"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                        [disabled]="isDisabledPEspecifico"
                        (valueChange)="cargarPEspecificoCurso($event)"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Curso
                      </label>
                      <kendo-multiselect
                        [data]="programaEspecificoCurso"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsProgramasEspecificoCurso"
                        [valuePrimitive]="true"
                        [disabled]="isDisabledPEspecificoCurso"
                        [kendoDropDownFilter]="filterSettings"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Grupo
                      </label>
                      <kendo-multiselect
                        [data]="dataGrupo"
                        [filterable]="true"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsGrupos"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Estado Programa Específico
                      </label>
                      <kendo-multiselect
                        [data]="dataEstadoPEspecifico"
                        [filterable]="true"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsEstadosPEspecifico"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Ciudad
                      </label>
                      <kendo-multiselect
                        [data]="dataCiudadBS"
                        [filterable]="true"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsCiudades"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Modalidad
                      </label>
                      <kendo-multiselect
                        [data]="dataModalidad"
                        [filterable]="true"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsModalidades"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <kendo-formfield orientation="horizontal">
                      <label
                        class="k-label pt-0 d-flex align-items-start text-start"
                      >
                        Estado de Material
                      </label>
                      <kendo-multiselect
                        [data]="dataMaterialEstado"
                        [filterable]="true"
                        textField="nombre"
                        valueField="id"
                        formControlName="idsEstadosMateriales"
                        [valuePrimitive]="true"
                        [kendoDropDownFilter]="filterSettings"
                      ></kendo-multiselect>
                    </kendo-formfield>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer py-3">
          <div class="k-form-buttons m-0 justify-content-end">
            <button
              themeColor="primary"
              kendoButton
              icon="search"
              themeColor="success"
              (click)="generarReporte()"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0 bg-color-material">
          <div class="row d-flex justify-content-between">
            <div class="col">
              <h2 class="mb-2 text-white text-center">Lista de Materiales</h2>
            </div>
          </div>
        </div>
        <br />
        <div style="padding-left: 16px; padding-right: 16px">
          <div style="padding-left: 250px; background-color: orange; color: white">
            <div class="col-sm-12 container">
              <div class="col-sm-10">
                <div class="row">
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    G.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Grupo</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    G.E.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Grupo de edicion</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    O.G.E.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Orden dentro del grupo de edicion</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-left: 16px; padding-right: 16px">
          <div style="padding-left: 250px; background-color: orange; color: white">
            <div class="col-sm-12 container">
              <div class="col-sm-10">
                <div class="row">
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    T.M.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Tipo de material</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    V.M.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Version de material</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    E.M.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Estado de material</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-left: 16px; padding-right: 16px">
          <div style="padding-left: 250px; background-color: orange; color: white">
            <div class="col-sm-12 container">
              <div class="col-sm-10">
                <div class="row">
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    F.S.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Fecha de subida de archivo</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    U.S.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Usuario que subio archivo</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    N.A.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Nombre del archivo</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-left: 16px; padding-right: 16px">
          <div style="padding-left: 250px; background-color: orange; color: white">
            <div class="col-sm-12 container">
              <div class="col-sm-10">
                <div class="row">
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    F.A.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Fecha de aprobación</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                    F.I.
                  </div>

                  <div class="col-sm-3" style="padding-top: 3px;">Fecha de inicio del curso</div>
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px; padding-bottom: 3px;"
                  >
                    U.A.
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px; padding-bottom: 3px;">Usuario de aprobación</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div style="padding-left: 16px; padding-right: 16px">
          <div style="padding-left: 250px; background-color: orange; color: white">
            <div class="col-sm-12 container">
              <div class="col-sm-10">
                <div class="row">
                  <div
                    class="col-sm-1"
                    style="padding-top: 3px;"
                  >
                  T.F.A
                  </div>
                  <div class="col-sm-3" style="padding-top: 3px;">Tiene fur asociado</div>




                  </div>

              </div>
            </div>
          </div>
        </div>


        <div class="card-body">
          <kendo-grid
            [kendoGridBinding]="gridGestionarEnvioMateriales.data"
            [loading]="gridGestionarEnvioMateriales.loading"
            [selectable]="true"
            [sortable]="true"
            [resizable]="true"
            [pageable]="{
              buttonCount: 5,
              info: true,
              type: 'numeric',
              pageSizes: true,
              previousNext: true,
              position: 'bottom'
            }"
            [skip]="gridGestionarEnvioMateriales.gridState.skip"
            [pageSize]="gridGestionarEnvioMateriales.gridState.take"
            (dataStateChange)="gridGestionarEnvioMateriales.onStateChange($event)"
            filterable="menu"
          >
            <ng-template
              kendoPagerTemplate
              let-totalPages="totalPages"
              let-currentPage="currentPage"
            >
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons
                [buttonCount]="5"
              ></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
              <kendo-pager-input></kendo-pager-input>
              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes
                [pageSizes]="cantidadItems"
              ></kendo-pager-page-sizes>
              <div class="w-100 text-end">
                <button
                  kendoButton
                  icon="reload"
                  fillMode="flat"
                  themeColor="secondary"
                  (click)="generarReporte()"
                ></button>
              </div>
            </ng-template>
            <kendo-grid-column
              field="nombrePEspecificoPadreIndividual"
              title="Programa Específico"
              [width]="200"
              headerClass="justify-content-center"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="nombrePEspecifico"
              title="Curso"
              [width]="200"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="grupo"
              title="G."
              [width]="80"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.grupo }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="grupoEdicion"
              title="G.E."
              [width]="80"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.grupoEdicion }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="grupoEdicionOrden"
              title="O.G.E."
              [width]="85"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.grupoEdicionOrden }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="nombreMaterialTipo"
              title="T.M."
              [width]="100"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="nombreMaterialVersion"
              title="V.M."
              [width]="130"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="nombreMaterialEstado"
              title="E.M."
              [width]="100"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.nombreMaterialEstado }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="nombreArchivo"
              title="N.A."
              [width]="180"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="usuarioSubida"
              title="U.S."
              [width]="100"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.usuarioSubida }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="fechaSubida"
              title="F.S."
              [width]="130"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.fechaSubida | date : "yyyy/MM/dd HH:mm" }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="usuarioAprobacion"
              title="U.A."
              [width]="100"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.usuarioAprobacion }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="fechaAprobacion"
              title="F.A."
              [width]="130"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.fechaAprobacion | date : "yyyy/MM/dd HH:mm" }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            field="usuarioEnvio"
            title="U.E"
            [width]="100"
            headerClass="justify-content-center"
            [editable]="false"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="text-center">
                {{ dataItem.usuarioEnvio }}
              </div>
            </ng-template>
            <ng-template
              kendoGridFilterMenuTemplate
              let-filter
              let-column="column"
              let-filterService="filterService"
            >
              <kendo-grid-string-filter-menu
                [column]="column"
                [filter]="filter"
                [filterService]="filterService"
                [extra]="false"
                operator="contains"
              >
                <kendo-filter-contains-operator
                  text="Contiene"
                ></kendo-filter-contains-operator>
              </kendo-grid-string-filter-menu>
            </ng-template>
          </kendo-grid-column>


          <kendo-grid-column
              field="fechaEnvio"
              title="F.E"
              [width]="130"
              headerClass="justify-content-center"
              [editable]="false"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  {{ dataItem.fechaEnvio | date : "yyyy/MM/dd HH:mm" }}
                </div>
              </ng-template>
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-string-filter-menu
                  [column]="column"
                  [filter]="filter"
                  [filterService]="filterService"
                  [extra]="false"
                  operator="contains"
                >
                  <kendo-filter-contains-operator
                    text="Contiene"
                  ></kendo-filter-contains-operator>
                </kendo-grid-string-filter-menu>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            field="tieneFurAsociado"
            title="T.F.A."
            [width]="100"
            headerClass="justify-content-center"
            [editable]="false"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="text-center">
                {{ calcularTieneFurAsociado(dataItem) }}
              </div>
            </ng-template>
            <ng-template
              kendoGridFilterMenuTemplate
              let-filter
              let-column="column"
              let-filterService="filterService"
            >
              <kendo-grid-string-filter-menu
                [column]="column"
                [filter]="filter"
                [filterService]="filterService"
                [extra]="false"
                operator="contains"
              >
                <kendo-filter-contains-operator
                  text="Contiene"
                ></kendo-filter-contains-operator>
              </kendo-grid-string-filter-menu>
            </ng-template>
          </kendo-grid-column>

            <kendo-grid-command-column
              title="Acciones por grupo edicion"
              [width]="180"
              headerClass="justify-content-center"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-center">
                  <ng-container *ngIf="dataItem.esPrimerMaterial">
                    <button
                      kendoButton
                      kendoTooltip
                      [themeColor]="'secondary'"
                      [fillMode]="'solid'"
                      icon="align-justify"
                      class="mx-1"
                      [title]="'Enviar material alumno'"
                      [disabled]="!dataItem.debeEnviarAAlumnos"
                      (click)="abrirModalDetalleEnvioMaterial(dataItem)"

                    ></button>

                  </ng-container>

                  <!-- Enviar material a proveedor impresión -->
                  <ng-container *ngIf="dataItem.esPrimerMaterial">
                    <button
                      kendoButton
                      kendoTooltip
                      [themeColor]="'primary'"
                      [fillMode]="'solid'"
                      icon="hyperlink-open-sm"
                      class="mx-1"
                      [title]="'Enviar material a proveedor impresión'"
                      [disabled]="(!dataItem.debeEnviarAProveedorImpresion && (dataItem.grupoEdicionTieneFurAsociado || !dataItem.enviadoAProveedorImpresion))"
                      (click)="enviarMaterialFisicoProveedorImpresion(dataItem.idMaterialPEspecifico)"
                    ></button>


                  </ng-container>
                </div>
              </ng-template>
            </kendo-grid-command-column>

            <kendo-grid-command-column
            title="Acciones individuales"
            [width]="180"
            headerClass="justify-content-center"
          >
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="text-center">
                <ng-container *ngIf="dataItem.idMaterialVersion == 1">
                  <ng-container *ngIf="encotrarId(dataItem)">

                  <button
                  kendoButton
                  kendoTooltip
                  themeColor="success"
                  fillMode="solid"
                  rounded="large"
                  ize="large"
                  icon="envelop"
                  class="mx-1"
                  container="body"
                  placement="top"
                  title="Enviar Material Digital "
                  [disabled]="dataItem.esMaterialEnviado"


                >
                </button>
              </ng-container>
              </ng-container>


              <ng-container *ngIf="dataItem.idMaterialVersion == 2">
                <ng-container *ngIf="encortrarIdDes(dataItem)">

                <button
                kendoButton
                kendoTooltip
                themeColor="success"
                fillMode="solid"
                icon="envelopeIcon"
                class="mx-1"
                container="body"
                placement="top"
                title="Asocicion fur"
                [disabled]="dataItem.esMaterialEnviado"




              ></button>
            </ng-container>
          </ng-container>



              </div>
            </ng-template>
          </kendo-grid-command-column>

          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #modalEnvioMaterial let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      Detalle envio material
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body p-4" id="grillaAgendaTab">
    <div class="k-loading-panel" *ngIf="loaderGeneral">
      <div class="k-loading-panel-mask"></div>
      <div class="k-loading-panel-wrapper">
        <!-- tamano de loading -->
        <mat-spinner diameter="50"></mat-spinner>
        <div class="k-loading-panel-text fs-5 text-primary"></div>
      </div>
    </div>
    <div class="row d-flex justify-content-center mb-4">
      <div class="col-12">
        <div class="card-body k-form k-form-horizontal">

          <div class="row my-4">
            <div class="col-sm-12 col-md-12">
              <div class="card">
                <div class="card-header bg-color-material pb-0">
                  <h3 class="text-white mb-2">Lista materiales a enviar (solo los que tienen la version Material para alumno - digital) de todo el grupo de edicion</h3>
                </div>
                <div class="row">
                  <div class="row" style="padding: 0.5rem;">
                    <div class="col-md-5">
                      Total de materiales Seleccionados:
                    </div>
                    <div class="col-md-7" style="margin-left: -2.7rem;">
                     {{cantidad}}
                    </div>
                  </div>
                </div>





                <div class="card-body p-0">
                  <div class="w-100">
                    <kendo-grid




                      [kendoGridBinding]="gridDetalleEnvioMateriales.data"
                      [loading]="gridDetalleEnvioMateriales.loading"
                      [selectable]="true"
                      [sortable]="true"
                      [resizable]="true"
                      [pageable]="{
                        buttonCount: 5,
                        info: true,
                        type: 'numeric',
                        pageSizes: true,
                        previousNext: true,
                        position: 'bottom'
                      }"
                      [skip]="gridDetalleEnvioMateriales.gridState.skip"
                      [pageSize]="gridDetalleEnvioMateriales.gridState.take"
                      (dataStateChange)="gridDetalleEnvioMateriales.onStateChange($event)"
                      filterable="menu"
                      [showOperators]="true"

                      kendoGridSelectBy="id"
                      [(selectedKeys)]="mySelection"
                      [selectable]="{
                      checkboxOnly: true,
                      mode: 'multiple'
                      }"





                    >
                    <ng-template
                    kendoPagerTemplate
                    let-totalPages="totalPages"
                    let-currentPage="currentPage"
                  >
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-numeric-buttons
                      [buttonCount]="5"
                    ></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-input></kendo-pager-input>
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-page-sizes
                      [pageSizes]="cantidadItems"
                    ></kendo-pager-page-sizes>

                  </ng-template>


                      <kendo-grid-checkbox-column
                      title="Marcar para enviar"
                      [width]="80"
                      [headerClass]="{ 'text-center': true }"
                      [class]="{ 'text-center': true }"
                      [showSelectAll]="true"
                      [headerClass]="'header-grid-integra'"
                      class="custom-checkbox"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <input type="checkbox" [(ngModel)]="dataItem.isSelected" (change)="cambioSeleccion2(dataItem)" />
                      </ng-template>

                      <ng-template kendoGridHeaderTemplate let-dataItem>
                        <input type="checkbox" [(ngModel)]="selectAll" (change)="seleccionarTodo2()" /> Marcar para enviar
                      </ng-template>
                    </kendo-grid-checkbox-column>

                      <kendo-grid-column
                      field="nombreArchivo"
                      title="Nombre Archivo"
                      [filterable]="true"
                      [width]="80"
                      [headerClass]="'header-grid-integra'"
                    >
                    </kendo-grid-column>

                      <kendo-grid-column
                        field="idMaterialTipo"
                        title="Tipo material"
                        [filterable]="true"
                        [width]="80"
                        [headerClass]="'header-grid-integra'"
                      >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="text-center">
                          {{ obtenerNombreTipo(dataItem.idMaterialTipo) }}
                        </div>
                      </ng-template>

                      </kendo-grid-column>
                      <kendo-grid-column
                        field="idMaterialVersion"
                        title="Version de material"
                        [width]="80"
                        [filterable]="true"
                        [headerClass]="'header-grid-integra'"
                      >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="text-center">
                          {{ obtenerNombreVersion(dataItem.idMaterialVersion) }}
                        </div>
                      </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="idMaterialEstado"
                        title="Estado de material"
                        [width]="80"
                        [filterable]="true"
                        [headerClass]="'header-grid-integra'"
                      >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div class="text-center">
                          {{ obtenerNombreEstado(dataItem.idMaterialEstado) }}
                        </div>
                      </ng-template>
                      </kendo-grid-column>

                      <ng-template
                      kendoPagerTemplate
                      let-totalPages="totalPages"
                      let-currentPage="currentPage"
                      >
                        <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                        <kendo-pager-numeric-buttons
                          [buttonCount]="5"
                        ></kendo-pager-numeric-buttons>
                        <kendo-pager-next-buttons></kendo-pager-next-buttons>
                        <!-- <kendo-pager-input></kendo-pager-input> -->


                    </ng-template>

                    </kendo-grid>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">


      <div class="k-form-buttons m-0">
        <button
          kendoButton
          themeColor="tertiary"

          (click)="enviarMaterialDigitales()"

        >
        Enviar materiales digitales por correo
        </button>
        <button
          themeColor="error"
          kendoButton
          (click)="modal.dismiss('Cross click')"
        >
          Cancelar
        </button>
      </div>



  </div>

</ng-template>
