.botonAgregar{
    width: 150px;
    height: 50px;
    background-color: #3F51B5;
    color: white;
}

.formulario{
    width: 100%;
    margin-top: 40px;
}



.card {
    margin: 25px;
    padding: 20px;
    border: 1px solid #e5e2e2;
    border-radius: 5px;
  }



  .column {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .column h3 {
    width: 200px;
    text-align: left;
    margin: 0;
  }

  .custom-multiselect {
    flex-grow: 1;
    min-width: 300px;
    height: 50px !important;
    line-height: 40px !important;
    display: flex;
    align-items: center;
  }
  .boton-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.botonProcesar {
    background-color: #3F51B5;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botonProcesar:hover {
    background-color: #303F9F;
}
