<form [formGroup]="formCrearOportunidad">
<div class="card">
  <!-- Indicador de Carga -->
  <div *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="boton-container">
  </div>
  <div class="formulario">
    <div class="column">
      <h3>Centro de Costo</h3>
      <kendo-formfield class="example-full-width w-100" appearance="outline">

        <kendo-label
              [for]="centroCostoMultiselect"

            ></kendo-label>
            <kendo-combobox
            class="custom-multiselect"

              #centroCostoMultiselect
              formControlName="centrosCosto"
              placeholder="<Seleccione un Centro de Costo>"
                [data]="dataCentroCosto"
              (filterChange)="
                filterCentroCosto($event, centroCostoMultiselect, false)
              "
              [filterable]="true"
              textField="nombre"
              [virtual]="virtual"
              [valuePrimitive]="true"
              valueField="id"
            >
          </kendo-combobox>
          </kendo-formfield>
    </div>
    <div class="column">
      <h3>Tipo dato</h3>
      <kendo-formfield  class="example-full-width w-100" appearance="outline">


        <kendo-dropdownlist
                  #idTipoDato
                  class="custom-multiselect"
                  [data]="dataTipoDato"
                  [filterable]="true"
                  [defaultItem]="{
                    nombre: '<Selecione un Tipo Dato>',
                    id: null
                  }"
                  [valuePrimitive]="true"
                  textField="nombre"
                  valueField="id"
                  formControlName="idTipoDato"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
    </div>
    <div class="column">
      <h3>Origen</h3>
      <kendo-formfield class="example-full-width w-100" appearance="outline">

        <kendo-dropdownlist
        #idOrigen
        class="custom-multiselect"
        [data]="dataCategoriaOrigen"
        [defaultItem]="{
          nombre: '<Selecione un Origen>',
          id: null
        }"
        [valuePrimitive]="true"
        textField="nombre"
        valueField="id"
        formControlName="idOrigen"
        (valueChange)="changeOrigen($event)"
        [kendoDropDownFilter]="filterSettings"
      >
      </kendo-dropdownlist>
    </kendo-formfield>
    </div>
    <div class="column">
      <h3>Fase Oportunidad:</h3>
      <kendo-formfield class="example-full-width w-100" appearance="outline">

        <kendo-dropdownlist
                  #idFaseOportunidad
                  class="custom-multiselect"
                  [data]="dataFaseOportunidad"
                  [filterable]="true"
                  [defaultItem]="{
                    codigo: '<Seleccione>',
                    id: null
                  }"
                  [valuePrimitive]="true"
                  textField="codigo"
                  valueField="id"
                  formControlName="idFaseOportunidad"
                  [kendoDropDownFilter]="filterSettings"
                >
                </kendo-dropdownlist>
              </kendo-formfield>
    </div>
  </div>
<!-- 📌 Sección de botones bien estructurada -->
<div class="boton-container">
  <button class="botonProcesar"(click)="crearOportunidad()">Procesar Oportunidades</button>

</div>
</div>
</form>




<!-- <button mat-flat-button class="botonAgregar" (click)="Crear()">
  Crear Oportunidad
</button> -->
