.combo-custom > kendo-dropdownlist {
    border-width: 1px;
    border-color: #ff760a;
}
.combo-custom > kendo-dropdownlist > span {
    color: #ff760a !important;
}
.combo-custom > kendo-dropdownlist > button {
    background-color: #ff760a !important;
}
.combo-custom > kendo-dropdownlist > button > span {
    color: white !important;
}
.htmlservice > .card .cabecera_tab {
    background-color: #4584a7;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}
.cabecera_tab {
    background-color: #4584a7;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

.cabecera_tab span {
    padding: 6px;
}

.htmlservice > .card .row .col-sm-9 {
    width: 83.33333333%;
}

/* Padre */
.htmlservice > .card .row .col-sm-9 nav {
    width: 83.33333333%;
    height: 220px !important;
    padding: 4rem 2rem;
    position:absolute;
}

/* Hijo */
.htmlservice > .card .row .col-sm-9 nav a {
    position: relative;
}

.htmlservice > .card .row .col-sm-9 .bloque-blanco .container .col-sm-9 {
    margin-top:150px
}

.htmlservice > .card .row .col-sm-9 .bloque-blanco .container .row .col-sm-9 div p{
    padding: 6px;
}

.htmlservice > .card .row .col-sm-9 .bloque-blanco .container .row .col-sm-9 div{
    padding: 0 !important;
}
