.k-toolbar {
    background-color: #3f51b5;
    border-color: inherit;
    box-shadow: none;
}
.rcta .k-chip-text, .k-chip-label {
    white-space: normal !important;
    text-align: center !important;
}
//texto multiselect
.rcta ::-webkit-input-placeholder {
    text-align: center;
 }
//Texto dropdownlist
 .rcta .k-input-value-text {
    text-align: center;
 }
//Texto fecha
 .rcta .k-input-inner {
    text-align: center;
 }

 .rojo{
    background-color: red;
    border: red 1px none; 
    color: white;
 }

 .rojo:hover {
    background-color: rgb(206, 10, 10);
    border: rgb(206, 10, 10) 1px none; 
    color: white;
  }

 .verde{
    background-color: #278200;
    border: #278200 1px none; 
    color: whitesmoke;
 }

.verde:hover {
    background-color: #247502;
    border:  #247502 1px none; 
    color: white;
  }
