.formulario{
    width: 100%;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.column{
    display:flex,
}

.column h3{
    width: 300px;
    padding-top: 10px ;
        font-size: 15px;
    }

p{
    margin-top: 20px;
    margin-left: 40px;
    color:red
}

.card{
    margin:20px;
    border: 1px solid #A4A4A4;
    border-radius: 5px;
}

