

<div class="contenedor">
  <div class="titulo">
    <h3>Filtrar para Whatsapp</h3>
    <div class="botonCerrar">
      <button mat-flat-button color="warn" class="circulo" mat-dialog-close>
        <i class="material-icons">clear</i>
      </button>
    </div>
  </div>
  <ng-container
  *ngIf="loading==true">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>

<div class="inre">
  <h3>No haber recibido un Whatsapp en los últimos:</h3>
  <div class="example-full-width w-100" style="display: flex">
    <mat-form-field class="example-full-width w-100" appearance="outline">
      <input
        type="number"
        class="form-control"
        matInput
        placeholder="Dias"
        max="365" 
        min="0"
        required
        [(ngModel)]="cantidadDias"
      />
    </mat-form-field>
    <div style="justify-content: center">
      <h3 style="margin: 15px">Dias</h3>
    </div>
  </div>
</div>
<!-- 
<ng-container  *ngIf="IncluyeWhatsapp==false" > -->
  <div class="descripcion">

    <p>
      <i
        >Esta campaña se convertira en una campaña de Whatsapp</i>
    </p>
  </div>

  <hr />

  <div class="botones">
    <button
      mat-flat-button
      class="btnsusp"
      (click)="deleteWhatsapp()"
    >
      Crear Filtrado Whatsapp
    </button>


  </div>

<!-- </ng-container>
<ng-container *ngIf="IncluyeWhatsapp==true" > -->
  <!-- <h2>Esta campaña ya tiene whatsapp incluido</h2> -->
<!-- </ng-container> -->
</div>


