.k-label{
    padding-left: 0% !important;
}

.custom-styling {
    display: flex;
    justify-content: flex-end;
    font-size: smaller;
    padding: 4px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
  }

.font-small{
    font-size: smaller !important;
  }