<ng-template #modalCiudad let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      {{ isNew ? "Nueva Ciudad" : "Modificar Ciudad" }}
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <form class="k-form k-form-horizontal" [formGroup]="formCiudad">
      <fieldset class="k-form-fieldset">
        

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="codigo" class="k-label">
                <span>Codigo <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-numerictextbox
                #codigo
                orientation="horizontal"
                placeholder="Codigo"
                [style.width.px]="170"
                formControlName="codigo"
                [min]="0"
                [max]="9999"
                [autoCorrect]="true"
                [decimals]="0"
                [format]="'0'"
              >
              </kendo-numerictextbox>
             
              <kendo-formerror>
          
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="nombre" class="k-label">
                <span>Nombre <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-textbox
                #nombre
                size="medium"
                placeholder="Nombre"
                formControlName="nombre"
                [clearButton]="true"
                [maxlength]="100"
                [showSuccessIcon]="getShowSuccessIcon('nombre')"
                [successIcon]="successIcon"
                showErrorIcon="initial"
                inputValidSpaceDir
              >
              </kendo-textbox>
             
              <kendo-formerror>
                {{ getErrorMessage("nombre") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="nombrePais" class="k-label">
                <span
                  >Pais <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-dropdownlist
                #nombrePais
                formControlName="nombrePais"
                class="d-flex"
                size="medium"
                
                [data]="listaPais"
                [defaultItem]="{                 
                  id: null,
                  nombrePais:'Seleccione un Pais'
                }"
                textField="nombrePais"
                valueField="id"
                [valuePrimitive]="true"
              >
              </kendo-dropdownlist>   
              <kendo-formerror>
                {{ getErrorMessage("nombrePais") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="longCelular" class="k-label">
                <span
                  >Long. Celular <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-numerictextbox
                #longCelular
                orientation="horizontal"
                placeholder="long Celular"
                [style.width.px]="170"
                formControlName="longCelular"
                [min]="0"
                [autoCorrect]="true"
                [decimals]="0"
                [format]="'0'"
              >
              </kendo-numerictextbox>
        
              <kendo-formerror>
                {{ getErrorMessage("longCelular") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="longTelefono" class="k-label">
                <span
                  > Long. Telefono <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-numerictextbox
                #longTelefono
                orientation="horizontal"
                placeholder="long Telefono"
                [style.width.px]="170"
                formControlName="longTelefono"
                [min]="0"
                [autoCorrect]="true"
                [decimals]="0"
                [format]="'0'"
              >
              </kendo-numerictextbox>
            
              <kendo-formerror>
                {{ getErrorMessage("longTelefono") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="longCelularAlterno" class="k-label">
                <span
                  >Long. Celular Alterno
                  <span class="text-danger fw-bold">*</span></span
                >
              </label>
              <kendo-numerictextbox
                #longCelularAlterno
                orientation="horizontal"
                [style.width.px]="170"
                placeholder="long Celular Alterno"
                formControlName="longCelularAlterno"
                [min]="0"
                [autoCorrect]="true"
                [decimals]="0"
                [format]="'0'"
              >
              </kendo-numerictextbox>
             
              <kendo-formerror>
                {{ getErrorMessage("longCelularAlterno") }}
              </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        *ngIf="isNew"
        themeColor="primary"
        (click)="crearCiudad()"
      >
        Guardar
      </button>
      <button
        kendoButton
        *ngIf="!isNew"
        themeColor="tertiary"
        (click)="actualizarCiudad()"
      >
        Actualizar
      </button>

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>

<form class="k-form k-form-horizontal">
  <fieldset class="k-form-fieldset">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <label class="k-label">
          <span>Pais <span class="text-danger fw-bold"></span></span>
        </label>
        <kendo-grid-spacer></kendo-grid-spacer>
        <kendo-dropdownlist
          class="d-flex"
          size="medium"
          [data]="listaPais"
          [defaultItem]="{
            id: null,
            nombrePais: 'Seleccione un Pais'
          }"
          textField="nombrePais"
          valueField="id"
          [valuePrimitive]="true"
          (selectionChange)="imprimirPais($event)"
        >
        </kendo-dropdownlist>
      </div>
    </div>
  </fieldset>
  <fieldset class="k-form-fieldset">
    <button
      kendoButton
      themeColor="primary"
      fillMode="solid"
      rounded="large"
      size="large"
      class="p-2 me-1 ms-1"
      container="body"
      placement="top"
      (click)="imprimirDatos()"
    >
      Buscar
    </button>
  </fieldset>
</form>

<div class="modal-body">
  <form class="k-form k-form-horizontal">
    <fieldset class="k-form-fieldset">
      <div class="titulo">Ciudad</div>
      <!-- modal ver -->
      <div class="">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div></div>
                  <div class="col">
                    <ng-template
                      #cellTemplateGrid
                      let-dataItem="dataItem"
                      let-field="field"
                      let-itemValue="itemValue"
                    >
                      <ng-template #gridTempDefault>
                        {{ itemValue }}
                      </ng-template>
                    </ng-template>

                    <kendo-grid
                      [loading]="gridCiudad.loading"
                      (dataStateChange)="gridCiudad.onStateChange($event)"
                      [resizable]="gridCiudad.resizable"
                     
                      [filterable]="gridCiudad.filterable"
                      [pageSize]="gridCiudad.gridState.take"
                      [skip]="gridCiudad.gridState.skip"
                      [sort]="gridCiudad.gridState.sort"
                      [kendoGridBinding]="gridCiudad.data"
                      [pageable]="gridCiudad.pageable"

                    >
                      <ng-template kendoGridToolbarTemplate>
                        <button
                          kendoButton
                          icon="reload"
                          fillMode="flat"
                          themeColor="secondary"
                          (click)="reloadCiudad()"
                        ></button>
                        <kendo-grid-spacer></kendo-grid-spacer>
                        <button
                          kendoButton
                          [themeColor]="'primary'"
                          icon="plus"
                          (click)="abrirModalCiudad(true, null)"
                        >
                          Agregar
                        </button>
                      </ng-template>
                
                      <kendo-grid-column
                        field="codigo"
                        title="Codigo"
                        [filterable]="true"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="nombre"
                        title="Nombre"
                        [filterable]="true"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="longCelular"
                        title="Longitud Celular"
                        [filterable]="true"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="longTelefono"
                        title="Longitud Telefono"
                        [filterable]="false"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="longCelularAlterno"
                        title="Longitud Celular Alterno"
                        [filterable]="false"
                      >
                      </kendo-grid-column>
                      <kendo-grid-column
                        field="nombrePais"
                        title="Pais"
                        [filterable]="false"
                      >
                      </kendo-grid-column>

                      <kendo-grid-command-column title="" [width]="150">
                        <ng-template
                          kendoGridCellTemplate
                          let-isNew="isNew"
                          let-dataItem="dataItem"
                          let-rowindex="rowindex"
                        >
                          <div class="w-100 d-flex justify-content-center">
                            <button
                              kendoButton
                              themeColor="warning"
                              fillMode="solid"
                              rounded="large"
                              size="large"
                              class="p-2 me-1 ms-1"
                              container="body"
                              placement="top"
                              ngbTooltip="Editar"
                              (click)="abrirModalCiudad(false, dataItem)"
                            >
                              <span class="k-icon k-i-edit k-icon-20"></span>
                            </button>
                            <button
                              kendoButton
                              themeColor="error"
                              fillMode="solid"
                              rounded="large"
                              size="large"
                              s
                              class="p-2 me-1 ms-1"
                              container="body"
                              placement="top"
                              ngbTooltip="Eliminar"
                              (click)="
                                eliminarCiudad(dataItem, rowindex)
                              "
                            >
                              <span class="k-icon k-i-close k-icon-20"></span>
                            </button>
                          </div>
                        </ng-template>
                      </kendo-grid-command-column>
                    </kendo-grid>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
