<div class="row" id="pantalla1">
    <div class="row col-sm">
        <div class="col-sm-3"></div>
        <div class="col-sm">
            <div class="row rankingOportunidad" id="RankingOperaciones" [ngStyle]="{'background':colorRankingOperaciones}">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body" style="padding-top:10px;padding-top:10px;">
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1EstadoMatricula" class="col-form-label Pantalla1label">Estado:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label class="col-form-label Pantalla1label" id="p1EstadoMatricula">{{estadoMatricula}}</label>
                                    <button type="button" class="btn pull-right fa fa-random botonSolicitud" id="btn_SolicitarCambioEstado" (click)="abrirModalSolicitudCambio(4)" title="Solicitar Cambio">
                                        <fa-icon [icon]="['fas', 'random']" ></fa-icon> 
                                    </button>
                                </div>
                            </div>
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1SubEstadoMatricula" class="col-form-label Pantalla1label">Sub Estado:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label class="col-form-label Pantalla1label" id="p1SubEstadoMatricula">{{subEstadoMatricula}}</label>
                                    <button type="button" class="btn pull-right fa fa-random botonSolicitud" id="btn_SolicitarCambioSubtEstado" (click)="abrirModalSolicitudCambio(5)" title="Solicitar Cambio">
                                        <fa-icon [icon]="['fas', 'random']" class=""></fa-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1CentroCosto" class="col-form-label Pantalla1label">Centro Costo:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label id="p1CentroCosto" class="col-form-label Pantalla1label">{{centroCosto}}</label>
                                    <button type="button" class="btn botonSolicitud" style="margin-top:10px" id="btn_SolicitarCambioCentroCosto"
                                        (click)="abrirModalSolicitudCambio(1)" title="Solicitar Cambio">
                                        <fa-icon [icon]="['fas', 'random']" ></fa-icon>    
                                    </button>
                                </div>
                            </div>
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1FechaFinalizacion" class="col-form-label Pantalla1label">Fecha Finalizacion:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif;padding-top:9px">
                                    <label id="p1FechaFinalizacion" class="col-form-label Pantalla1label">{{fechaFinalizacion | date: 'd/M/yy'}}</label>
                                    <button type="button" class="btn botonSolicitud" id="btn_SolicitarFechaFinalizacion" (click)="abrirModalSolicitudCambio(7)" title="Solicitar Cambio">
                                        <fa-icon [icon]="['fas', 'random']" ></fa-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1Tarifario" class="col-form-label Pantalla1label">Tarifario:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label id="p1Tarifario" class="col-form-label Pantalla1label">{{tarifario}}</label>
                                </div>
                            </div>
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1CategoriaAlumno" class="col-form-label Pantalla1label">Categoria Alumno:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif;padding-top:9px">
                                    <label id="p1CategoriaAlumno" class="col-form-label Pantalla1label" style=" width: 80%;">{{categoriaAlumno}}</label>
                                    <button type="button" class="btn botonSolicitud" style="margin-top:10px" id="btn_SolicitarCambioCentroCosto"
                                        (click)="abrirModalSolicitudCambio(9)" title="Solicitar Cambio">
                                        <fa-icon [icon]="['fas', 'random']" ></fa-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="row mi-div">
                                <div class="col-sm-3 itemRanking" style="border-right: 1px solid #e2dfdf;border-bottom: 1px solid #e2dfdf;font-family:sans-serif">
                                    <label for="p1SolicitudEsquemasEvaluacion" class="col-form-label Pantalla1label">Esquema Evaluacion:</label>
                                </div>
                                <div class="col-sm-8" style="border-bottom: 1px solid #e2dfdf;font-family:sans-serif;padding-top:9px">
                                    <label id="p1SolicitudEsquemasEvaluacion" class="col-form-label Pantalla1label" style=" width: 80%;">{{solicitudEsquemasEvaluacion}}</label>
                                    <button type="button" class="btn botonSolicitud" id="btn_EsquemaEvaluacion"
                                            (click)="mostrarModalEsquemasEvaluacion()" title="Solicitar Cambio Esquemas Evaluacion">
                                            <fa-icon [icon]="['fas', 'random']" ></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"> </div>
    </div>
</div>


<!-- Modal solicitud Cambios -->
<ng-template #modalSolicitudCambio let-modal>
    <div class="modal-header" style="background-color: #2e6ea6">
      <h2
        class="modal-title m-0 px-3"
        id="modal-basic-title"
        style="color: #ffffff"
      >
        {{tituloModalSolicitudCambio}}
      </h2>
    </div>
    <div class="modal-body ps-4 pe-4">
      <form [formGroup]="formSolicitudes">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row" id="seccionCambioGeneral" *ngIf="verCambioGeneral">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h3 id="Categoria"><strong><label id="lblValorNuevo"></label> </strong></h3>
                    </div>
                    <div class="col-8 ">
                        <input type="text" class="form-control input-sm" id="inputValor" name="inputValor" placeholder="Valor Nuevo"
                               required data-required-msg="Ingrese Categoria" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group row " id="seccionFechaFinalizacion" *ngIf="verFechaFinalizacion">
                    <div class="col-4" style="text-align: right;">
                        <h3 id="Categoria"><strong>Nueva Fecha Finalizacion</strong></h3>
                    </div>
                    <div class="col-8 ">
                          <kendo-datepicker
                            #FechaFinalizacion
                            formControlName="nuevaFechaFinalizacion"
                          ></kendo-datepicker>
                    </div>
                </div>
                <div class="form-group row " id="seccionCambioVersion" *ngIf="verCambioVersion">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h3 id="Categoria"><strong>Nueva Version</strong></h3>
                    </div>
                    <div class="col-8 ">
                        <input type="text" class="form-control input-sm" id="inputValorVersion" name="inputValorVersion" placeholder="Valor Nuevo"
                               required data-required-msg="Ingrese Categoria" style="width: 100%;" />
                    </div>
                </div>
                <div class="form-group row " id="seccionCambioEstado" *ngIf="verEstado">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h3 id="Categoria"><strong>Nuevo Estado</strong></h3>
                    </div>
                    <div class="col-8 ">
                        <kendo-dropdownlist
                            #nuevoEstado
                            [data]="dataEstadoMatricula"
                            textField="estadoMatricula"
                            valueField="id"
                            [defaultItem]="{ id: null, estadoMatricula: 'Seleccione Estado' }"
                            formControlName="idEstadoMatricula"
                            [filterable]="true"
                            [kendoDropDownFilter]="filterSettings_estados"
                            (valueChange)="generarDataSubEstado($event)"
                        >
                            <kendo-formerror>Seleccione un Estado Matricula</kendo-formerror>
                        </kendo-dropdownlist>
                    </div>
                </div>
                <div class="form-group row " id="seccionCambioCategoria" *ngIf="verCategoriaAlumno">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h3 id="Categoria"><strong>Nueva Categoria</strong></h3>
                    </div>
                    <div class="col-8 ">
                        <kendo-dropdownlist
                            #nuevaCategoria
                            [data]="objetoCategoriaAlumno"
                            textField="nombre"
                            valueField="id"
                            [defaultItem]="{ id: null, nombre: 'Seleccione Categoria' }"
                            formControlName="idCategoriaAlumno"
                        >
                            <kendo-formerror>Seleccione una Categoria</kendo-formerror>
                        </kendo-dropdownlist>
                    </div>
                </div>
                <div class="form-group row " id="seccionCambioSubEstado" *ngIf="verSubEstado">
                    <div class="col-1"></div>
                    <div class="col-3 " id="lblSubEstado">
                        <h3 id="Categoria"><strong>Nuevo Sub Estado</strong></h3>
                    </div>
                    <div class="col-8 " id="SeccionConSubEstado" *ngIf="conSubEstado">
                        <kendo-dropdownlist
                            #nuevoSubEstadoMatricula
                            [data]="dataComboSubEstadoMatricula"
                            textField="nombre"
                            valueField="id"
                            [filterable]="true"
                            [kendoDropDownFilter]="filterSettings_subEstado"
                            [defaultItem]="{ id: null, nombre: 'Seleccione Sub Estado' }"
                            formControlName="idSubEstadoMatricula"
                        >
                            <kendo-formerror>Seleccione un Sub Estado</kendo-formerror>
                        </kendo-dropdownlist>
                    </div>
                    <div class="col-8 " id="SeccionSinSubEstado" *ngIf="!conSubEstado">
                        <input type="text" class="form-control input-sm" id="inputValorSubEstadoSin" name="inputValorSubEstadoSin" placeholder="Valor Nuevo"
                               required data-required-msg="Ingrese Categoria" style="width: 100%;" disabled value="{{textoSubEstado}}"/>
                    </div>
                </div>
                <div class="form-group row  " id="seccionCambioCentroCosto" *ngIf="verCentroCosto">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h3 id="Categoria"><strong>Nuevo Centro de Costo</strong></h3>
                    </div>
                    <div class="col-8 ">
                        <kendo-dropdownlist
                        #multiselectPerAsignado
                        [data]="dataCentroCosto"
                        [defaultItem]="{ id: null, nombre: 'Seleccione Centro de Costo' }"
                        textField="nombre"
                        valueField="id"
                        [filterable]="true"
                        formControlName="idCentroCosto"
                        (filterChange)="filterByCentroCosto($event)"
                        >
                        </kendo-dropdownlist>
                    </div>
                </div>
                <div class="form-group row " id="seccionCambioAdjuntar" *ngIf="verAdjuntarComprobante">
                    <div class="col-1"></div>
                    <div class="col-sm-10  demo-section k-content">
                        <input name="inputAdjuntarComprobante" id="inputAdjuntarComprobante" type="file" aria-label="files" />
                    </div>
                </div>

                <div class="form-group row" id="SeccionComentario">
                    <div class="col-1"></div>
                    <div class="col-3">
                        <h3 id="Comentario"><strong>Comentario: </strong></h3>
                    </div>

                    <div class="col-sm-8">
                        <textarea rows="3" cols="4" type="text" class="form-control myeditablediv1" id="inputComentarioSolicitante" name="inputComentarioSolicitante" placeholder="Comentario" style="width: 100%" formControlName="comentarioSolicitud"></textarea>

                    </div>
                </div>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button
          themeColor="error"
          kendoButton
          size="large"
          (click)="limpiarModalSolicitudCambio()"
        >
          Cancelar
        </button>
      <div class="k-form-buttons mt-0 mb-0">
        <button
          kendoButton
          size="large"
          themeColor="success"
          [disabled]="buttonSolicitud"
          (click)="registrarSolicitudOperaciones()"
        >
          Aceptar
        </button>
        
      </div>
    </div>
</ng-template>
<!-- End Modal solicitud cambios -->

<ng-template #modalEsquemaEvaluacion let-modal>
    <div class="modal-header">
        <h2
          class="modal-title m-0 px-3"
          id="modal-basic-title"
          style="color: #2e6ea6"
        >
            Esquema Evaluacion
        </h2>
        <button
            type="button"
            class="btn-close btn-close-grey"
            aria-label="Close"
            (click)="cerrarDetalleEsquemaEvaluacion()"
        ></button>
    </div>
    <div class="modal-body ps-4 pe-4">
        <div class="card">
            <div class="card-header" style="background: #4584a7;color:#fff;font-size: 15px;">
                <span class="panel-title">Cursos hijos</span>
            </div>
            <div class="card-body">
                <kendo-grid
                    [kendoGridBinding]="gridEsquemaEvaluacion.data"
                    [pageable]="gridEsquemaEvaluacion.pageable"
                    [pageSize]="gridEsquemaEvaluacion.pageSize"
                    [selectable]="gridEsquemaEvaluacion.selectable"
                    [sortable]="gridEsquemaEvaluacion.sortable"
                    [resizable]="gridEsquemaEvaluacion.resizable"
                    [loading]="gridEsquemaEvaluacion.loading"
                    (cellClick)="verEditarEsquemaEvaluacion($event)"
                >
                    <kendo-grid-column
                        field="nombre"
                        title="Programa Especifico"
                    >
                        <ng-template kendoGridCellTemplate let-dataItem>
                        <div>
                            <span>{{ dataItem.nombre }}</span>
                        </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>
        </div>
        <br />
        <div *ngIf="verContenedorEsquemasPorPEspecifico">
            <div class="card">
                <div class="card-header" style="background: #4584a7;color:#fff;font-size: 15px;">
                    <span class="panel-title">Detalle Esquema Evaluacion</span>
                </div>
                <div class="card-body">
                    <form [formGroup]="formEsquemaEvaluacion">

                        <div class="row">
                            <div class="col-5">
                                <h4 id="FechaNueva"><strong>Esquema Evaluacion: </strong></h4>
                            </div>
                            <div class="col-7">
                                <kendo-dropdownlist
                                    #inputEsquemaEvaluacion
                                    [data]="dataEsquemaEvalueacion"
                                    textField="nombreEsquema"
                                    valueField="id"
                                    [defaultItem]="{ id: null, nombreEsquema: 'Seleccione Esquema' }"
                                    formControlName="esquemaEvaluacion"
                                    [valuePrimitive]="true"
                                    (valueChange)="cambiarEsquemaEvaluacion($event)"
                                >
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        <div class="col-5">
                            <h4 id="FechaNueva"><strong>Forma Calculo Nota: </strong></h4>
                        </div>
                        <div class="col-7">
                            <input type="text" class="form-control input-group-lg" id="inputFormaCalculoNota" name="inputFormaCalculoNota" value="{{inputFormaCalculoNota}}" disabled />
                        </div>
                    </div>
                    <br />
                    <div>
                        <kendo-grid
                            [kendoGridBinding]="gridEsquemaEvaluacionAlumno.data"
                            [pageable]="gridEsquemaEvaluacionAlumno.pageable"
                            [pageSize]="gridEsquemaEvaluacionAlumno.pageSize"
                            [selectable]="gridEsquemaEvaluacionAlumno.selectable"
                            [sortable]="gridEsquemaEvaluacionAlumno.sortable"
                            [resizable]="gridEsquemaEvaluacionAlumno.resizable"
                            [loading]="gridEsquemaEvaluacionAlumno.loading"
                        >
                            <kendo-grid-column
                                field="nombreEsquemaDetalle"
                                title="Criterio Evaluacion"
                            >
                                <ng-template kendoGridCellTemplate let-dataItem>
                                <div>
                                    <span>{{ dataItem.nombreEsquemaDetalle }}</span>
                                </div>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column
                                field="ponderacion"
                                title="Ponderacion"
                            >
                                <ng-template kendoGridCellTemplate let-dataItem>
                                <div>
                                    <span>{{ dataItem.ponderacion }}</span>
                                </div>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
                <div class="card-footer" style="text-align:right">
                    <button class="btn btn-danger" id="buttonCancelarAnexo" (click)="cerrarDetalleEsquemaEvaluacion()">
                        <i class="icon-print icon-white"></i> Cancelar
                    </button>

                    <button type="button" class="btn btn-primary" style="margin-left: 5px;" id="btnActualizarEsquema" onclick="ActualizarEsquema()">Actualizar Esquema</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>