.rankingOportunidad {
    background: #3379a4;
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 8px;
    margin-top: 12px;
}
.itemRanking{
    font-size: 13px;
    text-align: right!important;
}
.Pantalla1label {
    color: #005689;
}
.botonSolicitud {
    border-radius: 15px;
    background: #ffa114;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    padding: 6px !important;
    float: right;
    width: 30px;
    height: 30px;

}
.botonSolicitud:hover {
    background-color: #a70606;   /* color de fondo al pasar por encima */
    color: #ffffff;           /* color de texto al pasar por encima */
    box-shadow: 0px 0px 6px 3px rgba(76,175,80,0.6); /* sombra al pasar por encima */
  }
  .mi-div:hover {
    background-color: rgb(214, 214, 213);
    color: rgb(124, 124, 124);
  }