.k-grid-toolbar {
    background-color: #3f51b5;
    border-color: inherit;
    box-shadow: none;
}
.texto { 
    text-align: justify; 
}
//texto multiselect
.reinter ::-webkit-input-placeholder {
    text-align: center;
 }
 //Texto fecha
 .reinter .k-input-inner {
    text-align: center;
 }