



<div class="">
    <div class="row">
      <div class="col-1fa-rotate-270">
        <div class="card">
            <div class="card-header bg-color-material">
                <h1 class="text-white">Resumen de Caja</h1>
            </div>
            <div  class="card-body p-4">
              <div class="k-loading-panel" *ngIf="loader">
                <div class="k-loading-panel-mask"></div>
                <div class="k-loading-panel-wrapper">
                  <kendo-loader
                    type="converging-spinner"
                    themeColor="primary"
                    size="large"
                  >
                  </kendo-loader>
                  <div class="k-loading-panel-text fs-5 text-primary">Cargando...</div>
                </div>
              </div>
                <div class="row">
                    <div class="col-md-4 k-form-horizontal" >
                        <kendo-formfield orientation="horizontal" style="padding-bottom: 5%;">
                          <label [for]="dropdownlist" class="k-label">
                              <span
                              >Caja :
                              </span>
                          </label>
                          <kendo-dropdownlist
                              [formControl]="caja"
                              class="d-flex"
                              size="medium"
                              #dropdownlist
                              [data]="listaResumenCaja"
                              textField="codigoCaja"
                              valueField="idCaja"
                              [defaultItem]="{idCaja:null,codigoCaja:'Seleccionar'}"
                              [valuePrimitive]="true"
                              (selectionChange)="selectionChangeCaja($event)"
                          >
                          </kendo-dropdownlist>
                        </kendo-formfield>  
                    </div>                          
                </div>
                <kendo-tabstrip style="background-color: #d3d4dc;" [keepTabContent]="true" > 
                    <kendo-tabstrip-tab title="RESUMEN" [selected]="true" >
                      <ng-template kendoTabContent>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                              <form class="k-form" [formGroup]="formGroupResumen">
                                <fieldset class="k-form-fieldset">
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="empresa" class="k-label">
                                            <span
                                            >Empresa :
                                            </span>
                                        </label>
                                        <kendo-textarea
                                            [readonly]="true"
                                            #empresa
                                            resizable="auto"
                                            formControlName="empresaAutorizada"
                                            fillMode="outline"
                                        >
                                        </kendo-textarea>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="direccion" class="k-label">
                                            <span
                                            >Dirección :
                                            </span>
                                        </label>
                                        <kendo-textarea
                                            [readonly]="true"
                                            #direccion
                                            resizable="auto"
                                            formControlName="direccion"
                                            fillMode="outline"
                                        >
                                        </kendo-textarea>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="central" class="k-label">
                                            <span
                                            >Central :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #central
                                          class="d-flex"
                                          size="small"
                                          formControlName="central"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="ruc" class="k-label">
                                            <span
                                            >RUC :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #ruc
                                          class="d-flex"
                                          size="small"
                                          formControlName="ruc"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="banco" class="k-label">
                                            <span
                                            >Banco :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #banco
                                          class="d-flex"
                                          size="small"
                                          formControlName="entidadFinanciera"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="Cuenta" class="k-label">
                                            <span
                                            >Cuenta :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #Cuenta
                                          class="d-flex"
                                          size="small"
                                          formControlName="cuentaCorriente"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="moneda" class="k-label">
                                            <span
                                            >Moneda :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #moneda
                                          class="d-flex"
                                          size="small"
                                          formControlName="moneda"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="pais" class="k-label">
                                            <span
                                            >País :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #pais
                                          class="d-flex"
                                          size="small"
                                          formControlName="pais"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="ciudad" class="k-label">
                                            <span
                                            >Ciudad :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #ciudad
                                          class="d-flex"
                                          size="small"
                                          formControlName="ciudad"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col k-form-horizontal">
                                      <kendo-formfield orientation="horizontal">
                                        <label [for]="responsable" class="k-label">
                                            <span
                                            >Responsable :
                                            </span>
                                        </label>
                                        <kendo-textbox
                                          [readonly]="true"
                                          #responsable
                                          class="d-flex"
                                          size="small"
                                          formControlName="personalResponsable"
                                          fillMode="outline"
                                        >
                                        </kendo-textbox>
                                        </kendo-formfield>
                                    </div>
                                  </div>
                                </fieldset>
                              </form>
                              <br>
                            </div>
                            <div class="col-md-5" >
                                <div class="row"
                                style="height: 20%;"></div>
                                <div class="row" style="padding-left: 5rem;">
                                  <h1> ESTADO DE CAJA</h1>
                                </div>
                                <div class="row" style="padding-left: 4rem;text-align: center;padding-bottom: 1rem;">
                                  <div class="col-md-2" style="padding-top: 1.5%; 
                                  background-color: rgb(70, 184, 89);
                                  color: white;">
                                    NIC :
                                  </div>
                                  <div class="col-md-3" >
                                    <kendo-numerictextbox
                                      [formControl]="NIC"
                                      [readonly]="true"
                                      orientation="horizontal"
                                      [style.width.px]="170"
                                      [spinners]="false"
                                      fillMode="outline"
                                      >
                                    </kendo-numerictextbox>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                                <div class="row" style="padding-left: 4rem;text-align: center;padding-bottom: 1rem;">
                                  <div class="col-md-2" style="padding-top: 1.5%; 
                                  background-color: rgb(188, 65, 65);
                                  color: white;">
                                    REC :
                                  </div>
                                  <div class="col-md-3" >
                                    <kendo-numerictextbox
                                      [formControl]="REC"
                                      [readonly]="true"
                                      orientation="horizontal"
                                      [style.width.px]="170"
                                      [spinners]="false"
                                      fillMode="outline"
                                      >
                                    </kendo-numerictextbox>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                                <div class="row" style="padding-left: 4rem;text-align: center;padding-bottom: 1rem;">
                                  <div class="col-md-2" style="padding-top: 1.5%; 
                                  background-color: rgb(61, 139, 181);
                                  color: white;">
                                    PR :
                                  </div>
                                  <div class="col-md-3" >
                                    <kendo-numerictextbox
                                      [formControl]="PR"
                                      [readonly]="true"
                                      orientation="horizontal"
                                      [style.width.px]="170"
                                      [spinners]="false"
                                      fillMode="outline"
                                      >
                                    </kendo-numerictextbox>
                                  </div>
                                  <div class="col-md-2"></div>
                                </div>
                                <div class="row" style="padding-left: 4rem;text-align: center;padding-bottom: 1rem;">
                                  <div class="col-md-2" style="padding-top: 1.5%; 
                                  background-color: rgb(63, 67, 64);
                                  color: white;">
                                    DFE :
                                  </div>
                                  <div class="col-md-3" >
                                    <kendo-numerictextbox
                                      [formControl]="DFE"
                                      [readonly]="true"
                                      orientation="horizontal"
                                      [style.width.px]="170"
                                      [spinners]="false"
                                      fillMode="outline"
                                      >
                                    </kendo-numerictextbox>
                                  </div>
                                  <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                      </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab title="NIC (NOTA DE INGRESO A CAJA)">
                      <ng-template kendoTabContent>
                        <app-tab-nic [datosCaja]="cajaResumenSeleccionada"></app-tab-nic>
                      </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab title="REC (RECIBO DE EGRESO A CAJA)">
                      <ng-template kendoTabContent>
                        <app-tab-rec [datosCaja]="cajaResumenSeleccionada"></app-tab-rec>
                      </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab title="PR (POR RENDIR)">
                        <ng-template kendoTabContent>
                          <app-tab-pr [datosCaja]="cajaResumenSeleccionada"></app-tab-pr>
                        </ng-template>
                    </kendo-tabstrip-tab>
                </kendo-tabstrip>     
            </div>
        </div>
    </div>
</div>


<!-- <div class="example-config">
  <button kendoButton (click)="pdf.saveAs('manual-paging.pdf')">
    Save As PDF...
  </button>
</div> -->

<!-- <kendo-pdf-export #pdf forcePageBreak=".page-break" [autoPrint]="true" paperSize="A4" margin="2cm">
    <h3>Page 1</h3>
    <div class="row">
      <div class="col-md-6">
        <p style="background-color: rgb(131, 177, 131);">
          Lorem ipsum dolor sit amet, consectetur 
          adipiscing elit. Integer felis libero, 
          lobortis ac rutrum quis, varius a velit. 
          Donec lacus erat, cursus sed porta quis, 
          adipiscing et ligula. Duis volutpat, sem 
          pharetra accumsan pharetra, mi ligula cursus 
          felis, ac aliquet leo diam eget risus. Integer 
          facilisis, justo cursus venenatis vehicula,
           massa nisl tempor sem, in ullamcorper neque mauris in orci.
      </p>
      </div>
      <div class="col-md-6">
        <p class="prueba">
          Ut orci ligula, varius ac consequat in, 
          rhoncus in dolor. Mauris pulvinar molestie 
          accumsan. Vestibulum ante ipsum primis in faucibus
           orci luctus et ultrices posuere cubilia Curae; 
           Aenean velit ligula, pharetra quis aliquam 
           sed, scelerisque sed sapien. Class aptent 
           taciti sociosqu ad litora torquent per conubia 
           nostra, per inceptos himenaeos. Aliquam dui mi, 
           vulputate vitae pulvinar ac, condimentum sed eros.
      </p>
      </div>
    </div>

    <div class='page-break'></div>
    <h3>Page 2</h3>
    <p>
        Aliquam at nisl quis est adipiscing bibendum. 
        Nam malesuada eros facilisis arcu vulputate 
        at aliquam nunc tempor. In commodo scelerisque
         enim, eget sodales lorem condimentum rutrum.
          Phasellus sem metus, ultricies at commodo 
          in, tristique non est. Morbi vel mauris eget
           mauris commodo elementum. Nam eget libero
            lacus, ut sollicitudin ante. Nam odio quam,
             suscipit a fringilla eget, dignissim nec arcu.
              Donec tristique arcu ut sapien elementum pellentesque.
    </p>
    <p>
        Maecenas vitae eros vel enim molestie cursus. Proin ut lacinia ipsum. Nam at elit arcu, at porttitor ipsum. Praesent id viverra lorem. Nam lacinia elementum fermentum. Nulla facilisi. Nulla bibendum erat sed sem interdum suscipit. Vestibulum eget molestie leo. Aliquam erat volutpat. Ut sed nulla libero. Suspendisse id euismod quam. Aliquam interdum turpis vitae purus consectetur in pulvinar libero accumsan. In id augue dui, ac volutpat ante. Suspendisse purus est, ullamcorper id bibendum sed, placerat id leo.
    </p>
</kendo-pdf-export> -->