// .bg-color-material {
//   background-color: #3f51b5;
// }

// .table-responsive {
//   max-height: 400px;
//   overflow-y: auto;
// }

// .table-row {
//   cursor: pointer;
// }


.bg-color-material {
  background-color: #3f51b5;
}

.table-responsive {
  max-height: 400px;
  overflow-y: auto;
}

.table-row {
  cursor: pointer;
}

