.kg-header-grid {
    color: #fff;
    background-color: #4584a7 !important;
    text-align: center !important;
    font-size: 1.2em !important;
    font-weight: 400 !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.kg-header-grid .k-grid-filter {
    color: #fff !important;
}

.kg-header-grid .k-grid-filter:hover {
    background-color: #ebebeb !important;
    color: #4584a7 !important;
}

.kg-header-grid .k-grid-filter-menu {
    color: #fff !important;
}

.kg-header-grid .k-grid-filter-menu:hover {
    background-color: #ebebeb !important;
    color: #4584a7 !important;
}

.kg-header-grid .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
    color: white !important;
}