$k-azuloscuro: #094d82;
$k-celeste: #00A9F4;
$k-azulclaro: #4584a7;

// $k-azuloscuro: #2c3b6f ;
// $k-celeste: #214AAA;
// $k-azulclaro: #191C7B;
// $k-azulclaro: #6063A8;
// $k-azulclaro: #A5B0EC;

$ki_azuloscuro: #001f3f;
$ki_azulmedio: #4584a7;
$ki_azulclaro: #7FDBFF;
$ki_celeste: #00A9F4;

$ki_primary: #3b2291;
$ki_secondary: #8461ce;
$ki_blue: #8461ce;
$ki_secondary: #8461ce;
$ki_secondary: #8461ce;

$ki-sucess: #278200;
$ki-error: #D51923;

$pg_primary: #4d1960;
$pg_primary: #6129a5;
$pg_primary: #4f2cab;
$pg_primary: #2f2990;
$pg_primary: #2c5dab;



// $border: 0.15em;
// $border-radius: 10px;
// $font-family: 'Roboto';
// $font-weight-header: bold;
// $font-weight-cell: normal;
// $font-size-header: 1.5em;
// $font-size-cell: 1.6em;
