<!-- #region Modal Agregar nuevo Postulante -->
<div class="modal-header py-2 bg-light text-dark text-center">
  <h2 class="modal-title w-100 mb-0">Agregar Nuevo Postulante</h2>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body px-4">
  <!-- <ng-container class="k-loading-panel" *ngIf="loadingPanelVisible">
    <div class="k-loading-panel-mask"></div>
    <div class="k-loading-panel-wrapper">
      <kendo-loader
        type="infinite-spinner"
        themeColor="primary"
        size="large"
      >
      </kendo-loader>
    </div>
  </ng-container> -->
  <form [formGroup]="formInsertarPostulante" class="Form-Postulantes">
    <div class="row">
      <div class="col-sm-12 col-md-5 k-form-horizontal">
        <div class="row">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="Nombre">Nombre * </label>
              <kendo-textbox #Nombre formControlName="Nombre"> </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="ApellidoPaterno"
                >Apellido Paterno*
              </label>
              <kendo-textbox #ApellidoPaterno formControlName="ApellidoPaterno">
              </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="ApellidoMaterno"
                >Apellido Materno*
              </label>
              <kendo-textbox #ApellidoMaterno formControlName="ApellidoMaterno">
              </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label"> Tipo Documento* </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.documento"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Tipo Documento'
                }"
                [valuePrimitive]="true"
                formControlName="IdTipoDocumento"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="NroDocumento"
                >Nro de Documento*
              </label>
              <kendo-textbox #NroDocumento formControlName="NroDocumento">
              </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="Email">E-mail </label>
              <kendo-textbox #Email formControlName="Email"> </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="Celular">Celular </label>
              <kendo-textbox #Celular formControlName="Celular">
              </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Pais<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.pais"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Pais'
                }"
                [valuePrimitive]="true"
                formControlName="IdPais"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Ciudad<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="ciudadesFiltradas"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Ciudad'
                }"
                [valuePrimitive]="true"
                formControlName="IdCiudad"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 k-form-horizontal">
        <div class="row">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label"> Proceso Seleccion* </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.procesoSeleccion"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Proceso de Seleccion'
                }"
                [valuePrimitive]="true"
                formControlName="IdProcesoSeleccion"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label"> Estado Proceso Seleccion* </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.estadoProcesoSeleccion"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Estado Proceso'
                }"
                [valuePrimitive]="true"
                formControlName="IdEstadoProcesoSeleccion"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label"> Etapa Proceso Seleccion* </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="estadoEtapaProcesoSeleccionFiltrado"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Etapa'
                }"
                [valuePrimitive]="true"
                formControlName="IdProcesoSeleccionEtapa"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label"> Estado Etapa Proceso Seleccion* </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.listaEstadoEtapas"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Estado Etapa'
                }"
                [valuePrimitive]="true"
                formControlName="IdEstadoEtapaProcesoSeleccion"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <!-- SE comento por peticion de GP -->
        <!-- <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label"> Respuesta Desaprobatoria </label>
              <kendo-multiselect
                [data]="comboPostulante.listaRespuestaDesaprobatoria"
                textField="nombre"
                valueField="idRespuestaDesaprovatoria"
                formControlName="ListaRespuestaDesaprobatoria"
                [valuePrimitive]="true"
                [kendoDropDownFilter]="filterSettings"
                [popupSettings]="{ popupClass: 'pg-popup' }"
                class="pg-dropDown"
              ></kendo-multiselect>
            </kendo-formfield>
          </div>
        </div> -->
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Nivel Potencial</span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.listaNivelPotencial"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Nivel Potencial'
                }"
                [valuePrimitive]="true"
                formControlName="IdPostulanteNivelPotencial"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Operador Proceso</span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.listaPersonal"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Operador'
                }"
                [valuePrimitive]="true"
                formControlName="IdPersonalOperadorProceso"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Proveedor Proceso</span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.listaProveedor"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Pagina Reclutadora'
                }"
                [valuePrimitive]="true"
                formControlName="IdPaginaReclutadoraPersonal"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Codigo Convocatoria</span>
              </label>
              <kendo-dropdownlist
                textField="nombreConvocatoria"
                valueField="idConvocatoria"
                [data]="codigoConvocatoriaFiltrado"
                [defaultItem]="{
                  idConvocatoria: null,
                  nombreConvocatoria: 'Seleccione Codigo'
                }"
                [valuePrimitive]="true"
                formControlName="IdConvocatoriaPersonal"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="k-form-buttons m-0">
    <button
      themeColor="primary"
      size="medium"
      class="w-100"
      kendoButton
      [disabled]="controlBotton"
      (click)="insertarPostulante()"
    >
      <kendo-loader
        *ngIf="loadingPanelVisible"
        themeColor="light"
      >
      </kendo-loader>
      Guardar Registro
    </button>
    <button
      themeColor="error"
      size="medium"
      class="w-100"
      kendoButton
      (click)="activeModal.dismiss('Cross click')"
    >
      Cancelar
    </button>
  </div>
</div>
<!-- #endregion Modal Agregar nuevo Postulante-->
