/* Example Styles */
.modal-body {
  position: relative;
  width: 100%;
  height: 100%;
}
/* Loader Panel Styles */
.k-loading-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  pointer-events: none;
}
.k-loading-panel-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 109, 174, 0.4);
  z-index: 140;
}
.k-loading-panel-wrapper {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.k-button .k-loader {
  margin-right: 8px;
}
