.formRend{
    margin-top: 1rem;
}

.labelForm{
    padding-top: 1% !important;
    width: 85% !important;
    text-align: left !important;
}
.labelForm-input{
    padding-top: 1% !important;
    text-align: right !important;
}

.espacio-top{
    padding-top: 2% !important; 
}

.custom-styling {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: inherit;
  }