<ng-template #modalAnadirComprobante let-modal>
  <app-modal-comprobante-pag
  [modal]="modal"
  [nombreModal]="'Nuevo Comprobante de Pago'"
  [nombreBTN]="'Nuevo'"
  [listaSede]="listaSede"
  [listaMoneda]="listaMoneda"
  [listaDocSunat]="listaDocSunat"
  [listaTipoImpuesto]="listaTipoImpuesto"
  [listaRetencion]="listaRetencion"
  [listaDetraccion]="listaDetraccion"
  [listaPais]="listaPais"
  [dataEditar]="null"
  >
  </app-modal-comprobante-pag>
</ng-template>

<ng-template #modalDetallePR let-modal>
    <div class="modal-header">
        <h2 class="modal-title m-0 p-0" id="modal-basic-title">
          Detalles ({{" "+nombrePR+" "}})
        </h2>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <kendo-grid
        [kendoGridBinding]="listaDetallePR"
        [loading]="false"
        [pageSize]="5"
        [sortable]="true"
        [reorderable]="true"
        [resizable]="true"
        [columnMenu]="{ filter: true }"
        [pageable]="{
          buttonCount: 5,
          info: true,
          type: 'numeric',
          pageSizes: true,
          previousNext: true,
          position: 'bottom'
        }"                          
        >
            <kendo-grid-column
              title="Caja"
              headerClass="justify-content-center k-grid-header "
              [width]="200"
              field="codigoCaja"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fur"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="codigoFur"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Solicitante"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="nombrePersonalSolicitante"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Descripción"
              headerClass="justify-content-center k-grid-header "
              [width]="200"
              field="descripcion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >

            </kendo-grid-column>
            <kendo-grid-column
              title="Moneda"
              headerClass="justify-content-center k-grid-header "
              [width]="200"
              field="nombreMoneda"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Total Efectivo"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="totalEfectivo"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha de Entrega"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="fechaEntregaEfectivo"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
                <ng-template kendoGridCellTemplate let-dataItem >
                    {{
                        fechaTemplate(dataItem.fechaEntregaEfectivo)
                    }}
                </ng-template>
            </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
                <div>
                  <kendo-badge-container>
                    <kendo-icon name="cloud" size="large"></kendo-icon>
                    <kendo-badge position="inside">
                      <kendo-icon name="close" style="color: red;" ></kendo-icon>
                    </kendo-badge>
                  </kendo-badge-container>
                </div>
                <p>No hay registros cargados!</p>
              </ng-template>
        </kendo-grid>
      </div>
      <div class="modal-footer">

      </div>
</ng-template>

<ng-template #modalNuevaRendicion let-modal>
    <app-loader *ngIf="loaderModalRendicion"></app-loader>
    <div class="modal-header">
        <h2 class="modal-title m-0 p-0" id="modal-basic-title">
            {{ nombreModal }} Rendición
        </h2>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" style="background-color: rgb(243, 218, 192);text-align: center;border-radius: 15px;">
                        <div style="padding: 5px;">
                            <strong>¿No encuentras el comprobante que deseas utilizar?</strong>
                            <br>
                            Click en el Siguiente Boton
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button mat-raised-button 
                        class="file-select-button" 
                        style="background-color: rgb(55, 179, 33) !important;color:white;width: 100%;"
                        (click)="openModalComprobante(true)"
                        >
                        <span class="k-icon k-i-js"></span>
                        Crear Nuevo Comprobante
                        </button>
                    </div>
                    <div class="col-md-2"></div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <kendo-formfield orientation="horizontal">
                        <label [for]="Comprobante">
                          <span
                            >Comprobante RUC (SERIE - NUMERO):
                            <span class="text-danger fw-bold">*</span></span
                          >
                        </label>
                        <div class="espacio-top">
                            <kendo-dropdownlist
                            #Comprobante
                            size="medium"
                            [formControl]="idComprobante"
                            class="d-flex center"
                            [data]="listaComprobante"
                            textField="comprobante"
                            valueField="id"
                            [defaultItem]="{id:null,comprobante:'< Ingrese el comprobante a buscar >'}"
                            [valuePrimitive]="true"
                            [filterable]="true"
                            [required]="true"
                            (filterChange)="BuscarComprobante($event)"
                            (selectionChange)="ObtenerDatosComprobante($event)"                        
                          >
                          </kendo-dropdownlist>
                        </div>
                        
                        <kendo-formerror>
                            Seleccione un comprobante de pago, es necesario!
                        </kendo-formerror>
                      </kendo-formfield>
                    </div>
                </div>
                <div class="k-form-horizontal col-md-12 formRend" >
                    <kendo-formfield orientation="horizontal">
                      <label [for]="Registrado" class="labelForm">
                          <span
                          >Monto Registrado en Comprobante :</span>
                      </label>
                      <kendo-textbox
                      [disabled]="true"
                      fillMode="outline"
                      #Registrado
                      class="d-flex"
                      size="medium"
                      [ngModel]="montoRegistrado"
                      >
                      </kendo-textbox>
                    </kendo-formfield>
                </div>
                <div class="k-form-horizontal col-md-12 formRend" >
                    <kendo-formfield orientation="horizontal">
                      <label [for]="Rendido" class="labelForm">
                          <span
                          >Monto de Comprobante Rendido :</span>
                      </label>
                      <kendo-textbox
                      [disabled]="true"
                      fillMode="outline"
                      [readonly]="true"
                      #Rendido
                      class="d-flex"
                      size="medium"
                      [ngModel]="montoRendido"
                      >
                      </kendo-textbox>
                    </kendo-formfield>
                </div>
                <div class="k-form-horizontal col-md-12 formRend" >
                    <kendo-formfield orientation="horizontal">
                      <label [for]="Disponible" class="labelForm">
                          <span
                          >Monto Disponible de Comprobante :</span>
                      </label>
                      <kendo-textbox
                      [disabled]="true"
                      fillMode="outline"
                      #Disponible
                      class="d-flex"
                      size="medium"
                      [ngModel]="montoDisponible"
                      >
                      </kendo-textbox>
                    </kendo-formfield>
                </div>
    
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <kendo-formfield orientation="horizontal">
                        <label [for]="Fur">
                          <span
                            >FUR :
                            <span class="text-danger fw-bold">*</span></span
                          >
                        </label>
                        <div class="espacio-top">
                            <kendo-dropdownlist
                            #Fur
                            size="medium"
                            [formControl]="idFur"
                            class="d-flex center"
                            [data]="listaFur"
                            textField="codigo"
                            valueField="id"
                            [defaultItem]="{id:null,codigo:'< Ingrese el FUR a buscar >'}"
                            [valuePrimitive]="true"
                            [filterable]="true"
                            (filterChange)="BuscarFur($event)" 
                            (selectionChange)="ObtenerDatosFUR($event)"                                                
                          >
                          </kendo-dropdownlist>
                        </div>
                        <kendo-formerror>
                            Seleccione un FUR, es necesario!
                        </kendo-formerror>
                      </kendo-formfield>
                    </div>
                </div>
                <div class="row espacio-top">
                    <div class="col-sm-12 col-md-12">
                      <kendo-formfield orientation="horizontal">
                        <label [for]="etalleRendicion">
                          <span
                            >Detalle de la Rendición :
                            <span class="text-danger fw-bold">*</span></span
                          >
                        </label>
                        <div class="espacio-top">
                            <kendo-textarea
                            #etalleRendicion
                            [style.width.%]="100"
                            resizable="auto"
                            [maxlength]="maxlength"
                            [formControl]="detalleRendicion"
                            (valueChange)="onValueChange($event)"
                             >
                                <kendo-textarea-suffix class="custom-styling">
                                <span class="counter">{{ counter }}</span>
                                </kendo-textarea-suffix>
                            </kendo-textarea>
                        </div>
                        
                        <kendo-formerror>
                            Ingrese el detalle, es necesario!
                        </kendo-formerror>
                      </kendo-formfield>
                    </div>
                </div>
                <div class="k-form-horizontal col-md-12 formRend">
                    <kendo-formfield orientation="horizontal">
                        <label [for]="ontoRendicion" class="labelForm-input" style="width:30% !important;">
                            <span
                              >Monto a Rendir :
                              <strong class="text-danger">*</strong></span
                            >
                          </label>
                          <kendo-numerictextbox
                          #ontoRendicion
                          orientation="horizontal"
                          [style.width.px]="170"
                          [formControl]="montoRendicion"
                          [value]="limitFUR"
                          [min]="0"
                          [max]="limitFUR"
                          [autoCorrect]="true"
                          [decimal]="2"
                          format="0.00"
                          >
                          </kendo-numerictextbox>
                          <kendo-formerror>Ingrese el monto a rendir, es necesario!</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="k-form-horizontal col-md-12 formRend">
                    <kendo-formfield orientation="horizontal">
                        <label [for]="idMoneda" class="labelForm-input" style="width:30% !important;">
                            <span
                              >Moneda :
                              <strong class="text-danger">*</strong></span
                            >
                          </label>
                          <kendo-dropdownlist
                          
                          class="d-flex"
                          size="small"
                          [disabled]="true"
                          fillMode="outline"
                          #idMoneda
                          [data]="listaMoneda"
                          textField="nombrePlural"
                          valueField="id"
                          [formControl]="inputidMoneda"
                          [defaultItem]="{id:null,nombrePlural:'Seleccionar'}"
                          [valuePrimitive]="true"
                          >
                          </kendo-dropdownlist>
                          <kendo-formerror>Seleccione una moneda, es necesario!</kendo-formerror>
                    </kendo-formfield>
                </div>

            </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <div style="margin-right: 0.5rem;">
            <button mat-raised-button 
            color="primary"
            (click)="accionModalRendicion()"
            >
              {{ btnModal }}
            </button>
        </div>
        <div>
            <button
            mat-raised-button 
            color="warn"
            (click)="modal.close('Close click')"
            >
            Cancelar
            </button>
        </div>
        

        

      </div>
      
</ng-template>


<div class="">
    <div class="row">
        <div class="col-1fa-rotate-270">
            <div class="card">
                <div class="card-header bg-color-material">
                    <h1 class="text-white">Rendición de Efectivo</h1>
                </div>
                <div  class="card-body p-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="card" style="padding: 0px;">
                                <div class="card-header bg-color-material pb-0">
                                    <h3 class="text-white mb-2">Registros Por Rendir</h3>
                                </div>
                                <div class="card-body p-4">
                                    <div class="row">
                                        <kendo-grid
                                        [kendoGridBinding]="listaPR"
                                        [loading]="loadeGrillaPR"
                                        [pageSize]="5"
                                        [sortable]="true"
                                        [reorderable]="true"
                                        [resizable]="true"
                                        [columnMenu]="{ filter: true }"
                                        [pageable]="{
                                          buttonCount: 5,
                                          info: true,
                                          type: 'numeric',
                                          pageSizes: true,
                                          previousNext: true,
                                          position: 'bottom'
                                        }"                          
                                        >
                                            <kendo-grid-column
                                              title="Cód. Por Rendir"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="codigoPR"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            <ng-template kendoGridCellTemplate let-dataItem >
                                                <div class="col-md-1">
                                                    <button mat-raised-button color="primary" 
                                                    class="file-select-button" 
                                                    (click)="abrirCardRendicion(dataItem)"
                                                    >
                                                        {{dataItem.codigoPR}}
                                                    </button>
                                                </div>
                                            </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Cód Caja"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="codigoCaja"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Nro. Solicitudes"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="numeroSolicitudes"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Moneda"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="nombreMoneda"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Monto Solicitado"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="montoSolicitado"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Monto Pendiente"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="montoPendiente"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Fecha de Creacion"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="fechaCreacion"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            <ng-template kendoGridCellTemplate let-dataItem >
                                                {{
                                                    fechaTemplate(dataItem.fechaCreacion)
                                                }}
                                            </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-command-column
                                            [sticky]="true"
                                            title="Acciones"
                                            [width]="150"
                                            headerClass="justify-content-center text-center k-grid-header-command"
                                            >
                                            <ng-template 
                                            kendoGridCellTemplate 
                                            let-dataItem="dataItem" 
                                            let-rowIndex="rowIndex"
                                            >
                                                <div class="w-100 d-flex justify-content-center" style="padding:20px" kendoTooltip>
                                                    <button
                                                    title="Ver detalles"
                                                    kendoButton
                                                    themeColor="tertiary"
                                                    fillMode="solid"
                                                    rounded="large"
                                                    size="large"
                                                    class="p-2 me-1 ms-1"
                                                    container="body"
                                                    placement="top"
                                                    (click)="ObtenerDetallePorRendir(dataItem)"
                                                    >
                                                    <mat-icon>find_in_page</mat-icon>
                                                    </button>
                                                </div>
                                            </ng-template>
                                            </kendo-grid-command-column>
                                            <ng-template kendoGridNoRecordsTemplate>
                                                <div>
                                                  <kendo-badge-container>
                                                    <kendo-icon name="cloud" size="large"></kendo-icon>
                                                    <kendo-badge position="inside">
                                                      <kendo-icon name="close" style="color: red;" ></kendo-icon>
                                                    </kendo-badge>
                                                  </kendo-badge-container>
                                                </div>
                                                <p>No hay registros cargados!</p>
                                              </ng-template>
                                        </kendo-grid>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" *ngIf="cardRendicion">
                            <div class="card" style="padding: 0px;">
                                <div class="card-header bg-color-material pb-0">
                                    <h3 class="text-white mb-2">
                                        Rendición de requerimientos para : ({{" "+nombrePR+" "}}- Pendiente por rendir: {{montoPendiente}}) 
                                    </h3>
                                </div>
                                <div class="card-body p-4">
                                    <kendo-grid
                                        [kendoGridBinding]="listaRendicion"
                                        [loading]="loaderRendicion"
                                        [pageSize]="5"
                                        [sortable]="true"
                                        [reorderable]="true"
                                        [resizable]="true"
                                        [columnMenu]="{ filter: true }"
                                        [pageable]="{
                                          buttonCount: 5,
                                          info: true,
                                          type: 'numeric',
                                          pageSizes: true,
                                          previousNext: true,
                                          position: 'bottom'
                                        }"                          
                                        >
                                            <ng-template kendoGridToolbarTemplate class="bg-danger">
                                            
                                            <button mat-stroked-button
                                            (click)="refrescarGrillaRendicion()"
                                            >
                                                <mat-icon>refresh</mat-icon>
                                            </button>
                                            <kendo-grid-spacer></kendo-grid-spacer>
                                            <button mat-raised-button 
                                            style="background-color: rgb(222, 193, 45) !important;"
                                            class="file-select-button"
                                            (click)="enviarREndicion()"
                                            >
                                            <mat-icon> monetization_on</mat-icon>Enviar rendicion 
                                            ({{montoEnvioTotal}} Soles)
                                            </button>      
                                            <button mat-raised-button color="primary" 
                                            class="file-select-button"
                                            (click)="abrirModalRendicion(true)"
                                            >
                                                Nuevo
                                            </button>
                                          </ng-template>
                                            <kendo-grid-command-column
                                            [sticky]="true"
                                            title="Acciones"
                                            [width]="150"
                                            headerClass="justify-content-center text-center k-grid-header-command"
                                            >
                                            <ng-template 
                                            kendoGridCellTemplate 
                                            let-dataItem="dataItem" 
                                            let-rowIndex="rowIndex"
                                            >
                                                <div class="w-100 d-flex justify-content-center" style="padding:20px" kendoTooltip>
                                                    <button
                                                    title="Eliminar"
                                                    kendoButton
                                                    themeColor="error"
                                                    fillMode="solid"
                                                    rounded="large"
                                                    size="large"
                                                    class="p-2 me-1 ms-1"
                                                    container="body"
                                                    placement="top"
                                                    (click)="msgEliminar(dataItem)"
                                                    >
                                                    <span class="k-icon k-i-trash k-icon-20"></span>
                                                    </button>
                                                </div>
                                            </ng-template>
                                            </kendo-grid-command-column>
                                            <kendo-grid-column
                                              title="Fur"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="codigoFur"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                              
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Descripción"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="descripcion"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Proveedor"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="nombreProveedor"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="RUC"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="rucProveedor"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Tipo de Documento"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="nombreSunatDocumento"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Serie"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="serie"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Número"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="150"
                                              field="numero"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Fecha de Emisión"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="fechaEmision"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                                <ng-template kendoGridCellTemplate let-dataItem >
                                                    {{
                                                        fechaTemplate(dataItem.fechaEmision)
                                                    }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Moneda"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="idMoneda"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                                <ng-template kendoGridCellTemplate let-dataItem >
                                                    {{
                                                        monedaTemplate(dataItem.idMoneda)
                                                    }}
                                                </ng-template>
                                            </kendo-grid-column>
                                            <kendo-grid-column
                                              title="Total de Efectivo"
                                              headerClass="justify-content-center k-grid-header "
                                              [width]="200"
                                              field="totalEfectivo"
                                              [locked]="false"
                                              [sticky]="false"
                                              [filterable]="true"
                                              [hidden]="false"
                                            >
                                            </kendo-grid-column>

                                            <ng-template kendoGridNoRecordsTemplate>
                                                <div>
                                                  <kendo-badge-container>
                                                    <kendo-icon name="cloud" size="large"></kendo-icon>
                                                    <kendo-badge position="inside">
                                                      <kendo-icon name="close" style="color: red;" ></kendo-icon>
                                                    </kendo-badge>
                                                  </kendo-badge-container>
                                                </div>
                                                <p>No hay registros cargados!</p>
                                            </ng-template>
                                    </kendo-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>