  .kendo-button {
    background-color: #007bff;
    color: white;
  }
  .k-toolbar {
    border-color: #3F51B5 ; 
    color: #424242;
    background-color: #3F51B5;
}
// #tabs .k-tabstrip-items {
//   background:grey;
//   // 
// }
// // #tabs .k-tabstrip-items .k-link {
// //   // color: #ffffff;
// //   // border: 1px solid #3F51B5;
// // }
// #tabs .k-tabstrip-items .k-item:hover{
//   background: #ffffff;
// }
// // #tabs .k-tabstrip-items .k-tabstrip-item.k-state-selected {
// //   background: grey;
// // }
// // #tabs .k-tabstrip-items .k-tabstrip-item.k-state-selected {
// //   background: grey;
// // }

// #tabs .k-tabstrip-items .k-tabstrip-item.k-state-selected .k-tabstrip-items-wrapper {
//   background: transparent;
// }
#gridAreasReclamos .k-grid thead th:nth-child(-n+2){
  text-align: center;
  background: #337AB7;
  color: white;
  justify-content: center;
  border: 1px solid white
}


#gridAreas .k-grid thead th:last-child {
  text-align: center;
  background: #337AB7;
  color: white;
  justify-content: center;
  border: 1px solid white
}
.textArea{
  background-color: white;
  // margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.k-grid-header .k-header
{
     background-color: #2251c7;
     color: white;
     font-weight: bold;
}
.gridLog td {
  white-space: normal !important; /* Desactivar el recorte del texto */
}
// .k-grid-header .k-header
// {
//      background-color: #2251c7;
//      color: white;
//      font-weight: bold;
// }


.custom-grc-remove-max-width-formfield > div.k-form-field-wrap  {
  max-width: 100% !important;
}

.custom-grc-remove-max-width-formfield span.k-input-value-text  {
white-space: normal !important;
text-overflow: clip !important;
}
.hoverButton:hover{
  text-decoration: underline;
}
