<div class="card">
  <div class="formulario">
    <div class="alert alert-danger" role="alert">
      <b>Nota:</b> **Los filtros de pais y ciudad aplican únicamente sobre el
      pais y ciudad de origen del contacto
    </div>
    <div class="column">
      <h3>Pais:</h3>

      <div class="example-chip-list w-100" >
          <kendo-multiselect class="w-100"
            [data]="listaPaisFiltro"
            #paisFiltro
            placeholder="-Todos-"
            [filterable]="true"
            [(ngModel)]="paisModel"
            [textField]="'nombrePais'"
            [valueField]="'id'"
            (valueChange)="valueChange($event)"
            (filterChange)="filterChange($event)"
            (removeTag)="removeTag($event)"
          ></kendo-multiselect>

      </div>
      
    </div>
    <div class="column">
      <h3>Ciudad:</h3>
      <div class="example-chip-list w-100" >
        <kendo-multiselect class="w-100"
          [data]="listaCiudadFiltro"
          #ciudadFiltro
          placeholder="-Todos-"
          [filterable]="true"
          [(ngModel)]="ciudadModel"
          [textField]="'nombre'"
          [valueField]="'id'"
          (valueChange)="valueChangeCiudad($event)"
          (filterChange)="filterChangeCiudad($event)"
          (removeTag)="removeTagCiudad($event)"
        ></kendo-multiselect>

    </div>
    </div>
  </div>
</div>


