<div class="row">
  <div class="col-1fa-rotate-270">
    <div class="card">
      <div class="card-header bg-color-material">
        <h1 class="text-white">Reporte Documentos Pendientes de Pago</h1>
      </div>
      <div class="card-body p-4">
        <div class="k-loading-panel" *ngIf="loader">
          <div class="k-loading-panel-mask"></div>
          <div class="k-loading-panel-wrapper">
            <kendo-loader
              type="converging-spinner"
              themeColor="primary"
              size="large"
            >
            </kendo-loader>
            <div class="k-loading-panel-text fs-5 text-primary">
              Cargando...
            </div>
          </div>
        </div>
        <div class="row conteiner-toolbar-retiros-matricula">
          <!-- <div class="card" style="padding: 0px">
              <div class="card-header bg-color-material pb-0">
                <h3 class="text-white mb-2">Filtro</h3>
              </div>
              <div class="card-body p-4">
                <form class="k-form" [formGroup]="formGroupFiltro">
                  <fieldset class="k-form-fieldset">
                    <div
                      class="row"
                      style="display: flex; justify-content: center"
                    >
                      <div class="col-md-8">
                        <form class="k-form" [formGroup]="formGroupFiltro">
                          <fieldset class="k-form-fieldset">
                            <div
                              class="row"
                              style="display: flex; justify-content: center"
                            >
                              <div class="col-md-8">
                                <kendo-daterange
                                  [incompleteDateValidation]="true"
                                >
                                  <div class="col-md-5">
                                    <label style="width: 250px">
                                      <span>Fechas :</span>
                                    </label>
                                    <kendo-dateinput
                                      kendoDateRangeStartInput
                                      [size]="'medium'"
                                      formControlName="fechaInicio"
                                      [placeholder]="'Inicio'"
                                      [format]="{
                                        displayFormat: 'dd-MM-yyyy',
                                        inputFormat: 'dd-MM-yyyy'
                                      }"
                                      [incompleteDateValidation]="true"
                                      fillMode="outline"
                                    >
                                    </kendo-dateinput>
                                  </div>
                                  <div
                                    class="col-md-2"
                                    style="
                                      padding: 0%;
                                      width: 5%;
                                      text-align: center;
                                    "
                                  >
                                    <p style="margin-bottom: 5px">
                                      <strong>—</strong>
                                    </p>
                                  </div>
                                  <div class="col-md-5">
                                    <kendo-dateinput
                                      kendoDateRangeEndInput
                                      [size]="'medium'"
                                      [placeholder]="'fin'"
                                      formControlName="fechaFin"
                                      [format]="{
                                        displayFormat: 'dd-MM-yyyy',
                                        inputFormat: 'dd-MM-yyyy'
                                      }"
                                      [incompleteDateValidation]="true"
                                      fillMode="outline"
                                    ></kendo-dateinput>
                                  </div>
                                </kendo-daterange>
                              </div>
                              <div class="col-md-2" style="padding-top: 15px">
                               
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div style="height: 30px"></div> -->
          <kendo-grid
            #grid
            [kendoGridBinding]="listaReporte"
            [pageSize]="10"
            [sortable]="true"
            [reorderable]="false"
            [resizable]="true"
            filterable="menu"
            [pageable]="true"
            style="max-height: 700px; border-top-width: 0px; padding: 0px"
          >
            <ng-template kendoGridToolbarTemplate>
              <button
                mat-raised-button
                class="btn-export-excel"
                (click)="excelexport.save()"
              >
                <span class="k-icon k-i-file-excel k-icon-20"></span>
                Exportar a Excel
              </button>
              <kendo-excelexport
                [data]="listaReporte"
                [collapsible]="true"
                fileName="Reporte pagos pendientes a proveedores.xlsx"
                #excelexport
              >
                <!-- <kendo-excelexport-column field="empresa" title="Empresa">
                </kendo-excelexport-column> -->
                <kendo-excelexport-column
                  field="empresaFur"
                  title="Empresa FUR"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="sede" title="Sede">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="area" title="Área">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="tipoPedido"
                  title="Tipo de Pedido"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="codigoFur" title="Código FUR">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="productoServicio"
                  title="Producto/Servicio"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="cantidad" title="Cantidad">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="unidades" title="Unidades">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="precioUnitario"
                  title="Precio Unitario"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="moneda" title="Moneda FUR">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="descripcion"
                  title="Descripción"
                  [width]="300"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="centroCosto"
                  title="Centro Costo"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="curso" title="Curso">
                </kendo-excelexport-column>
                <!-- <kendo-excelexport-column field="programa" title="Programa">
              </kendo-excelexport-column> -->
                <kendo-excelexport-column field="atipico" title="Atipico">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="rubro" title="Rubro">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="nroCuenta" title="Nro. Cuenta">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="cuenta" title="Cuenta">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="usuarioCreacion"
                  title="Usuario Creación"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="usuarioAprobacion"
                  title="Usuario Aprobacion"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="usuarioModificacion"
                  title="Usuario Modificación"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="tipoDocumento"
                  title="Tipo Documento"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="nroDoc" title="Nro. Doc">
                </kendo-excelexport-column>
                <kendo-excelexport-column field="proveedor" title="Proveedor">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="tipoComprobante"
                  title="Tipo Comprobante"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="numComprobante"
                  title="Nro. Comprobante"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="monedaComprobante"
                  title="Moneda Comprobante"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="montoaPagar"
                  title="Monto a Pagar"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="totalDolaresAsociado"
                  title="Total Dolares a Pagar"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="monedaPago"
                  title="Moneda Pago"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="aCuenta"
                  title="Pagos a Cuenta"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="totalDolaresACuenta"
                  title="Total Dolares a Cuenta"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="totalDolaresPendiente"
                  title="Total Dolares Pendiente"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="fechaEmisionComprobante"
                  title="Fecha Emisión"
                  [width]="150"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="mesdeEmision"
                  title="Mes de Emisión"
                  [width]="150"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="fechaVencimientoComprobante"
                  title="Fecha Vencimiento"
                  [width]="150"
                >
                </kendo-excelexport-column>

                <kendo-excelexport-column
                  field="mesdeVcto"
                  title="Mes de Vencimiento"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column field="estado" title="Estado">
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="anterior"
                  title="Anterior"
                  [width]="150"
                >
                </kendo-excelexport-column>

                <kendo-excelexport-column
                  field="mesPresupuesto"
                  title="Mes Presupuesto"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="anioPresupuesto"
                  title="Año Presupuesto"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="mesdeVcto"
                  title="Mes de Vencimiento"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="anioVcto"
                  title="Año de Vencimiento"
                >
                </kendo-excelexport-column>
                <kendo-excelexport-column
                  field="observaciones"
                  title="Observaciones"
                >
                </kendo-excelexport-column>
              </kendo-excelexport>
              <kendo-grid-spacer></kendo-grid-spacer>
              <button
                mat-raised-button
                class="btn-suscces-especial"
                (click)="generarReporte()"
              >
                <mat-icon>search</mat-icon>
                Generar Reporte
              </button>
            </ng-template>
            <!-- <kendo-grid-column
                title="Empresa"
                headerClass="justify-content-center k-grid-header "
                [headerStyle]="{
                  'background-color': '#27ae60',
                  color: 'white'
                }"
                [width]="150"
                field="empresa"
                [locked]="false"
                [sticky]="false"
                [filterable]="true"
                [hidden]="false"
              >
              </kendo-grid-column> -->
            <kendo-grid-column
              title="Empresa FUR"
              headerClass="justify-content-center k-grid-header "
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
              [width]="150"
              field="empresaFur"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Sede"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="sede"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Área"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="area"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Tipo de Pedido"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="tipoPedido"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Código FUR"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="codigoFur"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Producto/Servicio"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="productoServicio"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Cantidad"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="cantidad"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Unidades"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="unidades"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Precio Unitario"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="precioUnitario"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Moneda FUR"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="moneda"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Descripción"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="descripcion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Centro Costo"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="centroCosto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Curso"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="curso"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <!-- <kendo-grid-column
                title="Programa"
                headerClass="justify-content-center k-grid-header "
                [width]="150"
                field="programa"
                [locked]="false"
                [sticky]="false"
                [filterable]="true"
                [hidden]="false"
                [headerStyle]="{
                  'background-color': '#27ae60',
                  color: 'white'
                }"
              >
              </kendo-grid-column> -->
            <kendo-grid-column
              title="Atipico"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="atipico"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Rubro"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="rubro"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Nro. Cuenta"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="nroCuenta"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Cuenta"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="cuenta"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Usuario Creación"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="usuarioCreacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Usuario Aprobacion"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="usuarioAprobacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Usuario Modificación"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="usuarioModificacion"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Tipo Documento"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="tipoDocumento"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Nro. Doc"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="nroDoc"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>

            <kendo-grid-column
              title="Proveedor"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="proveedor"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Tipo Comprobante"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="tipoComprobante"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Nro. Comprobante"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="numComprobante"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Moneda Comprobante"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="monedaComprobante"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Monto a Pagar"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="montoaPagar"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Total Dolares a Pagar"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="totalDolaresAsociado"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Moneda Pago"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="monedaPago"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Pagos a Cuenta"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="aCuenta"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Total Dolares a Cuenta"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="totalDolaresACuenta"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Total Dolares Pendiente"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="totalDolaresPendiente"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Emisión"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="fechaEmisionComprobante"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-date-filter-menu
                  [column]="column"
                  [format]="'dd-MM-yyyy'"
                  [filter]="filter"
                  [placeholder]="'dia-mes-año'"
                  [filterService]="filterService"
                >
                </kendo-grid-date-filter-menu>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{
                  finanzasService.fechaTemplate(
                    dataItem.fechaEmisionComprobante
                  )
                }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              title="Mes de Emisión"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="mesdeEmision"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Fecha Vencimiento"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="fechaVencimientoComprobante"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
              <ng-template
                kendoGridFilterMenuTemplate
                let-filter
                let-column="column"
                let-filterService="filterService"
              >
                <kendo-grid-date-filter-menu
                  [column]="column"
                  [format]="'dd-MM-yyyy'"
                  [filter]="filter"
                  [placeholder]="'dia-mes-año'"
                  [filterService]="filterService"
                >
                </kendo-grid-date-filter-menu>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{
                  finanzasService.fechaTemplate(
                    dataItem.fechaVencimientoComprobante
                  )
                }}
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
              title="Estado"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="estado"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Anterior"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="anterior"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>

            <kendo-grid-column
              title="Mes Presupuesto"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="mesPresupuesto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Año Presupuesto"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="anioPresupuesto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Mes de Vencimiento"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="mesdeVcto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Año de Vencimiento"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="anioVcto"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>
            <kendo-grid-column
              title="Observaciones"
              headerClass="justify-content-center k-grid-header "
              [width]="150"
              field="observaciones"
              [locked]="false"
              [sticky]="false"
              [filterable]="true"
              [hidden]="false"
              [headerStyle]="{
                'background-color': '#27ae60',
                color: 'white'
              }"
            >
            </kendo-grid-column>

            <ng-template kendoGridNoRecordsTemplate>
              <div>
                <kendo-badge-container>
                  <kendo-icon name="cloud" size="large"></kendo-icon>
                  <kendo-badge position="inside">
                    <kendo-icon name="close" style="color: red"></kendo-icon>
                  </kendo-badge>
                </kendo-badge-container>
              </div>
              <p>No hay registros cargados!</p>
            </ng-template>
            <ng-template
              kendoPagerTemplate
              let-totalPages="totalPages"
              let-currentPage="currentPage"
            >
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons
                [buttonCount]="5"
              ></kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>

              <kendo-pager-info></kendo-pager-info>
              <kendo-pager-page-sizes
                [pageSizes]="pageSizes"
              ></kendo-pager-page-sizes>
            </ng-template>
          </kendo-grid>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
