.titulo{
    background-color: #3F51B5;
    color: white;
    font-size: 15px;
    height: 50px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.agregar{
    width: 100%;
    justify-content: right;
    display: flex;
    height: auto;
    margin-bottom: 20px;
}

.busqueda{
    margin: 20px;
}

.botonAgregar{
    width: 150px;
    background-color: #3F51B5;
    color: white;
    margin-right: 20px;
}

.circulo {
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: grey;
    margin-right: 20px;
}

.estado{
    display: flex;
}


.botonEstado{
    width: 150px;
    background-color:#D900BF ;
    color: white;
    margin-right: 20px;
}

.contenedor{
    margin: 20px;
}

.eye{
    background-color: green;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}

.play{
    background-color: #F3F000;
    color: black;
    margin-right: 10px;
    font-size: 15px;
}

.edit{
    background-color: #094D82;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}

.delete{
    background-color: red;
    color: white;
    font-size: 15px;
    margin-right: 10px;
}

.copy{
    background-color: #094D82;
    color: white;
    margin-right: 10px;
    font-size: 15px;
}

.copy{
    font-size: 16px;
    margin:0px
}

.k-button-text{
    height: 15px;
}
