<!-- #region Modal Agregar nuevo Postulante -->
<div class="modal-header py-2 bg-light text-dark text-center">
  <h2 class="modal-title w-100 mb-0">{{ tipoAccion }} Formacion Postulante</h2>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body px-4">
  <form [formGroup]="formPostulanteFormacion" class="Form-Postulantes">
    <div class="row">
      <div class="col-sm-12 col-md-12 k-form-horizontal">
        <div class="row">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Pais<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboPostulante.pais"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Pais'
                }"
                [valuePrimitive]="true"
                formControlName="idPais"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Institución<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="centroEstudios"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Centro de Estudios'
                }"
                [valuePrimitive]="true"
                formControlName="IdCentroEstudio"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="OtraInstitucion"
                >Otra Institucion
              </label>
              <kendo-textbox #OtraInstitucion formControlName="OtraInstitucion">
              </kendo-textbox>
              <kendo-formerror *ngIf="OtraInstitucionFormControl.errors?.['required']"
                >Institucion es requerido</kendo-formerror
              >
              <kendo-formerror *ngIf="OtraInstitucionFormControl.errors?.['maxlength']"
                >Institucion debe tener 50 caracteres o menos</kendo-formerror
              >
              <kendo-formerror
                *ngIf="OtraInstitucionFormControl.errors?.['noStartSpace'] || OtraInstitucionFormControl.errors?.['noEndSpace']"
                >No se permite espacios al inicio/final</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">
                <span>Nivel<span class="fw-bold"> *</span></span>
              </label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboAreaFormacionExperiencia.nivel"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Nivel'
                }"
                [valuePrimitive]="true"
                formControlName="IdTipoEstudio"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">Estado Estudio</label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="comboAreaFormacionExperiencia.estadoEstudio"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Tipo Documento'
                }"
                [valuePrimitive]="true"
                formControlName="IdEstadoEstudio"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">Area Formacion</label>
              <kendo-dropdownlist
                textField="nombre"
                valueField="id"
                [data]="centroEstudios"
                [defaultItem]="{
                  id: null,
                  nombre: 'Seleccione Tipo Documento'
                }"
                [valuePrimitive]="true"
                formControlName="IdAreaFormacion"
                [kendoDropDownFilter]="filterSettings"
              ></kendo-dropdownlist>
              <kendo-formerror>Dato Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="OtraCarrera">Otra Carrera </label>
              <kendo-textbox #OtraCarrera formControlName="OtraCarrera">
              </kendo-textbox>
              <kendo-formerror *ngIf="OtraCarreraEstudioFormControl.errors?.['required']"
                >Este campo es requerido</kendo-formerror
              >
              <kendo-formerror *ngIf="OtraCarreraEstudioFormControl.errors?.['maxlength']"
                >Debe tener 50 caracteres o menos</kendo-formerror
              >
              <kendo-formerror
                *ngIf="OtraCarreraEstudioFormControl.errors?.['noStartSpace'] || OtraCarreraEstudioFormControl.errors?.['noEndSpace']"
                >No se permite espacios al inicio/final</kendo-formerror
              >
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="FechaInicio"
                >Fecha de Inicio
              </label>
              <kendo-datepicker
                #FechaInicio
                formControlName="FechaInicio"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="format"
                placeholder="dia/mes/año"
              >
              </kendo-datepicker>
              <kendo-formerror>Fecha Erronea</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="FechaFin">Fecha de Fin </label>
              <kendo-datepicker
                #FechaFin
                formControlName="FechaFin"
                [incompleteDateValidation]="true"
                calendarType="classic"
                [format]="format"
                placeholder="dia/mes/año"
              >
              </kendo-datepicker>
              <kendo-formerror>Fecha Erronea</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="AlaActualidad"
                >A la Actualidad</label
              >
              <kendo-switch
                #AlaActualidad
                formControlName="AlaActualidad"
                size="small"
                trackRounded="full"
                thumbRounded="full"
                onLabel="Si"
                offLabel="No"
              >
              </kendo-switch>
            </kendo-formfield>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <kendo-formfield orientation="horizontal">
              <label class="k-label" [for]="TurnoEstudio">Turno Estudio </label>
              <kendo-textbox #TurnoEstudio formControlName="TurnoEstudio">
              </kendo-textbox>
              <kendo-formerror>Campo Requerido</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="k-form-buttons m-0">
    <button
      themeColor="primary"
      size="medium"
      class="w-100"
      kendoButton
      [disabled]="controlBotton"
      (click)="GuardarCambios()"
    >
      <kendo-loader *ngIf="loadingPanelVisible" themeColor="light">
      </kendo-loader>
      {{ tipoAccion }}
    </button>
    <button
      themeColor="error"
      size="medium"
      class="w-100"
      kendoButton
      (click)="activeModal.dismiss('Cross click')"
    >
      Cancelar
    </button>
  </div>
</div>
<!-- #endregion Modal Agregar nuevo Postulante-->
