<ng-template #modalTipoDato let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      {{ isNew ? 'Nuevo Tipo Dato'  : 'Modificar Tipo Dato'}}
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form k-form-horizontal" [formGroup]="formTipoDato">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="nombre" class="k-label">
                <span>Nombre <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-textbox
                #nombre
                size="medium"
                placeholder="Nombre"
                formControlName="nombre"
                [clearButton]="true"
                [showSuccessIcon]="getShowSuccessIcon('nombre')"
                [successIcon]="successIcon"
                showErrorIcon="initial"
                inputValidSpaceDir
              >
              </kendo-textbox>
              <kendo-formhint
                >Nombre de Tipo Dato Origen</kendo-formhint
              >
              <kendo-formerror> {{ getErrorMessage("nombre") }} </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="descripcion" class="k-label">
                <span>Descripcion <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-textbox
                #descripcion
                size="medium"
                placeholder="Descripcion"
                formControlName="descripcion"
                [clearButton]="true"
                [showSuccessIcon]="getShowSuccessIcon('descripcion')"
                [successIcon]="successIcon"
                showErrorIcon="initial"
                inputValidSpaceDir
              >
              </kendo-textbox>
              <kendo-formhint
                >Descripcion de Tipo Dato</kendo-formhint
              >
              <kendo-formerror> {{ getErrorMessage("descripcion") }} </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <kendo-formfield orientation="horizontal">
              <label [for]="prioridad" class="k-label">
                <span>Prioridad <span class="text-danger fw-bold">*</span></span>
              </label>
              <kendo-numerictextbox
                #prioridad
                orientation="horizontal"
                [style.width.px]="170"
                formControlName="prioridad"
                [min]="0"
                [autoCorrect]="true"
                [decimals]="0"
                [format]="'0'"
              >
              </kendo-numerictextbox>
              <kendo-formhint>Prioridad de Tipo Dato</kendo-formhint>
              <kendo-formerror> {{ getErrorMessage("prioridad") }} </kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        *ngIf="isNew"
        themeColor="primary"
        (click)="crearTipoDato()"
      >
        Guardar
      </button>
      <button
        kendoButton
        *ngIf="!isNew"
        themeColor="tertiary"
        (click)="actualizarTipoDato()"
      >
        Actualizar
      </button>

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>



<div class="">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">Tipo Dato</h3>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="col">
              <kendo-grid
              [kendoGridBinding]="listaTipoDato"
              [pageSize]="10"
              [sortable]="true"
              [filterable]="true"
              [pageable]="{
                buttonCount: 5,
                info: true,
                type: 'numeric',
                pageSizes: true,
                previousNext: true,
                position: 'bottom'
            }"
   
              >

              <ng-template kendoGridToolbarTemplate>
                <button
                  kendoButton
                  icon="reload"
                  fillMode="flat"
                  themeColor="secondary"
                  (click)="gridEventsTipoDato('reload', null, null, null)"
                ></button>
                <kendo-grid-spacer></kendo-grid-spacer>
                <button
                  kendoButton
                  [themeColor]="'primary'"
                  icon="plus"
                  (click)="gridEventsTipoDato('add', true, null, null)"
                >
                  Agregar
                </button>
              </ng-template>
        
                <kendo-grid-column
                  field="nombre"
                  title="Nombre"
                  [filterable]="true"
                >
                </kendo-grid-column>

                <kendo-grid-column
                  field="descripcion"
                  title="Descripcion"
                  [filterable]="true"
                >
                </kendo-grid-column>

                <kendo-grid-command-column title="" [width]="150">
                  <ng-template
                    kendoGridCellTemplate
                    let-isNew="isNew"
                    let-dataItem="dataItem"
                    let-rowindex="rowindex"
                  >
                    <div class="w-100 d-flex justify-content-center">
                      <button
                        kendoButton
                        themeColor="warning"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Editar"
                        (click)="gridEventsTipoDato('edit', false, dataItem, rowindex)"
                      >
                        <span class="k-icon k-i-edit k-icon-20"></span>
                      </button>
                      <button
                        kendoButton
                        themeColor="error"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        s
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Eliminar"
                        (click)="gridEventsTipoDato('remove', null, dataItem, rowindex)"
                      >
                        <span class="k-icon k-i-close k-icon-20"></span>
                      </button>
                    </div>
                  </ng-template>
                </kendo-grid-command-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
