
.contenedor{
    position: relative;
    border: 2px solid #f0f0f0e9;
  }

  .titulo{
    width: 100%;
    background-color: #F0F0F0;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .titulo h3{
    font-size: 20px;
    margin-top: 10px;
  }
  .contenedor{
    position: relative;
    border: 2px solid #f0f0f0e9;
  }

  .titulo{
    width: 100%;
    background-color: #F0F0F0;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .titulo h3{
    font-size: 20px;
  }

  .registrar{
    border-radius: 20px;
    background-color: #094D82;
    width: 200px;
    height: 48px;
    color: white;
    margin-right: 20px;
  }
