.butons {
  margin-top: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wm-card-header {
  background-color: #075e54;
  color: #fff;
}

.expancionoportunidadhome {
  .k-expander-header {
    background-color: #128c7e;
    color: white;
  }
}
.k-expander-header:hover {
  .expancionoportunidadhome {
    .k-expander-header {
      background-color: #128c7e;
      color: white;
    }
  }
}

.fecha {
  margin-right: 15px;
  width: 200px;
  height: 50px;
  background-color: #008069;
  color: white;
  font-size: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: center;
  text-align: center;
  position: relative;
}

.drop {
  background-color: #008069;
  color: white;
  font-size: 15px;
}

.fecha h1 {
  margin: auto;
  padding: auto;
  font-size: 12px;
}

.botonWhats {
  background-color: #17b76a !important;
  color: white !important;
  font-size: 15px;
  img {
    width: 20px;
    height: 20px;
  }
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.k-toolbar {
  border-color: white;
  color: #424242;
  background-color: white;
}

.expansion-contenido {
  max-height: 800px;
  overflow-y: scroll;
}

.expancionoportunidadWhats {
  margin-bottom: 10px;
  max-height: 90%;
  border-radius: 10px;
  .k-expander-header {
    width: 100%;
    background-color: #008069;
    color: #1ebea5;
    border-radius: 8px;
  }
  .k-expander-content-wrapper {
    max-height: 100%;
    overflow-y: scroll;
  }
}
.k-expander-header:hover {
  .expancionoportunidadhome {
    .k-expander-header {
      background-color: #1ebea5;
      color: #0093e8;
      border-radius: 8px;
    }
  }
}

.modalBusquedaDatos {
  color: white;
  background-color: #374441;
  padding: 5px;
  margin-bottom: 10px;
}

// .custom-dialog-container > mat-dialog-container{
//   padding: 0px;
//   overflow: hidden;
//   justify-content: center;
//   align-items: center;
// }

.wm-header-grid {
  color: #fff;
  background-color: #128c7e !important;
  text-align: center !important;
  font-size: 1em !important;
  font-weight: 400 !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;

  .k-grid-filter {
    color: #fff !important;
  }

  .k-grid-filter:hover {
    background-color: #ebebeb !important;
    color: #128c7e !important;
  }

  .k-grid-filter-menu {
    color: #fff !important;
  }

  .k-grid-filter-menu:hover {
    background-color: #ebebeb !important;
    color: #128c7e !important;
  }

  .k-i-sort-asc-sm,
  .k-grid-header .k-i-sort-desc-sm,
  .k-grid-header .k-sort-order {
    color: white !important;
  }
}

.ktt-whatsapp-masivo {
  .k-tabstrip-items-wrapper {
    background-color: #128c7e;
    color: #fff;
  }

  .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
    background-color: #25d366;
    border-bottom-color: #fff;
    font-weight: 500 !important;
    border-bottom-width: 5px;
    color: #fff;
  }

  .k-tabstrip-scrollable
    > .k-tabstrip-items-wrapper
    > .k-button
    .k-button-icon {
    color: #fff !important;
  }

  .k-tabstrip-items .k-state-active {
    background-color: #25d366;
    color: #fff;
  }

  .k-item {
    background: #128c7e;
    // height: 60px;
    color: #fff;
  }

  .k-item .k-state-hover {
    background: #075e54 !important;
  }

  .k-item:hover,
  .k-tabstrip-items-wrapper .k-item.k-hover {
    color: #fff;
    background-color: #075e54;
  }
}

.wm-btn-success {
  background-color: #128c7e;
  color: #fff;
}
.wm-btn-success:hover {
  background-color: #128c7e;
  color: #fff;
}
.wm-btn-cencel {
  background-color: #ece5dd;
  color: #000;
}

.wm-modal-container > mat-dialog-container {
  padding: 0px;
  overflow: hidden;

  height: 90vh;
  justify-content: center;
  align-items: center;
}
