
.k-grid-header {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-red{
  background-color: red;
  color: white;
}
.header-green{
  background-color: rgb(65, 170, 109);
  color: white;
}
.header-green2{
  background-color: rgb(27, 200, 64);
  color: white;
}
.header-orange{
  background-color: rgb(241, 117, 21);
  color: white;
}
.header-orange2{
  background-color: rgb(246, 192, 32);
  color: white;
}
.header-red{
  background-color: rgb(192, 61, 44);
  color: white;
}
.header-red2{
  background-color: rgb(166, 51, 39);
  color: white;
}
.header-blue{
  background-color: rgb(73, 193, 226);
  color: white;
}
.header-blue2{
  background-color: rgb(40, 160, 182);
  color: white;
}

.color-black{
  color: black !important;
}
// .center {
//   display: flex;
//   justify-content: center;
// }

