.cont{
    padding: 20px;
}

.car{
    display: flex;
    justify-content: space-between;
  }


  .btn3{
    border-radius: 20px;
    background-color: #094D82;
    width: 100px;
    height: 30px;
    color: white;
  }

  .registrar{
    border-radius: 20px;
    background-color: #094D82;
    width: 200px;
    height: 48px;
    color: white;
    margin-right: 20px;
  }
  
  .cancelar{
    border-radius: 20px;
    background-color: #BA1A1A;
    width: 120px;
    height: 48px;
    color: white;
  }
  
  .botones{
    width: 100%;
    display: inline-flex;
    justify-content: end;
    margin-top: 20px;
  }