<div class="contenedor">
  <div class="row">
    <div class="col-12">
      <div class="card border-primary" #reporte>
        <div class="card-header pb-0" style="background-color: #4584a7;">
          <h2 class="mb-2 text-white">
            (R) Actividades Realizadas Operaciones
          </h2>
        </div>
        <div class="card-body">
          <div class="card border-primary mb-3">
            <div class="card-header pb-0" style="background-color: #4584a7;">
              <h3 class="mb-2 text-white" style="text-align: center">
                Filtro Actividades
              </h3>
            </div>
            <div class="card-body p-4">
              <div class="row">
                <form
                  [formGroup]="formReporteActividadRealizada"
                  class="k-form k-form-horizontal"
                >
                  <div class="row">
                    <div class="col-md-4">
                      <kendo-formfield orientation="horizontal">
                        <kendo-label
                          [for]="asesor"
                          text="Asesores"
                          class="align-left"
                        >
                          <span class="text-danger fw-bold"></span>
                        </kendo-label>
                        <kendo-dropdownlist
                          #asesor
                          [data]="asesorFiltro"
                          textField="nombres"
                          valueField="id"
                          [valuePrimitive]="true"
                          formControlName="asesor"
                          (filterChange)="filterAsesores($event)"
                          [filterable]="true"
                          [defaultItem]="{
                            nombres: '< Seleccion un Asesor >',
                            id: null
                          }"
                        >
                        </kendo-dropdownlist>
                        <kendo-formerror>
                          Selecciona un asesor
                        </kendo-formerror>
                      </kendo-formfield>
                    </div>
                    <div class="col-md-4">

                      <kendo-formfield orientation="horizontal">
                        <kendo-label
                          [for]="fecha"
                          text="Fecha"
                          style="text-align: left"
                        >
                        </kendo-label>
                        <kendo-datepicker
                          #fecha
                          formControlName="fecha"
                          format="yyyy-MM-dd"
                        ></kendo-datepicker>
                      </kendo-formfield>
                    </div>
                    <div class="col-md-4">
                      <kendo-formfield>
                        <kendo-label
                          [for]="horaInicio"
                          text="Hora Inicio"
                          style="text-align: left"
                        >
                        </kendo-label>
                        <kendo-timepicker
                        [steps]="steps"
                          format="hh:mm a"
                          [(value)]="horaInicio"
                          formControlName="horaInicio"
                        ></kendo-timepicker>
                      </kendo-formfield>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <kendo-formfield orientation="horizontal">
                        <kendo-label
                          [for]="estado"
                          text="Estado"
                          style="text-align: left"
                        >
                        </kendo-label>
                        <kendo-dropdownlist
                          #estado
                          [data]="inputEstado"
                          textField="nombre"
                          valueField="id"
                          [valuePrimitive]="true"
                          formControlName="estado"
                          [defaultItem]="{
                            nombre: '< Todos los Estados >',
                            id: null
                          }"
                          (filterChange)="filterAsesores($event)"
                          [filterable]="true"
                        >
                        </kendo-dropdownlist>
                      </kendo-formfield>
                    </div>
                    <div class="col-md-4">

                      <kendo-formfield orientation="horizontal">
                        <kendo-label
                          [for]="EstadoMAtricula"
                          text="Estado Matricula"
                          style="text-align: left"
                        >
                        </kendo-label>
                        <kendo-multiselect
                          #EstadoMAtricula
                          [data]="EstadoMatricula"
                          [defaultItem]="{
                            estadoMatricula: 'Seleccione un Estado Matricula...',
                            idEstadoMatricula: null
                          }"
                          
                          [valuePrimitive]="true"
                          textField="estadoMatricula"
                          valueField="idEstadoMatricula"
                          [filterable]="true"
                          formControlName="EstadoMatricula"
                          (filterChange)="filterEstadoMatriucula($event)"
                          (valueChange)="cambiarEstadoMatricula($event)"
                        >
                        </kendo-multiselect>
                      </kendo-formfield>
                    </div>

                    <div class="col-md-4">
                      <kendo-formfield>
                        <kendo-label
                          [for]="horaFin"
                          text="Hora Fin"
                          style="text-align: start"
                        >
                        </kendo-label>
                        <kendo-timepicker
                          [steps]="steps"
                          format="hh:mm a"
                          [(value)]="horaFin"
                          formControlName="horaFin"
                        ></kendo-timepicker>
                      </kendo-formfield>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <kendo-formfield orientation="horizontal">
                          <kendo-label
                            [for]="estadaPersonal"
                            text="Estado del Personal"
                          >
                          </kendo-label>
                          <kendo-dropdownlist
                            #estadaPersonal
                            [data]="estadoAsesores"
                            class="kendo-combo"
                            textField="clave"
                            valueField="valor"
                            [valuePrimitive]="true"
                            formControlName="estadaPersonal"
                            [defaultItem]="{
                              clave: 'Todo el Personal',
                              valo: null
                            }"
                            (valueChange)="cambiarEstadoPersonal($event)"
                          >
                          </kendo-dropdownlist>
                        </kendo-formfield>
                    </div>
                    <div class="col-md-4">
                      <kendo-formfield orientation="horizontal">
                        <kendo-label
                          [for]="SubEstado"
                          text="Sub-Estado Matricula"
                          style="text-align: start"
                        >
                        </kendo-label>
                        <kendo-multiselect
                          #SubEstado
                          [data]="subEstadoMatricula"
                          [defaultItem]="{
                            nombre: 'Seleccione un SubEstado Matricula...',
                            id: null
                          }"
                          [valuePrimitive]="true"
                          textField="nombre"
                          valueField="id"
                          [filterable]="true"
                          formControlName="SubestadoMatricula"
                          (filterChange)="filterSubEstadoMatriucula($event)"
                          
                        >
                        </kendo-multiselect>
                      </kendo-formfield>
                    </div>
                    <div class="col-md-4">
                      <kendo-formfield>
                        <kendo-label
                          [for]="filtroPorHora"
                          text="Filtrar por Horas"
                          style="text-align: left"
                        >
                        </kendo-label>
                        <kendo-switch
                          #filtroPorHora
                          [(ngModel)]="checked"
                          formControlName="filtroPorHora"
                        ></kendo-switch>
                        <!-- <mat-slide-toggle
                              #filtroPorHora
                              [(ngModel)]="checked"
                              formControlName="filtroPorHora"
                              ></mat-slide-toggle> -->
                      </kendo-formfield>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">

                    </div>
                  </div>
                  <div class="row px-5">
                    <div class="col-12 d-flex justify-content-end">
                      <button
                        kendoButton
                        icon="search"
                        role="button"
                        themeColor="success"
                        (click)="generarReporte()"
                        [disabled]="procesoEnvio"
                      >
                        Buscar
                      </button>
                      <!-- <button
                              class="btn btn-primary"
                              role="button"
                              (click)="generarReportePrueba()"
                            >
                              Buscar1234ng serv
                            </button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="card border-primary">
            <div class="card-heading pb-0" style="background-color: #4584a7;">
              <h3 class="mb-2 text-white" style="text-align: center">
                Reporte Cobertura
              </h3>
            </div>
            <div class="card-body">
              <div id="gridRealizadasTotales">
                <div class="row justify-content-center">

                  <div class="col-sm-6 col-md-3" style="margin-bottom: 5px;">
                    <legend class="legend-3cx">Leyenda Actividades</legend>
                    <div class="row">
                      <!-- <div class="col-auto px-0 mx-0">
                        <div id="cuadrado1Actividad"></div>
                      </div> -->
                      <div class="col" style="color: #424242; font-weight: bold; font-size: 13px;">
                        Respuesta por Telefono</div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-auto px-0 mx-0">
                        <div id="cuadrado1Actividad"></div>
                      </div> -->
                      <div class="col" style="color: rgb(17, 199, 68); font-weight: bold; font-size: 13px;">
                        Respuesta por Whatsapp</div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-auto px-0 mx-0">
                        <div id="cuadrado3Actividad"></div>
                      </div> -->
                      <div class="col-auto" style="color: rgb(255, 97, 19); font-weight: bold; font-size: 13px;">
                        Respuesta por Correo Electronico
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-auto px-0 mx-0">
                        <div id="cuadrado3Actividad"></div>
                      </div> -->
                      <div class="col-auto" style="color: rgb(217, 231, 21); font-weight: bold; font-size: 13px;">
                        Respuesta por Teléfono corporativo
                      </div>
                    </div>
                    
                  </div>


                     <div class="col-sm-6 col-md-2" style="margin-bottom: 5px;">
                        <legend style="  font-size: 18px;
                        line-height: inherit;
                        color: #212121;
                        margin-bottom: 23px;
                        border-bottom: 1px solid #e5e5e5;">Leyenda Llamadas</legend>
                      <div class="row">
                        <!-- <div class="col-auto px-0 mx-0">
                          <div id="cuadrado2Llamada"></div>
                        </div> -->
                        <div class="col"><span style="color: blue;"><strong><u>(TT:0.0m-TC:0.0m)</u></strong></span> - Llamada 3cx</div>
                      </div>
                      <div class="row">
                        <!-- <div class="col-auto px-0 mx-0">
                          <div id="cuadrado1Llamada"></div>
                        </div> -->
                        <div class="col-auto"><span style="color: black;"><strong><u>(TT:0.0m-TC:0.0m)</u></strong></span> - Llamada Integra</div>
                      </div>
                      <div class="row">
                        <!-- <div class="col-auto px-0 mx-0">
                          <div id="cuadrado1Llamada"></div>
                        </div> -->
                        <div class="col-auto"><span style="color: brown;"><strong><u>(TT:0.0m-TC:0.0m)</u></strong></span> - Llamada Wavix</div>
                      </div>
                       <div class="row">
                        <!-- <div class="col-auto px-0 mx-0">
                          <div id="cuadrado1Llamada"></div>
                        </div> -->
                        <div class="col-auto"><span style="color: #ff6113"><strong><u>(TT:0.0m-TC:0.0m)</u></strong></span> - Llamada Celular Corporativo</div>
                      </div>
                      <!-- <div class="row">
                        <div class="col-auto px-0 mx-0">
                          <div id="cuadrado3Llamada"></div>
                        </div>
                        <div class="col-auto">Llamada Ringover</div>
                      </div> -->
                      <!-- <div class="row">
                        <div class="col-auto px-0 mx-0">
                          <div id="cuadrado4Llamada"></div>
                        </div>
                        <div class="col-auto">Llamada Wolkbox</div>
                      </div> -->
                  </div>
                  <div class="col-sm-6 col-md-2" style="margin-bottom: 5px;">
                    <legend style="  font-size: 18px;
                    line-height: inherit;
                    color: #212121;
                    margin-bottom: 23px;
                    border-bottom: 1px solid #e5e5e5;">Leyenda Tipo Llamadas</legend>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <fa-icon
                          [icon]="['fas', 'square-phone']"
                          class="fa-lg fs-5 text-success"
                        ></fa-icon>
                      </div>
                      <div class="col-auto">Llamada Saliente</div>
                    </div>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <fa-icon
                          [icon]="['fas', 'square-phone-flip']"
                          class="fa-lg fs-5 text-primary"
                        ></fa-icon>
                      </div>
                      <div class="col-auto">Llamada Entrante</div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-2" style="margin-bottom: 5px;">
                    <legend style="  font-size: 18px;
                    line-height: inherit;
                    color: #212121;
                    margin-bottom: 23px;
                    border-bottom: 1px solid #e5e5e5;">Leyenda Colores</legend>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <div id="cuadrado1Leyenda"></div>
                      </div>
                      <div class="col">Menor a 2 minutos</div>
                    </div>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <div id="cuadrado2Leyenda"></div>
                      </div>
                      <div class="col">2 a 3 minutos</div>
                    </div>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <div id="cuadrado3Leyenda"></div>
                      </div>
                      <div class="col">3 a 5 minutos</div>
                    </div>
                    <div class="row">
                      <div
                        class="col-auto px-0 mx-0"
                        style="padding-top: 3px; padding-right: 0px"
                      >
                        <div id="cuadrado4Leyenda"></div>
                      </div>
                      <div class="col">5 a 8 minutos</div>
                    </div>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <div id="cuadrado5Leyenda"></div>
                      </div>
                      <div class="col">Mayor a 8 minutos</div>
                    </div>
                    <div class="row">
                      <div class="col-auto px-0 mx-0">
                        <div id="cuadrado6Leyenda"></div>
                      </div>
                      <div class="col">Hora Refrigerio</div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-auto" style="margin-bottom: 5px;">
                    <legend style="  font-size: 18px;
                    line-height: inherit;
                    color: #212121;
                    margin-bottom: 23px;
                    border-bottom: 1px solid #e5e5e5;">Total tiempos</legend>
                    <div class="row justify-content-between">
                      <div class="col-auto text-end">
                        <label class="fw-bold">
                          Total Tiempo Perdido<br />(Actividades):
                        </label>
                      </div>
                      <div class="col-auto">{{ totalPerdido }}</div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col-auto">
                        <label><b> Total Tiempo Timbrado: </b></label>
                      </div>
                      <div class="col-auto">{{ totalTimbrado }}</div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col-auto">
                        <label><b> Total Tiempo Contacto: </b></label>
                      </div>
                      <div class="col-auto">{{ totalContacto }}</div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col-auto">
                        <label><b>Total Tiempo Perdido(Llamadas):</b></label>
                      </div>
                      <div class="col-auto">
                        {{ totalTiempoLlamada }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row my-3" id="container_fluid_causa">
                <div class="col-12">
                  <kendo-grid
                    [kendoGridBinding]="gridActividadRealizada.data"
                    [loading]="gridActividadRealizada.loading"
                    [sortable]="true"
                    [selectable]="true"
                    [pageable]="gridActividadRealizada.pageable"
                    [pageSize]="gridActividadRealizada.gridState.take"
                    [skip]="gridActividadRealizada.gridState.skip"
                    [height]="1500"
                  >
                    <kendo-grid-column
                      field="nombreActividadCabecera"
                      title="Actividad"
                      headerClass="header-grid-integra"
                      [width]="100"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            {{ dataItem.nombreActividadCabecera }}
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="nombreCompletoContacto"
                      title="Contacto"
                      headerClass="header-grid-integra"
                      [width]="100"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            <a
                              (click)="cargarFichaAlumno(dataItem)"
                              class="txtAlumno"
                              >{{ dataItem.nombreCompletoContacto }}</a
                            >
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="nombreCentroCosto"
                      title="Oportunidad"
                      headerClass="header-grid-integra"
                      [width]="250"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            <!-- <div [innerHtml]="GraficarOpotunidad(dataItem)"></div> -->
                            <div>
                              <td class="country">
                                <!--Columna Oportunidad-->
                                <div class="row">
                                  <div class="row">
                                    <strong class="centro_costo">{{
                                      dataItem.nombreCentroCosto
                                    }}</strong>
                                  </div>
                                  <!-- <div class="">
                                    <div class="col-xs-3">
                                      <span> Fase: </span>
                                      <strong>{{
                                        dataItem.codigoFaseFinal
                                      }}</strong>
                                    </div>
                                    <div class="col-xs-6">
                                      <span> Grupo: </span>
                                      <strong>{{
                                        dataItem.nombreCategoriaOrigen
                                      }}</strong>
                                    </div>
                                  </div>
                                  <div class="">
                                    <div class="col-xs-12">
                                      <span> Prob. Actual: </span>
                                      <strong>{{
                                        dataItem.probabilidadActual
                                      }}</strong>
                                    </div>
                                  </div> -->
                                </div>
                              </td>
                            </div>
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="estadoOcurrencia"
                      title="Estado Ocurrencia"
                      headerClass="header-grid-integra"
                      [width]="250"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <!-- <div [innerHtml]="GraficarOpotunidad(dataItem)"></div> -->
                        <div
                          class="row d-flex align-items-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            <div class="row">
                              <span class="col-12 fw-bold">
                                {{ dataItem.estadoOcurrencia }}
                              </span>

                              <span 
                              [ngClass]="{
                                'esporWhatsapp':
                                  dataItem.ocurrenciaPadre.includes('Whatsapp'),
                                'esporCorreo':
                                  dataItem.ocurrenciaPadre.includes('correo'),
                                'esporCorporativo':
                                  dataItem.ocurrenciaPadre.includes('corporativo')
                                }"
                                class="col-12 fw-bold"
                              >  {{ dataItem.ocurrenciaPadre }}
                              </span>

                              <span class="col-12 text-wrap">
                                <span container="body"
                                triggers="click:blur"
                                placement="top"
                                [ngbTooltip]="dataItem.nombreOcurrencia"
                                class="col-12 text-start text-overflow-hidden">{{
                                  dataItem.nombreOcurrencia
                                }}</span>
                              </span>
                              <br />
                              <span [innerHtml]="
                              sanitizer.bypassSecurityTrustHtml(
                                dataItem.estadosTresCX
                                )
                              ">
                              </span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="tiemposDuracionLlamadas"
                      title="Tiempo"
                      headerClass="header-grid-integra"
                      [width]="230"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <!-- <div [innerHtml]="GraficarOpotunidad(dataItem)"></div> -->
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            <div
                              [innerHtml]="
                                sanitizer.bypassSecurityTrustHtml(
                                  dataItem.tiemposDuracionLlamadas
                                )
                              "
                            ></div>
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12">
                            <strong>
                            {{ dataItem.minutosReal }} .m
                          </strong>
                          </div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="nombreGrabacionIntegra"
                      title="Grabacion"
                      headerClass="header-grid-integra"
                      [width]="100"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            <ng-container
                              *ngIf="
                                dataItem.nombreGrabacionIntegra == '';
                                else gridGrabacionVacia
                              "
                            >
                              <!-- <div
                                    *ngFor="
                                      let item of dataItem.nombreGrabacionIntegra
                                    "
                                  >
                                    <a
                                      class="ex1"
                                      style="cursor: pointer"
                                      (click)="reproducir(item)"
                                      ><b>Escuchar</b></a
                                    >
                                  </div> -->
                              vacio
                            </ng-container>
                            <ng-template #gridGrabacionVacia>
                              <div
                                *ngFor="
                                  let item of dataItem.nombreGrabacionIntegra
                                "
                              >
                                <span
                                  [ngClass]="{
                                    'esLlamada3cx':
                                      item.origenLlamada.includes('3cx'),
                                    'esLlamadaCorporativo':
                                      item.origenLlamada.includes('Corporativo'),
                                    'esLlamadaRingover':
                                      item.origenLlamada.includes('Ringover'),
                                    'esLlamadaWavix':
                                      item.origenLlamada.includes('Wavix'),
                                    'esLlamadaIntegra':
                                      item.origenLlamada.includes('Integra'),
                                    'esLlamadaWolkbox':
                                      item.origenLlamada.includes('Wolkbox')
                                    }"
                                    class="ex1 fw-bold"
                                    style="cursor: pointer"
                                    (click)="reproducir(item)"
                                  ><b>Escuchar</b></span
                                >
                              </div>
                            </ng-template>

                            <!-- <a class='ex1' style='cursor: pointer;'
                              (click)="reproducir(dataItem.nombreGrabacionIntegra)"
                              ><b>Escuchar</b></a> -->
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="" title="Fecha" [width]="350" headerClass="header-grid-integra">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <!-- <div [innerHtml]="GraficarOpotunidad(dataItem)"></div> -->
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >

                        <td class="">
                          <table style="border-collapse: collapse;">
                              <tr>
                                  <td style="margin:3px;padding:3px; width:50%;border: 1px solid black"><strong>Fecha Programada: </strong></td>
                                  <td style="margin: 3px; padding: 3px; width: 50%; border: 1px solid black">                                     {{
                                    dataItem.fechaProgramada | date : "yyyy/MM/dd" }} </td>
                              </tr>
                              <tr>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black"><strong>Hora Programada: </strong></td>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black">                                     {{
                                    dataItem.fechaProgramada | date : "hh:mm" }} </td>
                              </tr>
                              <tr>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black"><strong>  Fecha Real: </strong></td>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black">  {{ dataItem.fechaReal | date :  "yyyy/MM/dd" }} </td>
                              </tr>
                              <tr>
                                  <td style="margin:3px;padding:3px;vertical-align: text-top; width:50%; border: 1px solid black"><strong>  Hora Llamadas: </strong></td>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black">
                                    <div
                                    [innerHtml]="
                                      sanitizer.bypassSecurityTrustHtml(
                                        dataItem.fechaLlamada
                                      )
                                    "
                                  ></div>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black">  &nbsp; </td>
                                  <td style="margin:3px;padding:3px;width:50%;border: 1px solid black"> <strong>MO :</strong>  {{ dataItem.fechaReal | date :  "hh:mm:ss" }}</td>
                              </tr>
                          </table>
                      </td>



                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                        <!--
                            <table class="table table-bordered border-primary">
                              <div class="row">
                                <div class="col-md-2">
                                  Fecha Programada:
                                </div>
                                <div class="col-md-2">
                                  {{ dataItem.fechaProgramada}}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-2">Fecha Real:</div>
                                <div class="col-md-2">
                                  {{ dataItem.fechaReal}}
                                </div>

                              </div>
                            </table> -->
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column
                      field="comentarioActividad"
                      title="Comentario"
                      headerClass="header-grid-integra"
                      [width]="150"
                    >
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            {{ dataItem.codigoMatricula }}
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column>

                    <!-- <kendo-grid-column field="codigoFaseOrigen" title="Fase I-D" [width]="160" headerClass="header-grid-integra">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div
                          class="row d-flex align-items-center text-center p-2"
                          [style.height.px]="5 * 60"
                        >
                          <div class="col-12">
                            <td class="">
                              <table style="border-collapse: collapse">
                                <tr>
                                  <td
                                    style="
                                      margin: 3px;
                                      padding: 3px;
                                      width: 50%;
                                      border: 1px solid black;
                                    "
                                  >
                                    <strong>Fase I:</strong>
                                  </td>
                                  <td
                                    style="
                                      margin: 3px;
                                      padding: 3px;
                                      width: 50%;
                                      border: 1px solid black;
                                    "
                                  >
                                    {{ dataItem.codigoFaseOrigen }}
                                  </td>
                                </tr>
                                <tr>
                                  <td
                                    style="
                                      margin: 3px;
                                      padding: 3px;
                                      width: 50%;
                                      border: 1px solid black;
                                    "
                                  >
                                    <strong>Fase D:</strong>
                                  </td>
                                  <td
                                    style="
                                      margin: 3px;
                                      padding: 3px;
                                      width: 50%;
                                      border: 1px solid black;
                                    "
                                  >
                                    {{ dataItem.codigoFaseFinal }}
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </div>
                        </div>
                        <div
                          class="row d-flex align-items-center text-center p-0"
                          [ngStyle]="{
                            color: dataItem.colorTexto,
                            background: dataItem.colorRow
                          }"
                          style="height: 2rem"
                        >
                          <div class="col-12"></div>
                        </div>
                      </ng-template>
                    </kendo-grid-column> -->

                    <ng-template kendoPagerTemplate>
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                      <kendo-pager-numeric-buttons
                        [buttonCount]="10"
                      ></kendo-pager-numeric-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                      <kendo-pager-input></kendo-pager-input>
                      <kendo-pager-info></kendo-pager-info>
                      <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
                      <div class="w-100 text-end">
                        <button
                          kendoButton
                          icon="reload"
                          fillMode="flat"
                          themeColor="secondary"
                          (click)="generarReporte()"
                        ></button>
                      </div>
                    </ng-template>

                  </kendo-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalReproducirAudio let-modal>
  <div class="modal-header " 
  [ngClass]="{
    'mra-bg-3cx': origenLlamada.includes('3cx'),
    'mra-bg-integra': origenLlamada.includes('Integra'),
    'mra-bg-wolkbox': origenLlamada.includes('Wolkbox'),
    'mra-bg-ringover': origenLlamada.includes('Ringover'),
    'mra-bg-wavix': origenLlamada.includes('Wavix'),
    'mra-bg-corporativo': origenLlamada.includes('Corporativo')
  }"
  >
    <h2 class="modal-title mb-0" style="color: white">Grabacion {{origenLlamada}}</h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <audio controls [src]="urlGrabacion" type="audio/mp3" controls autoplay>
        Tu navegador no soporta el elemento de <code>audio</code>
      </audio>
    </div>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>
