<div id="PrimerTab">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['far', 'comments']" [size]="'2xl'"></fa-icon>
        <span class="px-1">CHAT PORTAL WEB</span>
      </ng-template>
      <div class="content">
        <app-chat-portal></app-chat-portal>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon
          [icon]="['fab', 'facebook-messenger']"
          [size]="'2xl'"
        ></fa-icon>
        <span class="px-1">CHAT MESSENGER</span>
      </ng-template>
      <div class="content">
        <app-chat-messenger></app-chat-messenger>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fab', 'whatsapp']" [size]="'2xl'"></fa-icon>
        <span class="px-1">CHAT WHATSAPP</span>
      </ng-template>
      <div class="content">
        <app-chat-whatsapp></app-chat-whatsapp>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>