.bg-messenger {
    background-color: #09899c !important;
}

#PrimerTab .mat-tab-labels {
    background-color: #094d82;
}

#PrimerTab .mat-ink-bar {
    background-color: white !important;
}

/* Styles for tab labels */
#PrimerTab .mat-tab-label {
    background-color: #094d82;
    color: white;
    font-weight: 700;
}

/* Styles for the active tab label */
#PrimerTab .mat-tab-label .mat-tab-label-active {
    background-color: #0c61a1 !important;
    color: white;
    font-weight: 700;
}

#SegundoTab .mat-tab-labels {
    background-color: #28a745;
}

#SegundoTab .mat-ink-bar {
    background-color: white !important;
}

/* Styles for tab labels */
#SegundoTab .mat-tab-label {
    background-color: #28a745;
    color: white;
    font-weight: 700;
}

/* Styles for the active tab label */
#SegundoTab .mat-tab-label .mat-tab-label-active {
    background-color: #28a745 !important;
    color: white;
    font-weight: 700;
}

.container-grid table thead tr {
    background-color: #198754;
    font-size: small;
    color: white;
}

.container-table > .title {
    background-color: #0091cf;
    font-weight: bold;
    padding: 1rem;
    color: white;
}

.container-table > .body {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding: 1rem;
}