<!-- modal ver -->
<ng-template #modalVerArticulo let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h2 class="modal-title m-0 p-0" id="modal-basic-title">
      Datos del artículo
    </h2>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Id Web</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.idWeb }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Nombre</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.nombre }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Título</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.titulo }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >ImgPortada</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.imgPortada }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >ImgPortadaAlt</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.imgPortadaAlt }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >ImgSecundaria</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.imgSecundaria }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >ImgSecundariaAlt</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.imgSecundariaAlt }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Autor</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.autor }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >IdTipoArticulo</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.idTipoArticulo }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Tipo de artículo</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.nombreArticulo }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Contenido</label
      >
      <div class="col-sm-8">
        <div
          class="form-control form-control-sm bg-light"
          [innerHTML]="articuloTemp.contenido"
        ></div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >IdArea</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.idArea }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Area</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.nombreArea }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >IdSubArea</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.idSubArea }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Sub área</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.nombreSubArea }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >IdExpositor</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.idExpositor }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Expositor</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.nombreExpositor }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >IdCategoria</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.idCategoria }}
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-sm-3 col-form-label text-end k-label fst-italic"
        >Categoria</label
      >
      <div class="col-sm-8">
        <div class="form-control form-control-sm bg-light">
          {{ articuloTemp.nombreCategoriaPrograma }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        themeColor="base"
        (click)="modal.dismiss('Cross click')"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>
<!-- modal crear -->
<ng-template #modalArticulo let-modal>
  <app-loader *ngIf="loaderModal"></app-loader>
  <div class="modal-header bg-primary-header-modal">
    <h3 class="modal-title m-0 p-0" id="modal-basic-title">
      {{ isNew ? "Nuevo Articulo" : "Modificar Articulo" }}
    </h3>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form k-form-horizontal" [formGroup]="formArticulo">
      <fieldset class="k-form-fieldset">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="nombre"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Nombre <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-textbox
                    #nombre
                    size="medium"
                    placeholder="Nombre"
                    formControlName="nombre"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('nombre')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint>Nombre del artículo</kendo-formhint>
                  <kendo-formerror>
                    {{ getErrorMessage("nombre") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="titulo"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Título <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-textbox
                    #titulo
                    size="medium"
                    placeholder="Título"
                    formControlName="titulo"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('titulo')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint>Título del artículo</kendo-formhint>
                  <kendo-formerror>
                    {{ getErrorMessage("titulo") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="imgPortada"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Imagen Portada
                      <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-textbox
                    #imgPortada
                    size="medium"
                    placeholder="ImgPortada"
                    formControlName="imgPortada"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('imgPortada')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint
                    >Imagen de portada del artículo</kendo-formhint
                  >
                  <kendo-formerror>
                    {{ getErrorMessage("imgPortada") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="imgPortadaAlt"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Imagen Portada Alt
                      <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-textbox
                    #imgPortadaAlt
                    size="medium"
                    placeholder="ImgPortadaAlt"
                    formControlName="imgPortadaAlt"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('imgPortadaAlt')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint
                    >Imagen de portada alt del artículo</kendo-formhint
                  >
                  <kendo-formerror>
                    {{ getErrorMessage("imgPortadaAlt") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="imgSecundaria"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Img Secundaria <span class="text-danger fw-bold"></span
                    ></span>
                  </label>
                  <kendo-textbox
                    #imgSecundaria
                    size="medium"
                    placeholder="ImgSecundaria"
                    formControlName="imgSecundaria"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('imgSecundaria')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint
                    >Imagen Secundaria del artículo</kendo-formhint
                  >
                  <kendo-formerror>
                    {{ getErrorMessage("imgSecundaria") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="imgSecundariaAlt"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Img Secundaria Alt
                      <span class="text-danger fw-bold"></span
                    ></span>
                  </label>
                  <kendo-textbox
                    #imgSecundariaAlt
                    size="medium"
                    placeholder="ImgSecundariaAlt"
                    formControlName="imgSecundariaAlt"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('imgSecundariaAlt')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint
                    >Imagen Secundaria Alt del artículo</kendo-formhint
                  >
                  <kendo-formerror>
                    {{ getErrorMessage("imgSecundariaAlt") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="urlWeb"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Url Web <span class="text-danger fw-bold"></span
                    ></span>
                  </label>
                  <kendo-textbox
                    #urlWeb
                    size="medium"
                    placeholder="UrlWeb"
                    formControlName="urlWeb"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('urlWeb')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint>Url web del artículo</kendo-formhint>
                  <kendo-formerror>
                    {{ getErrorMessage("urlWeb") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="urlDocumento"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Url video/documento
                      <span class="text-danger fw-bold"></span
                    ></span>
                  </label>
                  <kendo-textbox
                    #urlDocumento
                    size="medium"
                    placeholder="UrlDocumento"
                    formControlName="urlDocumento"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('urlDocumento')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint
                    >Url del video/documento del artículo</kendo-formhint
                  >
                  <kendo-formerror>
                    {{ getErrorMessage("urlDocumento") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-5">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="autor"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Autor <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-textbox
                    #autor
                    size="medium"
                    placeholder="autor"
                    formControlName="autor"
                    [clearButton]="true"
                    [showSuccessIcon]="getShowSuccessIcon('autor')"
                    [successIcon]="successIcon"
                    showErrorIcon="initial"
                    inputValidSpaceDir
                  >
                  </kendo-textbox>
                  <kendo-formhint>Autor del artículo</kendo-formhint>
                  <kendo-formerror>
                    {{ getErrorMessage("autor") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="idTipoArticulo"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span>Tipo <span class="text-danger fw-bold">*</span></span>
                  </label>
                  <kendo-dropdownlist
                    #idTipoArticulo
                    formControlName="idTipoArticulo"
                    class="d-flex"
                    size="medium"
                    [data]="filtrosArticulo.filtroTipoArticulo"
                    [defaultItem]="{
                      nombre: 'Seleccione un Tipo...',
                      id: null
                    }"
                    textField="nombre"
                    valueField="id"
                    [valuePrimitive]="true"
                  >
                  </kendo-dropdownlist>
                  <kendo-formerror>
                    {{ getErrorMessage("idTipoArticulo") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="idArea"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span>Area <span class="text-danger fw-bold">*</span></span>
                  </label>
                  <kendo-dropdownlist
                    #idArea
                    formControlName="idArea"
                    class="d-flex"
                    size="medium"
                    [data]="filtrosArticulo.filtroArea"
                    [defaultItem]="{
                      nombre: 'Seleccione una área...',
                      id: null
                    }"
                    textField="nombre"
                    valueField="id"
                    [valuePrimitive]="true"
                    (selectionChange)="selectionChangeArea($event)"
                  >
                  </kendo-dropdownlist>
                  <kendo-formerror>
                    {{ getErrorMessage("idArea") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="idSubArea"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Sub Area <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-dropdownlist
                    #idSubArea
                    formControlName="idSubArea"
                    class="d-flex"
                    size="medium"
                    [data]="itemsSubArea"
                    [defaultItem]="{
                      nombre: 'Seleccione una subárea...',
                      id: null
                    }"
                    textField="nombre"
                    valueField="id"
                    [valuePrimitive]="true"
                  >
                  </kendo-dropdownlist>
                  <kendo-formerror>
                    {{ getErrorMessage("idSubArea") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="idExpositor"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Expositor
                      <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-dropdownlist
                    #idExpositor
                    formControlName="idExpositor"
                    class="d-flex"
                    size="medium"
                    [data]="filtrosArticulo.filtroExpositor"
                    [defaultItem]="{
                      nombre: 'Seleccione un expositor...',
                      id: null
                    }"
                    textField="nombre"
                    valueField="id"
                    [valuePrimitive]="true"
                  >
                  </kendo-dropdownlist>
                  <kendo-formerror>
                    {{ getErrorMessage("idExpositor") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="idCategoria"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Categoría
                      <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-dropdownlist
                    #idCategoria
                    formControlName="idCategoria"
                    class="d-flex"
                    size="medium"
                    [data]="filtrosArticulo.filtroCategoria"
                    [defaultItem]="{
                      nombre: 'Seleccione una categoría...',
                      id: null
                    }"
                    textField="nombre"
                    valueField="id"
                    [valuePrimitive]="true"
                  >
                  </kendo-dropdownlist>
                  <kendo-formerror>
                    {{ getErrorMessage("idCategoria") }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <kendo-formfield orientation="horizontal">
                  <label
                    [for]="parametroSeo"
                    class="k-label"
                    style="align-items: baseline"
                  >
                    <span
                      >Parámetro Seo
                      <span class="text-danger fw-bold">*</span></span
                    >
                  </label>
                  <kendo-multiselect
                    #parametroSeo
                    formControlName="parametroSeo"
                    [data]="filtrosArticulo.filtroParametroSeo"
                    textField="nombre"
                    [valuePrimitive]="true"
                    (valueChange)="changeCampo($event)"
                    valueField="id"
                  ></kendo-multiselect>
                  <kendo-formhint></kendo-formhint>
                  <kendo-formerror>
                    {{ "" }}
                  </kendo-formerror>
                </kendo-formfield>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-1"></div>
        </div>
        <div class="row">
          <kendo-grid
            [kendoGridBinding]="gridCampoFormulario.data"
            (cellClick)="gridCampoFormulario.cellClickHandler($event)"
            (cellClose)="gridCampoFormulario.cellCloseHandler($event)"
          >
            <kendo-grid-column
              field="nombre"
              title="Nombre"
            ></kendo-grid-column>
            <kendo-grid-column field="descripcion" title="Contenido">
            </kendo-grid-column>
          </kendo-grid>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <label [for]="" class="k-label">
              <span>Descripción <span class="text-danger fw-bold"></span></span>
            </label>
            <kendo-editor
              formControlName="descripcionGeneral"
              style="height: 200px"
            >
            </kendo-editor>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <label [for]="" class="k-label">
              <span>Contenido <span class="text-danger fw-bold"></span></span>
            </label>
            <kendo-editor formControlName="contenido" style="height: 200px">
            </kendo-editor>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button
        kendoButton
        *ngIf="isNew"
        themeColor="primary"
        (click)="crearArticulo()"
      >
        Guardar
      </button>
      <button
        kendoButton
        *ngIf="!isNew"
        themeColor="tertiary"
        (click)="actualizarArticulo()"
      >
        Actualizar
      </button>

      <button
        themeColor="error"
        kendoButton
        (click)="modal.dismiss('Cross click')"
      >
        Cancelar
      </button>
    </div>
  </div>
</ng-template>
<div class="">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">Lista de artículos</h3>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="col">

              <kendo-grid
                [data]="gridFormularioArticulo.view"
                (remove)="gridFormularioArticulo.removeHandler($event)"
                (dataStateChange)="gridFormularioArticulo.onStateChange($event)"
                [filterable]="true"
                [filter]="gridFormularioArticulo.gridState.filter"
                [sortable]="gridFormularioArticulo.sortable"
                [resizable]="gridFormularioArticulo.resizable"
                [pageable]="gridFormularioArticulo.pageable"
                [skip]="gridFormularioArticulo.gridState.skip"
                [pageSize]="gridFormularioArticulo.gridState.take"
                [sort]="gridFormularioArticulo.gridState.sort"
                ><ng-template kendoGridToolbarTemplate>
                  <button
                    kendoButton
                    icon="reload"
                    fillMode="flat"
                    themeColor="secondary"
                    (click)="obtenerArticulo()"
                  ></button>
                  <kendo-grid-spacer></kendo-grid-spacer>
                  <button
                    kendoButton
                    themeColor="primary"
                    icon="plus"
                    (click)="abrirModalArticulo(true)"
                  >
                    Agregar
                  </button>
                </ng-template>
                <kendo-grid-column
                  *ngFor="let item of gridFormularioArticulo.columns"
                  [field]="item.field"
                  [title]="item.title"
                  [filterable]="item.filterable"
                  [headerClass]="item.headerClass"
                  [width]="item.width"
                >
                  <ng-template
                    *ngIf="item.field == 'idTipoArticulo'"
                    kendoGridCellTemplate
                    let-dataItem
                  >
                    <div>
                      {{ getNombreTipoArticulo(dataItem.idTipoArticulo) }}
                    </div>
                  </ng-template>
                  <ng-template
                    *ngIf="item.field == 'idArea'"
                    kendoGridCellTemplate
                    let-dataItem
                  >
                    <div>
                      {{ getNombreArea(dataItem.idArea) }}
                    </div>
                  </ng-template>
                  <ng-template
                    *ngIf="item.field == 'idSubArea'"
                    kendoGridCellTemplate
                    let-dataItem
                  >
                    <div>
                      {{ getNombreSubArea(dataItem.idSubArea) }}
                    </div>
                  </ng-template>
                  <ng-template
                    *ngIf="item.field == 'idExpositor'"
                    kendoGridCellTemplate
                    let-dataItem
                  >
                    <div>
                      {{ getNombreExpositor(dataItem.idExpositor) }}
                    </div>
                  </ng-template>
                  <ng-template
                    *ngIf="item.field == 'idCategoria'"
                    kendoGridCellTemplate
                    let-dataItem
                  >
                    <div>
                      {{ getNombreCategoria(dataItem.idCategoria) }}
                    </div>
                  </ng-template>

                  <ng-template
                    kendoGridFilterMenuTemplate
                    let-filter
                    let-column="column"
                    let-filterService="filterService"
                  >
                    <kendo-grid-string-filter-menu
                      [column]="column"
                      [filter]="filter"
                      [filterService]="filterService"
                      [extra]="false"
                      operator="eq"
                    >
                      <kendo-filter-eq-operator
                        text="Igual a"
                      ></kendo-filter-eq-operator>
                    </kendo-grid-string-filter-menu>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-command-column
                  title="Editar"
                  [width]="135"
                  [headerClass]="'header-grid-integra'"
                >
                  <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="w-100 d-flex justify-content-center">
                      <button
                        kendoButton
                        themeColor="secondary"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        (click)="abrirModalVerDatos(dataItem)"
                        placement="top"
                        ngbTooltip="Editar"
                      >
                        <span class="k-icon k-i-search k-icon-20"></span>
                      </button>
                      <button
                        kendoButton
                        themeColor="warning"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        (click)="abrirModalArticulo(false, dataItem)"
                        placement="top"
                        ngbTooltip="Editar"
                      >
                        <span class="k-icon k-i-edit k-icon-20"></span>
                      </button>
                      <button
                        kendoGridRemoveCommand
                        themeColor="error"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        placement="top"
                        ngbTooltip="Eliminar"
                      >
                        <span class="k-icon k-i-delete k-icon-20"></span>
                      </button>
                    </div>
                  </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column
                  title="Asociar"
                  [width]="100"
                  [headerClass]="'header-grid-integra'"
                >
                  <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <div class="w-100 d-flex justify-content-center">
                      <button
                        kendoButton
                        themeColor="primary"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        container="body"
                        (click)="abrirModalAsociarProgramas(dataItem)"
                        placement="top"
                        ngbTooltip="asociarProgramas"
                      >
                        <span
                          class="k-icon k-i-building-blocks k-icon-20"
                        ></span>
                      </button>
                      <button
                        kendoButton
                        themeColor="secondary"
                        fillMode="solid"
                        rounded="large"
                        size="large"
                        class="p-2 me-1 ms-1"
                        (click)="abrirModalTag(dataItem)"
                        container="body"
                        placement="top"
                        ngbTooltip="asociarTags"
                      >
                        <span class="k-icon k-i-link-add k-icon-20"></span>
                      </button>
                    </div>
                  </ng-template>
                </kendo-grid-command-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal asociar programas -->
<ng-template #modalAsociarProgramas let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h2 class="modal-title m-0 p-0" id="modal-basic-title">
      Asociar programa a:
    </h2>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <k-grid-ver
          [gridData]="listaProgramasNoAsociados"
          [loader]="loaderGrid"
          [columns]="gridProgramasNoAsociados.columns"
          [readOnlyColumns]="gridProgramasNoAsociados.readOnlyColumns"
          [gridConfig]="gridProgramasNoAsociados.gridConfig"
          [gridState]="gridProgramasNoAsociados.gridState"
          [commandAdd]="'external'"
          [commandEdit]="'external'"
          [textAddCommand]="'Programas No Asociados'"
          (OnGridEvents)="gridEventsResponseAdd($event)"
        >
        </k-grid-ver>
      </div>
      <div
        class="col-sm-12 col-md-2"
        style="padding-top: 100px; text-align: center"
      >
        <div style="margin-bottom: 5%">
          <button
            kendoButton
            themeColor="primary"
            (click)="asociarDocumentos()"
          >
            <span class="k-icon k-i-caret-double-alt-right k-icon-20"></span>
          </button>
        </div>
        <div style="margin-top: 5%">
          <button
            kendoButton
            themeColor="primary"
            (click)="desasociarDocumentos()"
          >
            <span class="k-icon k-i-caret-double-alt-left k-icon-20"></span>
          </button>
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <k-grid-ver
          [gridData]="listaProgramasAsociados"
          [loader]="loaderGrid"
          [columns]="gridProgramasAsociados.columns"
          [readOnlyColumns]="gridProgramasAsociados.readOnlyColumns"
          [gridConfig]="gridProgramasAsociados.gridConfig"
          [gridState]="gridProgramasAsociados.gridState"
          [commandAdd]="'external'"
          [commandEdit]="'external'"
          [textAddCommand]="'Programas Asociados'"
          (OnGridEvents)="gridEventsResponseRemove($event)"
        >
        </k-grid-ver>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button kendoButton themeColor="primary" (click)="AsociarProgramas()">
        Guardar
      </button>
      <button
        kendoButton
        themeColor="base"
        (click)="modal.dismiss('Cross click')"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>
<!-- modal asociar tags -->
<ng-template #modalAsociarTags let-modal>
  <div class="modal-header bg-primary-header-modal">
    <h2 class="modal-title m-0 p-0" id="modal-basic-title">
      Asociación: Programa General - Tags
    </h2>
    <button
      type="button"
      class="btn-close btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body" [formGroup]="formResumenTag">
    <fieldset class="k-form-fieldset">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <kendo-formfield orientation="horizontal">
            <label [for]="idTag" class="k-label" style="align-items: baseline">
              <span>Tags <span class="text-danger fw-bold"></span></span>
            </label>
            <br />
            <kendo-multiselect
              #idTag
              [data]="listaTagsFiltrados"
              [filterable]="true"
              (filterChange)="filtrarTags($event)"
              [autoClose]="false"
              textField="nombre"
              valueField="id"
              formControlName="idTag"
              [valuePrimitive]="true">
            ></kendo-multiselect>
          </kendo-formfield>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <div class="k-form-buttons m-0">
      <button kendoButton themeColor="primary" (click)="AsociarTag()">
        Asociar
      </button>
      <button
        kendoButton
        themeColor="base"
        (click)="modal.dismiss('Cross click')"
      >
        Cerrar
      </button>
    </div>
  </div>
</ng-template>
