.kfab-comentarioAgenda {
    width: min-content !important;
    z-index: 1500 !important;
    right: 60px !important;
}

.comentario-actividad {
    justify-content: flex-end;
    padding: 4px;
    border-top-width: 1px;
    font-size: 15px;
    font-weight: bold;
    color: #005582;
}
.kw-textarea-comentario{
    background-color: rgb(255, 254, 224);
}
.kw-textarea-comentario textarea{
    min-height: 100px !important;
    font-size: 1.2em !important;
}
.kw-comentarioAgenda kendo-window-titlebar{
    background-color: rgb(255, 196, 37) !important;
    color: black !important;
    font-weight: bold !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.kw-comentarioAgenda .k-window-content{
    padding: 0px;
}