<ng-template #modalDatosPersonal let-modal>
  <div class="modal-header">
    <h2 class="modal-title m-0 p-0" id="modal-basic-title">
      Datos del Personal
    </h2>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form class="k-form" [formGroup]="formGroupPersonal">
      <fieldset class="k-form-fieldset">
        <!-- <legend class="k-form-legend">Horizontal Form</legend> -->
        <div class="row">
          <div class="col k-form-horizontal">
            <!-- <k-form-field
              orientation="horizontal"
              tipo="text"
              size="small"
              textLabel="Nombres"
              [control]="getControlFormPersonal('nombres')"
              [required]="true"
              [clearButton]="true"
            ></k-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <!-- <k-form-field
              orientation="horizontal"
              tipo="text"
              size="small"
              textLabel="Apellidos"
              [control]="getControlFormPersonal('apellidos')"
              [required]="true"
              [clearButton]="true"
            ></k-form-field> -->
          </div>
        </div>

        <div class="row">
          <div class="col k-form-horizontal">
            <!-- <k-drop-downs
              orientation="horizontal"
              [tipo]="'dropdownlist'"
              size="small"
              textLabel="Area"
              [control]="getControlFormPersonal('idArea')"
              [required]="true"
              [itemsList]="listItems"
            ></k-drop-downs> -->
          </div>
        </div>

        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal" showHints="initial">
              <label class="k-label"
                ><span>Tipo<strong class="text-danger">*</strong></span></label
              >
              <ul class="k-radio-list k-list-horizontal">
                <li class="k-radio-item">
                  <input
                    type="radio"
                    value="Asesor"
                    id="Asesor"
                    kendoRadioButton
                    formControlName="tipoPersonal"
                  />
                  <label class="k-radio-label" for="Asesor">Asesor</label>
                </li>

                <li class="k-radio-item">
                  <input
                    type="radio"
                    value="Coordinador"
                    id="Coordinador"
                    kendoRadioButton
                    formControlName="tipoPersonal"
                  />
                  <label class="k-radio-label" for="Coordinador"
                    >Coordinador</label
                  >
                </li>
              </ul>

              <kendo-formerror>This field is required</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <!-- <kendo-label [for]="email" text="Email"></kendo-label> -->
              <label for="email" class="k-label"
                ><span>Email<strong class="text-danger">*</strong></span>
              </label>
              <input
                formControlName="email"
                kendoTextBox
                id="email"
                #email
                required
              />
              <kendo-formhint>Your active email</kendo-formhint>
              <kendo-formerror>Error: Not valid email format</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label class="k-label">&nbsp;</label>
              <div class="k-checkbox-wrap">
                <input
                  class="d-flex"
                  size="medium"
                  #acceptNews
                  type="checkbox"
                  kendoCheckBox
                  formControlName="activo"
                />
                <kendo-label
                  [for]="acceptNews"
                  class="k-checkbox-label mb-0 pt-2"
                  text="Activo"
                ></kendo-label>
              </div>
              <!-- <kendo-label [for]="area" text=""></kendo-label>
              <input type="checkbox" id="terms" formControlName="activo" kendoCheckBox />
              <label class="k-checkbox-label" for="terms"
              >Activo2</label
              > -->
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label for="Anexo" class="k-label"
                ><span>Anexo<strong class="text-danger">*</strong></span></label
              >
              <kendo-textbox
                class="d-flex"
                size="small"
                formControlName="anexo"
                [clearButton]="true"
                id="Anexo"
                required
              ></kendo-textbox>
              <kendo-formhint>Hint: Card Holder full name</kendo-formhint>
              <kendo-formerror>Error: Full Name is required</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <!-- <kendo-label class="required" [for]="area" text="Area"></kendo-label> -->
              <label [for]="central" class="k-label"
                ><span
                  >Central Telefonica<strong class="text-danger"
                    >*</strong
                  ></span
                ></label
              >
              <kendo-dropdownlist
                formControlName="central"
                class="d-flex"
                size="small"
                #central
                [data]="listItems"
                value="Basketball"
              >
              </kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <button class="bt"></button>
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <!-- <kendo-label class="required" [for]="area" text="Area"></kendo-label> -->
              <label for="idJefe" class="k-label"
                ><span
                  >jefe Inmediato<strong class="text-danger">*</strong></span
                ></label
              >
              <kendo-dropdownlist
                formControlName="idJefe"
                class="d-flex"
                size="small"
                #idJefe
                [data]="listItems"
                value="Basketball"
              >
              </kendo-dropdownlist>
            </kendo-formfield>
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <kendo-formfield orientation="horizontal">
              <label for="idFOP" class="k-label"
                ><span
                  >id FOP<strong class="text-danger">*</strong></span
                ></label
              >
              <kendo-textbox
                class="d-flex"
                size="small"
                formControlName="idFOP"
                [clearButton]="true"
                id="idFOP"
                required
              ></kendo-textbox>

              <kendo-formhint>Hint: Card Holder full name</kendo-formhint>
              <kendo-formerror>Error: Full Name is required</kendo-formerror>
            </kendo-formfield>
          </div>
        </div>

        <div class="row">
          <div class="col k-form-horizontal">
            <!-- <k-form-field
              [orientation]="'horizontal'"
              [control]="getControlFormPersonal('claveFOP')"
              [tipo]="'password'"
              [textLabel]="'Password FOP'"
            >
            </k-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col k-form-horizontal">
            <!-- <k-form-field
              [orientation]="'horizontal'"
              [control]="getControlFormPersonal('claveAplicacion')"
              [tipo]="'password'"
              [textLabel]="'Contraseña Aplicacion'"
            ></k-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button class="btn btn-sm btn-primary" (click)="submitForm()">
              Validar Clave de Aplicacion
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Close click')"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #modalHorario let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modal Horario</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- <div let-modal>

</div> -->
<div class="">
  <div class="row">
    <div class="col-1fa-rotate-270">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">Gestion de Personal</h3>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="col">
              <ng-template
                #cellTemplateGridPersona
                let-dataItem="dataItem"
                let-field="field"
                let-itemValue="itemValue"
              >
                <ng-container *ngIf="field == 'fechaModificacion'; else gridPerCase2">
                  {{ itemValue | date: "dd-MM-yyyy" }}
                </ng-container>
                <ng-template #gridPerCase2>
                  {{ itemValue }}
                </ng-template>
              </ng-template>
              <k-grid-edit
                [gridData]="personalArray"
                [formGroup]="formGroupData"
                [loader]="loader"
                [columns]="gridPersonal.columns"
                [commands]="gridPersonal.comands"
                [readOnlyColumns]="gridPersonal.readOnlyColumns"
                [gridConfig]="gridPersonal.gridConfig"
                [gridState]="gridPersonal.gridState"
                [commandAdd]="'external'"
                [commandEdit]="'external'"
                [cellTemplateRef]="cellTemplateGridPersona"
                (OnGridEvents)="gridEventsResponse($event)"
              >
              </k-grid-edit>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
