.bg-atencion {
    background-color: #2b89b3;
}

#visualizacionMensaje span {
    font-size: 14px !important;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr td {
    font-size: small;
}

.images span a img {
    width: 100%;
}

.hora-chat {
    font-size: x-small;
}

.row-info {
    margin-bottom: -10px;
}

.config button {
    border-color: transparent;
    background-color: #fcbf07 !important;
    padding: 5px 20px 5px 20px;
}

.bg-disabled {
    background-color: #f1f3f587 !important;
}

#content-drawer-message {
    z-index: X;
    height: 20px !important;
}

video{
    max-width: 100%;
    padding-right: 0.5rem;
}

.visto {
    margin-left: -5px;
}
.texto-rojo {
    color: red;
}