#my-grid tr.gold {
    background-color: #e4feff;
    height: 40px;
  }
  
  #my-grid tr.gold:hover {
    background-color: #7bfbff;
    height: 40px;
  }
  
  #my-grid tr.green {
    background-color: #ffffff;
    height: 40px;
  }
  
  .headerCustomClass {
    background-color: #0093e8;
    color: white;
    border: none;
    text-align: center;
    justify-content: center;
  }
  
  #my-grid {
    kendo-grid-toolbar {
      border: none;
    }
  }
  #my-grid tr.row {
    height: 40px;
  }
  /* Estilos para la línea de separación entre filas */
  .custom-grid-row {
    border-bottom: 1px solid #dee2e6; /* Ajustar el color y grosor del borde según tus preferencias */
    padding: 8px 0; /* Ajustar el espaciado entre filas según tus preferencias */
  }
  
  .prueba{
    overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      display: -moz-box;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -webkit-line-clamp: 5;
      line-clamp: 5;
  }
  
  
  .k-grid th, .k-grid td {
    white-space: nowrap !important;
    min-width: 100px !important;
    text-overflow: ellipsis;
  }