.textCom{
    background-color: white;
    // margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.k-grid-header .k-header
{
       background-color: #2251c7;
       color: white;
       font-weight: bold;
}

.custom-gsa-remove-max-width-formfield > div.k-form-field-wrap  {
    max-width: 100% !important;
}

.custom-gsa-remove-max-width-formfield span.k-input-value-text  {
white-space: normal !important;
text-overflow: clip !important;
}
.hoverButton:hover{
    text-decoration: underline;
}

.customBorder{
    border-style: solid;
    border-width: 1px;
    border-color: #a9a9a9;
    border-radius: 6px;
    padding: 4px 7px;
    margin-top: 5px;

}