<div class="px-4" style="background-color: #F5F5F5;">

    <!-- <app-informacion-oportunidad [agendaService]="agendaService"></app-informacion-oportunidad> -->
    <app-estado-matriculado [agendaService]="agendaService"></app-estado-matriculado>

    <app-solicitud-accesos-temporales [agendaService]="agendaService"></app-solicitud-accesos-temporales>
    <app-informacion-cliente (OnScrol)="ScrollTo(scrollid)" [agendaService]="agendaService"></app-informacion-cliente>
    <app-solicitud-cambios-oportunidad [agendaService]="agendaService"></app-solicitud-cambios-oportunidad>
    <app-chatwhatsapp [agendaService]="agendaService"></app-chatwhatsapp>
    <!-- <app-chat-portal-atc [agendaService]="agendaService"></app-chat-portal-atc> -->
    <app-seguimiento-avance-programa [agendaService]="agendaService"></app-seguimiento-avance-programa>
    <!-- <app-speech-bienvenida [agendaService]="agendaService"></app-speech-bienvenida> -->
    <app-perfil-cliente [agendaService]="agendaService"></app-perfil-cliente>
    <app-bandeja-entrada-operaciones [agendaService]="agendaService"></app-bandeja-entrada-operaciones>
    <!-- <app-historial-mensaje-recibido [agendaService]="agendaService"></app-historial-mensaje-recibido> -->
    <app-reclamos-quejas-sugerencias [agendaService]="agendaService"></app-reclamos-quejas-sugerencias>

    <!-- <app-venta-cruzada [agendaService]="agendaService"></app-venta-cruzada> -->
    <!-- <app-historial-comentario [agendaService]="agendaService"></app-historial-comentario> -->
    <app-historial-interaccion-oportunidad [agendaService]="agendaService"></app-historial-interaccion-oportunidad>
    <!-- <app-historial-oportunidad [agendaService]="agendaService"></app-historial-oportunidad> -->
    <!-- <app-seguimiento-certificados [agendaService]="agendaService"></app-seguimiento-certificados> -->
    <app-tasas-academicas-administrativas [agendaService]="agendaService"></app-tasas-academicas-administrativas>
    <app-reporte-incidencia-llamada [agendaService]="agendaService"></app-reporte-incidencia-llamada>
    <div #scrollid></div>
    <!-- <app-speech-despedida></app-speech-despedida> -->
</div>
