.container-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;

  .form-input {
    width: 95%;
  }

  .form-button {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    .button-check {
      display: none;
    }

    .k-icon,
    .button-icon {
      font-size: 20px;
      transition: transform 0.5s ease;
    }

    .rotate {
      transform: rotate(-90deg);
    }
  }
}
