<div class="">
  <div class="row">
    <div class="col-1fa-rotate-270">
      <div class="card">
        <div class="card-header bg-color-material pb-0">
          <h3 class="text-white mb-2">(C) Semaforos financieros</h3>
        </div>
        <div class="card-body p-4">
          <div class="row">
            <div class="col text-center" style="text-align: center">
              <ng-template
                #cellTemplateSF
                let-dataItem="dataItem"
                let-field="field"
                let-itemValue="itemValue"
              >
                <!-- Template Columna -->
                <ng-container [ngSwitch]="field">
                  <ng-container *ngSwitchCase="'activo'">
                    <ng-container *ngIf="itemValue; else elseTempActivo">
                      SI
                    </ng-container>
                    <ng-template #elseTempActivo> NO </ng-template>
                  </ng-container>
                  <ng-container *ngSwitchCase="'fechaModificacion'">
                    <!-- {{ dataItem.fechaModificacion | date: "dd-MM-yyyy" }} -->
                    {{ itemValue | date: "dd-MM-yyyy" }}
                  </ng-container>
                  <ng-container *ngSwitchDefault>
                    {{ itemValue }}
                  </ng-container>
                </ng-container>
              </ng-template>


              <div class="bg-primary">
                <k-grid
                  [gridData]="listaSemoforoFinanciero"
                  [loader]="loaderGrid"
                  [gridState]="gridSemaforo.gridState"
                  [kendoGrid]="gridSemaforo"
                  (OnGridEvents)="gridEventsSemaforoFinanciero($event)"
                >
                </k-grid>

                <!-- <k-grid-edit
                  [gridData]="listaSemoforoFinanciero"
                  [loader]="loader"
                  [columns]="gridSemaforo.columns"
                  [commands]="gridSemaforo.comands"
                  [cellTemplateRef]="cellTemplateSF"

                  [commandAdd]="'external'"
                  [commandEdit]="'external'"
                  (OnGridEvents)="gridEventsSemaforoFinanciero($event)"
                >
                </k-grid-edit> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
