.NombreMessage{
    font-weight: 575;  margin-bottom: 2px;

 }
 .contenedorOp {
     width: 1150px;
     height: 1250px;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top:10px;

   }

 .datos{
   width: 100%;
   padding: 20px;
   background-color: white;
   border-radius: 8px;
 }


 .datos h1{
     text-align: center;
     font-size: 15px;

 }

 datos p{
   text-align: center;
   font-size: 15px;

 }
 .expansion-contenido{
   max-height: 800px;
   overflow-y: scroll;
 }

 .expancionoportunidadSms{
   margin-bottom: 10px;
   max-height: 100%;
   background-color: #0093e8;
   border-radius: 10px;
   .k-expander-header{
       width: 100%;
       background-color: #0093e8;
       color:#1EBEA5;
       border-radius: 8px;
     }
     .k-expander-content-wrapper{
       max-height: 100%;
       overflow-y: scroll;
       overflow: hidden;
     }
   }
 .k-expander-header:hover{
   .expancionoportunidadhome{

       .k-expander-header{
           background-color: #1EBEA5;
           color:#0093e8;
           border-radius: 8px;
       }
   }
 }


 .expancionoportunidadWhats .k-expander-content-wrapper::-webkit-scrollbar {
   width: 0px; /* Ancho del scrollbar */
 }


 .chat-messages::-webkit-scrollbar{
   width: 0px;
 }

 .extension::-webkit-scrollbar{
   width: 0px;
 }

 .form-container{
     display: grid;
     margin-right: 10px;
 }

 .blue-button {
     background-color: #007bff;
     color: #fff;
   }

   .yellow-button {
     background-color: #F0FF48 ;
     color: #000;
   }

   .amarillo-boton{
     background-color: #EBFF0A ;
     color: #000;
   }

   .desarchivar {
     background-color: #37ff66  ;
     color: #000;
   }

   .red-button {
     background-color: #FF8787 ;
     color: #fff;
   }

   .suscribir {
     background-color: #37ff66 ;
     color: #fff;
   }

   .green-button {
     background-color: #00F483;
     color: #fff;
   }

   .purple-button {
     background-color: #771395;
     color: #fff;
   }

   .rojo-button {
     background-color: #ff0000;
     color: #fff;
   }

   .c{
     background-color: rgb(169, 169, 169);
     color: black;
   }

 .chat-container {
     display: flex;
     padding: 0px;
   margin: 0px;
     width: 500px;
     height: 100%;
   }

   .sidebar {
     width: 300px;
     background-color: #f0f0f0;
     padding: 20px;
   }

   .header {
     font-weight: bold;
     font-size: 20px;
     margin-bottom: 10px;
   }

   .chat-list {
     list-style: none;
     padding: 0;
   }

   .chat-item {
     display: flex;
     align-items: center;
     padding: 10px;
     cursor: pointer;
   }

   .chat-item:hover {
     background-color: #e0e0e0;
   }

   .chat-item.active {
     background-color: #d0d0d0;
   }

   .chat-info {
     flex: 1;
   }

   .chat-name {
     font-weight: 500;

   }

   .chat-email {
     font-size: 12px;
     font-weight: lighter  ;
   }

   .chat-last-message {
     color: #666;
   }

   .chat-area {
     flex: 1;
     display: flex;
     flex-direction: column;
     background-size: cover;
     border-radius: 15px;
     max-width: 100%;
   }

   .chat-header {
     display: block;
     align-items: center;
     padding: 10px;
     background-color: #0093e8;
     font-weight: bold;
     color:white;
     border-radius: 10px;
   }

   .chat-avatar {
     width: 40px;
     height: 40px;
     background-color: #bbb;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 18px;
     font-weight: bold;
     margin-right: 10px;
   }

   .chat-messages {
     flex: 1;
     overflow-y: auto;
     padding: 10px;
     display: flex;
     flex-direction: column;
   }

   .message {
     padding: 5px;
     border-radius: 5px;
     margin-bottom: 10px;
     width: 80%;
   }

   .message-content {
     padding: 2px 10px;
     word-break: break-all;
   }

   .message.sent {
    background-color: #87ceeb; /* Fondo celeste para mensajes tipo 2 */
    float: right; /* Alinear a la derecha */
    clear: both;
    margin-top: 10px;
  }

  .message.received {
    background-color: #ededed; /* Fondo blanco para mensajes tipo 1 */
    float: left; /* Alinear a la izquierda */
    clear: both;
  }



   .message-time {
     font-size: 12px;
     color: #999;
     margin-right: 10px;
     display: flex;
     justify-content: end;
   }

   .chat-input {
     display: flex;
     align-items: center;
     margin-top: 10px;
     padding: 10px;
   }

   .textarea {
     flex: 1;
     resize: vertical;
     height: 130px;
     max-height: 130px;
     padding: 10px;
     font-size: 14px;
     border: 1px solid #ccc;
     border-radius: 4px;
   }

   .word-count {
     margin-left: 10px;
     font-size: 12px;
     color: #999;
     background-color: white;
     height: 25px;
     width: 30px;
     border-radius: 5px;
     margin-top: 5px;
     text-align: center;
   }


   .ev {

     background-color:#0093e8 !important;
     color: white !important;
     border-radius: 5px;
   }

   .chat-input button:hover {
     background-color: #0056b3;
   }

   .botones{
     display: block;
   }


 .button-group {
     display: grid;

   }

   .button-group button {
     margin-right: 5px;
     margin-top: 5px;
     border: none;
   }


   .file{
     background-color: #db7e04 !important;
     color: white !important;
     border-radius: 5px;
   }

   .ev2{
     background-color:#0056b3 !important;
     color: white !important;
     border-radius: 5px;
   }

   .sendb{
     width: 40px;
     height: 90px;
     border-radius: 5px;
     background-color: #0093e8;
     color: #fff;
     margin-left: 5px;
   }

   .input-container {
     display: flex;

     margin-bottom: 15px;
   }

   .input-label {
     margin-right: 16px;
     font-weight: bold;
     margin-top: 15px;
     width: 100px
   }



   .extension{
     width: 95%;
     display: block;
     padding: 0px;
     height: 100%;
     overflow-y:auto;
     border-radius: 10px;
   }


   .align-right {
     text-align: right;
   }

   .message-icon {
     float: right;
     font-size: 14px;
     margin-top: 3px;
   }

   .blue {
     color: blue;
   }

   .red {
     color: red;
   }

   .yellow {
     color: yellow;
   }

 .fech{
   margin-left: 10px;
   color: black;
 }

 .chatSms img{
   width: 100% !important;
 }

 .message-content{
   img{
     max-width: 100%;
   }
   video{
     max-width: 100%;
   }
 }



 .checks{
   position:relative
 }


 .message-icon.blue {
   color: #00B2FF; /* Cambia el color a través del código hexadecimal #FF0000 (rojo) */
 }
 .div-cabecera {
   width: 100%;
   height: 48px;
   position: sticky;
   background-color: #0093e8; /* solo para mostrar el div-anidado en el ejemplo */
 }

 .modal-chat-whatsapp{
   height: 1800;
     background : white;
     overflow: hidden;
     position: relative;
   }


 .text-titulo-modal{
   padding: 8px;
   justify-content: center;
   align-items: center;
   color: white;
   font-weight: 585;
   height: 16; /* Ajusta la altura según tus necesidades */

 }

 .dialog-gestor > mat-dialog-container{
   padding: 0px;
   overflow: hidden;

   height: 90vh;
   justify-content: center;
   align-items: center;
 }


 .contenedor-superior {
   width: 100%;
   height: 4vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0093e8;
   overflow: hidden;
   position: sticky;
   top: 0;
   z-index: 1;
 }

 .contenedor-inferior {
   height: 86vh;
   width: 100%;
   // overflow-y: hidden;
 }

 .contenedor-horizontal {
   height: 100%;
   width: 100%;
   display: flex;
   padding: 0px;
   margin: 0px;
   // overflow: hidden;
   justify-content: center;
 }

 .centrado-izquierda {
   width: 50%;
   height: 100%;
   padding-bottom: 10px;
   padding-top: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .centrado-derecha {
   width: 50%;
   height: 100%;
   padding-top: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .centrado-medio{
   width: 60%;
   height: 100%;
   padding: 16px;
 }
 .centrado-medio-datos{
   width: 100%;
   height: 100%;
   padding: 16px;
 }
 .extension chatWhatsapp{
   width: 50%;
   height: 95%;
   padding: 0px;
   margin: 0px;
   // overflow-y: auto;
 }

 .contenedorTotal{
   display: flex;
   background-color: #0093e8;
   width: 100%;
   height: 100%;
 }

 .loading-indicator {
   position: fixed;
   z-index: 999;
   height: 2em;
   width: 2em;
   overflow: show;
   margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
 }

 /* Transparent Overlay */
 .loading-indicator:before {
   content: '';
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.3);
 }

 .verdeb{
   background-color: #0093e8;
   border:#0093e8 ;
 }

 .rojob:hover{
   background-color: rgb(255, 47, 47);
   border:rgb(255, 47, 47) ;
 }

 .verdeb:hover{
   background-color: #11e3bc;
   border:#11e3bc ;
 }

 .columnClass{
   display:flex;
 }

 .messages-container{
  height: 100%;
  overflow-y: auto;
 }
