.enuciadoHeader {
  font-size: 1.3em;
  font-weight: bold;
}

.btn-beo-hover-effect {
  transition: transform 0.3s ease-in-out;
}

.btn-beo-hover-effect:hover {
  // transform: scale(1.03);
  text-decoration: underline;
}

.botonNuevoMensaje{
  float: right;
  background-color: rgb(27, 86, 247);
  color: white;
  width: 13%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.botonNuevoMensaje:hover{
  background-color: rgb(0, 68, 255);
  color: white;
}
.loader {
  margin: 25px auto;
  position: initial;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #257bb0;
  --_m:
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


