
@import "../../assets/scss/integra-styles.scss";
@import "../../assets/scss/kendo/main.scss";

@import "../../assets/scss/ocean-blue.scss";

// $tb-kendo-border-radius: 4px;
// $tb-primary-palette-name: indigo;
// $tb-adjust-contrast: true;
// $tb-secondary-palette-name: pink;
// $tb-theme-type: light;
// $tb-series-a: #9c27b0;
// $tb-series-b: #2196f3;
// $tb-series-c: #009688;
// $tb-series-d: #ffeb3b;
// $tb-series-e: #f44336;
// $tb-series-f: #4caf50;

// $kendo-border-radius: $tb-kendo-border-radius;
// $primary-palette-name: $tb-primary-palette-name;
// $adjust-contrast: $tb-adjust-contrast;
// $secondary-palette-name: $tb-secondary-palette-name;
// $theme-type: $tb-theme-type;
// $series-a: $tb-series-a;
// $series-b: $tb-series-b;
// $series-c: $tb-series-c;
// $series-d: $tb-series-d;
// $series-e: $tb-series-e;
// $series-f: $tb-series-f;
// $font-family: Roboto, "Helvetica Neue", sans-serif;
// $font-size: 14px;
// $font-weight-normal: 400;
// $line-height: 2;

// $enable-gradients: true;

// $tb-typography: (
//   default-typography: (
//       font-family: 'Roboto, "Helvetica Neue", sans-serif',
//       font-size: 14px,
//       font-weight: 400,
//       line-height: 2,
//   ),
// );

// @mixin typography-classes ($typography) {
//   @each $selector, $property in $typography {
//     &-#{$selector} {
//       @each $propName, $propValue in $property {
//         #{$propName}: $propValue;
//       }
//     }
//   }
// }

// @import "~@progress/kendo-theme-material/dist/all.scss";
@import "~@progress/kendo-theme-default/dist/all.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "~@progress/kendo-theme-material/dist/all.scss";
// @import "~@progress/kendo-theme-default/dist/all.scss";
// @import "~@progress/kendo-theme-boostrap/dist/all.scss";

.kfab-toggleRingover {
    width: min-content !important;
    z-index: 1500 !important;
    left: 450px !important;
}
