// table {
//   width: 100%;
// }

// .k-grid .k-state-selected  {
//   background-color: #1AB8FF !important;
//   color: #ffffff;
// }

// .k-state-selected{
//   background-color: #1AB8FF !important;
//   color: #ffffff;
// }

// .k-grid .k-alt.k-state-selected {
//   background-color: #1AB8FF !important;
//   color: #ffffff;
// }

// kendo-grid tr.k-state-selected.k-alt .k-grid-content-sticky{
//   background-color: #1AB8FF !important;
//   color: #ffffff;
// }
// kendo-grid tr.k-state-selected .k-grid-content-sticky{
//   background-color: #1AB8FF !important;
//   color: #ffffff;
// }


// .k-grid .k-toolbar {
//   background-color: #3343a4 !important;
// }

// .k-grid{
//   background-color: red !important;
// }

// .k-toolbar .k-grid-toolbar {
//   background-color: red !important;
// }



.k-icon-20 {
  font-size: 20px !important;
}
// .k-grid tr.k-state-selected > td{
//   background-color: #17A5E5 !important;
//   color: #ffffff;
// }

// .k-grid tr.k-state-selected:hover > td{
//   background-color: #1494CE !important;
//   color: #ffffff;
// }



// .footerCustomClass {
//   color: #fff;
// }



// tr.gold,
//       tr.k-alt.gold {
//         background-color: #ffba80;
//       }
//       tr.green,
//       tr.k-alt.greem {
//         background-color: #b2f699;
//       }



.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
