<div class="p-3 ps-5 pe-5" style="width: 100%">
  <div class="col-sm-12" id="divCabeceraCompetidores">
    Datos de Competidor
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col-12">
          <kendo-grid
            [kendoGridBinding]="gridCompetidoresPantalla.data"
            [pageSize]="5"
            [pageable]="true"
            [sortable]="true"
            [resizable]="true"
          >
            <kendo-grid-column
              field="id"
              title="Id"
              [hidden]="true"
              [width]="60"
            ></kendo-grid-column>
            <kendo-grid-column
              field="nombre"
              title="Nombre Programa Competidor"
              [width]="180"
            ></kendo-grid-column>
            <kendo-grid-column
              field="categoria"
              title="Categoria"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column
              field="empresa"
              title="Institucion"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column
              field="regionCiudad"
              title="Ciudad"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column
              field="duracionCronologica"
              title="Duracion Cronologica"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column
              field="precio"
              title="Precio"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column
              field="costoNeto"
              title="Precio Neto"
            ></kendo-grid-column>
            <kendo-grid-column
              field="moneda"
              title="Moneda"
              [width]="100"
            ></kendo-grid-column>
            <kendo-grid-column
              field="contenidoCompetidorVentajaDesventaja"
              title="Contenido Competidor Ventaja Desventaja"
              [width]="250"
            ></kendo-grid-column>
          </kendo-grid>
        </div>
    </div>
  </div>
</div>
