.botonAgregar{
    width: 200px;
    height: 50px;
    background-color: #3F51B5;
    color: white;
    margin-right: 20px;
}

.formulario{
    width: 100%;
    margin-top: 40px;
}

.column{
    width: 100%;
    display: flex;
    text-align: center;
}

.column h3{
    width: 400px;
}

.titulo{
    background-color: #3F51B5;
    color: white;
    font-size: 12px;
    height: 50px;
    padding: 10px;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
}

.botones{
    display: flex;
}


.opciones{

    margin: 20px;
    width: 100%;
}

.crearPu{
    width: 100%;
    display: flex;
}

.actualizarPu{
    width: 100%;
    display: flex;
}

.card {
    margin: 20px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    padding: 10px;
  }

  .wide-select {
    width: 300px; /* O un valor que se ajuste a tus necesidades */
  }
