<kendo-grid
  [data]="personalACargo"
  [resizable]="true"
  [sortable]="true"
  [expandable]="true"
>
  
  <kendo-grid-column field="personal" title="Personal" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{
        dataItem?.personal === "BS_GRUPO_ADAPTAR_JERARQUIA"
          ? "BSG Institute"
          : dataItem?.personal || "Sin Personal"
      }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="puestoTrabajo"
    title="Puesto de Trabajo"
    [width]="150"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{
        dataItem?.puestoTrabajo
          ? dataItem?.puestoTrabajo
          : "Sin Puesto Registrado"
      }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="personalACargo.length"
    title="Personas a cargo"
    [width]="150"
    class="text-center"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      {{ dataItem.personalACargo ? dataItem.personalACargo.length : 0 }}
    </ng-template>
  </kendo-grid-column>

  <!-- Recursión solo si hay más niveles -->
  <ng-template
    kendoGridDetailTemplate
    [kendoGridDetailTemplateShowIf]="showOnlyBeveragesDetails"
    let-dataItem
  >
    <app-detalle-personal-asignado
      [personalACargo]="dataItem.personalACargo"
    ></app-detalle-personal-asignado>
  </ng-template>
</kendo-grid>
